.wj-flexchart {
        height: 300px;
    }
    
    label {
        width: 100px;
        text-align: right;
        margin-right: 3px;
    }
    
    body {
        margin-bottom: 24pt;
    }

    .funnelGraph-4{
        border: 1px solid #ccc;
        padding-top: 30px;
        height: 220px !important;
    }
  
    .funnelGraph-6{
        border: 1px solid #ccc;
        padding-top: 30px;
        height: 320px !important;
    }

    .funnelGraph-12{
        border: 1px solid #ccc;
        padding-top: 30px;
        height: 420px !important;
    }