<!-- <ion-grid class="advance-filter-container"> -->

  <ion-row class="advance-filter-main">
    <ion-col class="col-left  p-0" size="5">


  <ion-segment [value]="filterValue">
      <ion-segment-button *ngFor =" let item of advanceData; let i = index" (click) ="onClick(item.Level5[0].item_name, i)" [value]="item.Level5[0].item_name">
        <ion-label>{{item.Level5[0].prompt_name}}</ion-label>
    
      </ion-segment-button>
  </ion-segment> 
 <!--  <ion-segment [value]="filterValue">
   <ion-segment-button [value]="fav">
      <ion-label>Favorite</ion-label>

    </ion-segment-button>
    <ion-segment-button value="map">
      <ion-label>Map</ion-label>
      
      </ion-segment-button>
    </ion-segment> -->
 
  
  </ion-col>
  <ion-col class="col-right border-left-0 p-0" size="7">
    <ion-input placeholder="Search Here.." [(ngModel)]="tablerowsfilter"></ion-input>

    <ion-list lines="none">
      <ion-item  *ngFor="let object of itemDataArr  | searchfilter :tablerowsfilter;let i=index" (click)="onSelect($event,object,i)">
        <ion-label>{{object.value}}</ion-label>
        <ion-checkbox color="primary"  slot="start" [(ngModel)]="object.isChecked"></ion-checkbox>
      </ion-item>
     <!--  <ion-item>
        <ion-label>Jon Snow</ion-label>
        <ion-checkbox color="primary"  slot="start"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Jon Snow</ion-label>
        <ion-checkbox color="primary"  slot="start"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Jon Snow</ion-label>
        <ion-checkbox color="primary"  slot="start"></ion-checkbox>
      </ion-item> -->

    </ion-list>
   
  </ion-col>
  <ion-col class="p-0" size="5">
    <ion-button color="secondary" expand="full" (click) = "resetFilter()" size="small">Reset</ion-button>
    </ion-col>
    <ion-col class="p-0" size="7">
      <ion-button color="primary" expand="full" (click) = "sendFilteredData()" size="small">Apply</ion-button>
      </ion-col>
  </ion-row>
<!-- </ion-grid> -->
