.summary-card
{

    $label-text:#595d61;
    padding: 5px 10px;
    margin: 5px 0px 10px 0px;
    border-radius: 15px;
    border-top: 2px solid #bcbcbc;
    border-bottom: 2px solid #bcbcbc;
    box-shadow: 3px 0px 10px #cccccc52, -3px 0px 10px rgba(204, 204, 204, 0.2901960784313726);
}
.summary-card-main.summary-item-blue
{
    .blue-avatar
    {
        background: #4990e2;
    }
    .ion-note
    {
        color: #4990e2;
    }
}   
.summary-card-main.summary-item-yellow
{
    .ion-avatar
    {
        background: #e28a08;
    }
    .ion-note
    {
        color: #e28a08;
    }
    
}

    
.summary-card-main.summary-item-green
{
    .ion-avatar
    {
        background: #46a74a;
    }
    .ion-note
    {
        color: #46a74a;
    }
    
}
.summary-card-main.summary-item-purple
{
    .ion-avatar
    {
        background: #9667e8;
    }
    .ion-note
    {
        color: #9667e8;
    }
    
}