<div class="add-to-cart">
  <!-- <ion-button *ngIf="summCart" fill="clear" size="large" class="back-btn" (click)="backToCart()">
    <ion-icon name="md-arrow-back"></ion-icon>
  </ion-button> -->
  <div class="input-group primary-search-section cart-search">

    <ion-input class="input-text" placeholder="Search Here..." [(ngModel)]="tablerowsfilter"></ion-input>



    <div class="input-group-append">
      <button class="lov-btn" ion-button icon-only small>
        <ion-icon name="search"></ion-icon>
      </button>
    </div>
  </div>

  <div class="bag-section  float-right d-inline-block position-relative" (click)="showSumCart()">
    <ion-icon name="ios-cart"></ion-icon>
    <div class="bag-section-count position-absolute">{{summcartArr.length}}</div>
  </div>
  <div class="clearfix"></div>
  <ng-container *ngIf="cartItems">
    <ng-container *ngFor="let tableData of frame.tableRows | searchfilter :tablerowsfilter; let rowindex=index">
      <ion-card class="position-relative">
        <ion-list lines="none">

          <ion-item>
            <ng-container *ngFor="let rows of tableData">
              <ng-container *ngFor="let input_item of rows.Level5">
                <ion-thumbnail *ngIf="input_item.item_name == 'PHOTO'  && input_item.item_visible_flag == 'T'">
                  <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                    (emitPass)="itemClicked($event,rowindex)" (LHSOnChange)="itemValueChange($event,rowindex)">
                  </app-items>
                </ion-thumbnail>
              </ng-container>
            </ng-container>
            <!--  <img class="rounded" src="../../../../assets/imgs/amul-taaza-milk-250x250.jpg"> -->
            <div class="ml-2 w-100">
              <!--  <ion-label>
              <h2>Amul Taza Milk</h2>

            </ion-label> -->

              <ng-container *ngFor="let rows of tableData">
                <ng-container *ngFor="let input_item of rows.Level5">
                  <ion-label *ngIf="input_item.item_name == 'ITEM_NAME'">
                    <h2 [ngStyle]="getParsedJson(input_item.display_setting_str)">
                      <ng-container *ngIf="input_item.prompt_name">{{input_item.prompt_name}}: </ng-container>
                      {{input_item.value}}
                    </h2>
                    <!-- <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                     (emitPass)="itemClicked($event,rowindex)" (LHSOnChange)="itemValueChange($event,rowindex)">
                   </app-items>  -->
                  </ion-label>

                  <ion-label *ngIf="input_item.item_name == 'SHORTNAME'">
                    <h2 [ngStyle]="getParsedJson(input_item.display_setting_str)">
                      <ng-container *ngIf="input_item.prompt_name">{{input_item.prompt_name}}: </ng-container>
                      {{input_item.value}}
                    </h2>
                    <!-- <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                     (emitPass)="itemClicked($event,rowindex)" (LHSOnChange)="itemValueChange($event,rowindex)">
                   </app-items>  -->
                  </ion-label>
                </ng-container>
              </ng-container>

              <h5 class="m-0">
                <ng-container *ngFor="let rows of tableData">
                  <ng-container *ngFor="let input_item of rows.Level5">
                    <ng-container *ngIf="input_item.item_name == 'FC_RATE' && input_item.value">
                      <img class="rupees-icon d-inline-block" src="assets/imgs/rupee-icon.png"><span>
                        <!--  <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                            (emitPass)="itemClicked($event,rowindex)" (LHSOnChange)="itemValueChange($event,rowindex)">
                          </app-items> -->
                        {{input_item.value}}
                      </span>
                    </ng-container>
                  </ng-container>
                </ng-container>

                <ng-container *ngFor="let rows of tableData">
                  <ng-container *ngFor="let input_item of rows.Level5">
                    <ng-container *ngIf="input_item.item_name == 'RATE_UM' && input_item.item_visible_flag == 'T'">
                      {{input_item.value}}
                      <!--  {{input_item.value}} -->
                    </ng-container>
                  </ng-container>
                </ng-container>
              </h5>





              <div>
                <label class="min-qty-label">
                  <ion-row>
                    <ion-col class="p-0" size="auto">
                      <ion-row>
                        <ion-col class="p-0" size="auto">
                          <ng-container *ngFor="let rows of tableData">
                            <ng-container *ngFor="let input_item of rows.Level5">
                              <ng-container
                                *ngIf="input_item.item_name == 'SALE_RATE' && input_item.item_visible_flag == 'T'">
                                <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                                  (emitPass)="itemClicked($event,rowindex)"
                                  (LHSOnChange)="itemValueChange($event,rowindex)">
                                </app-items>
                                <!--  {{input_item.value}} -->
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ion-col>

                        <ion-col class="p-0" size="auto">

                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col class="p-0" size="auto">
                      <span>
                        <!--  MT -->
                        <ng-container *ngFor="let rows of tableData">
                          <ng-container *ngFor="let input_item of rows.Level5">
                            <ng-container *ngIf="input_item.item_name == 'UM' && input_item.item_visible_flag == 'T'">

                              <ng-container *ngIf="input_item.prompt_name">{{input_item.prompt_name}}: </ng-container>
                              {{input_item.value}}
                            </ng-container>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngFor="let rows of tableData">
                          <ng-container *ngFor="let input_item of rows.Level5">
                            <ng-container *ngIf="input_item.item_name == 'AUM' && input_item.item_visible_flag == 'T'">
                              <ng-container *ngIf="input_item.prompt_name">{{input_item.prompt_name}}: </ng-container>
                              {{input_item.value}}
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </span>
                    </ion-col>
                  </ion-row>
                </label>

                <ng-container *ngFor="let rows of tableData">
                  <ng-container *ngFor="let input_item of rows.Level5">
                    <ng-container *ngIf="input_item.item_visible_flag == 'T' ">
                      <div
                        [hidden]=" input_item.item_name == 'ITEM_NAME' || input_item.item_name == 'PHOTO' ||
                            input_item.item_name == 'SALE_RATE' || input_item.item_name == 'UM' || input_item.item_name == 'FC_RATE' 
                            || input_item.item_name == 'AQTYORDER' || input_item.item_name == 'SHORTNAME' || input_item.item_name == 'AUM' || input_item.item_name == 'RATE_UM'">

                        <!-- <div [hidden] = "input_item.item_visible_flag == 'F'  && (input_item.item_name == 'SALE_RATE' && input_item.item_name == 'QTYORDER' ||
                            input_item.item_name == 'UM' && input_item.item_name == 'FC_RATE' && input_item.item_name == 'ITEM_NAME' 
                            input_item.item_name == 'PHOTO') "> -->

                        <label class="min-qty-label">
                          <ion-row>
                            <ion-col class="p-0">

                              <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                                (emitPass)="itemClicked($event,rowindex)"
                                (LHSOnChange)="itemValueChange($event,rowindex)">
                              </app-items>
                            </ion-col>
                          </ion-row>
                        </label>


                        <!--  {{input_item.value}} -->



                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>


              </div>





              <ng-container *ngFor="let rows of tableData">
                <ng-container *ngFor="let numberinput of rows.Level5">
                  <ng-container *ngIf="numberinput.item_name == 'AQTYORDER' && numberinput.item_visible_flag == 'T'">
                    <div class="add-btn-section float-right">

                      <ion-button id="showAddButton{{rowindex}}" *ngIf="numberinput.addBtn && !numberinput.value"
                        (click)="ShowQty(numberinput,tableData,rowindex)" size="small" fill="outline">Add</ion-button>
                      <div class="input-group" id="showQunatityInput{{rowindex}}"
                        *ngIf="!numberinput.addBtn || numberinput.value">
                        <div class="input-group-append">
                          <button class="border-bottom-lov-btn" ion-button icon-only small>
                            <ion-icon name="remove" (click)="decreaseNum(numberinput,tableData,rowindex)"></ion-icon>
                          </button>

                        </div>
                        <!-- <ion-input type="number" type="Number"></ion-input> -->

                        <ion-input type="number" [customMin]="numberinput.from_value" [customMax]="numberinput.to_value"
                          maxlength="{{numberinput.item_size}}" id="{{numberinput.item_name}}"
                          pattern="{{numberinput.input_pattern}}" [(ngModel)]="numberinput.value"
                          [readonly]="numberinput.item_enable_flag && (!(numberinput.item_enable_flag.indexOf(current_page_parameter.MODE)>-1)||(numberinput.item_enable_flag=='F'))"
                          [required]="(current_page_parameter.MODE && (numberinput.data_required_flag && 
                       (numberinput.data_required_flag.indexOf(current_page_parameter.MODE)>-1)) )
                       ||numberinput.data_required_flag=='T' 
                       ||numberinput.prompt_name[numberinput.prompt_name.length -1] =='*'" #numberInputname="ngModel"
                          name="{{numberinput.item_name}}"
                          (ionChange)="numberinput.isValid=numberInputname.valid; numberinput.touched=true;"
                          (ionBlur)="numberinput.touched=true;itemValueChange(numberinput,tableData,rowindex)"
                          (ngInit)="numberinput.isValid=numberInputname.valid">
                        </ion-input>

                        <!-- <app-items [item]="numberinput" [frame_type]="frame.apps_frame_type"
                      (emitPass)="itemClicked($event,rowindex)" (LHSOnChange)="itemValueChange($event,rowindex)">
                    </app-items>  -->
                        <!--  <div class="input-group-append" >
                       
                    </div>  -->
                        <div class="input-group-append">
                          <button class="border-bottom-lov-btn" ion-button icon-only small>
                            <ion-icon name="add" (click)="increaseNum(numberinput,tableData,rowindex)"></ion-icon>
                          </button>
                        </div>
                      </div>

                    </div>
                    <div class="error" *ngIf="!numberinput.isValid && numberinput.touched">Invalid Number or Invalid
                      Decimal Place</div>
                  </ng-container>
                </ng-container>
              </ng-container>


              <!--  <div class="input-group d-none">
              <ng-container *ngFor="let rows of tableData">
                <ng-container *ngFor="let input_item of rows.Level5">
                   <ion-input type="number" class="border-bottom-input" placeholder="Enter Quantity"> </ion-input>  
                  <ng-container *ngIf="input_item.item_name == 'QTYORDER'">
                    <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                      (emitPass)="itemClicked($event,rowindex)" (LHSOnChange)="itemValueChange($event,rowindex)">
                    </app-items>
                  </ng-container>

                </ng-container>
              </ng-container>
              <ng-container *ngFor="let rows of tableData">
                <ng-container *ngFor="let input_item of rows.Level5">
                  <div class="input-group-append" *ngIf="input_item.item_name == 'UM'">
                    <button class="border-bottom-lov-btn" ion-button icon-only small>
                      {{input_item.value}}
                    </button>
                  </div>
                </ng-container>
              </ng-container>
            </div>
 -->

            </div>

          </ion-item>




        </ion-list>
        <!--<div class="total-qty position-absolute">
        <ng-container *ngFor="let rows of tableData">
          <ng-container *ngFor="let input_item of rows.Level5">
            <ng-container *ngIf="input_item.item_name == 'TOTAL'">
              {{input_item.value}}
            </ng-container>
          </ng-container>
        </ng-container>
        
      </div> -->

      </ion-card>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!cartItems">
    <!-- Skeleton screen -->
    <div class="center">
      <div class="text-center">
        <img src="../../../../assets/dot.gif" width="20%">
      </div>
      <!-- <div class="text-center" *ngIf="noRecordMessage != ''">
    <h2>{{noRecordMessage}}</h2>
  </div> -->
    </div>
  </ng-container>

</div>



<!--  <h5>Rate : <span>42 Rs</span>
           <ng-container *ngFor = "let rows of tableData">
              <ng-container *ngFor="let input_item of rows.Level5"> 
                <ng-container *ngIf = "input_item.item_name == 'FC_RATE'">  
                    <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                      (emitPass)="itemClicked($event,rowindex)" (LHSOnChange)="itemValueChange($event,rowindex)">
                    </app-items> 
             
                  </ng-container>
              </ng-container>
          </ng-container> 
          </h5> -->

<!--  <ng-container *ngFor = "let rows of tableData">
              <ng-container *ngFor="let input_item of rows.Level5"> 
                  <ng-container *ngIf = "input_item.item_name == 'RATE_UM'">  
                    {{input_item.item_name}}
             
                  </ng-container>
              </ng-container>
          </ng-container> -->


<!-- <ion-item>
      <ion-thumbnail>
        <img class="rounded" src="../../../../assets/imgs/amul-taaza-milk-250x250.jpg">
      </ion-thumbnail>
      <div class="ml-2 w-100">
        <ion-label>
          <h2>Amul Taza Milk</h2>

        </ion-label>
        <div class="input-group">
          <ion-input type="number" class="border-bottom-input" placeholder="Enter Quantity"> </ion-input>

          <div class="input-group-append">
            <button class="border-bottom-lov-btn" ion-button icon-only small>
              Kg
            </button>
          </div>

        </div>
      </div>

    </ion-item>
    
    <ion-item>
      <ion-thumbnail>
        <img class="rounded" src="../../../../assets/imgs/amul-taaza-milk-250x250.jpg">
      </ion-thumbnail>
      <div class="ml-2 w-100">
        <ion-label>
          <h2>Amul Taza Milk</h2>

        </ion-label>
        <div class="input-group">
          <ion-input type="number" class="border-bottom-input" placeholder="Enter Quantity"> </ion-input>

          <div class="input-group-append">
            <button class="border-bottom-lov-btn" ion-button icon-only small>
              Kg
            </button>
          </div>

        </div>
      </div>

    </ion-item> -->