.ion-input-item
{
    ion-input
    {
       
        padding:1px 40px 2px 5px !important;
    }
   

}
.ion-input-item-border
{
    ion-input
    {
       
        padding:1px 40px 2px 5px !important;
    }
   
 
}

.ion-input-item-fixed 
{
    ion-input
    {
       
        padding-right:40px !important;
    }
}
.ion-input-item.ion-input-item-fixed.input-100
{
    --inner-padding-end:0px !important;
    ion-input{
        padding-right:0px !important;
    }
}
.ion-input-item.ion-input-item-fixed.input-100.ion-input-item
{
    --inner-padding-end:0px !important;
    ion-input{
        padding-right:0px !important;
    }
}
.ion-input-item.ion-input-item-fixed.input-100.ion-input-item-border
{
    --inner-padding-end:0px !important;
    ion-input{
        padding-right:0px !important;
    }
}
.recent-search-container {
    background: #fff;
    border: 1px solid #ddd;
    padding: 0;
    width: 75%;
    margin-left: 150px;
    margin-right: 0;
    ul {
        margin: 2px 0;
        text-decoration: none;
        list-style-type: none;
padding: 10px;
        li{
            font-size: 16px;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 2px;
        }
    }
}


table td {
    padding: 0;
}
ion-input{
    --padding-top: 5px;
    --padding-bottom: 5px;
    font-size: 14px;
}

    :host {
        ion-item{
        --min-height: 29px;
    }
    ion-select{
    --padding-top: 3px;
    --padding-end: 0;
    --padding-bottom: 4px;
    --padding-start: 0;
    width:100%;
    max-width: 100%;
    font-size: 14px;
    }
}

ion-button{
    margin:0;
}

