.simple-kpi-container{
    .each-kpi {
        padding: 10px;
        border-radius: 10px;
        box-shadow: 1px 2px 10px #ddd;
        text-align: center;
        h6{
            margin-top: 0px;
            margin-bottom: 5px;
            color: #fff;
        }
        p{
            margin-top: 0px;
        margin-bottom: 11px;
        color: #fff;
        font-size: 12px;
    
        }
        span{
            color: #fff;
        border: 1px solid #fff;
        padding: 1px 8px;
        border-radius: 8px;
        margin-top: 2px;
        margin-bottom: 2px;
        cursor: pointer;
        font-size: 13px;
        }
    }
    }