.summary-card-container{
    .single-summary-card{
        .tophead-card{
            height: 160px;
            padding: 8px;
            .main-title{
                margin-top: 0px;
                margin-bottom: 5px;
                font-size: 18px;
                font-weight: 700;
            }
            p{
                font-size: 0.8em;
                margin-top: 0;
                margin-bottom: 0;
            }
            .code-btn{
                font-size: 25px;
                vertical-align: middle;
                cursor: pointer;
            }
        }
        .summary-box {
            margin-top: -104px !important;
            width: 85%;
            margin: auto;
            padding: 10px;
            border-radius: 12px;
            h6{
                margin-top: 0;
    margin-bottom: 5px;
            }
            table td {
                border: none;
            }
            table{
                tr.heading1 td{
                    font-size: 14px;
                }
                .heading2{
                    .rate{
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: 20px;
                    }
                   
                }
            }
        }
    }
}