<ion-header>
    <ion-toolbar color="primary">
      <!-- <ion-buttons slot="start" *ngIf="!isModal">
          <ion-menu contentId="my-content"></ion-menu>
        </ion-buttons> -->
      <ion-button slot="start" (click)="closePage()" fill="clear" icon-only start>
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
      <ion-title>
        Reset Password
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="reset-container">
  <form class="loginForm frgtForm" #form="ngForm">
    <ion-item>

      <ion-icon name="lock" item-start></ion-icon>
      <ion-input type="password" autocomplete='on' placeholder="Password" [(ngModel)]="password" name="password"
        required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-icon name="lock" color="success" item-start></ion-icon>
      <ion-input type="password" autocomplete='on' placeholder="Confirm Password" [(ngModel)]="confPassword"
        name="confPassword" required>
      </ion-input>

    </ion-item>
    <ion-button (click)="resetPassword()" shape="round" color="secondary"
      class="global-btn button-round button-round-md reset-btn" type="submit">
      Reset Password
    </ion-button>
  </form>
</div>
</ion-content>