<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="closePage()" fill="clear" icon-only start>
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="pl-0">Settings</ion-title>
  </ion-toolbar> -->
  <ion-toolbar color="primary"  class="ion-toolbar iosheight"  *ngIf="platform.is('ios')">

    <ion-buttons slot="start">
      <ion-button slot="start" (click)="closePage()" fill="clear" icon-only start>
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="pl-0">Settings</ion-title>
</ion-toolbar>

<ion-toolbar color="primary"  class="ion-toolbar" *ngIf="!platform.is('ios')">
  <ion-buttons slot="start">
    <ion-button slot="start" (click)="closePage()" fill="clear" icon-only start>
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title class="pl-0">Settings</ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="bg-shrink">
  <div class="shrinkMyscreen">
  <ion-list class="setting-menu-list">

    <ion-item class="ion-no-padding">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/sidebarIcons/img_db.png">
        </ion-thumbnail>
      </div>
      <h2>Database : {{globalObjects.dbName}}</h2>
     
    </ion-item>

    <ion-item class="ion-no-padding" >
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/sidebarIcons/img_db.png">
        </ion-thumbnail>
      </div>
      <h2> AppKey : {{globalObjects.appKey}}</h2>
     
    </ion-item>

    <ion-item class="ion-no-padding" *ngIf="!globalObjects.simpleLoginProcess">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/sidebarIcons/img_db.png">
        </ion-thumbnail>
      </div>
      <h2> Parent Appkey : {{globalObjects.parentAppkey}}</h2>
     
    </ion-item>


    <ion-item class="ion-no-padding">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/bell.png">
        </ion-thumbnail>
      </div>
      <h2>Notification Bell</h2>
      <ion-toggle style="margin-left: 10px;" slot="end" [(ngModel)]="toggleNotification" (ionChange)="toggleNotiFunc(toggleNotification)">
      </ion-toggle>
      <span *ngIf="toggleNotification" style="margin-left: 10px;" >On</span>
      <span *ngIf="!toggleNotification"  style="margin-left: 10px;" >Off</span>
    </ion-item>
    <ion-item class="ion-no-padding">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/dot (1).png">
        </ion-thumbnail>
      </div>
      <h2>Fab Ball</h2>
      <ion-toggle slot="end"  [(ngModel)]="toggleFab" (ionChange)="toggleFabFunc(toggleFab)"> </ion-toggle>
      <span *ngIf="toggleFab" style="margin-left: 10px;" >On</span>
      <span *ngIf="!toggleFab" style="margin-left: 10px;" >Off</span>
    </ion-item>
    <ion-item class="ion-no-padding" (click)="logout()">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/logout.png">
        </ion-thumbnail>
      </div>
      <h2>Log Out</h2>
      <ion-icon name="log-out" slot="end" color="secondary"></ion-icon>
    </ion-item>

    <!-- <ion-item class="ion-no-padding" (click)="openBrowsserBuild()" >
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/bell.png">
        </ion-thumbnail>
      </div>
      <h2>Open Browser Build</h2>
      <ion-icon name="ios-arrow-forward" slot="end" color="secondary"></ion-icon>
    </ion-item> -->
    <ion-item class="ion-no-padding" (click)="refreshBlob()">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/bell.png">
        </ion-thumbnail>
      </div>
      <h2> Refresh Object(Blob)</h2>
      <ion-icon name="ios-arrow-forward" slot="end" color="secondary"></ion-icon>
    </ion-item>
    <ion-item class="ion-no-padding" [routerLink] (click)="openChangePassword()">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/password.png">
        </ion-thumbnail>
      </div>
      <h2>Change Password</h2>
      <ion-icon name="ios-arrow-forward" slot="end" color="secondary"></ion-icon>
    </ion-item>
    <!-- <ion-item class="ion-no-padding" [routerLink] (click)="opentree()">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/password.png">
        </ion-thumbnail>
      </div>
      <h2>Open Tree</h2>
      <ion-icon name="ios-arrow-forward" slot="end" color="secondary"></ion-icon>
    </ion-item> -->
    <!-- <ion-item class="ion-no-padding" [routerLink] (click)="openOfflineEntryTab()">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/offline.png">
        </ion-thumbnail>
      </div>
      <h2>Offline Store Entry</h2>
      <ion-icon name="ios-arrow-forward" slot="end" color="secondary"></ion-icon>
    </ion-item> -->
    <ion-item class="ion-no-padding" (click)="soundOption=!soundOption">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/headphones.png">
        </ion-thumbnail>
      </div>
      <h2>Sound</h2>
      <ion-icon name="arrow-dropdown"  *ngIf="soundOption"  slot="end" ></ion-icon>
      <ion-icon name="arrow-dropright" *ngIf="!soundOption" slot="end" ></ion-icon>

    </ion-item>

    <ng-container *ngIf="soundOption">
      <!-- <ion-icon name="ios-arrow-forward" slot="end" color="secondary"></ion-icon> -->
      <div class="inner-section">
        <ion-item>
          <h2>Sound</h2>
          <ion-toggle slot="end" [(ngModel)]="toggleSound" (ionChange)="soundFunc(toggleSound)">
          </ion-toggle>
          <span *ngIf="toggleSound"></span>
          <span *ngIf="!toggleSound"></span>
        </ion-item>
        <ion-item>
          <h2>Volume</h2>
          <ion-range slot="end" value="0" (ionChange)="volumeChange(volumeRange)" min="0.1" max="1.0" step="0.1"
            [(ngModel)]="volumeRange">
            <!--  <ion-icon slot="start" name="brush" role="img" class="ios hydrated" aria-label="brush"></ion-icon> -->
            <ion-note slot="start">
              {{volumeRange * 100.100 | number : '.0-0'}}%
            </ion-note>
            <ion-chip size="small" color="primary" slot="end" (click)="volumeRange = 0.5">
              <ion-label color="secondary">Reset</ion-label>
            </ion-chip>
          </ion-range>
        </ion-item>
        <ion-list>
          <ion-radio-group (ionChange)="selectSound(sound)" [(ngModel)]="sound">
            <ion-list-header>
              <h2>Sounds</h2>
            </ion-list-header>
            <ion-item slot="end">
              <ion-label>Sound 1</ion-label>
              <ion-radio value="assets/audio/click1.mp3"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Sound 2</ion-label>
              <ion-radio value="assets/audio/click2.mp3"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Sound 3</ion-label>
              <ion-radio value="assets/audio/click3.mp3"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Sound 4</ion-label>
              <ion-radio value="assets/audio/click4.mp3"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>
    </ng-container>


    <ion-item class="ion-no-padding">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/vibration.png">
        </ion-thumbnail>
      </div>
      <h2>Vibration</h2>
      <!-- <ion-icon name="ios-arrow-forward" slot="end" color="secondary"></ion-icon> -->
      <!-- <ion-toggle slot="end"> </ion-toggle> -->
      <ion-toggle slot="end" [(ngModel)]="toggleVibrate" (ionChange)="vibrateFunc(toggleVibrate)"></ion-toggle>
      <span *ngIf="toggleVibrate"></span>
      <span *ngIf="!toggleVibrate"></span>
    </ion-item>

    <ion-item class="ion-no-padding" *ngIf="platform.is('android')">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/screenshot.png">
        </ion-thumbnail>
      </div>
      <h2>Screenshot (enable/disable)</h2>
      <ion-toggle slot="end" [(ngModel)]="toggleScreenshot" (ionChange)="screenshotFunc(toggleScreenshot)"></ion-toggle>
    </ion-item>

    <!-- <ion-item class="ion-no-padding">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/bell.png">
        </ion-thumbnail>
      </div>
      <h2>Font Size</h2>
    
      
      <ion-range value="0" (ionChange)="fontZoom(fontRange)" min="0" max="1.8" step="0.1" [(ngModel)]="fontRange">
        <ion-note slot="start">
          {{fontRange * 111.111 | number : '.0-0'}}%
        </ion-note>
        <ion-chip size="small" color="primary" slot="end" (click)="resetFont()">
          <ion-label color="primary">Reset</ion-label>
        </ion-chip>
      </ion-range>
    </ion-item> -->
    <!-- class="sidebar-menu mb-1" -->
    <!-- <ion-item class="sidebar-menu mb-1">
      <ion-avatar slot="start">
        <img src="assets/transIcon.png">
      </ion-avatar>

      <ion-label>
        <div id="google_translate_element"></div>
      </ion-label>
    </ion-item> -->
    <ion-item class="ion-no-padding">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/developer.png">
        </ion-thumbnail>
      </div>
      <h2>Developer Mode</h2>
      <ion-toggle slot="end" [(ngModel)]="toggleDevloperMode" (ionChange)="toggleDevloperModeFunc(toggleDevloperMode)">
      </ion-toggle>
      <!-- <span *ngIf="toggleDevloperMode">On</span>
    <span *ngIf="!toggleDevloperMode">Off</span> -->
    </ion-item>

    <ion-item class="ion-no-padding" [routerLink] (click)="openSqLiteTran()">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/offline.png">
        </ion-thumbnail>
      </div>
      <h2>Pending Transactions(Offline)</h2>
      <ion-icon name="ios-arrow-forward" slot="end" color="secondary"></ion-icon>
    </ion-item>

    <ion-item class="ion-no-padding">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/gear.png">
        </ion-thumbnail>
      </div>
      <h2>Local Database</h2>
      <ion-chip size="small" color="primary" slot="end" (click)="resetLocalDb()">
        <ion-label color="primary">Clear</ion-label>
      </ion-chip>
      <ion-toggle slot="end" [(ngModel)]="this.globalObjects.getLocalDBData">
      </ion-toggle>
      <!-- <span *ngIf="toggleDevloperMode">On</span>
      <span *ngIf="!toggleDevloperMode">Off</span> -->
    </ion-item>


    <ion-item class="ion-no-padding">
      <div class="thumbnail-container">
       <!--  <ion-thumbnail slot="start">
          <ion-icon name="move" color="primary" style="margin-top: 0px;"></ion-icon>
        </ion-thumbnail> -->

        <ion-thumbnail slot="start">
          <img src="assets/imgs/drag.png">
        </ion-thumbnail>
      </div>
      <h2>Drag Frames</h2>
      <ion-chip size="small" color="primary" slot="end" (click)="resetDrag()">
        <ion-label color="primary">Reset</ion-label>
      </ion-chip>
      <ion-toggle slot="end" [(ngModel)]="toggleDragMode" (ionChange)="dragToggle(toggleDragMode)">
      </ion-toggle>
      <!-- <span *ngIf="toggleDevloperMode">On</span>
    <span *ngIf="!toggleDevloperMode">Off</span> -->
    </ion-item>
   
   
    <!-- <ion-item class="ion-no-padding" [routerLink]="['/image-uploader']" *ngIf="toggleDevloperMode">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/sidebarIcons/update-beta.png">
        </ion-thumbnail>
      </div>
      <h2>  Image Uploader</h2>
      <ion-icon name="ios-arrow-forward" slot="end" color="secondary"></ion-icon>
    </ion-item> -->

    <ion-item *ngIf="globalObjects.toggleDevloperModePro" class="ion-no-padding" [routerLink] (click)="openExecuteQuery()">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/database.png">
        </ion-thumbnail>
      </div>
      <h2>Execute Query</h2>
      <ion-icon name="fa fa-database" slot="end" color="secondary"></ion-icon>
    </ion-item>

    <ion-item *ngIf="globalObjects.toggleDevloperModePro" class="ion-no-padding" [routerLink] (click)="openIconMaster()">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/settings-icon/file_export.png">
        </ion-thumbnail>
      </div>
      <h2>Image Icon Import/Export</h2>
      <ion-icon name="fa fa-file-export" slot="end" color="secondary"></ion-icon>
    </ion-item>


    
    <ion-item class="ion-no-padding" (click)="fontOptions=!fontOptions">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/fonts.png">
        </ion-thumbnail>
      </div>
      <h2>Fonts</h2>
      <ion-icon name="arrow-dropdown" *ngIf="fontOptions" slot="end" ></ion-icon>
      <ion-icon name="arrow-dropright" *ngIf="!fontOptions" slot="end" ></ion-icon>

    </ion-item>

    <ng-container *ngIf="fontOptions">
      <!-- <ion-icon name="ios-arrow-forward" slot="end" color="secondary"></ion-icon> -->
      <div class="inner-section">
      <div class="font-container" >
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              <div>
                <ion-label>Font Type:</ion-label>
        <ion-select  [(ngModel)]="fontType" interface="popover" (ionChange)="selectFont($event)">
        
          <ion-select-option *ngFor="let d of fontArray" [value]="d">{{d}}
          </ion-select-option>
        </ion-select>
      </div>
      </ion-col>
        <ion-col size="5">
          <div>
            <ion-label>Font Size:</ion-label>
        <ion-select  [(ngModel)]="fontSize" interface="popover" (ionChange)="fontZoom2($event)">
       
          <ion-select-option *ngFor="let d of fontSizeArray" [value]="d">{{d}}
          </ion-select-option>
        </ion-select>
      </div>
     </ion-col>
     <ion-col style="padding-top: 28px;text-align: center;" size="2">
       <ion-button  size="medium" (click)="resetFontandSize()">
        Reset
      </ion-button>
     </ion-col>
          </ion-row>
     </ion-grid>
    </div>
    </div>
    </ng-container>

    <ion-item class="ion-no-padding" (click)="menuTab=!menuTab">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
        <ion-icon name="create" color="primary" style="margin-top: 2px;"></ion-icon>
        </ion-thumbnail>
      </div>
      <h2>Menu Tab Edit</h2>
      <ion-icon name="arrow-dropdown" *ngIf="menuTab" slot="end" ></ion-icon>
      <ion-icon name="arrow-dropright" *ngIf="!menuTab" slot="end" ></ion-icon>

    </ion-item>
    <ng-container *ngIf="menuTab">
      <!-- <ion-icon name="ios-arrow-forward" slot="end" color="secondary"></ion-icon> -->
      <div class="inner-section">
      <div class="menuTab-container" >
<ion-row class="d-flex" style="justify-content: space-around;">
  <ion-col size-lg="2" size-xs="6" >
    <ion-label>Height</ion-label>
    <div class="input-div">
    <ion-input class="menutab-input" type="number" [(ngModel)]="tabImgHeight"></ion-input>
    <span class="percent">%</span>
    </div>
  </ion-col>
 
  <ion-col size-lg="2" size-xs="6" >
    <ion-label>Font Size</ion-label>
    <div class="input-div">
    <ion-input class="menutab-input" type="number" [(ngModel)]="tabFontSize"></ion-input>
    <span class="percent">%</span>
    </div>
    <!-- <ion-select interface="popover" class="menutab-input" [(ngModel)]="tabFontSize">
      <ion-select-option value = "10">8</ion-select-option>
      <ion-select-option value = "12">10</ion-select-option>
      <ion-select-option value = "14">12</ion-select-option>
      <ion-select-option value = "16">14</ion-select-option>
    </ion-select> -->
  </ion-col>

  <ion-col size-lg="2" size-xs="6" >
    <ion-label>Font Weight</ion-label>
    <div class="input-div">
    <ion-input class="menutab-input" type="number" [(ngModel)]="tabFontWeight"></ion-input>
    <span class="percent">%</span>
    </div>
    <!-- <ion-select interface="popover" class="menutab-input" [(ngModel)]="tabFontWeight">
      <ion-select-option value = "normal">Normal</ion-select-option>
      <ion-select-option value = "bold">Bold</ion-select-option>
      <ion-select-option value = "bolder">Bolder</ion-select-option>
    </ion-select> -->
  </ion-col>

  <ion-col size-lg="2" size-xs="6" >
    <ion-label>Padding</ion-label>
    <div class="input-div">
    <ion-input class="menutab-input" type="number" [(ngModel)]="tabPadding"></ion-input>
    <span class="percent">%</span>
</div>
    <!-- <ion-select interface="popover" class="menutab-input" [(ngModel)]="tabFontWeight">
      <ion-select-option value = "normal">Normal</ion-select-option>
      <ion-select-option value = "bold">Bold</ion-select-option>
      <ion-select-option value = "bolder">Bolder</ion-select-option>
    </ion-select> -->
  </ion-col>
  <ion-col size-lg="2" size-xs="6" >
    <ion-label>Shadow</ion-label>
      <ion-select interface="popover" [(ngModel)]="tabStyle">
        <ion-select-option value="">---</ion-select-option>
        <ion-select-option value="">Outer Shadow</ion-select-option>
        <ion-select-option value="inner-shadow">Inner Shadow</ion-select-option>
        <ion-select-option value="inner-shadow-right">Inner Shadow Right</ion-select-option>
      </ion-select>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size-lg="12"  size-xs="12" style="text-align: center;">

    <ion-button color="primary" size="small" class="mt-30" (click) = "changeStyle('TAB')">Submit</ion-button>
    <ion-button color="primary" size="small" class="mt-30" fill="outline" (click) = "resetStyle()">Reset</ion-button>
   </ion-col>
</ion-row>
    </div>
    </div>
    </ng-container>
    
    <ion-item class="ion-no-padding" (click)="kpiTextBand=!kpiTextBand">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
        <ion-icon name="create" color="primary" style="margin-top: 2px;"></ion-icon>
        </ion-thumbnail>
      </div>
      <h2>Text Band : KPI Edit</h2>
      <ion-icon name="arrow-dropdown" *ngIf="kpiTextBand" slot="end" ></ion-icon>
      <ion-icon name="arrow-dropright" *ngIf="!kpiTextBand" slot="end" ></ion-icon>

    </ion-item>
    <ng-container *ngIf="kpiTextBand">
      <div class="inner-section">
      <div class="menuTab-container" >
<ion-row style="    display: flex;
align-items: flex-end;justify-content: space-around;">
  <ion-col size-lg="2" size-xs="6" >
    <ion-label>Padding </ion-label>
    <div class="input-div">
    <ion-input class="menutab-input" [(ngModel)]="kpiPadd"></ion-input>
    <span class="percent">%</span>
    </div>
  </ion-col>
  <ion-col size-lg="2" size-xs="6" >
    <ion-label>Heading Font Size</ion-label>
    <div class="input-div">
    <ion-input class="menutab-input" [(ngModel)]="kpiHeadFont"></ion-input>
    <span class="percent">%</span>
    </div>
  </ion-col>
  <ion-col size-lg="2" size-xs="6" >
    <ion-label>Heading Font Weight</ion-label>
    <div class="input-div">
    <ion-input class="menutab-input" [(ngModel)]="kpiHeadWeight"></ion-input>
    <span class="percent">%</span>
    </div>
  </ion-col>
  <ion-col size-lg="2" size-xs="6" >
    <ion-label>Value Font Size</ion-label>
    <div class="input-div">
    <ion-input class="menutab-input" [(ngModel)]="kpiValueFont"></ion-input>
    <span class="percent">%</span>
    </div>
  </ion-col>
  <ion-col size-lg="2" size-xs="6" >
    <ion-label>Value Font Weight</ion-label>
    <div class="input-div">
    <ion-input class="menutab-input" [(ngModel)]="kpiValWeight"></ion-input>
    <span class="percent">%</span>
    </div>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size-lg="12"  size-xs="12" style="text-align: center;">
    <ion-button color="primary" size="small" (click) = "changeStyle('KPI')">Submit</ion-button>
    <ion-button color="primary" size="small"  fill="outline" (click) = "resetStyle()">Reset</ion-button>
   </ion-col>
</ion-row>
    </div>
    </div>
    </ng-container>
    <ion-item class="ion-no-padding" (click)="inputField=!inputField">
      <div class="thumbnail-container">
        <ion-thumbnail slot="start">
        <ion-icon name="create" color="primary" style="margin-top: 2px;"></ion-icon>
        </ion-thumbnail>
      </div>
      <h2>Input : Edit</h2>
      <ion-icon name="arrow-dropdown" *ngIf="inputField" slot="end" ></ion-icon>
      <ion-icon name="arrow-dropright" *ngIf="!inputField" slot="end" ></ion-icon>

    </ion-item>
    <ng-container *ngIf="inputField">
      <div class="inner-section">
      <div class="menuTab-container" >
<ion-row style="    display: flex;
align-items: flex-end;justify-content: space-around;">
  <ion-col size-lg="4" size-xs="6" >
    <ion-label>Label Font Size </ion-label>
    <div class="input-div">
    <ion-input class="menutab-input"></ion-input>
    <span class="percent">%</span>
    </div>
  </ion-col>
  <ion-col size-lg="4" size-xs="6" >
    <ion-label>Input Padding</ion-label>
    <div class="input-div">
    <ion-input class="menutab-input"></ion-input>
    <span class="percent">%</span>
    </div>
  </ion-col>
  <ion-col size-lg="4" size-xs="6" >
    <ion-label>Input Height</ion-label>
    <div class="input-div">
    <ion-input class="menutab-input"></ion-input>
    <span class="percent">%</span>
    </div>
  </ion-col>

</ion-row>
<ion-row>
  <ion-col size-lg="12"  size-xs="12" style="text-align: center;">
    <ion-button color="primary" size="small">Submit</ion-button>
    <ion-button color="primary" size="small"  fill="outline">Reset</ion-button>
   </ion-col>
</ion-row>
    </div>
    </div>
    </ng-container>
  </ion-list>
</div>
</ion-content>