<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-button slot="start" (click)="closePage()" fill="clear" icon-only start>
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </ion-button> -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Offline Entry List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="text-right">
    <ion-button (click)="uploadAll()" fill="outline" size="small">
      UPLOAD All
    </ion-button>
    <ion-button color="secondary" size="small" fill="outline" (click)="deleteAll()">
      Delete All
    </ion-button>
  </div>
  <div class="offline-entry-card-container" *ngFor="let object of finalEntryList;  let i= index;">
    <div class="offline-entry-card" *ngFor="let data of object | keyvalue">
      <p> {{data.key}} : {{data.value}} </p>
    </div>
    <div class="offline-entry-card-footer">
  <ion-grid>
    <ion-row>
    <ion-col class="p-0" size="6" >
    <ion-button class="upload-btn" (click)="upload(object,i)" expand="full" size="small">
      UPLOAD
    </ion-button>
    </ion-col>
    <ion-col class="p-0" size="6">
    <ion-button (click)="deleteRecord(object,i)" color="secondary" expand="full" size="small">
      Delete
    </ion-button>
  </ion-col>
  </ion-row>
  </ion-grid>
    <!-- <ion-button (click)="uploadAll()">
      UPLOAD All
    </ion-button>
    <ion-button (click)="deleteAll(object)">
      Delete All
    </ion-button> -->
    </div>
  </div>
</ion-content>