    $break-small: 320px;
    $break-medium: 400px;
    $break-large: 500px;
    $break-tablet-small: 600px;
    $break-tablet-large: 992px;
    $bg-size-100:100% 100%;
    $bg-size-cover:cover;
    $td-text:#302e2e;
    $input-text:#1e1d1d;
    $label-text:#302f2f;
    $color: (
  primary:    (base: #488aff, contrast:#000),
  secondary:  (base: #32db64, contrast:#000),
  danger:     (base: #f53d3d, contrast:#000),
  light:      (base: #f4f4f4, contrast:#000),
  dark:       (base: #222, contrast:#000),
  font:       (base: #fe5295, contrast:#000)
);


.selectText{
  ion-content {
    user-select: text !important;
    -webkit-user-select: text !important;
  }
}

.unselectText{
  ion-content {
    user-select: none !important;
    -webkit-user-select: none !important;
  }
}
.selectTextAlert{
    user-select: text !important;
    -webkit-user-select: text !important;
}


