<!--comitted by ranjeet-->
<div class="{{globalObjects.appTheme }}">
  <div id="sreenWidth" class="{{selectText}}">
    <ion-app>
      <ion-split-pane contentId="main-content" when="(min-width: 3000px)">
        <ion-menu class="app-sidebar" contentId="main-content">
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start" size="large" (click)="menuCtrl.toggle()" menuClose="left">
                <ion-icon name="arrow-back"></ion-icon>
              </ion-buttons>

              <ion-title *ngIf="userDetails">{{userDetails.entity_name}}</ion-title>

            </ion-toolbar>
            <img [src]="'data:image/png;base64,' + globalObjects.applogo" class="bg-white position-absolute rounded-circle company-logo" (error)="onImgError($event)">
            <!-- <img src="assets/imgs/logo-n.png" class="bg-white position-absolute rounded-circle company-logo"> -->
            
            <span *ngIf="userDetails" style="margin-left: 70px">{{userDetails.wma_user_name}}</span>
          </ion-header>
          <ion-content>
            <ion-list lines="none" class="mt-2">
              <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item [routerLink]="[p.url]" routerDirection="forward">
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/home.png">
                </ion-avatar>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle> -->
              <!-- 		
			  <ion-menu-toggle>
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/logout.png">
                </ion-avatar>
                <ion-label>
                  
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/padlock.png">
                </ion-avatar>
                <ion-label>
                  
                </ion-label>
              </ion-item>
            </ion-menu-toggle> -->



              <!-- <ion-menu-toggle>
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/imgs/sidebarIcons/switch-app.png">
                    
                  </ion-avatar>
                     <ion-item tappable routerLink="/home" ></ion-item>
                  <ion-label> home Page </ion-label>
                </ion-item>
              </ion-menu-toggle> -->
            
              <!--chaitenya 
                 <ion-label class="menu-group">
                User Setting
              </ion-label>
              <ion-icon name="caret-down" class="sidebar-refresh-btn" (click)="hideRefresh()" *ngIf="!refreshBtn">
              </ion-icon>
              <ion-icon name="arrow-dropup" class="sidebar-refresh-btn" (click)="hideRefresh()" *ngIf="refreshBtn">
              </ion-icon> -->
              <!-- <ion-icon name="refresh" class="sidebar-refresh-btn" (click)="refreshUserSettings(sec);" *ngIf="refreshBtn">
            </ion-icon> 
          chaitenya
          -->


              

              <!-- 
            <ion-menu-toggle *ngIf="entityCodeStrValList">
              <ion-item class="sidebar-menu">
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/entity.png">
                </ion-avatar>
                <ion-label>
                  <ion-item class="border-0">
                    <ion-label>Entity Code</ion-label>
                    <ion-select (ionChange)="entityChanged($event)" [(ngModel)]="entityCode" interface="popover">
                      <ion-select-option *ngFor="let d of entityCodeStrValList" [value]="(d.code).trim()">{{d.name}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-label>
              </ion-item>
            </ion-menu-toggle> -->


              <!-- <ion-menu-toggle *ngIf="divCodeStrValList.length > 0"> -->
              <!-- <ion-menu-toggle *ngIf="divCodeStrValList.length > 0"> -->
              <!-- <ion-item class="sidebar-menu">
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/division.png">
                </ion-avatar>
                <ion-label>
                  <ion-item class="border-0">
                    <ion-label>Division</ion-label>
                    <ion-select (ionChange)="divisionChanged($event)" [(ngModel)]="divCode">
                      <ion-select-option *ngFor="let d of divCodeStrValList" [value]="d.code">{{d.value}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-label>
              </ion-item>
            </ion-menu-toggle> -->



              <!-- <ion-menu-toggle> -->
              <!-- <ion-menu-toggle *ngIf="geoOrgList.length > 0"> -->
              <!-- <ion-item class="sidebar-menu">
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/locationTracking.png">
                </ion-avatar>
                <ion-label>
                  <ion-item class="border-0">
                    <ion-label>Geo Org Code</ion-label>
                    <ion-select (ionChange)="geoOrgCodeChanged($event)" [(ngModel)]="geoOrgCode">
                      <ion-select-option *ngFor="let d of geoOrgList" [value]="d.code">{{d.value}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-label>
              </ion-item>
            </ion-menu-toggle> -->

              <!-- <ion-menu-toggle>
              <ion-item class="sidebar-menu" (click)="openpartylist()">
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/party.png">
                </ion-avatar>
                <ion-label class="party-select">Party {{selectedPartyName}} ({{selectedPartyCode}})
                  <ion-icon name="caret-down" class="arrowIcon right-arrow-icon"></ion-icon>
                </ion-label>
              </ion-item>
            </ion-menu-toggle> -->


              <!--- Dynamic Multiple Options-->
              <ng-conatiner *ngIf="refreshBtn">
                <ion-menu-toggle auto-hide=false *ngFor="let data of userValueList; let i=index">
                  <ion-item class="sidebar-menu">
                    <ion-avatar slot="start">
                      <img src="assets/imgs/sidebarIcons/locationTracking.png">
                    </ion-avatar>
                    <ion-label *ngIf="data.item_type == 'DD'">
                      <ion-item class="border-0">
                        <ion-label>{{data.prompt_name}}</ion-label>
                        <!-- {{value ="data.result.length < 2? data.result[0].value : ''"}} -->
                        <ion-select [(ngModel)]="data.item_name1"
                          (ionChange)="dropdwnValChng($event,data.item_name,'','front')">
                          <ion-select-option *ngFor="let d of data.result" [value]="d.CODE">{{d.VALUE}}
                          </ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-label>
                    <ion-label *ngIf="data.item_type == 'L'" (click)="openDynamicModal(data)">
                      <ion-item class="sidebar-menu">
                        <ion-avatar slot=" start">
                          <img src="assets/imgs/sidebarIcons/party.png">
                        </ion-avatar>
                        <ion-label class="party-select">
                          {{data.prompt_name}} {{this.userValueList[i].valueforlov}} <a
                            *ngIf=" sidelovarray && !userValueList[i].valueforlov">{{sidelovarray[i]}}</a>
                          
                          <ion-icon name="caret-down" class="arrowIcon right-arrow-icon"></ion-icon>
                        </ion-label>
                      </ion-item>
                    </ion-label>
                    <ion-label *ngIf="data.item_type == 'D'" >
                      <ion-item class="sidebar-menu">
                        <ion-avatar slot=" start">
                          <img src="assets/imgs/sidebarIcons/party.png">
                        </ion-avatar>
                        <ion-label class="party-select">
                          {{data.prompt_name}} 
                        </ion-label>
                        <ion-datetime displayFormat="DD-MMM-YYYY" [(ngModel)]="data.item_name1" [min]="from_value"
                      [max]="2050" style="width: 145px;" (ionChange)="onChange(data)" #dateinputName='ngModel'>
                    </ion-datetime> 
                      </ion-item>
                    </ion-label>
                  </ion-item>

                </ion-menu-toggle>
              </ng-conatiner>
              <!--Database name and Appkey-->
              <!-- <ion-menu-toggle auto-hide="true">

                <ion-item class="sidebar-menu" (click)="gotosuper()">
                  <ion-avatar slot="start">
                    <img src="assets/imgs/sidebarIcons/home.png">
                  </ion-avatar>
                  <ion-label>
                    Home
                  </ion-label>
                </ion-item>
              </ion-menu-toggle> -->
              <!-- <ion-item class="sidebar-menu">
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/img_db.png">
                </ion-avatar>
                <ion-label>Database : {{globalObjects.dbName}}</ion-label>
              </ion-item>
              <ion-item class="sidebar-menu">
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/img_db.png">
                </ion-avatar>
                <ion-label> AppKey : {{globalObjects.appKey}}</ion-label>
              </ion-item> -->


              <ion-item class="sidebar-menu" *ngIf="appkeyInfo == 'Y'">
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/img_db.png">
                </ion-avatar>
                <ion-label>Auto Logout Time: {{loginExpiry}}</ion-label>
              </ion-item>

              <ion-label class="menu-group">
                Theme Setting
              </ion-label>
              <ion-menu-toggle auto-hide="false">
                <ion-item class="sidebar-menu">
                  <!-- <ion-avatar slot="start">
                    <img src="assets/imgs/sidebarIcons/theme.png">
                  </ion-avatar> -->
                  <ion-label>
                    Theme Options
                    <ion-segment class="theme-segment" (ionChange)="segmentChanged($event)">
                      <ng-container *ngFor="let t of themeOptions">
                        <ion-segment-button [class]="t.class" [value]="t.value"
                          [checked]="t.value === globalObjects.appTheme">
                        </ion-segment-button>
                      </ng-container>

                    </ion-segment>
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
              <!-- <ion-label class="menu-group">
              Updates
            </ion-label>
            <ion-menu-toggle auto-hide="false">
              <ion-item class="sidebar-menu" [routerLink] (click)="checkForUpdate()">
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/playstore.png">
                </ion-avatar>
                <ion-label>
                  Check for Update
                </ion-label>
              </ion-item>
            </ion-menu-toggle> -->
              <!-- <ion-menu-toggle auto-hide="false">
              <ion-item class="sidebar-menu" [routerLink]="['/beta-version']">
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/update-beta.png">
                </ion-avatar>
                <ion-label>
                  Update Beta Version
                </ion-label>
              </ion-item>
            </ion-menu-toggle> -->
            
              <ion-label class="menu-group">
                App Setting
              </ion-label>
              <ion-menu-toggle auto-hide="false" *ngIf="appkeyInfo == 'Y'">
                <ion-item (click)="openAppkeyInfo()" class="sidebar-menu" [routerLink]>
                  <ion-avatar slot="start">
                    <img src="assets/imgs/sidebarIcons/key.png">
                  </ion-avatar>
                  <ion-label>
                    Appkey Info
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle auto-hide="false">
                <ion-item (click)="signalRefresh()" [routerLink] class="sidebar-menu">
                  <ion-avatar slot="start">
                    <img src="assets/imgs/signal_ref.png" item-start>
                  </ion-avatar>
                  <ion-label>
                    Refresh Signal
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
              <!-- <ion-menu-toggle auto-hide="false">
              <ion-item class="sidebar-menu" [routerLink]="['/change-password']">
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/padlock.png">
                </ion-avatar>
                <ion-label>
                  Change Password
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item class="sidebar-menu" [routerLink]="['/offline-entry-tabs']">
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/img_db.png">
                </ion-avatar>
                <ion-label>
                  Offline Stored Entry
                </ion-label>
              </ion-item>
            </ion-menu-toggle> -->

              <!-- <ion-menu-toggle>
              <ion-item class="sidebar-menu" [routerLink]>
                <ion-avatar slot="start">
                  <img src="assets/imgs/sidebarIcons/exit.png">
                </ion-avatar>

                <ion-label>
                  Exit App
                </ion-label>
              </ion-item>
            </ion-menu-toggle> -->
              <ion-menu-toggle auto-hide="false">
                <ion-item class="sidebar-menu" [routerLink] (click)="switchToCollection()">
                  <ion-avatar slot="start">
                    <img src="assets/imgs/sidebarIcons/switch.png">
                  </ion-avatar>

                  <ion-label>
                    Switch App
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
              <ion-menu-toggle auto-hide="false">
                <ion-item class="sidebar-menu" [routerLink] (click)="settings()">
                  <ion-avatar slot="start">
                    <img src="assets/imgs/gear.png">
                  </ion-avatar>

                  <ion-label>
                    Settings
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
              <!-- <ion-menu-toggle auto-hide="false">
              <ion-item class="sidebar-menu" [routerLink]="['/image-uploader']">
                <ion-avatar slot="start">
                  <img src="assets/imgs/gear.png">
                </ion-avatar>

                <ion-label>
                  Image Uploader
                </ion-label>
              </ion-item>
            </ion-menu-toggle> -->

              <!-- <ion-menu-toggle auto-hide="false">
              <ion-item class="sidebar-menu">
                  <ion-avatar slot="start">
                    <ion-icon name="clipboard" color="primary"></ion-icon>
                  </ion-avatar>
                <ion-label>
                  Select Text
                </ion-label>
                <ion-toggle slot="end" [(ngModel)]="toggleSelectText" (ionChange)="selectedText(toggleSelectText)">
                </ion-toggle>
              </ion-item>
            </ion-menu-toggle> -->


              <ion-menu-toggle auto-hide="false">
                <ion-item class="sidebar-menu" [routerLink] (click)="logout()">
                  <ion-avatar slot="start">
                    <img src="assets/imgs/sidebarIcons/logout.png">
                  </ion-avatar>
                  <ion-label>
                    LogOut
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>

              <!-- <ion-menu-toggle auto-hide="false">
              <ion-item class="sidebar-menu" [routerLink] (click)="sqlLitePage()">
                <ion-avatar slot="start">
                  <img src="assets/imgs/gear.png">
                </ion-avatar>

                <ion-label>
                  SQL Lite Transaction
                </ion-label>
              </ion-item>
            </ion-menu-toggle>  -->

              <!-- <ion-menu-toggle auto-hide="false"> 
              <ion-item class="sidebar-menu">
                <ion-avatar slot="start">
                  <ion-icon name="notifications"></ion-icon>
                </ion-avatar>
                <ion-label>
                  Notification Bell
                </ion-label>
                <ion-toggle slot="end" [(ngModel)]="toggleNotification"
                  (ionChange)="toggleNotiFunc(toggleNotification)"></ion-toggle>
                <span *ngIf="toggleNotification">On</span>
                <span *ngIf="!toggleNotification">Off</span>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="false">
              <ion-item class="sidebar-menu ">
                <ion-avatar slot="start">
                  <img src="assets/icon.png">
                </ion-avatar>
                <ion-label>
                  Fab Ball
                </ion-label>
                <ion-toggle slot="end" [(ngModel)]="toggleFab" 
                  (ionChange)="toggleFabFunc(toggleFab)"></ion-toggle>
                <span *ngIf="toggleFab">On</span>
                <span *ngIf="!toggleFab">Off</span>
              </ion-item>
            </ion-menu-toggle> -->
     

              <ion-item class="sidebar-menu mb-1">
                <ion-avatar slot="start">
                  <img src="assets/transIcon.png">
                </ion-avatar>
                <ion-label>
                  <div id="google_translate_element"></div>
                </ion-label>
              </ion-item>


       
<!-- <ion-button (click)="fontZoom('Times New Roman, Times, serif')"></ion-button> -->


              <!-- <ion-label class="menu-group">
              Others
            </ion-label>
            <ion-icon name="caret-down" class="sidebar-refresh-btn" (click)="hideOtherlist()"></ion-icon>

            <ng-container *ngIf="otherlist">

              <ion-item class="sidebar-menu mb-1">
                <ion-range value="0" (ionChange)="fontZoom(fontRange)" min="0" max="1.8" step="0.1"
                  [(ngModel)]="fontRange">
                    <ion-icon slot="start" name="brush" role="img" class="ios hydrated" aria-label="brush"></ion-icon> 
                  <ion-note slot="start">
                    {{fontRange * 111.111 | number : '.0-0'}}%
                  </ion-note>
                  <ion-chip size="small" color="primary" slot="end" (click)="resetFont()">
                    <ion-label color="secondary">Reset</ion-label>
                  </ion-chip>
                </ion-range>
              </ion-item>
              <ion-menu-toggle auto-hide="false" *ngIf="appkeyInfo == 'Y'">
                <ion-item (click)="openInBrowsser()" [routerLink] class="sidebar-menu">
                  <ion-avatar slot="start">
                    <img src="assets/imgs/Menu-icons/writing.png">
                  </ion-avatar>
                  <ion-label>
                    View Server Log
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
               <ion-menu-toggle auto-hide="false">
                <ion-item (click)="openBrowsserBuild()" [routerLink] class="sidebar-menu">
                  <ion-avatar slot="start">
                    <img src="assets/imgs/sidebarIcons/update-beta.png">
                  </ion-avatar>
                  <ion-label>
                    Open Browser Build
                  </ion-label>
                </ion-item>
              </ion-menu-toggle> -->
              <!-- <ion-menu-toggle auto-hide="false">
                <ion-item (click)="refreshBlob()" [routerLink] class="sidebar-menu mb-1">
                  <ion-avatar slot="start">
                    <img src="assets/imgs/sidebarIcons/update-beta.png">
                  </ion-avatar>
                  <ion-label>
                    Refresh Object(Blob)
                  </ion-label>
                </ion-item>
              </ion-menu-toggle> -->

              <!-- </ng-container> -->

            </ion-list>

          </ion-content>
          <ion-footer>
            <div class="resp-view" *ngIf="!this.platform.is('ios') && !this.platform.is('android')">
              <ng-container *ngFor="let f of deviceMode; let i = index">
                <ion-button [ngClass]="f.class" (click)="selectDevice(f.name,i)">
                  <ion-icon name="{{f.icon}}" color="primary"></ion-icon>
                </ion-button> 
                <!--  <ion-button>
                <ion-icon name="tablet-portrait" color="primary"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon name="phone-portrait" color="primary"></ion-icon>
              </ion-button> -->
              </ng-container>

            </div>
            <div class="lhs-footer">
              <img src="assets/imgs/footer.png" alt=" foooter" srcset="">
            </div>
            <ion-title>Version : {{globalObjects.android_version_numeric}} </ion-title>
          </ion-footer>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
      </ion-split-pane>
    </ion-app>
  </div>
</div>