// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


// @import 'button';
// @import 'entry-form';
// @import 'layout';
// @import 'mixins';
// @import 'table';
// @import 'utilityClasses';
// @import 'variables';
// @import 'theme/theme-default';
// @import 'theme/theme-maroon';
/*Super Card Start*/
.super-card
  {
      margin: 10px 0px;
      width: calc(100% - 7px);
      margin-left: 7px;

      .button-sec
      {
      
          display: flex;
           justify-content: space-between;

           .button[icon-only] {
              padding: 0;
              min-width: 1em;
           
              font-size: 1.5rem;
              height: 1.5em;
           }
      }
      .sr-no
      {
       
          width: 28px;
          height: 28px;
          border-radius: 50%;
          text-align: center;
          line-height: 30px;
          font-weight: 500;
          padding: 0;
          left: -6px;
          top: 11px;
          z-index: 1;
      
      }

      
      .super-card-inner
      {
           overflow-y:visible;
           height: 100%;
           padding:10px 5px 0px 30px;
           background: #fff;

           &::before
      {
          @include before-after;
          left: -6px;
          top: 7px;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          z-index: 0;
    
      }
      &::after
      {
          @include before-after;
          width: 5px;
          height: 20px;
        
          right: 0px;
          top: 70px;
      }
     .card-title
     {
      
      border-bottom: 1px dashed #ccc;
      margin-bottom: 5px;
     
      // padding-bottom:7px;
      padding-right: 0px;
      p
      {
          color: #0d1d2f;
          font-weight: 500;
          font-size: 14px !important;
      }
     }
      h5 {
          font-size: 1.1rem;
          margin-bottom: 0.2rem;
          margin-top: 0px;
      }
   
      .text-yellow,.text-blue
      {
          
          margin-right:3px;
          font-weight:500;
          font-size: 13px;
          margin-bottom:0.1em;
      }
      p
      {
          font-weight:500;
          font-size: 13px !important;
          margin-bottom:0.1em;
          margin-top:0px !important;
          color:$secondary-text;
          span
          {
              color:$form-label;
          }
      }
      .text-yellow,.text-blue
      {
          display:inline-block;
      }
    
    
      .subheading
      {
          font-size:0.9em !important;
          font-weight:500;
      padding-bottom: 2px;
      text-decoration: underline;
      }

      }
      ion-fab
      {
          z-index: auto;
      }
      
    .card-fab-btn-container
    {
      top: 2px;
   
      ion-fab-button
      {
          margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  margin-bottom: 0px;
  width: 45px;
  height: 35px;
 
  --box-shadow: none;
      }
      ion-fab-list
      {
          right:-8px;
          margin-top: 35px;
          margin-bottom: 5px;
          top: 5px;
          overflow:visible;
          z-index: 999;
          ion-fab-button
          {
              width: 35px;
              height: 35px;
              background:#fff;
            
             border-radius: 50%;
             margin-bottom: 7px;
          
          }
      }
    }
  }
/*Super Card Start*/

.back{
  z-index: 99999;
}
.backdrop-no-scroll ion-content {
  --overflow: hidden;
}
.backdrop-no-scroll ion-backdrop+* ion-content {
  --overflow: visible;
}
@import '../app/mixins';
$form-label:#7f7f7f;
$secondary-text:#423f3f;

.sc-ion-label-md-h {
  white-space: inherit !important;
}
/* .popover-content{
  width:90% !important;
  top: 65.5px !important;
  left: 4% !important;
}
*/ 

#apexPop{
  .popover-content{
width: 500px !important;
  top: 191.5px !important;
  left: 4% !important;
  }
ion-backdrop{
  display: none;
}
}




.picker-wrapper{
  --max-width: 100% !important;
}
ion-toolbar
  {
   
      ion-icon
      {
          font-size:1.7rem;
      }
      ion-buttons[slot="end"]
      {  
          margin-right: 10px;
      }
     
  }
  ion-toolbar.ios
  {
   

      ion-buttons[slot="end"]
      {  
          margin-right:20px;
      }
     
  }
  .ios.header-count{
      min-width: 20px;
      min-height: 20px;
      top: -7px;
      right: -14px;
      border-radius: 50%;
      line-height: 18px;
  }
.header-count
  {
      min-width: 22px;
      min-height:22px;
      top: -9px;
      right: -6px;
      border-radius: 50%;
  }
.app-sidebar
{
  .menu-group
  {
     
      margin: 5px 0px 5px 16px;
      display: inline-block;
      color: #3e3e3e;
  }
.title-ios
{
  padding-inline-start: 50px;
  padding-inline-end: 50px;
}
ion-header:after {   
  background-image: none;
}
ion-content
{
  --background: #ececec;
}
ion-list
{
  background:#ececec;
}
  ion-toolbar
  {
    
      --min-height:95px;
      ion-title
      {
          font-size:1rem;
          text-align:left;
      }
      ion-icon
      {
          font-size:1.2rem;
      }
     
  }
  .company-logo
  {
 
      left: 10px;
      bottom: -17px;
      padding: 5px;
      width: 50px;
      height: 50px;
      z-index: 99;
    
  }
  
  ion-item
  {
      --min-height:40px;
      ion-label {
          font-size: 14px !important;
          
          font-weight: 400;
      }
      ion-avatar
  {
    
      
      border-radius: 50%;
      margin-top: 0;
     margin-bottom: 0;
     width: 16px;
     height: 16px;
    
      img
      {
          --border-radius: 0px;
          width: 16px;
         height: 16px;
         position: absolute;
      }
  }
  }
  ion-footer
  {
      ion-title {
          text-align: center;
         
          font-size: 14px;
      }
  }
  ion-footer.ios
  {
      .title-ios
      {
          top: inherit;
          bottom: 0px;
          height: 28px;
          padding: 5px 10px;
      }
  }
 ion-select
 {
  padding-left: 0px;
  font-weight: 600;
  color: #636363;
  font-size: 14px;
  .select-placeholder {
    
      opacity: 1;
  }
 }
.theme-segment
{
    height:30px;
    margin:10px 0px;
    justify-content: flex-start;
    ion-segment-button
    {
      min-height: 30px;
      min-height: 30px;
       min-width: 30px;
       max-width: 30px;
       border-radius:5px;
      margin-right: 15px;
      position: relative;
    }
    .blue-theme-btn
    {
      background: #4990e2;
    }
    .green-theme-btn
    {
      background: #00afad;
    }
    .dark-theme-btn
    {
        background:#000;
    }
    .maroon-theme-btn
    {
      background:#BF0A0A;
    }
    .grey-theme-btn
    {
      background:#acacac;
    }
    .segment-button-checked::before
    {
        @include before-after;
        width:18px;
        height:18px;
        background:url(../assets/imgs/sidebarIcons/theme-select.png) no-repeat;
        background-size: contain;
        left: 6px;
        top: 6px;
    }
}
.sidebar-menu
{
  border-bottom: 1px solid #d4d4d4;
  ion-item
  {
      --padding-start:0px;
  }
}
}
.select-text {
     
  font-weight:600;
  color:red;
}

.select-icon {
  position: absolute;
  right: 10px;
}
.frame-name
{
  margin: 0px;
  font-size: 14px;
  padding: 2px 5px 2px 10px;
  &::before
  {
      @include before-after;
      width:5px;
      height:100%;
      left:0px;
      top:0px;
      
  }
}




/*Whats app chat start*/
.chat-box
{
 padding:5px;
 border-radius:5px;
 position:relative;
 &::before
 {
  content: "";
  position: absolute;
 
  top: 0px;
 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
 
  z-index: 0;
 }
}
.chat-left
{
  background: #e1e1e1;
  color: #171717;
  &::before
 {
  left: -8px;
  border-top: 10px solid #e1e1e1;
  
 }
}
.chat-right
{
  background: #bdebbf;
  &::before
  {
   right: -8px;
   border-top: 10px solid #bdebbf;
   
  }
}
/*Whats app chat end*/
.table-input.chat-input  
{
margin-top:0px;
textarea
  {
  
     
         
          height: 30px !important;
          border-radius: 15px 0px 0px 15px !important;
          padding:2px 10px;
          
          border-right: none !important;
          font-weight: 500;
        
      
  } 
}
/*Primary Search */
.primary-search-section
{
  input
  {
      border-right:none !important;
      line-height: 25px;
      color: $secondary-text;
  }
  .input-group-append {
      margin-left: -2px !important;
  }
}
@media only screen and (max-width:320px) and (min-width:300px)
{
  .app-sidebar .theme-segment ion-segment-button
  {
      margin-right: 5px;
  }
 
}
@media only screen and (max-width:786px){
  .popover-content{
      left: 10px !important;
  }
}
/*Primary Search */

.toastOverlay
{
  background: rgba(0, 0, 0, 0.5);
}


/*Smart Filters*/
.filter-icon-container{
  h6{
      margin-bottom: 0 !important;
  }
}
.smart-filter-section
{
  background:#fff;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  margin-bottom: 2px;
border: 1px dashed #ccc;
  .smart-filter-section__header {
      background: #eff1f3;
      border-radius: 10px;
      padding: 0 10px;
  }
  .view-all-btn
  {
      height:20px;
      margin:0px;
  }
 sup
  {
 
  padding: 0px 6px;
  font-size: 11px;
  margin-left: 2px;
 
  border-radius: 3px;
  }
  ion-chip
  {
      overflow:visible;
      white-space: nowrap;
  }
  h5
  {
      font-size: 14px ;
      margin-bottom: 5px !important;
  }

  ion-button
  {
      --box-shadow:none;
  }


ion-range
{
  padding-top: 5px;
}
}
.smart-filter-section-checklist
{
  ion-checkbox
  {
      margin-top: 5px;
     margin-bottom: 5px;
  }
}
.smart-filter-section-columnlist
{
  ion-col
  {
     
      text-align: center;
      font-size: 13px;
      padding: 2px 5px;
      font-weight:500;
  }
  ion-col:nth-of-type(3n+3)
  {
      border-right:none !important;
  }


}
/*Smart Filters*/


/*Communication Icons Start*/

.communication
{
  text-decoration:none;
  ion-icon
  {
      height: 15px;
    width: 15px;
     
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  }
  .communication-value
  {
     display: inline-block;
      margin-left: 5px;
       font-size: 14px;
  }
}
/*Communication Icons End*/



.center{
  height: 100%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.sidebar-refresh-btn{
  float: right;
  margin-top: -1px;
  margin-right: 13px;
  font-size: 24px;
  color: #4e4e4e;

}

.event-detail{
    font-weight: bold;
}

.monthview-eventdetail-timecolumn{
  font-weight: bold;
}

.goog-te-banner-frame,.goog-tooltip,.goog-gt-tt,.goog-logo-link
{
   display:none !important;
}
.main-body
{
  top:0px !important;
  // max-width:900px;
  //  width:100%;
  // margin:auto;
}

.goog-te-gadget{
    color: rgba(0, 0, 0, 0);
}
.goog-te-combo{
    padding-right: 20px;
    padding-left: 20px; 
    padding-top: 5px;
    padding-bottom: 5px;
    color: black
}
.lhs-footer {
  width: 100%;
  text-align: center;
  height: 45px;
  img{
      width:185px;
  }
}
.route-mapping-searchbar {
  .searchbar-input.sc-ion-searchbar-md {
      font-size: 13px;
      -webkit-padding-start: 30px !important;
      padding-inline-start: 30px !important;
      -webkit-padding-end: 5px !important;
      padding-inline-end: 5px !important;
  }
  .searchbar-search-icon.sc-ion-searchbar-md {
      left: 6px;
      top: 11px;
      width: 18px;
      height: 18px;
  }
  .sc-ion-searchbar-md { font-size: 1.2rem; left: 0;}
  .searchbar-clear-button {display: none !important;}
}
.responsive-label{
  cursor: pointer;
  margin: 0 10px;
  text-align: center;
  border-radius: 10px;
  padding: 1px;
}
.responsive-label.active{
  color: white !important;
  background: #5ea1ef;
  cursor: pointer;
  margin: 0 10px;
  text-align: center;
  border-radius: 10px;
  padding: 1px;
}



.resp-view {
  text-align: right;
  padding: 0 5px;
  border-bottom: 1px solid #ccc;
  ion-button{
      --background: none;
      --padding-start: 0;
      --padding-end: 0;
      --background-hover: none;
      --box-shadow: none;
      margin-bottom: 0;
  }
  ion-button.active{
      border-bottom: 2px solid #4990e2;
  }
  ion-button.inActive{
      border-bottom: 0px;
  }
  ion-icon{
      font-size: 25px;
      margin: 0 5px;
      cursor: pointer;
  }
}

@media only screen and (min-width:1200px){
  .new-menu-list h2 ,   .menu-list h2{
      font-weight: 600;
      font-size: 12px;
  }
  ion-title{
      font-weight: 400;
  }
  .frame-name{
      font-weight: 400;
  }
  .text-band h5{
      font-size: 14px;
      font-weight: 300 ;
  }
  table thead th {
      font-weight: 500;
      font-size: 12px;
  }
  p {
      font-weight: 400 ;
  }
  h1.frame-name {
      font-weight: 400;
  }
  .globe-btn {
      font-weight: 400 ;
  }
  label, ion-label {
      font-weight: 400 ;
  }
  .ion-input-item input, .ion-input-item ion-datetime, .ion-input-select-item ion-select, .ion-input-textarea-item textarea {
      font-weight: 400 ;
  }
  .menu-list h2 {
      font-weight: 400 ;
  }
  .tab-menu-large .name-container h6{
      font-weight: 400 ;
  }
  h1, h2, h3, h4, h5, h6 {
      font-weight: 400 ;
  }
  .twod-kpi .kpi-body{
      font-weight: 400 ;
  }
  .kpi-Slider span {
      font-weight: 400;
  }
  .central-title{
      font-size: 12px;
  }
  .user-setting .lov-inp {
      font-size: 14px;
  }
}

/* ion-avatar{
  img{
      position: absolute;
  }
} */

.chatbox {
  position: fixed;
  bottom: 0;
  z-index: 9999999;
  background: #eff1f3;
  max-width: 1500px;
  width: 100%;
  box-shadow: 1px 2px 10px #ccc;
  display: flex;
  align-items: center;
  margin: auto;
  border-top: 1px solid #8a8a8a;
  padding: 8px 0;
  max-height: 120px;
  overflow-y: auto;
  .chatbox-input {
    width: calc(100% - 70px);
    min-height: 40px;
    float: left;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #c0c2c3;
  }
  ion-button{
    margin-top: 8px;
    margin-right: 12px;
  }
}

@media only screen and (min-width:1200px){
  .new-menu-list h2 ,   .menu-list h2{
      font-weight: 600;
      font-size: 12px;
  }
  ion-title{
      font-weight: 400;
  }
  .frame-name{
      font-weight: 400;
  }
  .text-band h5{
      font-size: 14px;
      font-weight: 300 ;
  }
  table thead th {
      font-weight: 500;
      font-size: 12px;
  }
  p {
      font-weight: 400 ;
  }
  h1.frame-name {
      font-weight: 400;
  }
  .globe-btn {
      font-weight: 400 ;
  }
  label, ion-label {
      font-weight: 400 ;
  }
  .ion-input-item input, .ion-input-item ion-datetime, .ion-input-select-item ion-select, .ion-input-textarea-item textarea {
      font-weight: 400 ;
  }
  .menu-list h2 {
      font-weight: 400 ;
  }
  .tab-menu-large .name-container h6{
      font-weight: 400 ;
  }
  h1, h2, h3, h4, h5, h6 {
      font-weight: 400 ;
  }
  .twod-kpi .kpi-body{
      font-weight: 400 ;
  }
  .kpi-Slider span {
      font-weight: 400;
  }
  .central-title{
      font-size: 12px;
  }
  .user-setting .lov-inp {
      font-size: 14px;
  }
}
@media only screen and (max-width:768px){
  #globalPopover{
      .popover-content{
          width:100% !important;
          min-height: 100% !important;
          overflow: scroll !important;
          .shrinkMyscreen{
              max-height: 100%;

          }
      }
  } 
}
/* -----------------------Global CSS for Shrink Screen-------------------------- */


  @media only screen and (min-width: 1500px){
      .bg-shrink{
          --background:#eaeded;
      }
      .shrinkMyscreen{
          max-width: 1500px;
      margin: auto;
      min-height: 100vh;
      background: #ffffff;
          ion-fab{
              right: 20%!important;
              position: fixed;
          }
          table td {
              font-size: 12px;
              font-weight: 400;
              padding: 2px 4px 3px 2px;
          }
          
      }
   

  }
  
#globalPopover{
  .popover-content{
      width:90% !important;
      top: 65.5px !important;
      left: 4% !important;
      min-height: 300px !important;
      overflow: hidden;
      .shrinkMyscreen{
          max-height: 600px;
          min-height: auto;
          overflow-y: auto;
      }
  }
}
/* -----------------------Global CSS for Shrink Screen-------------------------- */


.new-input-item-type{
margin-bottom: 0px;
  border-bottom: 1px solid #ccc;
  .error{
      position: absolute;
  bottom: -3px;
  font-size: 10px;;
  }
  .btn-secondary{
      background: none;
      color: #dcd9d9;
      border: none;
      padding: 0 5px;
  }
ion-row{
  display: flex;
  align-items: center;
}
ion-row , ion-col{
  padding: 0;
}
span{
      font-size: 14px;
      padding-right: 10px;
      padding-left: 3px;
      white-space: nowrap;
  
}
  .text-left{
      background: rgb(140 137 137 / 17%);
  
  }
.text-right{
  text-align: right;
}
.form-control-sm{
  border: none;
  min-height: 25px;
  padding: 0.15rem .5rem;
  font-size: 14px;
  border-radius: .2rem;
    height: 25px !important;
  background: transparent;
}
  .form-floating>label {
      top: -15px;
  }
  .form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
      padding-top: 11px;
      padding-bottom: 0;
      font-size: 14px;
  }
.form-select-sm {
  padding-top: 1px;
  padding-bottom: .15rem;
  padding-left: 4px;
  font-size: 14px;
  min-height: 25px;
    height: 25px !important;
  border: none;
}
.form-control:focus {
  box-shadow: none;
  }
}

