<div class="icon-menu-container">
  <ion-row>
    <ion-col (click)="itemClicked(iconMenu)" class="ion-align-self-center">
      <div class="each-icon {{iconMenu.css_class | lowercase}} ">
        <ion-icon name="{{iconMenu.apps_icon_name}}" class="inner-icon"></ion-icon>
      </div>
    <p class="prompt-name">{{iconMenu.prompt_name}}</p>  
    </ion-col>
    
  </ion-row>
  <!-- <ion-row>
      <ion-col size="4" class="ion-align-self-center">
        <div class="each-icon bg-orange">
          <ion-icon name="md-mail" class="inner-icon"></ion-icon>
        </div>
        <p class="prompt-name">Inbox</p>  
      </ion-col>
      <ion-col size="4" class="ion-align-self-center">
        <div class="each-icon bg-green">
          <ion-icon name="md-mic" class="inner-icon"></ion-icon>
          
        </div>
        <p class="prompt-name">My Audio</p>  
      </ion-col>
      <ion-col size="4" class="ion-align-self-center">
        <div class="each-icon bg-skyblue">
          <ion-icon name="cart" class="inner-icon"></ion-icon>
        </div>
        <p class="prompt-name">My Cart</p>  
      </ion-col>
    </ion-row> -->
</div>