<div class="collapse-list-container" >
  <ion-item class="collapse-list rep-card-list" lines="none">
      <img src="../../../../../assets/imgs/Menu-icons/search.png" class="rep-img" alt="">
      <ion-label>
       <h2 class="prompt-name" (click)="buttonClick($event)"> {{rep_card.prompt_name}} </h2>
      <h3 class="message-text"   *ngIf="l_message"> {{l_message}}</h3>
      </ion-label>
      <ion-icon name="{{buttonName}}" slot="end" (click)="getData()"></ion-icon>
      <!-- <ion-icon ios="ios-add" md="md-add" slot="end" (click)="getData()"></ion-icon> -->
      </ion-item>
    <!-- <div class="collpase-list-brief">
        Lorem Ipsum is simply dummy text of the. 
    </div> -->
  <div class="collapse-list-body" *ngIf="show">

  <div *ngFor="let frameGroup of frame.Level3;let i=index;">
    <ng-container *ngIf="frameGroup.hideextraframes">
     <ion-row *ngFor="let framedata of frameGroup.Level4;">
      <ng-container *ngFor="let item of framedata.Level5;let rowindex=index;">
        <ion-col *ngIf="item.item_filter_flag" >
        <app-items class="c1" [item]="item" [change_item_type]='"item_filter_flag"' [wscp]="wscp" (emitPass)="itemClicked($event,i)" ></app-items>
        </ion-col>
      </ng-container>
     </ion-row>
    </ng-container>
  </div>

  </div>
</div>

<!-- 
<div *ngFor="let framedata of frame.tableRows;let rowindex =index">
  <ion-row *ngFor="let itemGroup of framedata">
        <ion-col *ngFor="let item of itemGroup.Level5;let i=index"
      [hidden]="(current_page_parameter.MODE && !(item.item_visible_flag && (item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||item.item_visible_flag=='F'"
      [size]="itemGroup.groupCol[i]">
      <app-items [item]="item" (emitPass)="itemClicked($event,rowindex)"
        (LHSOnChange)="itemValueChange($event,rowindex)"></app-items>

    </ion-col>
  </ion-row>
</div> -->