<!-- <div id="chart_div" width="100%" height="100%"></div> -->

<ion-row *ngIf="frame.apps_page_frame_name">
  <ion-col class="pl-0">
    <h1 class="frame-name ">{{frame.apps_page_frame_name}}<span style="margin-left: 10px;"
        *ngIf="globalObjects.toggleDevloperMode">[{{frame.apps_page_frame_seqid}}]</span></h1>
  </ion-col>
</ion-row>
  <div [id]="barchart_values" class="bar-horizontal" *ngIf="barHorizontalGraphFlag"></div>
  <div *ngIf="!barHorizontalGraphFlag">
    <div [id]="barchart_values" class="bar-horizontal-4" *ngIf="barHorizontalGraphValue==4"></div>
    <div [id]="barchart_values" class="bar-horizontal-6" *ngIf="barHorizontalGraphValue==6"></div>
    <div [id]="barchart_values" class="bar-horizontal-12" *ngIf="barHorizontalGraphValue==12"></div>
  </div>
