@media screen and (max-width :1350px){
   
    .myclass{

            overflow-x: scroll;

    }
 
}

.bar-horizontal{
width: 100%;
height		: 220px !important;
font-size	: 11px;
max-width   : 450px !important;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid #ccc;
}

.bar-horizontal-4{
border: 1px solid #ccc;
height		: 220px !important;
}

.bar-horizontal-6{
border: 1px solid #ccc;
height		: 320px !important;
}

.bar-horizontal-12{
border: 1px solid #ccc;
height		: 420px !important;
}