table td {
    padding: 0;
}
ion-input{
    --padding-top: 5px;
    --padding-bottom: 5px;
    font-size: 14px;
}

    :host {
        ion-item{
        --min-height: 29px;
    }
    ion-select{
    --padding-top: 3px;
    --padding-end: 0;
    --padding-bottom: 4px;
    --padding-start: 0;
    width:100%;
    max-width: 100%;
    font-size: 14px;
    }
}

ion-button{
    margin:0;
}
table thead th {
    color: #727274;
    border: 1px solid rgb(224 228 232);
    background: #fff !important;
    text-align: left;
    white-space: nowrap !important;
}
.has-focus , .item-has-focus{
border-top: 2px solid #212121;
border-left: 1px solid #212121;
}
.plain-text{
    --background: #f1efef;
}
.label-white{
    white-space: nowrap !important;
}