<ion-row *ngIf="frame.apps_page_frame_name">
  <ion-col class="pl-0" >
    <h1 class="frame-name ">{{frame.apps_page_frame_name}}<span style="margin-left: 10px;" *ngIf="globalObjects.toggleDevloperMode">[{{frame.apps_page_frame_seqid}}]</span></h1>
  </ion-col>
</ion-row>
<div [id]="singleScalechart_values" class="singleColumnChart" *ngIf="singleScaleColumnChartFlag"></div>
<div *ngIf="!singleScaleColumnChartFlag">
  <div [id]="singleScalechart_values" class="singleColumnChart-4" *ngIf="singleScaleColumnChartValue==4"></div>
  <div [id]="singleScalechart_values" class="singleColumnChart-6" *ngIf="singleScaleColumnChartValue==6"></div>
  <div [id]="singleScalechart_values" class="singleColumnChart-12" *ngIf="singleScaleColumnChartValue==12"></div>
</div>