<!-- 

<ion-item class="summary-card-main" lines="none" (click)="itemClick($event)" >
  <ion-avatar [ngStyle]="summ_card_input.display_setting_str" slot="start"> -->
        <!-- <img [src]="globalObjects.getScopeUrl()+'getImage?id='+menutab.apps_item_seqid+'&appTheme='+globalObjects.appTheme"> -->
        <!-- <img src="/assets/imgs/rupee-icon.png">
      </ion-avatar>
   <ion-label>{{summ_card_input.prompt_name}}</ion-label>
  <ion-note slot="end" >{{summ_card_input.value}}</ion-note>
</ion-item> -->


<ion-item class="summary-item-blue" lines="none" (click)="itemClick($event)" *ngIf="num==1" >
  <!-- <ion-avatar  class="blue-avtar" slot="start">
       
        <img src="/assets/imgs/rupee-icon.png">
      </ion-avatar> -->
   <ion-label>{{summ_card_input.prompt_name}}</ion-label>
  <ion-note slot="end" >{{summ_card_input.value}}</ion-note>
</ion-item>

<ion-item class="summary-item-yellow" lines="none" (click)="itemClick($event)" *ngIf="num==2" >
  <!-- <ion-avatar class="blue-avtar"  slot="start">
      
        <img src="/assets/imgs/rupee-icon.png">
      </ion-avatar> -->
   <ion-label>{{summ_card_input.prompt_name}}</ion-label>
  <ion-note slot="end" >{{summ_card_input.value}}</ion-note>
</ion-item>


<ion-item class="summary-item-green" lines="none" (click)="itemClick($event)"  *ngIf="num==3">
  <!-- <ion-avatar  slot="start">
     
        <img src="/assets/imgs/rupee-icon.png">
      </ion-avatar> -->
   <ion-label>{{summ_card_input.prompt_name}}</ion-label>
  <ion-note slot="end" >{{summ_card_input.value}}</ion-note>
</ion-item>

<ion-item class="summary-item-purple" lines="none" (click)="itemClick($event)" *ngIf="num==4" >
  <!-- <ion-avatar  slot="start">
      
        <img src="/assets/imgs/rupee-icon.png">
      </ion-avatar> -->
   <ion-label>{{summ_card_input.prompt_name}}</ion-label>
  <ion-note slot="end" >{{summ_card_input.value}}</ion-note>
</ion-item>



  <!-- <img [src]="globalObjects.getScopeUrl()+'getImage?id='+menutab.apps_item_seqid+'&appTheme='+globalObjects.appTheme"> -->
























<!--  <ion-item lines="none">
    <ion-avatar slot="start">
          <img src="/assets/imgs/rupee-icon.png">
     </ion-avatar>
    
    <ion-label>Credit Amount</ion-label>
    <ion-note slot="end">99</ion-note>
  </ion-item>
  <ion-item lines="none">
      <ion-avatar slot="start">
            <img src="/assets/imgs/rupee-icon.png">
       </ion-avatar>
      
      <ion-label>Debit Amount</ion-label>
      <ion-note slot="end">999</ion-note> 
    </ion-item> -->


