.offline-entry-card-container {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 5px 0px;
  margin-bottom:10px;
  .offline-entry-card
  {

    p {
   
      margin: 0px 5px !important;
    color: #565656;
    font-size: 13px;
      }
  }

}
 