<ng-container *ngIf="selectinput.item_type == 'DD'">
  <div class="select-container" *ngIf="selectinput.item_sub_type == 'M'">
    <ion-item
      class="{{(selectinput.css_class == null) ? 'ion-input-select-item ion-input-select-item-border' : selectinput.css_class}}">
      <ion-label position="{{(selectinput.position == null) ? 'stacked' : selectinput.position}}"
        [ngStyle]="selectinput.labelStyle">
        {{selectinput.prompt_name}}</ion-label>

      <ion-icon class="code-btn" name="information-circle-outline" color="primary" slot="end"
        *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>

      <ion-select multiple id="id" name="selectinput.column_name" [(ngModel)]="selectModel" interface="popover"
        [required]="(current_page_parameter.MODE && (selectinput.data_required_flag && 
  (selectinput.data_required_flag.indexOf(current_page_parameter.MODE)>-1)) )
  ||selectinput.data_required_flag=='T' 
  ||(selectinput.prompt_name && selectinput.prompt_name[selectinput.prompt_name.length -1] =='*')"
        (ionChange)="onChange(selectModel);selectinput.isValid=selectinputName.valid"
        [ngStyle]="selectinput.marginStyle" (ngInit)="selectinput.isValid=selectinputName.valid"
        #selectinputName='ngModel' [disabled]="selectinput.item_enable_flag != 'T'">

        <ion-select-option *ngFor="let c of selectinput.dropdownList" value="{{c.val}}"
          [selected]="selectModel == c.key">
          {{c.key}} </ion-select-option>
      </ion-select>
    </ion-item>
    <div class="error" *ngIf="selectinputName.hasError('required') && selectinput.touched"> Please Enter
      {{selectinput.prompt_name}}
    </div>
  </div>

  <!-- //autocomplete Code// -->

  <div
    class="{{(selectinput.css_class == null) ? 'ion-input-select-item ion-input-select-item-border' : selectinput.css_class}}"
    *ngIf="selectinput.item_sub_type == 'LIST_COMBO_BOX'">
    <ion-label position="{{(selectinput.position == null) ? 'stacked' : selectinput.position}}">
      {{selectinput.prompt_name}}</ion-label>

    <ion-icon class="code-btn" name="information-circle-outline" color="primary" slot="end"
      *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>

    <div style="border-bottom:#ccc;">
      <div style="position: relative;">

        <!-- <ion-input type="text"  style="border-bottom: 1px solid #ccc;" [(ngModel)]="selectModel" [ngClass]="autoCompleteflag ? 'my_class1' : 'my_class2'" (ionChange)="serchtextChange(selectModel)" ></ion-input>   -->
        <ion-input type="text" class="select-inp" [(ngModel)]="autoValue" (keydown)="keyDown($event)"
          (ionFocus)="myFunction();" [required]="(current_page_parameter.MODE && (selectinput.data_required_flag && 
   (selectinput.data_required_flag.indexOf(current_page_parameter.MODE)>-1)) )
   ||selectinput.data_required_flag=='T' 
   ||(selectinput.prompt_name && selectinput.prompt_name[selectinput.prompt_name.length -1] =='*')"
          (ionChange)="onChangeFirst(autoValue);selectinput.isValid=selectinputName.valid" (ionBlur)="onBlur(autoValue)"
          (ngInit)="selectinput.isValid=selectinputName.valid" #selectinputName='ngModel'></ion-input>
        <button class="input-btn float-right butn" ion-button icon-only small style="right: 35px;"
          (click)="fullListFun()" (keydown)="keyDown($event)">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </button>
        <button class="input-btn float-right butn" ion-button icon-only small (click)="onClear()">
          <ion-icon name="close"></ion-icon>
        </button>

      </div>

      <div class="select-dropdown-new" *ngIf="selectinput.flag">
        <ng-container>
          <ion-list *ngFor="let x of selectinput.dropdownList |multileveltabsearch :autoValue;let i=index">

            <ion-item tappable (click)="getMode(x);" [ngClass]="i == arrowkeyLocation ? 'active':''">{{x.key}}
            </ion-item>
          </ion-list>
        </ng-container>
      </div>

      <div class="select-dropdown-new" *ngIf="fullList">
        <ng-container>
          <ion-list *ngFor="let x of selectinput.dropdownList;let i=index">
            <ion-item tappable (click)="getMode(x);" [ngClass]="i == arrowkeyLocation ? 'active':''">{{x.key}}
            </ion-item>
          </ion-list>
        </ng-container>
      </div>

      <div class="error" *ngIf="selectinputName.hasError('required') && selectinput.touched"> Please Enter
        {{selectinput.prompt_name}}
      </div>

      <div class="error" *ngIf="selectinput.blurError && (selectinput.data_required_flag=='T' 
    ||(selectinput.prompt_name && selectinput.prompt_name[selectinput.prompt_name.length -1] =='*'))">{{selectinput.blurError}}
        {{selectinput.prompt_name}}</div>
    </div>


  </div>



  <div
    class="{{(selectinput.css_class == null) ? 'ion-input-select-item ion-input-select-item-border' : selectinput.css_class}}"
    *ngIf="selectinput.item_sub_type == 'COMBO_BOX'">
    <ion-label position="{{(selectinput.position == null) ? 'stacked' : selectinput.position}}">
      {{selectinput.prompt_name}}</ion-label>

    <ion-icon class="code-btn" name="information-circle-outline" color="primary" slot="end"
      *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>

    <div style="border-bottom:#ccc;">
      <div style="position: relative;">

        <!-- <ion-input type="text"  style="border-bottom: 1px solid #ccc;" [(ngModel)]="selectModel" [ngClass]="autoCompleteflag ? 'my_class1' : 'my_class2'" (ionChange)="serchtextChange(selectModel)" ></ion-input>   -->
        <ion-input type="text" class="select-inp" [(ngModel)]="autoValue" (click)="myFunction();" [required]="(current_page_parameter.MODE && (selectinput.data_required_flag && 
   (selectinput.data_required_flag.indexOf(current_page_parameter.MODE)>-1)) )
   ||selectinput.data_required_flag=='T' 
   ||(selectinput.prompt_name && selectinput.prompt_name[selectinput.prompt_name.length -1] =='*')" (ionBlur)="onBlur(autoValue)"
          (ionChange)="onChangeFirst(autoValue);selectinput.isValid=selectinputName.valid"
          (ngInit)="selectinput.isValid=selectinputName.valid" #selectinputName='ngModel'></ion-input>
        <button class="input-btn float-right butn" ion-button icon-only small style="right: 35px;"
          (click)="fullListFun()">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </button>
        <button class="input-btn float-right butn" ion-button icon-only small (click)="onClear()">
          <ion-icon name="close"></ion-icon>
        </button>

      </div>

      <div class="select-dropdown-new" *ngIf="selectinput.flag">
        <ng-container>
          <ion-list *ngFor="let x of selectinput.dropdownList |multileveltabsearch :autoValue;let i=index">
            <ion-item tappable (click)="getMode(x);">{{x.key}}</ion-item>
          </ion-list>
        </ng-container>
      </div>

      <div class="select-dropdown-new" *ngIf="fullList">
        <ng-container>
          <ion-list *ngFor="let x of selectinput.dropdownList;let i=index">
            <ion-item tappable (click)="getMode(x);">{{x.key}}</ion-item>
          </ion-list>
        </ng-container>
      </div>

      <div class="error" *ngIf="selectinputName.hasError('required') && selectinput.touched"> Please Enter
        {{selectinput.prompt_name}}
      </div>

      <div class="error" *ngIf="selectinput.blurError && (selectinput.data_required_flag=='T' 
    ||(selectinput.prompt_name && selectinput.prompt_name[selectinput.prompt_name.length -1] =='*'))">{{selectinput.blurError}}
        {{selectinput.prompt_name}}</div>
    </div>


  </div>



  <div
    class="{{(selectinput.css_class == null) ? 'ion-input-select-item ion-input-select-item-border' : selectinput.css_class}}"
    *ngIf="selectinput.item_sub_type == 'A_C2'">
    <ion-label position="{{(selectinput.position == null) ? 'stacked' : selectinput.position}}">
      {{selectinput.prompt_name}}</ion-label>

    <ion-icon class="code-btn" name="information-circle-outline" color="primary" slot="end"
      *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>

    <div style="border-bottom:#ccc;">
      <div style="position: relative;">

        <!-- <ion-input type="text"  style="border-bottom: 1px solid #ccc;" [(ngModel)]="selectModel" [ngClass]="autoCompleteflag ? 'my_class1' : 'my_class2'" (ionChange)="serchtextChange(selectModel)" ></ion-input>   -->
        <ion-input type="text" style="border-bottom: 1px solid #ccc;" [(ngModel)]="autoValue" (click)="myFunction();">
        </ion-input>
        <button class="input-btn float-right butn" ion-button icon-only small style="right: 35px;">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </button>
        <button class="input-btn float-right butn" ion-button icon-only small (click)="onClear()">
          <ion-icon name="close"></ion-icon>
        </button>

      </div>
      <div class="select-dropdown-new" *ngIf="selectinput.flag">
        <ng-container>
          <ion-list *ngFor="let x of selectinput.dropdownList |multileveltabsearch :autoValue;let i=index">
            <ion-item tappable (click)="getMode(x);">{{x.key}}</ion-item>
          </ion-list>
        </ng-container>
      </div>
    </div>

  </div>




  <div class="select-container"
    *ngIf="selectinput.item_sub_type != 'M' && selectinput.item_sub_type != 'LIST_COMBO_BOX' && selectinput.item_sub_type != 'COMBO_BOX' && selectinput.item_sub_type != 'TABLE' &&  selectinput.item_sub_type != 'RADIO' && selectinput.item_sub_type != 'CHECKBOX'  && selectinput.item_sub_type != 'T_LIST'">
    <ion-item
      class="{{ (selectinput.css_class == null) ? 'ion-input-select-item ion-input-select-item-border' : selectinput.css_class}}">
      <ion-label position="{{(selectinput.position == null) ? 'stacked' : selectinput.position}}"
        [ngStyle]="selectinput.labelStyle">
        {{selectinput.prompt_name}}</ion-label>

      <ion-icon class="code-btn" name="information-circle-outline" color="primary" slot="end"
        *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>

      <ion-select id="id" name="selectinput.column_name" [(ngModel)]="selectModel" interface="popover" 
        (ionChange)="onChange(selectModel);"
        [ngStyle]="selectinput.marginStyle" #selectinputName='ngModel' [disabled]="selectinput.item_enable_flag != 'T'">

        <ion-select-option *ngFor="let c of selectinput.dropdownList" value="{{c.val}}"
          [selected]="selectModel == c.key">
          {{c.key}} </ion-select-option>
      </ion-select>
    </ion-item>
    <div class="error" *ngIf="!selectinput.isValid && selectinput.touched"> Please Enter
      {{selectinput.prompt_name}}
    </div>
  </div>


  <div class="select-container select-dropdown-fixed-container"
    *ngIf="selectinput.item_sub_type == 'T_LIST'">

      <ion-label>
        {{selectinput.prompt_name}}</ion-label>

      <ion-icon class="code-btn" name="information-circle-outline" color="primary" slot="end"
        *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
      <div class="select-dropdown-fixed">
          <ion-list  *ngFor="let c of selectinput.dropdownList; let i = index">
            <ion-item (click)="onChangeTlist(c.val, i);selectinput.touched=true" [ngClass]="i == arrowkeyLocation && selectinput.touched ? 'active':''">
              <ion-label> {{c.key}}</ion-label>
            </ion-item>
          </ion-list>
      </div>

    <!-- <div class="error" *ngIf="selectinput"> Please Enter
      {{selectinput.prompt_name}}
    </div> -->
  </div>


  <ng-container *ngIf="selectinput.item_sub_type == 'TABLE'">
    <ion-item style="--min-height: 29px;">
      <ion-select id="id" name="selectinput.column_name" [(ngModel)]="selectModel" interface="popover" [required]="(current_page_parameter.MODE && (selectinput.data_required_flag && 
          (selectinput.data_required_flag.indexOf(current_page_parameter.MODE)>-1)) )
          ||selectinput.data_required_flag=='T' 
          ||(selectinput.prompt_name && selectinput.prompt_name[selectinput.prompt_name.length -1] =='*')" style="--padding-top: 3px;
          --padding-end: 0;
          --padding-bottom: 4px;
          --padding-start: 0;
          width:100%;
          max-width: 100%;
          font-size: 14px;" (ionChange)="onChange(selectModel);" (ionBlur)="selectinput.isValid=selectinputName.valid"
        (ngInit)="selectinput.isValid=selectinputName.valid" #selectinputName='ngModel'
        [disabled]="selectinput.item_enable_flag != 'T'">

        <ion-select-option *ngFor="let c of selectinput.dropdownList" value="{{c.val}}"
          [selected]="selectModel == c.key">
          {{c.key}} </ion-select-option>
      </ion-select>
    </ion-item>

  </ng-container>




  <div class="table-input-container" style="display:none;" *ngIf="selectinput.item_sub_type == 'S_T'">
    <ion-icon class="code-btn" name="information-circle-outline" color="primary" slot="end"
      *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
    <ion-select class="table-input" interface="popover" id="id" name="selectinput.column_name"
      [(ngModel)]="selectinput.value" interface="popover" [required]="(current_page_parameter.MODE && (selectinput.data_required_flag && 
        (selectinput.data_required_flag.indexOf(current_page_parameter.MODE)>-1)) )
        ||selectinput.data_required_flag=='T' 
        ||(selectinput.prompt_name && selectinput.prompt_name[selectinput.prompt_name.length -1] =='*')"
      (ionChange)="onChange('ionChange');selectinput.isValid=selectinputName.valid"
      (ionBlur)="selectinput.isValid=selectinputName.valid" (ngInit)="selectinput.isValid=selectinputName.valid"
      #selectinputName='ngModel' [disabled]="selectinput.item_enable_flag != 'T'">
      <ion-select-option *ngFor="let c of selectinput.dropdownList" value="{{c.val}}"> {{c.key}} </ion-select-option>

    </ion-select>

    <div class="error" *ngIf="selectinputName.hasError('required') && selectinput.touched"> Please Enter
      {{selectinput.prompt_name}}
    </div>

  </div>
  <!-- Radio Buttons Start -->
  <div class="select-container radio-input-container" *ngIf="selectinput.item_sub_type == 'RADIO'">
    <ion-item class="radio-cont">
      <ion-label class="main-label"> {{selectinput.prompt_name}}</ion-label>
      <!-- <ion-icon class="code-btn" name="information-circle-outline" color="primary" slot="end"
    *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon> -->
      <div class="radio-inputs">
        <ion-radio-group style="display: flex;overflow-x: auto;" [(ngModel)]="selectModel">
          <ng-container *ngFor="let c of selectinput.dropdownList">
            <ion-item>
              <ion-radio [value]="c.val" class="radio-bttn" slot="start" [ngStyle]="selectinput.marginStyle"
                [disabled]="selectinput.item_enable_flag != 'T'" (click)="onChange(c.val);"></ion-radio>
              <ion-label> {{c.key}}</ion-label>
            </ion-item>
          </ng-container>
        </ion-radio-group>
      </div>
      <!-- <ion-select id="id" name="selectinput.column_name" [(ngModel)]="selectModel" interface="popover" [required]="(current_page_parameter.MODE && (selectinput.data_required_flag && 
        (selectinput.data_required_flag.indexOf(current_page_parameter.MODE)>-1)) )
        ||selectinput.data_required_flag=='T' 
        ||selectinput.prompt_name[selectinput.prompt_name.length -1] =='*'" (ionChange)="onChange(selectModel);"
      (ionBlur)="selectinput.isValid=selectinputName.valid" (ngInit)="selectinput.isValid=selectinputName.valid"
      [ngStyle]="selectinput.marginStyle" #selectinputName='ngModel' [disabled]="selectinput.item_enable_flag != 'T'">

      <ion-select-option *ngFor="let c of selectinput.dropdownList" value="{{c.val}}" [selected]="selectModel == c.key">
        {{c.key}} </ion-select-option>
    </ion-select> -->
    </ion-item>
    <!-- <div class="error" *ngIf="selectinputName.hasError('required') && selectinput.touched"> Please Enter
    {{selectinput.prompt_name}}
  </div> -->
  </div>
  <!-- Radio Buttons End -->

  <!-- Checkbox Buttons Start -->
  <div class="select-container radio-input-container" *ngIf="selectinput.item_sub_type == 'CHECKBOX'">
    <ion-item class="radio-cont">
      <ion-label class="main-label"> {{selectinput.prompt_name}}</ion-label>
      <!-- <ion-icon class="code-btn" name="information-circle-outline" color="primary" slot="end"
    *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon> -->
      <div class="radio-inputs">
        <ion-radio-group style="display: flex;overflow-x: auto;">
          <ng-container *ngFor="let c of selectinput.dropdownList">
            <ion-item>
              <!-- <ion-checkbox [(ngModel)]="c.isChecked" class="radio-bttn" slot="start" [ngStyle]="selectinput.marginStyle" [disabled]="selectinput.item_enable_flag != 'T'" (ionChange)="onChange(c.val);"></ion-checkbox> -->
              <ion-checkbox color="primary" class="radio-bttn" [(ngModel)]="c.isChecked"
                [disabled]="c.item_enable_flag && c.item_enable_flag=='F'" #checkName="ngModel" [required]="c.data_required_flag=='T' 
    || (c.prompt_name && c.prompt_name[c.prompt_name.length -1] =='*')" (ionChange)="c.touched=true;onChange(c)"
                (ngInit)="c.isValid=checkName.valid"></ion-checkbox>
              <ion-label> {{c.key}}</ion-label>
            </ion-item>
          </ng-container>
        </ion-radio-group>
      </div>

    </ion-item>
    <!-- <div class="error" *ngIf="selectinputName.hasError('required') && selectinput.touched"> Please Enter
    {{selectinput.prompt_name}}
  </div> -->

  </div>
  <!-- Checkbox Buttons End -->
</ng-container>

<ng-container *ngIf="selectinput.item_type == 'DD_BROWSER'">
  <div class="select-container new-input-item-type" *ngIf="selectinput.item_sub_type == 'M'">
    <ion-row>
      <ion-col size="3" class="text-left">
        <span>{{selectinput.prompt_name}}</span>
      </ion-col>
      <ion-col size="9">

        <select multiple class="form-select form-select-sm"  [(ngModel)]="selectModel"
          (change)="onChange(selectModel);" 
          [required]="(current_page_parameter.MODE && (selectinput.data_required_flag && 
          (selectinput.data_required_flag.indexOf(current_page_parameter.MODE)>-1)) )
          ||selectinput.data_required_flag=='T' 
          ||(selectinput.prompt_name && selectinput.prompt_name[selectinput.prompt_name.length -1] =='*')"
          [disabled]="selectinput.item_enable_flag != 'T'"
          (blur)="selectinput.isValid=selectinputName.valid" 
          [ngStyle]="selectinput.marginStyle" #selectinputName='ngModel'
          >

          <option *ngFor="let c of selectinput.dropdownList" value="{{c.val}}" >
            {{c.key}} </option>
        </select>

        <div class="error" *ngIf="selectinputName.hasError('required') && selectinput.touched"> Please Enter
          {{selectinput.prompt_name}}
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="new-input-item-type"
    *ngIf="selectinput.item_sub_type != 'M' && selectinput.item_sub_type != 'LIST_COMBO_BOX' && selectinput.item_sub_type != 'COMBO_BOX' && selectinput.item_sub_type != 'TABLE' &&  selectinput.item_sub_type != 'RADIO' && selectinput.item_sub_type != 'CHECKBOX' ">
    <ion-row>
      <ion-col size="3" class="text-left">
        <span>{{selectinput.prompt_name}}</span>
      </ion-col>
      <ion-col size="9">

        <select class="form-select form-select-sm"  [(ngModel)]="selectModel"
          (change)="onChange(selectModel);" 
          [required]="(current_page_parameter.MODE && (selectinput.data_required_flag && 
          (selectinput.data_required_flag.indexOf(current_page_parameter.MODE)>-1)) )
          ||selectinput.data_required_flag=='T' 
          ||(selectinput.prompt_name && selectinput.prompt_name[selectinput.prompt_name.length -1] =='*')"
          [disabled]="selectinput.item_enable_flag != 'T'"
          (blur)="selectinput.isValid=selectinputName.valid" 
          [ngStyle]="selectinput.marginStyle" #selectinputName='ngModel'
          >

          <option *ngFor="let c of selectinput.dropdownList" value="{{c.val}}" >
            {{c.key}} </option>
        </select>

        <div class="error" *ngIf="selectinputName.hasError('required') && selectinput.touched"> Please Enter
          {{selectinput.prompt_name}}
        </div>
      </ion-col>
    </ion-row>
  </div>
</ng-container>