<ion-view class="otp-container">

    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="checkMailForResetKeyModal.hide()">
            
        </button>
        <div class="h1 title">Reset Password</div>
        <!--<button ng-click="openSetting()" class="button button-icon icon icon-right ion-ios-unlocked-outline back-btn"></button>-->
        <button ng-disabled="true" class="button button-icon icon icon-right ion-ios-unlocked-outline back-btn"></button>
    </ion-header-bar>
    <ion-content class="has-header forgot-pas-outer" on-swipe-right="checkMailForResetKeyModal.hide()">
        <div class="register-outer-container forgot-pas">
            <form role="form" ng-submit="openPasswordReset()">
                <div class="list">
                    <div class="row">
                        <label class="forgot-pas-label">
                            <a>Check your email for OTP to reset your password.</a>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <button class="button button-full icon-left ion-ios-loop-strong button-energized "> Reset Password </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>