<ion-view cache-view="false" class="notificationPopupStyle">

    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-android-close back-btn" ng-click="forceNotifModal.hide();"></button>
        <div class="h1 title">Notifications</div>
        <!--<button ng-click="saveTextArea(textAreaValue,nameOfColumn);" style="color: #FFF" class="button button-icon icon icon-right">OK</button>-->
    </ion-header-bar>
    <ion-content on-swipe-right="forceNotifModal.hide();">

        <div class="card" ng-repeat="notif in forceNotifList">
            <div class="item item-divider" style="border-bottom:1px solid grey;border-color: #ddd;">
                Date : {{notif.col6}}
            </div>
            <div class="item item-text-wrap" bind-html="notif.col5">
                <!--<div-->
                <!--{{notif.col5}}-->
            </div>
        </div>

        <div class="card" ng-if="notificationList" ng-repeat="notification in notificationList">
            <div class="item item-divider" style="border-bottom:1px solid grey;border-color: #ddd;">
                {{notification.title}}
            </div>
            <div class="item item-text-wrap" ng-click="openLink(notification.link)">
                <div>
                    {{notification.msgBody}}
                </div>
                <div>
                    <button class="button button-balanced button-block Save-btn " ng-click="openlink(notification)">Open</button>
                </div>
                <!--{{notif.col5}}  bind-html="notification.msgBody" -->
            </div>
        </div>






        <div class="row animated fadeInUp">
            <div class="col">
            </div>
            <div class="col">
                <button class="button button-balanced button-block Save-btn " ng-click="seveFlag()">OK</button>
            </div>
            <div class="col">
            </div>
        </div>
    </ion-content>
</ion-view>