<ion-view hide-back-button="true">
    <ion-content class="wrapper login-wrapper" style="background:url('img/login-bac.jpg');background-size:100% 100%;">

        <div class="container">
            <div class="logo">
                <img src="img/LHS-Logo-white.png" class="img-responsive" alt="">
            </div>

            <form class="form" id="login-form" role="form" name="regForm" ng-submit="doLogin()">
                <div class="login-div-outline animated wow rotateIn  animated" data-wow-delay=".3s">
                    <div class="login-div" style="  ">
                        <!--<img src="img/netvision-Logo.png" class="img-netvision" alt="" >-->
                        <div ng-class="{
                                'has-error' : regForm.h_username.$invalid && !regForm.h_username.$pristine }" class="firstInput">
                            <input type="text" placeholder="Username" ng-model="loginData_ng.username_ng" name="h_username" autofocus required>
                        </div>
                        <p class="login-validation" ng-show="regForm.h_username.$invalid && !regForm.h_username.$pristine" class="help-block" style="color:#DC890A">Please Enter Username...</p>
                        <div ng-class="{
                                'has-error' : regForm.h_password.$invalid && !regForm.h_password.$pristine }">
                            <input type="password" name="h_password" ng-model="loginData_ng.password_ng" placeholder="Password" autofocus required>
                        </div>
                        <p class="login-validation" ng-show="regForm.h_password.$invalid && !regForm.h_password.$pristine" class="help-block" style="color:#DC890A">
                            Please Enter Password...
                        </p>
                        <div class="forgot-password" ng-click="changePassword()">
                            <p> Forgot Password ?</p>
                        </div>
                        <div>
                            <!-- <select ng-change="changeIPAddress(ipAddress)" ng-model="ipAddress">
                                <option value="202.191.213.163">ISP 1 (IP 202.191.213.163)</option>
                                <option value="103.216.205.51">ISP 2 (IP 103.216.205.51)</option>
                                <option value="192.168.1.21">LAN 1 (IP 192.168.1.21)</option>
                                <option value="192.168.1.23">LAN 2 (IP 192.168.1.23)</option>
                            </select> -->
                            <select ng-change="changeIPAddress(ipAddress)" ng-model="ipAddress">
                                <option selected value="202.191.213.166">ISP 1 (IP 202.191.213.166)</option>
                                <option value="103.216.205.51"> ISP 2 (IP 103.216.205.51)</option>
                                <option value="192.168.1.21">LAN 1 (IP 192.168.1.21)</option>
                                <option value="192.168.1.22">LAN 2 (IP 192.168.1.22)</option>
                            </select>
                        </div>
                        <button class="login-btn" type="submit" id="login-button" ng-disabled="regForm.$invalid || flagForDisableLoginButton == 1">
                            Login
                            <a class="icon ion-ios-gear" ng-click="pinAuthentication();" style="float: right !important;color: #fff;padding-right: 5px;"></a>
                        </button>
                    </div>
                </div>
            </form>

            <div> <h1>UPLOAD</h1>
                <input type="file" id="file" name="file" file-model="myFile"/>
                <button ng-click="add()">upload me </button>
                <button ng-click="uploadFile(myFile)"> multipart upload me</button>
            </div>



        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </ion-content>
</ion-view>