<ion-view cache-view="false" view-title="Setting">

    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="backNavigate()"></button>
        <div class="h1 title">Setting</div>
        <button class="button button-icon icon icon-right ion-ios-gear-outline" ng-click="openSetting()"></button>
    </ion-header-bar>
    <ion-content class="has-header" on-swipe-right="backNavigate()">
        <div class="setting-container">
            <img src="img/setting-icon.png">
            <div class="list card">
                <div>
                    <label class="item item-icon-left item-input item-select ">

                        <div class="input-label">
                            <i class=" ion-android-phone-portrait"></i> App Type
                        </div>
                        <select ng-model="appType" style="width:100%;" ng-change="setAppType(appType);">
                            <option ng-repeat="option in appTypes" value="{{option.apptype}}">{{option.apptype}}
                            </option>
                        </select>

                    </label>
                </div>
                <div class="item ">
                    <a ng-click="setOfflineAppData()" class="button icon-left ion-refresh button-clear button-dark">Refresh App Data</a>
                </div>
                <div>
                    <label class="item item-icon-left item-input item-select " ng-click="logout()">
                        <a class="button icon-left ion-log-out button-clear button-dark">Log Out</a>
                 </label>
                </div>
                <!--<div>
                    <a ng-click="captureVideo()" class="button icon-left ion-videocamera button-clear button-dark">Video Recording</a>
                </div>
                <div>
                    <a ng-click="scanBarcode()" class="button icon-left ion-ios-barcode button-clear button-dark">Barcode Scanner</a>
                </div>-->
            </div>
        </div>

        <div class="setting-bottom">
        </div>
    </ion-content>
</ion-view>