<ion-view cache-view="false" view-title="Select Type">

    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="backNavigate()"></button>
        <div class="h1 title">Report Summary</div>
        <button class="button button-icon icon icon-right ion-ios-copy-outline"></button>
    </ion-header-bar>


    <ion-content class="has-header" on-swipe-right="backNavigate()">
        <div class="report-analysis-container-main">
            <div class="report-analysis-inner-sec" ng-repeat="item in typeList" ng-click="openShortReportDetail(item.seq_no,item.tab)">
                <div class="row">
                    <div class="report-analysis-icon">
                        <span class="report-analysis-icon-inner">
                          <img ng-src="data:image/jpeg;base64,{{item.dp}}">
                    </span>
                    </div>
                    <div class="report-analysis-heading">
                        <h2>{{item.tab}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </ion-content>

</ion-view>