<ion-view cache-view="false" view-title="Summary Report">

    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="backNavigate()"></button>
        <div class="h1 title">Report Analysis</div>
        <!--<button class="button button-icon icon icon-right ion-ios-copy-outline" ng-disabled="true"></button>-->
        <!--<i class="icon icon-right ion-ios-copy-outline"></i>-->
    </ion-header-bar>


    <ion-content class="has-header" on-swipe-right="backNavigate()">
        <div class="report-analysis-container-main">
            <div class="report-analysis-inner-sec" ng-repeat="item in graphTab">
                <!--<div class="row">
                    <div class="report-analysis-icon" ng-click="openReportAnalysis(item.seq_no,item.tab)" ng-if="item.first_screen_1_value==null">
                        <span class="report-analysis-icon-inner">
                              <img ng-src="data:image/jpeg;base64,{{item.dp}}">
                            </span>
                    </div>
                    <div class="report-analysis-icon-with-count" ng-click="openReportAnalysis(item.seq_no,item.tab)" ng-if="item.first_screen_1_value!=null">
                        <span class="report-analysis-icon-inner">
                              <b ng-init="item.status = true">{{item.first_screen_1_value}}</b>
                         </span>
                    </div>
                    <div class="report-analysis-heading">
                        <h2 ng-click="openReportAnalysis(item.seq_no,item.tab)">{{item.tab}}</h2>
                        <div class="last-login-details" ng-init="item.status = true" ng-if="firstScreen!='G'">
                            <h2 ng-show="!item.isProcessing" ng-click="refreshSummaryValue(item.seq_no,item.tab)">
                                <i class="icon ion-loop">   </i>&nbsp;&nbsp;
                                <a ng-if="item.lastupdate" style="color:#00BCD4"> {{item.lastupdate}}</a>
                                <a ng-if="!item.lastupdate" style="color:#00BCD4"> Please Refresh</a>

                            </h2>
                            <p>
                                <ion-spinner icon="bubbles" class="spinner-balanced" ng-show="item.isProcessing"></ion-spinner>
                            </p>
                        </div>
                    </div>
                </div>-->

                <div class="row" ng-click="openReportAnalysis(item.seq_no, item.tab, item.paginationFlag)" ng-if="firstScreen == 'G'">
                    <div class="report-analysis-icon" ng-if="item.first_screen_1_value == null">
                        <span class="report-analysis-icon-inner">
                            <!--<img ng-src="img/bank-deposite.png">-->
                            <img ng-if="item.dp" ng-src="data:image/jpeg;base64,{{item.dp}}">
                            <img ng-if="!item.dp" ng-src="img/short-report.png">
                        </span>
                    </div>
                    <div class="report-analysis-icon-with-count" ng-if="item.first_screen_1_value != null">
                        <span class="report-analysis-icon-inner">
                            <b ng-init="item.status = true">{{item.first_screen_1_value}}</b>
                        </span>
                    </div>
                    <div class="report-analysis-heading">
                        <h2>{{item.tab}}</h2>
                    </div>
                </div>


                <div ng-if="firstScreen != 'G'" id="item_{{item.seq_no}}">
                    <div class="row">
                        <div class="col-30" ng-if="item.first_screen_1_value == null">
                            <div class="report-analysis-icon" ng-click="openReportAnalysis(item.seq_no, item.tab, item.paginationFlag)">
                                <span class="report-analysis-icon-inner">
                                    <img ng-src="data:image/jpeg;base64,{{item.dp}}"  ng-if="item.dp">
                                    <img ng-src="img/short-report.png" ng-if="!item.dp">

                                </span>
                            </div>
                        </div>
                        <div class="col-30" ng-if="item.first_screen_1_value != null">
                            <div class="report-analysis-icon-with-count" ng-click="openReportAnalysis(item.seq_no, item.tab, item.paginationFlag)">
                                <span class="report-analysis-icon-inner">
                                    <b ng-init="item.status = true">{{item.first_screen_1_value}}</b>
                                </span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="report-analysis-heading">
                                <h2 ng-click="openReportAnalysis(item.seq_no, item.tab, item.paginationFlag)">{{item.tab}}</h2>
                                <div class="last-login-details col-70" ng-if="firstScreen != 'G' && firstScreen!='CV'" ng-init="item.status = false">
                                    <div>
                                        <h2 ng-show="!item.isProcessing">
                                            <i class="icon ion-loop"> </i>&nbsp;&nbsp;
                                            <a ng-if="item.lastupdate  && item.colorVal=='none'"  style="color:#00BCD4"> {{item.lastupdate}}</a>
                                            <a ng-if="item.lastupdate  && item.colorVal=='red'"  style="color:red"> {{item.lastupdate}}</a>
                                            <a ng-if="!item.lastupdate" style="color:#00BCD4"> Please Refresh</a>
                                        </h2>
                                        <p>
                                            <ion-spinner icon="bubbles" class="spinner-balanced" ng-show="item.isProcessing"></ion-spinner>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="refresh-ico-div col-10" ng-if="firstScreen!='CV'">
                            <div class="toggle-form" ng-click="openSlide(item.seq_no, item.status)" ng-hide="item.filter_Flag == 'F'">
                                <i class="icon ion-plus" ng-if="!item.status"></i>
                                <i class="icon ion-minus" ng-if="item.status"></i>
                            </div>
                            <div class="clear"></div>

                            <div class="toggle-form" ng-click="refreshSummaryValue(item.seq_no, item.tab)" ng-hide="item.filter_Flag != 'F'">
                                <i class="icon ion-loop"></i>
                            </div>
                        </div>
                    </div>
                    <div class="slide-toggle short-report-details-tab toggle-form-container-outer" ng-show="item.status">

                        <!--<div>-->
                        <!--<ion-radio ng-model="choice" ng-value="'A'">Begining of year</ion-radio>
                                <ion-radio ng-model="choice" ng-value="'B'">Begining Of year</ion-radio>
                                <ion-radio ng-model="choice" ng-value="'C'">Begining of month</ion-radio>-->
                        <!--<ion-checkbox ng-model="filter.checkbox" ng-change>Begining of year</ion-checkbox>
                                <ion-checkbox ng-model="filter.checkbox" ng-change>Begining Of Qurter year</ion-checkbox>
                                <ion-checkbox ng-model="filter.checkbox" ng-change>Begining of month</ion-checkbox>-->
                        <!--ng-true-value="'{{box.text}}'"  ng-false-value="" -->

                        <!--filter.checkbox: <pre>{{checkBoxes}}</pre>-->
                        <!--</div>-->
                        <!--
                        <div class="row">
                            <div class="col icon-left ion-ios-calendar positive" ng-model="date1" ion-datetime-picker date> From - {{date1| date: "dd-MM-yyyy"}}</div>
                            <div class="col icon-left ion-ios-calendar positive" ng-model="date2" ion-datetime-picker date> To - {{date2| date: "dd-MM-yyyy"}}</div>
                        </div>
                            -->

                        <div>
                            <form name="frm" ng-submit="item.status = !item.status; refreshSummaryValuePara(item.seq_no, item.tab, fields);">
                                <div class="toggle-form-container">
                                    <div ng-repeat="itemF in fields">
                                        <div ng-switch="itemF.item_help_property">

                                            <div ng-switch-when="R" ng-hide="itemF.entry_by_user == 'F'">
                                                <!--<span class="input-label add-new-entry-label"><b>{{itemF.para_desc}}</b></span>-->
                                                <!--ng-repeat="box in itemF.group"-->
                                                <ion-checkbox data-ng-model="itemF.value" ng-change="toggleRadio(itemF.para_desc, itemF.para_column, itemF.dependent_row)"
                                                    ng-disabled="itemF.disable">{{itemF.para_desc}} </ion-checkbox>
                                            </div>
                                            <div ng-switch-when="L" ng-hide="itemF.entry_by_user == 'F'">
                                                <span class="input-label add-new-entry-label">
                                                    <b>{{itemF.para_desc}}</b>
                                                </span>
                                                <label class="item item-input">
                                                    <input type="text" ng-model="itemF.value" id="{{itemF.column_name}}" placeholder="{{itemF.tool_tip}}" ng-click="openLov(itemF.para_desc, itemF.para_column, itemF.dependent_row, itemF.dependent_row_logic, itemF.item_help_property)"
                                                        ng-readonly="true" ng-required="itemF.nullable=='F'" disable="true" ng-disabled="itemF.entry_by_user == 'R'"
                                                        ng-change="dependent_nullable_logic(itemF.value, itemF.column_name,itemF.dependent_column_name)">
                                                </label>
                                            </div>
                                            <div ng-switch-when="M" ng-hide="itemF.entry_by_user == 'F'">
                                                <span class="input-label add-new-entry-label">
                                                    <b>{{itemF.para_desc}}</b>
                                                </span>
                                                <label class="item item-input">
                                                    <input type="text" id="{{itemF.column_name}}" ng-model="itemF.value" placeholder="{{itemF.tool_tip}}" disable="true" ng-click="itemF.value = ''; itemF.codeofValue = ''; openLov(itemF.para_desc, itemF.para_desc, itemF.dependent_row, itemF.dependent_row_logic, itemF.item_help_property)"
                                                        ng-readonly="true" ng-required="itemF.nullable=='F'" ng-change="dependent_nullable_logic(itemF.value, itemF.column_name,itemF.dependent_column_name)">
                                                </label>
                                                <p ng-if="itemF.itemSelected">{{itemF.itemSelected}} item are selected</p>
                                            </div>
                                            <div ng-switch-when="H" ng-hide="itemF.entry_by_user=='F'  || itemF.hideValueFormat=='true'">
                                                <span class="input-label add-new-entry-label">
                                                    <b>{{itemF.para_desc}}</b>
                                                </span>
                                                <div class="col Dispenser-Entry-container">
                                                    <select ng-model="itemF.value" ng-disabled="itemF.entry_by_user=='R' " id="{{itemF.para_column}}" 
                                                        class="Dispenser-Entry-container-dropdown" ng-required="itemF.nullable=='F' " style="width:100%;"
                                                        ng-disabled="itemF.entry_by_user=='R'">
                                                        <option ng-repeat="option in itemF.dropdownVal" value="{{option.code}}">{{option.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div ng-switch-when="T" ng-hide="itemF.entry_by_user == 'F'">
                                                <span class="input-label add-new-entry-label">
                                                    <b>{{itemF.para_desc}}</b>
                                                </span>
                                                <label class="item item-input">
                                                    <input type="text" name="{{itemF.column_name}}{{$index}}" placeholder="{{itemF.tool_tip}}" ng-model="itemF.value" id="{{itemF.column_name}}"
                                                        ng-readonly="itemF.entry_by_user == 'R'" ng-required="itemF.nullable=='F'"
                                                        ng-maxlength="itemF.column_size" ng-change="dependent_nullable_logic(itemF.value, itemF.column_name,itemF.dependent_column_name)">
                                                </label>
                                                <p ng-show="frm.{{itemF.column_name}}{{$index}}.$invalid && !frm.{{itemF.column_name}}{{$index}}.$pristine" class="help-block">
                                                    <span ng-show="frm.{{itemF.column_name}}{{$index}}.$error.required">
                                                        Please Enter {{itemF.para_desc}}...
                                                    </span>
                                                    <span ng-show="frm.{{itemF.column_name}}{{$index}}.$error.maxlength">
                                                        {{itemF.para_desc}} max {{itemF.column_size}} Character...
                                                    </span>
                                                    <span ng-show="frm.{{itemF.column_name}}{{$index}}.$error.minlength">
                                                        {{itemF.para_desc}} min 3 Character...
                                                    </span>
                                                </p>
                                            </div>
                                            <div ng-switch-when="C" ng-hide="itemF.entry_by_user == 'F'">
                                                <div class="row" style="padding:0">
                                                    <div class="col col-40" style="padding-left:0">
                                                        <span class="input-label add-new-entry-label">
                                                            <b>{{itemF.para_desc}}</b>
                                                        </span>
                                                    </div>
                                                    <div class="col">

                                                        <div ng-if="!itemF.disable" class="item item-icon-left" id="{{itemF.column_name}}" ion-datetime-picker date ng-model="itemF.value"
                                                            ng-disabled="itemF.disable" ng-change="toggleRadio(itemF.para_desc, itemF.para_desc, itemF.dependent_row);autoCalculationOfDuration(item.column_name)"
                                                            ng-required="itemF.nullable=='F'" name="{{itemF.column_name}}{{$index}}"
                                                            only-valid="{'between': {'initial': itemF.from_value, 'final': itemF.to_value}, 'inclusive': true}"
                                                            ng-readonly="itemF.disable">
                                                            <!--<i class="icon ion-ios-calendar positive">-->
                                                            <i ng-class="{'icon  ion-ios-calendar positive': !itemF.nullable == 'F' || itemF.value, 'icon ion-ios-calendar assertive': itemF.nullable == 'F' && !itemF.value}">
                                                                &nbsp;&nbsp;
                                                                <p>{{itemF.value| date: "dd-MM-yyyy"}}</p>
                                                                <p ng-show="frm.{{itemF.column_name}}{{$index}}.$error.required">{{itemF.tool_tip}}</p>
                                                            </i>
                                                        </div>
                                                        <div ng-if="itemF.disable" class="item item-icon-left" id="{{itemF.column_name}}" ng-model="itemF.value" ng-disabled="itemF.disable"
                                                            ng-change="toggleRadio(itemF.para_desc, itemF.para_desc, itemF.dependent_row);"
                                                            name="{{itemF.column_name}}{{$index}}" only-valid="{'between': {'initial': itemF.from_value, 'final': itemF.to_value}, 'inclusive': true}"
                                                            ng-readonly="itemF.disable">
                                                            <!--<i class="icon ion-ios-calendar positive">-->
                                                            <i class="icon  ion-ios-calendar positive" ng-disabled="true">
                                                                &nbsp;&nbsp;
                                                                <p>{{itemF.value| date: "dd-MM-yyyy"}}</p>
                                                                <p ng-show="frm.{{itemF.column_name}}{{$index}}.$error.required">{{itemF.tool_tip}}</p>
                                                            </i>
                                                        </div>
                                                        <!-- <span ng-show="frm.{{itemF.column_name}}{{$index}}.$error.required">
                    Please Enter {{itemF.para_desc}}...
                    </span> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-switch-when="D" ng-hide="itemF.entry_by_user == 'F'">
                                                <div class="add-new-entry-label ">
                                                    <label>
                                                        <b>{{itemF.para_desc}}</b>
                                                    </label>
                                                </div>
                                                <div class="col Dispenser-Entry-container">
                                                    <select ng-model="itemF.value" ng-disabled="itemF.entry_by_user == 'R'" id="{{itemF.column_name}}" class="Dispenser-Entry-container-dropdown"
                                                        ng-required="itemF.nullable=='F' " style="width:100%; " ng-change="dependent_nullable_logic(itemF.value, itemF.column_name,itemF.dependent_column_name)">
                                                        <option ng-repeat="option in itemF.dropdownVal track by $index " value="{{option}} ">{{option}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div ng-switch-when="N" ng-hide="itemF.entry_by_user == 'F'">
                                                <span class="input-label add-new-entry-label ">
                                                    <b>{{itemF.para_desc}}</b>
                                                </span>
                                                <label class="item item-input ">
                                                    <input type="tel" valid-number decimaldigit="item.decimal_digit" name="{{itemF.column_name}}{{$index}} " placeholder="{{itemF.tool_tip}} "
                                                        ng-model="itemF.value" id="{{itemF.column_name}}" ng-required="itemF.nullable=='F' "
                                                        ng-maxlength="itemF.column_size" ng-change="autoCalculation(itemF.column_name)"
                                                        ng-readonly="itemF.entry_by_user == 'R'" ng-min="itemF.from_value " ng-max="itemF.to_value ">
                                                </label>

                                                <!-- onchange="checkFromToValue(itemF.value, itemF.from_value, itemF.to_value) " 
                                    ng-maxlength="itemF.to_value "
                                        ng-minlength="itemF.from_value " -->
                                                <p ng-show="frm.{{itemF.column_name}}{{$index}}.$invalid &&
                                                                !frm.{{itemF.column_name}}{{$index}}.$pristine " class="help-block ">
                                                    <span ng-show="frm.{{itemF.column_name}}{{$index}}.$error.required ">
                                                        Please Enter {{itemF.column_desc}}...
                                                    </span>
                                                    <span ng-show="frm.{{itemF.column_name}}{{$index}}.$error.maxlength ">
                                                        {{itemF.column_desc}} max {{itemF.column_size}} digit...
                                                    </span>
                                                    <span ng-show="frm.{{itemF.column_name}}{{$index}}.$error.minlength ">
                                                        {{itemF.column_desc}} min {{itemF.column_size}} digit...
                                                    </span>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <div style="padding:0 5%;text-align:center;">
                                        <button class="button button-block button-small button-balanced btn-refresh" ng-disabled="frm.$invalid" ng-if="fields">
                                            Refresh
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clr"></div>
    </ion-content>

</ion-view>