<ion-view cache-view="false" class="textareaPopupStyle">

    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="textAreaPopOverModal.hide();"></button>
        <div class="h1 title">{{textAreaPop.textAreaHeading}} </div>
        <!--<button ng-click="saveTextArea(textAreaValue,nameOfColumn);" style="color: #FFF" class="button button-icon icon icon-right">OK</button>-->
    </ion-header-bar>
    <ion-content on-swipe-right="textAreaPopOverModal.hide();">
        <form role="form" name="achivForm" class="achivForm">
            <div class="list listStyle">
                <span class="input-label"></span>
                <label class="item item-input">

                    <textarea ng-model="textAreaPop.textAreaValue" class="textareaStyle" rows="8" cols="50" style="height:auto !important;" ></textarea>
                </label>

                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col col-50">
                        <button ng-click="saveTextArea(textAreaPop.textAreaValue,textAreaPop.nameOfColumn);"  
                        class="button button-small button-calm Save-btn ok-btn">
                            Ok
                        </button>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </form>

    </ion-content>
</ion-view>