
  <!-- <ion-list>
    <ion-item-divider color="light">
      Scanned Barcodes
    </ion-item-divider>
    <ion-item no-lines *ngFor="let scan of scans">
      <ion-label position="stacked" color="primary">{{ scan.timeAtDecode }} / {{ scan.type }}</ion-label>
      <H1 item-content>{{ scan.data }}</H1>
    </ion-item>
  </ion-list> -->

  <div [ngClass]="{'hide' : uiHideFloatingActionButton}">
    <ion-button color="secondary" (touchstart)="fabDown()" (touchend)="fabUp()">
      <ion-icon name="barcode"></ion-icon>
    </ion-button>
  </div>

