.cart-summary-plain
{
    box-shadow: none;
    border: 1px dashed #c5c5c5;
    padding-bottom: 4px;
    ion-card-title
    {
        padding-left: 16px;
    font-size: 16px;
    margin-top: 3px;
    color: #151515;
    }
    ion-item
    {
        --min-height:20px;
    }
    ion-label
    {
        color: #4e4e4e;
    font-size: 13px !important;  
    }
    ion-note
    {
        padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
    font-weight: 600;
    color: #151515;
    }
}