<div *ngIf="!flag">
  <app-frame-cart-summary [cartdata]="cartdata" [wsdp]="wsdp" [wscp_send_input]="wscp" [wsdpcl]="wsdpcl"
    [frame]="frame"></app-frame-cart-summary>
</div>
<div  *ngIf="flag">
  <div class="order-entry-container">
    <div class="total-cart-item-container">
      <div class="total-cart-item position-relative float-right" (click)="toggle()">
        <ion-icon name="cart"></ion-icon>

        <span class="total-cout">{{this.globalObjects.summaryCartdeatail.length}}</span>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div>
      <div *ngFor="let tablerows of frame.tableRows; let h = index">
        <div class="order-entry position-relative">
          <!-- <ion-icon name="cart" class="position-absolute cart-btn" *ngIf="parent_cartItemIndex.indexOf(h) <  0 "
            (click)="addtoCart(h)"></ion-icon>
          <ion-icon name="trash" class="position-absolute cart-btn" *ngIf="parent_cartItemIndex.indexOf(h)  > -1"
            (click)="deleteCart(h)"></ion-icon> -->
          <div class="order-entry-header">
          
            <h4 class="card-header text-primary">{{tablerows.parentName}}</h4>
          </div>
          <div class="card-body">
            <ion-row justify-content-start align-items-center>
             <ion-col size="3" class="p-0" className="ion-align-items-center">
              <div class="order-image">
                <app-items [item]="ItemimageMap[h]" class="proper-image"> </app-items>
              </div> 
              </ion-col>
              <ion-col size="9" class="p-0">
                 
                <div class="table-responsive right-table">
                  <table class="entry-table">
                    <thead>
                      <tr>
                        <ng-container *ngFor="let th of thead; let i = index">
                          <th [ngStyle]="th.column_width">{{th.prompt_name}}</th>
                          <!-- <th  [ngStyle]='{"width":"250px","min-width": "250px","max-width": "250px"}'>head 1</th>
                    <th  [ngStyle]='{"width":"100px","min-width": "100px","max-width": "100px"}'>head 2</th>
                    <th  [ngStyle]='{"width":"100px","min-width": "100px","max-width": "100px"}'>head 3</th> -->
                        </ng-container>
                      </tr>
                    </thead>
                    <tbody >
                      <tr *ngFor="let tableData of tablerows.items |tableSearch :searchText;let rowindex=index">
                        <ng-container *ngFor="let itemGroup of tableData;">
                          <td *ngFor="let input_item of itemGroup.Level5; let i = index"
                            [hidden]="(current_page_parameter.MODE && !(input_item.item_visible_flag && (input_item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||input_item.item_visible_flag=='F'">
                            <!-- <app-items *ngIf="input_item.item_type !='DISPLAY_PHOTO'" [item]="input_item"
                          [frame_type]="frame.apps_frame_type"   (emitPass)="itemClicked($event,rowindex)" (LHSOnChange)="itemValueChange($event,rowindex)">
                        </app-items> -->
                            <!-- {{input_item.value}} -->


                            <ng-container [ngSwitch]="input_item.item_type">

                              <div *ngSwitchCase="'LBL'">
                                <!--  <app-label [labelInput]="input_item"  (emitPass)="itemValueChange($event,rowindex,h)" ></app-label> -->
                                <ion-label [ngStyle]="input_item.displysettingstr" class="input-label">
                                  {{input_item.value}}</ion-label>

                              </div>
                              <div *ngSwitchCase="'N'">
                                <!-- <app-number-input [frame_type]="frame.apps_frame_type" [numberinput]="input_item"
                              (emitOnChange)="itemValueChange($event,rowindex,h)"></app-number-input> -->
                                <div class="table-input-container">
                                 <!--  <input class="table-input text-right" type="number" /> -->
                                    
                                    <div class="add-btn-section">
 
                                      <ion-button *ngIf ="input_item.addBtn" size="small"  class="addbtn" fill="outline" (click) ="showBtn(input_item, h)">Add</ion-button>
                                      <div class="input-group" *ngIf = "!input_item.addBtn">
                                        <div class="input-group-append">
                                          <button class="border-bottom-lov-btn" (click)="decreaseVal(input_item,rowindex,h)" ion-button icon-only small>
                                            <ion-icon name="remove"></ion-icon>
                                          </button>
                    
                                        </div>

                                        <input type="number"  class="addbtn text-right" [(ngModel)]="input_item.value"
                                        [ngStyle]="input_item.displysettingstr"
                                        (blur)="itemValueChange(input_item,rowindex,h)">
                                       
                    
                                        <div class="input-group-append">
                                          <button class="border-bottom-lov-btn" (click)="increaseVal(input_item,rowindex,h)" ion-button icon-only small>
                                            <ion-icon name="add" ></ion-icon>
                                          </button>
                                        </div>
                                      </div>
                                      
                                    </div>
                                </div>
                              </div>

                              <div *ngSwitchCase="'T'">
                                <!-- <app-text-input [textinput]="input_item" [frame_type]="frame.apps_frame_type"
                              (emitOnChange)="itemValueChange($event,rowindex,h)">
                            </app-text-input> -->
                                <div class="table-input-container">
                                  <input class="table-input" type="text" [(ngModel)]="input_item.value"
                                    [ngStyle]="input_item.displysettingstr"
                                    (change)="itemValueChange(input_item,rowindex,h)" />
                                </div>
                              </div>
                            </ng-container>

                          </td>
                        </ng-container>

                      </tr>
                    </tbody>

                  </table>
                </div>

              </ion-col>
            </ion-row>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Skeleton screen -->
<!-- 
  <div class="center" *ngIf ="loading">
    <div class="text-center">
      <img src="../../../../assets/dot.gif" width="20%">
    </div>
  </div> -->

</div>