<ion-row *ngIf="frame.apps_page_frame_name" class="align-center">
  <ion-col col-12>
    <h1 class="frame-name position-relative">{{frame.apps_page_frame_name}}<span style="margin-left: 10px;"
        *ngIf="globalObjects.toggleDevloperMode">[{{frame.apps_page_frame_seqid}}]<ion-icon class="code-btn"
          color="primary" name="information-circle-outline" *ngIf="developerModeData" (click)="showDeveloperData()">
        </ion-icon></span></h1>
  </ion-col>
</ion-row>
<ion-segment class="tab-container" scrollable>
  <div *ngFor="let item of object_mast.Level2;let i = index">
    <ng-container *ngIf="flagforloader">
      <div *ngIf="i === 0">
        <ion-segment-button (click)="selectTab(i)" checked> {{item.apps_page_name}}</ion-segment-button>
      </div>
      <div checked *ngIf="i!=0">
        <ion-segment-button (click)="selectTab(i)"> {{item.apps_page_name}}</ion-segment-button>
      </div>
    </ng-container>
  </div>
</ion-segment>

<!--<ion-content>
   <div class="card-container multilevel-tab-card">
    <div *ngIf="l_approvalDetails.length>0">
      <div *ngFor="let Level2 of object_mast.Level2;  let j = index" [hidden]="id!=j">
        <div *ngFor="let pagedetails of l_approvalDetails[j].pageDetails">
          <ion-card *ngFor="let Level3 of Level2.Level3;">
            <ng-container *ngFor="let Level4 of Level3.Level4">
              <ng-container *ngFor="let item of Level4.Level5; let z = index;">
                <ion-item *ngIf="item.item_visible_flag!='F'">
                  <ion-label class="label-name" [ngStyle]="getParsedJson(item.display_setting_str)">{{item.prompt_name}} </ion-label>
                  <ion-label (click)="callObject(item, pagedetails[item.item_name])" class="label label-value" [ngStyle]="getParsedJson(item.display_setting_str)">: {{pagedetails[item.item_name]}}</ion-label>
                </ion-item>
              </ng-container>
            </ng-container>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content> -->
<div *ngIf="frame.frame_type !='STRING'">

  <!-- <div *ngFor="let rows of frame.tableRows | tableSearch :tablerowsfilter;let j=index;">
     <div class="approval-card-container">
    <ion-row *ngFor="let itemGroup of rows; let i=index" class="p-0">
      <ion-col class="p-0" *ngFor="let input_item of itemGroup.Level5;let i=index"
        [hidden]="input_item.item_visible_flag!='T'">
        <div *ngIf="input_item.item_type!='CARD_TITLE' && input_item.item_type!='BT'"> -->

  <div *ngFor="let framedata of tableRows;let rowindex =index">
    <div class="approval-card-container">
      <ion-row *ngFor="let itemGroup of framedata">
        <ion-col class="p-0" *ngFor="let item of itemGroup.Level5" size="12" [hidden]="item.item_visible_flag!='T'">
          <app-items class="p-0" [item]="item" [wscp]="wscp" [frame_type]="frame.apps_frame_type"
            (emitPass)="itemClicked($event,j)" (LHSOnChange)="itemValueChange($event,j)"></app-items>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>

<div class="approval-card-container" *ngIf="frame.frame_type=='STRING'">
  <div *ngFor="let framedata of tableRows;let rowindex =index">
    <ion-row>
      <ion-col class="p-0" *ngFor="let item of framedata.Level5" size="12" [hidden]="item.item_visible_flag!='T'">
        <app-items [frame_type]="frame.frame_type" [item]="item" (emitPass)="itemClicked($event,rowindex)"></app-items>
      </ion-col>
    </ion-row>
  </div>
</div>

<div class="center" *ngIf="!flagforloader">

  <div class="text-center">
    <img src="../../../assets/dot.gif" width="20%">
  </div>

</div>
<ng-container *ngIf="flagforloader">
  <ion-footer *ngIf="footer.length > 0">
    <ng-container *ngFor="let footData of footer;let rowindex =index">
      <ion-row *ngFor="let framedata of footData.Level4">
        <ion-col col-12 text-center *ngFor="let item of framedata.Level5">
          <app-frame-footer [frame_type]="frame.frame_type" [item]="item" [wscp]="wscp" [frame]="frame"
            (emitPass)="itemClicked($event,rowindex)"></app-frame-footer>
          <!--  <ion-button shape="round" class="mr-1 globe-btn" color="primary" (click)="get_remark('Approve','A')">Approved
      </ion-button>
      <ion-button shape="round" color="medium globe-btn" (click)="get_remark('Reject','R')">Reject</ion-button> -->

        </ion-col>
      </ion-row>
    </ng-container>
  </ion-footer>
</ng-container>


<!-- <div class="center" *ngIf="listLength==0">
  <div class="text-center" *ngIf="noRecordMessage == ''">
    <img src="../../../../assets/dot.gif" width="20%">
  </div>
  <div class="text-center" *ngIf="noRecordMessage != ''">
    <h2>{{noRecordMessage}}</h2>
  </div>
</div> -->