<!-- <ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->
  <ion-content class="login-ion-content page-login bg-shrink">
    <div class="shrinkMyscreen">
    <ion-grid class="login-outer-padding">
      <ion-row class="login-outer-padding">
        <ion-col col-12 class=" login-outer-padding">

          <div class="login-outer" [style.height]="shouldHeight">
            <ion-grid style="height: 25%;">
              <ion-row>
                <ion-col size="6"  class="primaryTextColor ion-padding cfl-logo" *ngIf="logoentity=='CF';else lhslogo">
                  <!-- <img class="lhs-logo" src="assets/imgs/cfl-logo.png"> -->
                </ion-col>
                <ion-col size="6"  class="text-center ion-padding">
                  <h4 class="d-inline-block login">Login</h4>
                </ion-col>
                <ng-template #lhslogo>
                  <ion-col size="6"  class="primaryTextColor ion-padding">
                    <!-- <img class="lhs-logo" src="assets/imgs/lhs-logo.png"> -->
                  </ion-col>
                  <ion-col size="6" class="ion-padding" style="display:none;">
                    <h4 class="login">Login</h4>
                  </ion-col>
                </ng-template>

              </ion-row>
              <ion-row>
                <ion-col col-sm-8 class="ion-padding  text-center">
                  <div class="logo-cont">
                  <div class="appkey-logo">
                    <!-- <img class="lhs-logo" src="assets/imgs/logo-n.png" (error)="onImgError($event)"> -->
                    <img class="lhs-logo" [src]="'data:image/png;base64,' + globalObjects.applogo" (error)="onImgError($event)">
                  </div>
                </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="login-form-container">
            <form class="loginForm" #form="ngForm" focusDir>

              <ion-list style="background: transparent;">

                <ion-item>
                  <ion-icon name="ios-person" item-start></ion-icon>
                  <ion-input type="text" autocomplete='on' placeholder="Username"
                    [(ngModel)]="loginCredentials.user_code" name="userCode" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="ios-lock" item-start></ion-icon>
                  <ion-input type="{{inputType}}" autocomplete="on" placeholder="Password"
                    [(ngModel)]="loginCredentials.password" name="username" required (keyup)="proceed($event)"></ion-input>
                  <ion-icon name="{{iconName}}" item-end (click)="hideShowPassword()"></ion-icon>
                </ion-item>
              </ion-list>


              
              <div class="login-btn-wrap text-center">
                <ion-button icon-only round color="primary" expand="block" class="button-round button-round-md"
                  slot="center" [disabled]="(!form.valid) || isProcessing" (click)="doLogin()">
                  Login Now
                </ion-button>
              </div>
              <div class="border-0 forgot-link">
                <a class="grey-text" (click)="forgotPassword()" >Forgot Password?</a>
              </div>

              <!-- <div class="border-0 forgot-link">
                <a class="grey-text" (click)="onShow()" >New customer registration</a>
              </div> -->
              <div class="border-0 forgot-link" >
                <a class="grey-text" (click)="openWebapp()" >Open webapp in browser</a>
              </div>
              <!-- <div class="social-media-login text-center mt-3">
                 <p>Or Login With </p>
                 <img  (click)="googleLogin();"  class="mr-3" src="./assets/imgs/search.png">
                 <img src="./assets/imgs/facebook.png">
              </div> -->
              <!-- <div *ngIf="upd_flag == 'NOT_UPDATED'" class="login-btn-wrap"> -->
                <!-- <ion-buttons>
                  <button ion-button icon-only round class="login-btn"  routerLink="/update-app" routerDirection="root">
                    Update App
                  </button>
                </ion-buttons> -->
              <!-- </div> -->
             
              <div>
        
              </div>
            </form>
          </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-icon class="setting-icon" name="key" (click)="changeSetting()" ></ion-icon>
    </div>
  </ion-content>


