.left-fixed-table{
  th{
    .th-inner{
        width:100px;
        text-overflow:ellipsis;
        overflow: hidden;
        white-space:nowrap;
    }
  }
  td,th{
   height:32px;
   white-space:nowrap;
   padding: 5px 10px;
  }
}
.table-fix-container{
.table-fix-head,
.table-fix-body,
.table-fix-footer{
  overflow:auto;
}
.table-fix-footer{
  margin-top: -1px;
}
}
.code-btn{
font-size: 25px;
vertical-align: middle;
cursor: pointer;
}
.right-fixed-table{
tbody tr td{
background: #fff;
}
}
.left-table{
thead tr td{
color: #fff;
font-size: 12px;
}
}
.left-table thead tr td , .right-fixed-table tbody tr td{
height: 32px !important;
min-height: 32px !important;
padding: 5px 10px;
}



///scroll table
.view {
margin: auto;
width: 600px;
}

.wrapper {
position: relative;
overflow: auto;
border: 1px solid black;
white-space: nowrap;
}

.sticky-col {
position: -webkit-sticky;
position: sticky;
background-color: white;
z-index: 9999;
}

:host{
ion-toggle{
padding: 0;
}
ion-item{
--min-height: 30px;
--background: none;
padding: 0;
}
}
.pagination-container .paginator li{
position: relative;
}

.dropdownShare {
position: absolute;
overflow: auto;
z-index: 999999999999;
bottom: 34px;
left: 24px;
.inner-dropShare{
padding: 8px;
width: 50px;
height: 50px;
background: #a4a6a8;
border-radius: 40px;
text-align: center;
box-shadow: 1px 2px 10px #ccc;
margin-bottom: 10px;
img{
  width: 24px;
}
}
}

.icon-btn {
margin-top:0;
margin-bottom:0;
}

.control-break-top{
background: #575c63 !important
}
.table-inner tbody{
width: 100%;
display: inline-table;
}



// .example-box {

//   color: white;
//   align-items: center;
//   justify-content: space-between;
//   box-sizing: border-box;
//   cursor: move;
//   background: #5e656d;
//   font-size: 14px;
// }

.dragHead{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
}

.cdk-drag-preview {
padding-top: 10px;
box-sizing: border-box;
border-radius: 4px;
background: #5e656d;
color: white;
font-size: 14px;
text-align: center;
justify-content: space-between;
box-sizing: border-box;
box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
opacity: 0;
}

.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.groupBy_table{
.top-headth1{
padding: 5px;
font-size: 14px;
}
}
.py-0{
padding-bottom: 0 !important;
padding-top: 0  !important;
padding-right: 0  !important;
padding-left: 0  !important;
}
.blink_text {
animation-name: blinker;
animation-duration: 1s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

@keyframes blinker {  
0% { opacity: 1.0; }
50% { opacity: 0.0; }
100% { opacity: 1.0; }
}
button:focus {
outline: none;
outline: none
}

@media print {
* {
display: none;
}
#tab {
display: block;
}
}

