<ion-row class="align-center" *ngIf="!globalObjects.toggleDevloperMode">
  <ion-col col-12 style="padding-left:0">
    <h1 class="item-seperator position-relative">
      <ng-container *ngIf="separator.prompt_name">
        {{separator.prompt_name}}
      </ng-container>
    </h1>
    <!-- <h2 class="divider line one-line" color="primary" contenteditable>{{separatorEvent.prompt_name}}</h2> -->
  </ion-col>
</ion-row>


<ion-row class="align-center" *ngIf="globalObjects.toggleDevloperMode" >
  <ion-col col-12 style="padding-left:0">
    <h1 class="item-seperator item-sep position-relative">
      <ng-container *ngIf="separator.prompt_name">
        {{separator.prompt_name}}
      </ng-container>
    </h1>
    <!-- <h2 class="divider line one-line" color="primary" contenteditable>{{separatorEvent.prompt_name}}</h2> -->
  </ion-col>
</ion-row>

