// Base Divider class
h2{
  margin:0;
  font-size:13px;
  color:#00afad;
}
.divider {
  display: flex;
  
  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

// Base line
.line {
  align-items: center;
  margin: 1em -1em;
  
  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}


  .one-line {
    &:before,
    &:after {
     border:1px dotted #000
    }
  }
  .item-seperator{
    margin: 0px;
    font-size: 15px;
    padding: 2px 5px 2px 10px;
    
  }
  .item-seperator::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    left: 0px;
    top: 0px;
}

.item-sep::after{
content: "";
position: absolute;
width: 10%;
height: 3px;
right: 0px;
top: 0px;
}