<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header clear">
        <ion-icon name="close" (click)="closeModal()" class="close"></ion-icon>
    </div>
    <div class="modal-body clear">
      <img src="../../../assets/tenor.gif/" width="30%">
      <h2>One Word Domains is a Golden Kitty 2021 nominee<br>
        <ion-button>Process</ion-button></h2> 
      <p>Your support will help us grow and provide a better service 😇</p>
    </div>
  </div>
</div>