
  <div class="timeline-card">
    <!-- <div class="timline-card-legends">
       <label><span class="order-legend"></span>Order</label>
       <label><span class="planning-legend"></span>Planing</label>
       <label><span class="dispatch-legend"></span>Dispatch</label>

    </div> -->
   
    <div *ngFor="let rows of frame.tableRows |tableSearch :tablerowsfilter;let j=index;">
    <ul class="card-container">
     

      <li [class]="frame.css_class_frame">
        <div class="timeline-icon"></div>
        <div class="timeline-label">
          <div class="header">

              <ion-row *ngFor="let itemGroup of rows; let i=index" class="p-0">
                  <ion-col class="p-0" *ngFor="let input_item of itemGroup.Level5;let i=index"
                    [hidden]="input_item.item_visible_flag!='T'" col-12>
                    <div *ngIf="input_item.item_type =='CARD_TITLE'">
                        <h2><app-items class="p-0" [item]="input_item" (emitPass)="itemClicked($event,j)"></app-items></h2>
                    </div>
                  </ion-col>
              </ion-row>

          <!-- <h2>Date : {{thead[j]}}</h2> -->
          </div>
        <div class="card-body">
          <ion-row *ngFor="let itemGroup of rows; let i=index" class="p-0">
            <ion-col class="p-0" *ngFor="let input_item of itemGroup.Level5;let i=index"
              [hidden]="input_item.item_visible_flag!='T'">
              <div *ngIf="input_item.item_type !='CARD_TITLE'">
                  <app-items class="p-0" [item]="input_item" (emitPass)="itemClicked($event,j)"></app-items>
              </div>
            </ion-col>
          </ion-row>
        </div>
        </div>
      </li>
    
    
      




      <!-- <li class="timeline-card-blue">
        <li class="timeline-card-blue">
        <div class="timeline-icon  order"></div>
        <div class="timeline-label order-card">
          <div class="order-header">
          <h2>Date : 15-march 2020</h2>
        </div>
        <div class="card-body">
          <p>Order No: FAY-190</p>
          <p>Quantity: 20MT</p>
        </div>
        </div>
      </li>
    
    
      <li class="timeline-card-orange">
      
        <div class="timeline-icon  planning"></div>
        <div class="timeline-label planning-card">
            <div class="planning-header">
          <h2>Date : 15-march 2020</h2>
        </div>
        <div class="card-body">
          <p>Order No: FAY-190</p>
          <p>Quantity: 20MT</p>
        </div>
        </div>
      </li>
      <li class="timeline-card-green">
  
        <div class="timeline-icon  dispatch"></div>
        <div class="timeline-label dispatch-card">
            <div class="dispatch-header">
          <h2>Date : 15-march 2020</h2>
          </div>
          <div class="card-body">
          <p>Order No: FAY-190</p>
          <p>Quantity: 20MT</p>
        </div>
        </div>
      </li> -->

    </ul>
  </div>
  </div>
