<div class="h-100">
  <div *ngIf="dKpi" class='twod-kpi h-100 {{dKpi.css_class | lowercase}}' (click)="itemClick($event)">
    <div class="kpi-header">
      {{dKpi.value[0]}}
    </div>
    <div class="kpi-body">
      <ion-row>
        <ng-container >
          <ion-col size="12">
            {{dKpi.value[1]}}
          </ion-col>
        </ng-container>
<!-- 
        <ng-container *ngIf = "dKpi.value.length >= 3">
          <ion-col class="col" size="6">
            {{dKpi.value[1]}}
          </ion-col>
          <ion-col class="col" size="6">
            {{dKpi.value[2]}}
          </ion-col>
        </ng-container> -->
      </ion-row>
    </div>
    <div>
      <p>{{dKpi.value[2]}}</p>
    </div>
  </div>
</div>