.parent-name-container {

  ion-button {
      border: none;
      cursor: pointer;
      width: 230px;
    }
    
    .dropbtn:hover, .dropbtn:focus {
      background-color: #3e8e41;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
      width: 100%;
   
    }
    
    .dropdown-content {
      background-color: #cecbcb;
      min-width: 100%;
      width: 100%;
      overflow: hidden;
      box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 20%);
      z-index: 999999999;
      position: relative;
      .inner-div {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
      &::after{
        position: absolute;
        content: "";
        width: 300px;
        height: 300px;
        background: #cecbcb;
        top: 0;
        right: -124px;
        border-radius: 50%;
        box-shadow: -4px -1px 10px #c3c3c3, 1px -1px 10px #929292;
        z-index: -1;
      }
      &::before{
        position: absolute;
        content: "";
        width: 300px;
        height: 300px;
        background: #cecbcb;
        top: -198px;
        left: 0;
        border-radius: 50%;
        z-index: -1;
        box-shadow: -4px -1px 10px #adadad, 1px -1px 10px #c1c1c1;
      }
  
    }
    
    .dropdown-content a {
      color: #000000;
      padding: 7px 16px;
      text-decoration: none;
      border-bottom: 1px solid #b7b3b3a8;
      font-size: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    .inner-icon{
      display: inline-block;
      margin-right: 3px;
      font-weight: 600;
    }
    .dropdown a:hover {
        background-color: #737171;
        padding-left: 10px;
       
        .inner-icon{
          display: block;
          float: left;
          margin-top: 3px;
          font-size: 15px;
          margin-right: 6px;
          
              }
      }
  
      
    
  }