.smart-filter-section {
    .inactive {

        border: 1px solid #4d5154;

        .class1 {
            color: #4d5154;
        }
    }

    .active {
        background-color: rgb(224 232 243 / 29%);
        border: 1px dashed #1d528f;
        padding: 0 4px;
        font-size: 12px;

        .class1 {
            color: #ffff;
        }
    }
}

.smart-filter-section1 {

    .class1 {

        background: #4990e2;

        ion-label {
            color: #ffffff;
        }
    }

    .class2 {
        color: #4d5154;
        background: #fff;
    }
}

ion-chip {
    ion-label {
        font-size: 11px !important;
        margin: 0 !important;
    }
}