.profile-info-container{
    .profile-card {
        box-shadow: 1px 2px 10px #ccc;
        border-radius: 10px;
        margin-bottom: 10px;
        border: 2px solid #ddd;
        .card-header {
            padding: 0px;
            border-radius:10px 10px 0px 0px ;
            border-bottom:1px solid #ddd; 
            .profile-pic {
                width: 100%;
                height: 100%;
                text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 75px;
            height: 75px;
            border-radius: 50%;
        border: 1px solid #ccc;
        }
            }
            .info {
                border-radius: 10px;
                p{
                    margin-bottom: 5px;
                    margin-top: 0;
                    span {
                        font-weight: 600;
                    }
                }
            }
        }
        .card-footer    
        {
            .count{
                text-align: center;
            }
        }
    }
    }