<ion-view cache-view="false" view-title="Setting">


    <ion-header-bar class="bar bar-header  App-header">
        <button ng-click="backNavigate()" class="button button-icon icon icon-left ion-ios-arrow-left back-btn"></button>
        <div class="h1 title">Location Tracking</div>
        <button ng-if="flagForEntryListButton == 'V#'" class="button button-icon icon icon-right ion-ios-paper-outline" ng-click="entryList()"></button>
    </ion-header-bar>
    <ion-content class="has-header" on-swipe-right="backNavigate()">
        <form name="frm">
            <div class="Career-details">
                <div class="responsive-table">
                    <table class="table" style="border: 1px solid black;">
                        <thead>
                            <tr>
                                <th class="borders" ng-repeat="data1 in fieldsTH">
                                    <b style="font-size: 15px;">{{data1}}</b>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in rowsOfPopulateData track by $index">
                                <td ng-repeat="item in list track by $index" class="borders" ng-show="item.entry_by_user == 'T' || item.entry_by_user == 'R'">

                                    <div ng-switch="item.item_help_property">

                                        <div ng-switch-when="BT" ng-hide="item.entry_by_user == 'F'">
                                            <button ng-show="item.status == ''" class=" button button-block button-small" ng-disabled=" item.entry_by_user == 'R'" ng-click="saveLocation(item.column_name, $parent.$parent.$index, list)">
                                                {{item.value}}
                                            </button>
                                            <button ng-show="item.status == 'Checked'" class=" button button-block button-energized  button-small" ng-disabled=" item.entry_by_user == 'R'" ng-click="saveLocation(item.column_name, $parent.$parent.$index, list)">
                                                {{item.value}}
                                            </button>
                                            <button ng-show="item.status == 'uploaded'" class=" button button-block button-balanced button-small" ng-disabled=" item.entry_by_user == 'R'" ng-click="saveLocation(item.column_name, $parent.$parent.$index, list)">
                                                {{item.value}}
                                            </button>
                                        </div>

                                        <div ng-switch-when="I" ng-hide="item.entry_by_user == 'F'">
                                            <fieldset ng-click="takeImage(item.column_name, $parent.$parent.$index)" ng-disabled="item.excel_upload == 1 || item.entry_by_user == 'R'">
                                                <img ng-show='item.value' width="50px" height="50px" id="{{item.column_name}}" ng-src="data:image/jpeg;base64,{{item.value}}" required alt="">
                                                <img ng-show='!item.value' width="50px" height="50px" ng-src="img/default_cam.gif" required alt="">
                                            </fieldset>
                                        </div>




                                        <div ng-switch-when="L " ng-hide="item.entry_by_user == 'F'">
                                            <input type="text " id="{{item.column_name}} " ng-change="dependent_nullable_logic(item.value, item.column_name)" ng-model="item.value" placeholder="{{item.tool_tip}} " ng-click="openLov(item.column_desc, item.column_name, item.dependent_row, item.dependent_row_logic,
                                                        item.item_help_property)" ng-readonly="true" ng-required="item.nullable=='F' " disable="true ">
                                        </div>

                                        <div ng-switch-when="R " ng-hide="item.entry_by_user == 'F'">
                                            <div ng-repeat="choice in item.choices">
                                                <input type="radio " id="{{item.column_name}} " ng-change="dependent_nullable_logic(item.value, item.column_name)" name="single-{{ field.id}} " id="single-{{ choice.id}} " data-ng-model="choice.selected
                                                       " data-ng-value="true " ng-change='updateRadioChoices(field, choice)' ng-required="item.nullable=='F' " />
                                                <label for="single-{{ choice.id}} ">{{ choice.name}}</label>
                                            </div>
                                        </div>
                                        <div ng-switch-when="T " ng-hide="item.entry_by_user == 'F'">
                                            <input type="text " id="{{item.column_name}} " ng-change="dependent_nullable_logic(item.value, item.column_name)" name="{{item.column_name}}{{$index}} " placeholder="{{item.tool_tip}} " ng-model="item.value
                                                   " ng-readonly="item.entry_by_user == 'R'" ng-required="item.nullable=='F' " ng-maxlength="item.column_size " style="font-weight: bold; " ng-if="item.heading_flag == 'T'">
                                            <input type="text " id="{{item.column_name}} " ng-change="dependent_nullable_logic(item.value, item.column_name)" name="{{item.column_name}}{{$index}} " placeholder="{{item.tool_tip}} " ng-model="item.value
                                                   " ng-readonly="item.entry_by_user == 'R'" ng-required="item.nullable=='F' " ng-maxlength="item.column_size " ng-if="item.heading_flag == 'F'">
                                        </div>

                                        <div ng-switch-when="A " ng-hide="item.entry_by_user == 'F'">
                                            <span class="input-label add-new-entry-label "> &nbsp; 
                                                <i class="icon ion-edit " 
                                                   ng-click="textAreaPopOver($event, item.column_name, item.value)"></i>
                                            </span>
                                            <textarea class="remark-textarea " id="{{item.column_name}} " ng-change="dependent_nullable_logic(item.value, item.column_name)" ng-model="item.value" ng-readonly="item.entry_by_user == 'R'" name="{{item.column_name}}{{$index}}
                                                      " ng-required="item.nullable=='F' " ng-maxlength="item.column_size " placeholder="{{item.tool_tip}} ">
                                            </textarea>
                                        </div>
                                        <div ng-switch-when="C " ng-hide="item.entry_by_user == 'F'">
                                            <div class="item item-icon-left " id="{{item.column_name}} " ion-datetime-picker date ng-model="item.value" ng-disabled="item.entry_by_user == 'R'" ng-required="item.nullable=='F' " name="{{item.column_name}}{{$index}}
                                                 " only-valid="{ 'before': 'today', 'inclusive': true} ">
                                                <i class="icon ion-ios-calendar positive ">&nbsp;&nbsp;<p>{{item.value| date: "dd-MM-yyyy "}}</p>
                                                    <p ng-show="frm.{{item.column_name}}{{$index}}.$error.required ">{{item.tool_tip}}<p></i>
                                            </div>
                                        </div>
                                        <div ng-switch-when="DT " ng-hide="item.entry_by_user == 'F'">
                                            <div class="item item-icon-left " id="{{item.column_name}} " ion-datetime-picker date time ng-model="item.value" ng-disabled="item.entry_by_user == 'R'" ng-required="item.nullable=='F' " name="{{item.column_name}}{{$index}}
                                                 " only-valid="{ 'before': 'today', 'inclusive': true} ">
                                                <i class="icon ion-ios-calendar positive ">&nbsp;&nbsp;<p>{{item.value| date: "dd-MM-yyyy hh:mm:ss "}}</p>
                                                    <p ng-show="frm.{{item.column_name}}{{$index}}.$error.required ">{{item.tool_tip}}<p></i>
                                            </div>
                                        </div>
                                        <div ng-switch-when="N " ng-hide="item.entry_by_user == 'F'">

                                            <input type="tel " ng-readonly="item.entry_by_user == 'R'" valid-number id="{{item.column_name}} " name="{{item.column_name}}{{$index}} " placeholder="{{item.tool_tip}} " ng-model="item.value
                                                   " ng-required="item.nullable=='F' " ng-maxlength="item.column_size " ng-change="autoCalculation(item.auto_calculation, item.equationOP)" ng-min="item.from_value " ng-max="item.to_value ">


                                        </div>
                                        <div ng-switch-when="E " ng-hide="item.entry_by_user == 'F'">


                                            <input type="email " ng-readonly="item.entry_by_user == 'R'" validate-email id="{{item.column_name}} " ng-change="dependent_nullable_logic(item.value, item.column_name)" name="{{item.column_name}}{{$index}}
                                                   " placeholder="{{item.tool_tip}} " ng-model="item.value" ng-required="item.nullable=='F' " ng-maxlength="item.to_value " ng-minlength="item.from_value ">


                                        </div>
                                        <div ng-switch-when="H " ng-hide="item.entry_by_user == 'F'">

                                            <div class="col Dispenser-Entry-container ">
                                                <select ng-model="item.value" ng-disabled="item.entry_by_user == 'R'" id="{{item.column_name}} " ng-change="dependent_nullable_logic(item.value, item.column_name)" class="Dispenser-Entry-container-dropdown
                                                        " ng-required="item.nullable=='F' " style="width:100%; ">
                                                    <option ng-repeat="option in item.dropdownVal track by $index " value="{{option.code}} ">{{option.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div ng-switch-when="D " ng-hide="item.entry_by_user == 'F'">

                                            <div class="col Dispenser-Entry-container ">
                                                <select ng-model="item.value" ng-disabled="item.entry_by_user == 'R'" id="{{item.column_name}} " class="Dispenser-Entry-container-dropdown " ng-required="item.nullable=='F' " style="width:100%; ">
                                                    <option ng-repeat="option in item.dropdownVal track by $index "  value="{{option}} ">{{option}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div ng-switch-when="DD " ng-hide="item.entry_by_user == 'F'">

                                            <div class="item " style="padding: 6px; ">
                                                <input type="text " ng-model="item.value" id="{{item.column_name}} " ng-required="item.nullable=='F' " list="list " style="width:90%; ">
                                            </div>
                                            <datalist id="list ">
                                                <option data-ng-repeat="data in item.column_default_value" value="{{ data}} " >
                                            </datalist>

                                        </div>
                                    </div>
                                </td>

                                <td ng-show="uploadEntryStatus[$index]">
                                    <button class=" button button-icon icon icon-right ion-ios-upload " ng-disabled="uploadEntryStatus[$index] == 'F'" ng-click="uploadEntry($index, list)">             
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row ">
                    <div class="col ">
                        <button class="button button-assertive button-block cancel-btn " ng-click="cancelAddUpdateEntry()" type="button ">Cancel</button>
                    </div>
                    <div class="col ">
                        <button class="button button-balanced button-block Save-btn " type="submit " value="Upload " name="upload " id="upload " ng-disabled="frm.$invalid" ng-click="save(rowsOfPopulateData)">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>