<ion-view cache-view="false" view-title="Entry List">

    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="archievedEntriesModal.hide();"></button>
        <div class="h1 title">Recovered Notifications</div>
        <button class="button button-icon icon icon-right ion-android-checkbox-outline" ng-click="recoverdSelectedItems($index)"></button>
    </ion-header-bar>

    <ion-content class="promo_code_container" on-swipe-right="archievedEntriesModal.hide()">

        <div class="entry-list-wrapper notification-list item-checkbox-right checkbox-balanced" ng-repeat="item in arhieveList track by $index">

            <div class="list card notification-container" ng-class="{'notification-container_select' : item.toggled, 'notification-container' : !item.toggled}" ng-if="selectDiv == 1">
                <ion-checkbox ng-checked="item.checked" ng-click="(item.toggled = !item.toggled);selectItems(item)">
                    <div class="row">
                        <h5>
                            <b>Date</b> :
                            <span class="span_size">
                                {{item.col6}}
                            </span>
                        </h5>
                    </div>
                    <div class="row">
                        <h5>
                            <b>Note</b> :
                            <span class="span_size">
                                {{item.col5}}
                            </span>
                        </h5>
                    </div>
                    <div class="row">
                        <h5>
                            <b>Created By</b> :
                            <span class="span_size">
                                {{ item.col9}}
                            </span>
                        </h5>
                    </div>

                </ion-checkbox>
            </div>

            <div class="list card notification-container" on-hold="(item.toggled=!item.toggled);(item.checked=true);selectDivValue(item);selectItems(item)" ng-if="selectDiv == 0">
                <div class="row">
                    <h5>
                        <b>Date</b> :
                        <span>
                            {{item.col6}}
                        </span>
                    </h5>
                </div>
                <div class="row">
                    <h5>
                        <b>Note</b> :
                        <span>
                            {{item.col5}}
                        </span>
                    </h5>
                </div>
                <div class="row">
                    <h5>
                        <b>Created By</b> :
                        <span>
                            {{ item.col9}}
                        </span>
                    </h5>
                </div>


            </div>
        </div>

    </ion-content>

</ion-view>

</script>