<ion-view>

    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="backNavigate()"></button>
        <div class="h1 title">Forgot Password</div>
        <button ng-disabled="true" class="button button-icon icon icon-right ion-ios-unlocked-outline back-btn"></button>
    </ion-header-bar>

    <ion-content class="has-header forgot-pas-outer" on-swipe-right="backNavigate()">
        <div class="register-outer-container forgot-pas">
            <form role="form" ng-submit="checkMailForResetKey(forgetPassword.emailid)" name="pwdResetForm">
                <div class="list">
                    <div class="row">
                        <label class="forgot-pas-label"><a>Enter your email address to get a key for reseting your password.</a></label>
                    </div>

                    <label class="item item-input" ng-class="{ 'has-error' : pwdResetForm.email.$invalid && !pwdResetForm.email.$pristine }">
                        <input type="email" name="email" ng-model="forgetPassword.emailid" placeholder="Enter Email Address" validate-email  required >
                    </label>
                    <p ng-show="pwdResetForm.email.$invalid && !pwdResetForm.email.$pristine" class="help-block" style="text-align:left; color:#DC890A">Provide valid email ID...</p>
                </div>

                <div class="row">
                    <button class="button button-full icon-left ion-ios-loop-strong button-energized " ng-disabled="pwdResetForm.$invalid">
                        Reset Password
                    </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>


<!-- <ion-view>
    <ion-header-bar class="dashboard-head">
        <h1 class="title">Forgot Password</h1>
    </ion-header-bar>
    <ion-content>
        <div class="register-outer-container">
            <form role="form" ng-submit="checkMailForResetKey(emailid)"
                        name="pwdResetForm">
                <div class="list">
                    <div class="row">
                        <label>Enter your email address to get a key for reseting your password.</label>
                    </div>
                    <label class="item item-input"
                                        ng-class="{ 'has-error' : pwdResetForm.email.$invalid && !pwdResetForm.email.$pristine }">
                        <input type="email" placeholder="Enter Email Address"
                                                name="email"  ng-model="emailid" required>
                    </label>
                                        <p ng-show="pwdResetForm.email.$invalid && !pwdResetForm.email.$pristine" 
                                                                        class="help-block">Provide valid email ID...</p>
                </div>

                <div class="row">
                    <button class="button button-full icon-left ion-ios-loop-strong button-energized">
                                                Reset Password 
                                        </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view> -->