<!--changeSetting.html-->
<ion-view>
    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="backNavigate()"></button>
        <div class="h1 title">Track Location</div>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="row animated fadeInUp">
            <!--<div class="col" ng-init="lt.state='stop'">
                <button class="button button-balanced button-full button-small Save-btn " ng-click="lt.start();lt.state='start'" type="button" ng-disabled="lt.state=='start'">Start Tracking</button>
            </div>
            <div class="col">
                <button class="button button-assertive button-small button-full cancel-btn " ng-click="lt.stop();lt.state='stop'" ng-disabled="lt.state=='stop'">Stop Tracking</button>
            </div>-->

            <div class="col">
                <button class="button button-balanced button-full button-small Save-btn " ng-click="lt.start();" type="button" ng-disabled="lt.isStart">Start Tracking</button>
            </div>
            <div class="col">
                <button class="button button-assertive button-small button-full cancel-btn " ng-click="lt.stop();" ng-disabled="!lt.isStart">Stop Tracking</button>
            </div>
        </div>
    </ion-content>
</ion-view>