<ion-view hide-back-button="true">
    <ion-content class="wrapper">

        <div class="container">
            <div class="logo">
                <img src="/DynamicAppWSV4/static/img/LHS-Logo-white.png" class="img-responsive" alt="">
            </div>

            <form class="form" id="login-form" role="form" name="regForm" ng-submit="doLogin()">
                <div ng-class="{ 'has-error' : regForm.h_username.$invalid && !regForm.h_username.$pristine }">
                    <input type="text" placeholder="Username" ng-model="loginData_ng.username_ng" name="h_username" autofocus required>
                </div>
                <p class="login-validation help-block" ng-show="regForm.h_username.$invalid && !regForm.h_username.$pristine"  style="color:#DC890A">Please Enter Username...</p>
                <div ng-class="{ 'has-error' : regForm.h_password.$invalid &&
                            !regForm.h_password.$pristine }">
                    <input type="password" name="h_password" ng-model="loginData_ng.password_ng" placeholder="Password" autofocus required>
                </div>
                <p class="login-validation help-block" ng-show="regForm.h_password.$invalid && !regForm.h_password.$pristine" style="color:#DC890A">
                    Please Enter Password...
                </p>
                <div class="forgot-password" ng-click="changePassword()">
                    <p> Forgot Password ?</p>
                </div>
                <button type="submit" id="login-button" ng-disabled="regForm.$invalid || flagForDisableLoginButton == 1">
                    <a class="button button-icon icon ion-unlocked login-btn-icon"></a>Login</button>
                <!--<div>
                    <a class="button button-small icon-left ion-ios-gear button-assertive" ng-click="changeSetting()">Change Setting</a>
                </div>-->
            </form>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <a><i id="fixedbutton" class="icon icon-left ion-ios-gear" ng-click="pinAuthentication();" ></i></a>

        <!--<div class="bar bar-footer bar-balanced admin-setting" style="padding: 0px;">
            <button class=" button icon-left ion-ios-gear button-small  button-clear" ng-click="pinAuthentication()"></button>
        </div>-->
    </ion-content>
</ion-view>