<ion-view>

    <ion-header-bar class="bar bar-header  App-header">
        <button ng-click="passwordResetModal.hide()" class="button button-icon icon icon-left ion-ios-arrow-left back-btn"></button>
        <div class="h1 title">Reset Password</div>
        <button ng-disabled="true" class="button button-icon icon icon-right ion-ios-unlocked-outline back-btn"></button>
    </ion-header-bar>

    <ion-content class="has-header forgot-pas-outer" on-swipe-right="passwordResetModal.hide()">
        <div class="register-outer-container forgot-pas">
            <form role="form" ng-submit="passwordReset(resetKeyy, newPasswordd)" name="resetPassword" autocomplete="off">
                <div class="list">
                    <div class="row">
                        <label class="forgot-pas-label"><a>Reset your Password</a></label>
                    </div>
                    <label class="item item-input" ng-class="{ 'has-error' : resetPassword.resetKey.$invalid && !resetPassword.resetKey.$pristine }">

                        <input type="tel" name="resetKey" ng-model="resetKeyy"  placeholder="Password Reset Key"  only-digits-allowed required ng-minlength="6">
                    </label>

                    <p ng-show="resetPassword.resetKey.$invalid && !resetPassword.resetKey.$pristine" class="help-block" style="text-align:left; color:#DC890A">
                        <span ng-show="resetPassword.resetKey.$error.required">
                            Please enter OTP...
                        </span>
                        <span ng-show="resetPassword.resetKey.$error.minlength">
                            OTP min 6 Digits...
                        </span>
                    </p>
                    <!-- 					<p ng-show="resetPassword.resetKey.$invalid && !resetPassword.resetKey.$pristine" 
                                                                        class="help-block">Password Reset Key...</p> -->
                    <label class="item item-input" ng-class="{ 'has-error' : resetPassword.newPassword.$invalid && !resetPassword.newPassword.$pristine }">
                        <input type="password" name="newPassword" ng-model="newPasswordd"  placeholder="New Password"  required ng-minlength="8" ng-trim="false" ng-change="newPasswordd = newPasswordd.split(' ').join('')">
                    </label>
                    <p ng-show="resetPassword.newPassword.$invalid && !resetPassword.newPassword.$pristine" class="help-block" style="text-align:left; color:#DC890A">
                        <span ng-show="resetPassword.newPassword.$error.required">
                            Please enter new password...
                        </span>
                        <span ng-show="resetPassword.newPassword.$error.minlength"> 
                            Password min 8 characters...
                        </span>
                    </p>
                </div>
                <div class="row">
                    <button class="button button-full icon-left ion-ios-loop-strong button-energized " ng-disabled="resetPassword.$invalid"> Reset Password </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>




<!-- <ion-view>
        <ion-header-bar>
                <h1 class="title">Reset Password</h1>
        </ion-header-bar>

<ion-content>	
 

 <div class="container" style="margin-top:120px;">
                <div class="row" style="margin-left:20%; text-align:center">
                        <div  style="border-radius:8px;">
                                <div class="panel panel-default">
                                        
                                        <div class="panel-body" style="background-color:transparent;">
                                                

                                        <i style="font-size:15px; text-align:center; "><b> Reset your password</b> </i><br/>

                                                                <div class="form-group">
                                                                        <input type="text" name="pkey" id="key" ng-model="key" required class="form-control input-sm" placeholder="Reset Key">
                                                                </div>


                                                                <div class="form-group" required >
                                                                        <input type="password" name="email" id="email" required class="form-control input-sm" placeholder="New Password">
                                                                </div>

                                                
                           
                                                <form role="form" style="margin-top:15px; margin-bottom:28spx; ">
        
                                                <button class="btn btn-info btn-block" ng-click="backToLoginPage()">Reset Password</button>
                                        
                                        </form>
                                        </div>
                                        
                </div>
                        </div>
                </div>
        </div>

</ion-content>
</ion-view> -->

<!-- <ion-view>
    <ion-header-bar class="dashboard-head">
        <h1 class="title">Reset Password</h1>
    </ion-header-bar>
    <ion-content>
        <div class="register-outer-container">
            <form role="form" ng-submit="passwordReset(resetKeyy,newPasswordd)"
                        name="resetPassword" autocomplete = "off">
                <div class="list">
                    <div class="row">
                        <label>Reset your Password</label>
                    </div>
                    <label class="item item-input"
                                        ng-class="{ 'has-error' : resetPassword.resetKey.$invalid && !resetPassword.resetKey.$pristine }">

                        <input type="tel" placeholder="Password Reset Key" 
                                                name="resetKey" required ng-model="resetKeyy">
                    </label>
                                        <p ng-show="resetPassword.resetKey.$invalid && !resetPassword.resetKey.$pristine" 
                                                                        class="help-block">Password Reset Key Required...</p>
                    <label class="item item-input"
                                        ng-class="{ 'has-error' : resetPassword.newPassword.$invalid && !resetPassword.newPassword.$pristine }">
                        <input type="password" placeholder="New Password"
                                                name="newPassword" required ng-model="newPasswordd"
                                                ng-minlength="8">
                    </label>
                                        <p ng-show="resetPassword.newPassword.$invalid && !resetPassword.newPassword.$pristine" 
                                                                        class="help-block">
                                                                        <span ng-show="resetPassword.newPassword.$error.required">
                                                                                New Password is required...
                                                                        </span>
                                                                        <span ng-show="resetPassword.newPassword.$error.minlength">
                                                                                New Password minimum 8 characters
                                                                        </span>
                                        </p>
                </div>
                <div class="row">
                    <button class="button button-full icon-left ion-ios-loop-strong button-energized" ng-click="passwordReset(resetKeyy,newPasswordd)"
                                        > Reset Password </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>

-->