<!--changeSetting.html-->

<ion-view>
    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="backNavigate()"></button>
        <div class="h1 title">Authentication</div>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="list ChangeSetting-page">
            <label class="item item-input item-floating-label">
                <span class="input-label"></span>
                <input type="password" name=""  ng-model="pin"  >
            </label>
        </div>
        <div class="row animated fadeInUp">
            <div class="col">
                <button class="button button-assertive button-full button-small cancel-btn" style="border-radius: 4px;  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);" ng-click="backNavigate()" type="button">Cancel</button>
            </div>
            <div class="col">
                <button class="button button-balanced button-small button-full Save-btn" style="border-radius: 3px;  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);" ng-click="changeSetting(pin)">Save</button>
            </div>
        </div>


    </ion-content>

</ion-view>