<ion-row *ngIf="frame.apps_page_frame_name">
  <ion-col class="pl-0">
    <h1 class="frame-name ">{{frame.apps_page_frame_name}}<span style="margin-left: 10px;"
        *ngIf="globalObjects.toggleDevloperMode">[{{frame.apps_page_frame_seqid}}]</span></h1>
  </ion-col>
</ion-row>

<div [id]="piechart_3d" class="pie-chart-div" *ngIf="pieChartFlag"></div>
<div *ngIf="!pieChartFlag">
  <div [id]="piechart_3d" class="pie-chart-div-4" *ngIf="pieChart==4"></div>
  <div [id]="piechart_3d" class="pie-chart-div-6" *ngIf="pieChart==6"></div>
  <div [id]="piechart_3d" class="pie-chart-div-12" *ngIf="pieChart==12"></div>
</div>