#theme-blue {
    border-radius: 25px;
    background:#4990e2;
    padding: 20px; 
    width: 90%;
    margin: 5%; 
  }
  #theme-maroon {
    border-radius: 25px;
    background:#a9222f;
    padding: 20px; 
    width: 90%;
    margin: 5%;
  }
  #theme-green {
    border-radius: 25px;
    background:#00afad;
    padding: 20px; 
    width: 90%;
    margin: 5%; 
  }
  #theme-grey {
    border-radius: 25px;
    background:#b9b9b9;
    padding: 20px; 
    width: 90%;
    margin: 5%;
  }
  #theme-dark {
    border-radius: 25px;
    background:#1f232d;
    padding: 20px; 
    width: 90%;
    margin: 5%;
  }

  