<div class="text-band2 my-2 text-band-positive px-2 py-1">
  <div class="text-band2-text d-inline-block float-left">
  <h2 class="my-1">1,27000 <ion-icon name="arrow-up"></ion-icon></h2>
  <h5 class="my-1">Aluminium</h5>
  </div>
   <div class="text-band2-image d-inline-block float-right">
   
   </div>
   <div class="clearfix"></div>
</div>

<div class="text-band2 my-2 text-band-negative px-2 py-1">
    <div class="text-band2-text d-inline-block float-left">
    <h2 class="my-1">1,27000 <ion-icon name="arrow-down"></ion-icon></h2>
    <h5 class="my-1">Aluminium</h5>
    </div>
     <div class="text-band2-image d-inline-block float-right">
     
     </div>
     <div class="clearfix"></div>
</div>
