<div class="capture-img-container">
  <ion-label class="form-label">Image Input Circle</ion-label>
  <div class="text-center">
    <img src="assets/imgs/default-thumbnail.jpg" class="img-input-circle">
  </div>
</div>
<div class="mb-2 text-center" style="display: flex;align-items: center;">
    <ion-grid class="p-0">
        <ion-row>
  <div  class="img-capture-sec-container m-auto">
    
      <ion-col col-12 class="p-0" >
          <div class="img-capture-sec ">
              <span>
                <ion-icon name="md-create"></ion-icon>
              </span>
            </div>
            <div class="img-capture-sec">
                <span>
                  <ion-icon name="md-images"></ion-icon>
                </span>
              </div>
            <div class="img-capture-sec trash-btn-sec">
                <span>
                  <ion-icon name="trash"></ion-icon>
                </span>
              </div>
        </ion-col>
          </div>
  </ion-row>
  </ion-grid>
</div>