<ion-header>
  <ion-toolbar color="primary">
      <!-- <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons> -->
        <ion-button slot="start" (click)="closePage()" fill="clear" icon-only start>
          <ion-icon name="arrow-back" color="light"></ion-icon>
        </ion-button>
    <ion-title class="title">AppkeyInfo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="input-group primary-search-section">
    <ion-input placeholder="Search here.." [(ngModel)]="searchText" (ionChange)="filterTable()"></ion-input>
  </div>
    <div class="table-fix-container">
  <div class="table-fix-body">
    <table class="my-0">
        <thead>
            <tr>
              <th *ngFor="let th of thead; let i=index">{{th}}
              </th>
            </tr>
          </thead>
      <tbody>
        <tr *ngFor="let row of tablerows; let i=index" [class.active]="i == selectedRow">
          <td (click)="getUserData(row, i)"><u>{{row.app_key}}</u></td>
          <td>{{row.app_code}}</td>
          <td>{{row.database_name}}</td>
          <td>{{row.server_url}}</td>
          <td>{{row.database_ip}}</td>
          <td>{{row.device_validation}}</td>
          <td>{{row.entity_code_str}}</td>
          <td>{{row.app_name}}</td>
          <td>{{row.otp_flag}}</td>
          <td>{{row.db_sid}}</td>
          <td>{{row.seq_no}}</td>
        </tr>
      </tbody>
    </table>
  </div> 
</div>

</ion-content>
