<!-- <ion-label *ngIf='!labelInput.value' id="{{labelInput.itemName}}" class="input-label">
  {{labelInput.prompt_name}}</ion-label> -->


  <!-- <div class="rightalign" *ngIf="labelInput.datatype =='NUMBER'" >
           <ion-label *ngIf="labelInput.value" (click)="itemClick($event)" 
           [ngStyle]="getParsedJson(labelInput.display_setting_str)" id="{{labelInput.itemName}}"
           class="input-label"> {{labelInput.value}}</ion-label>
        </div>
         <ion-label *ngIf="labelInput.value  && labelInput.datatype !='NUMBER'" (click)="itemClick($event)" 
         [ngStyle]="getParsedJson(labelInput.display_setting_str)" id="{{labelInput.itemName}}"
         class="input-label"> {{labelInput.value}}</ion-label> -->


         <ion-label *ngIf="labelInput.value" (click)="itemClick($event)" 
         [ngStyle]="getParsedJson(labelInput.display_setting_str)" id="{{labelInput.itemName}}"
         class="input-label"> {{labelInput.value}}</ion-label>
        