<div class="smart-filter-section smart-filter-section-columnlist">
  <div class="smart-filter-section__header">
    <h5 class="m-0 d-inline-block">Item Nature<sup>150</sup></h5>
    <ion-button class="float-right view-all-btn" color="primary" fill="clear" size="small">View All</ion-button>
  </div>
  <ion-row>
    <ion-col class="h-100" size="4" (click)="onColumnClick($event)">

      Finished Good

    </ion-col>
    <ion-col class="h-100" size="4" (click)="onColumnClick($event)">

      Row Material

    </ion-col>
    <ion-col class="h-100" size="4" (click)="onColumnClick($event)">

      Finished Good

    </ion-col>
    <ion-col class="h-100" size="4" (click)="onColumnClick($event)">

      Trading Good

    </ion-col>
    <ion-col class="h-100" size="4" (click)="onColumnClick($event)">

      Waste Material

    </ion-col>
    <ion-col class="h-100" size="4" (click)="onColumnClick($event)">

      Other Good

    </ion-col>
    <ion-col class="h-100" size="4" (click)="onColumnClick($event)">

      Finished Good

    </ion-col>
    <ion-col class="h-100" size="4" (click)="onColumnClick($event)">

      Row Material

    </ion-col>
    <ion-col class="h-100" size="4" (click)="onColumnClick($event)">

      Finished Good

    </ion-col>
  </ion-row>

</div>