<ion-view cache-view="false">

    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="entryDetailsModal.hide()"></button>
        <div class="h1 title">Entry Details</div>
    </ion-header-bar>
    <ion-content on-swipe-right="entryDetailsModal.hide()">
        <div class="ProfileDetails-Container">
            <div class="profile-image">
                <div class="row">
                    <div class="col"></div>
                </div>
                <div class="row" ng-repeat="data in entryDetails">
                    <img ng-src="data:image/JPEG;base64,{{data.img}}" style="float:left;" ng-if="data.img !== null" />
                </div>
                <div class="profile-details"></div>
                <div class="clr"></div>
            </div>
            <div class="profile-image-bottom"></div>
            <div class="row">
                <table class="profile-details-table">
                    <tr ng-repeat="item in entryDetails" ng-if="item.column_desc != 'User Code' && item.column_desc != 'SEQ_ID' && item.column_desc != 'Upload File' && item.column_desc != 'Upload Reading'">
                        <th>{{item.column_desc}}</th>
                        <th>-</th>
                        <td>{{item.value}}</td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <button ng-if="flagForUpdateButton == 'U#'" type="button" ng-click="openUpdateEntry(entryDetails)" class="button button-block button-positive update-btn">
                    Update Entry
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>