<ion-view cache-view="false" view-title="Entry List">

    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="backNavigate()"></button>
        <div class="h1 title">Entry List</div>
        <!--<button class="button button-icon icon icon-right ion-ios-plus-outline" ng-click="addEntry()"></button>-->
    </ion-header-bar>

    <ion-content class="promo_code_container" on-swipe-right="backNavigate()">
        <p>
        <ion-spinner icon="ios" class="dash-spin " ng-hide="listOfEntries"> </ion-spinner>
        </p>
        <div class="entry-list-wrapper" ng-repeat="items in listOfEntries">
            <div class=" list card add-entry-container">
                <div class="row" ng-repeat="item in items" ng-click="getEntryDetails(items)">
                    <img ng-if="item.column_type == 'IMG' && item.img != ''" ng-src="data:image/jpeg;base64,{{item.img}}">
                    <!--<h5 ng-if="item.column_desc !='SEQ_ID' && item.column_desc !='Upload File' && item.column_desc !='Upload Reading'">-->
                    <h5 ng-if="item.displayFlag == 'TRUE'">
                        <b>{{item.column_desc}}</b> :
                        <span>
                            {{ item.value}}
                        </span>
                    </h5>
                </div>

                <!--           <div class="row" ng-if="types=='P'" ng-repeat="item in items" ng-click="getEntryDetailsInTabular(items)">
                    <img ng-if="item.column_type=='IMG' && item.img !=''" ng-src="data:image/jpeg;base64,{{item.img}}">
                    <h5 ng-if="item.column_desc !='SEQ_ID' && item.column_desc !='Upload File' && item.column_desc !='Upload Reading'">
                    <h5 ng-if="item.displayFlag =='TRUE'">
                        <b>{{item.column_desc}}</b> :
                        <span>
                        {{ item.value }}
                        </span>
                    </h5>
                </div> -->
                <div class="item tabs tabs-secondary tabs-icon-left" style="color:#042f3f; height: 37px;">

                    <button class="button icon ion-android-more-vertical button-clear" style="float: left !important;
                            margin-top: -5px; margin-left: auto;" ng-click="openPopover($event, items, $index)" ng-disabled="flagForUpdateButton == '' && flagForApproveButton == '' && flagForDeleteButton == ''"></button>
                    <!--<button class="button icon ion-navicon "></button>-->
                </div>
            </div>
        </div>

        <!--Code change on 20160923 due to web service changed to dynamic-->
        <!--<div>
            <div class="list refered-user-list ">
                <div ng-repeat="item in listOfEntries " ng-click="getEntryDetails(item.seqId,item.fileId); ">
                    <a href=" " class="item item-thumbnail-left entry-List-main ">

                        <img ng-src="data:image/JPEG;base64,{{item.dp}} " class="entry-List-thumb ">
                        <h2>{{ item.dateTime }}</h2>
                        <h4>Project Code: {{ item.projectCode }}</h4>
                    </a>
                     <a href=" " class="item item-thumbnail-left entry-List-main ">

                        <img ng-src="img/profile.png " class="entry-List-thumb ">
                        <h2>{{ item.transId }}Sneha</h2>
                        <h4>Transaction Id: {{ item.dateTime }} ggfdgfg</h4>
                    </a> 

                </div>
            </div>
        </div>-->
    </ion-content>

</ion-view>