<ion-view>
    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="fontfamilyKeyModal.hide()"></button>
        <div class="h1 title">Font Family</div>
    </ion-header-bar>
    <ion-content class="has-header">

        <p style="font-family:Tahoma">The quick brown fox jumps over the lazy dog - 0123456789 (Tahoma)</p>
        <p style="font-family:Arial">The quick brown fox jumps over the lazy dog - 0123456789 (Arial)</p>

        <p style="font-family:Verdana">The quick brown fox jumps over the lazy dog - 0123456789 (Verdana)</p>
        <p style="font-family:Lucida Console">The quick brown fox jumps over the lazy dog - 0123456789 (Lucida Console)</p>
        <!--<p style="font-family:sans-serif">The quick brown fox jumps over the lazy dog - 0123456789 (sans-serif)</p>
        <p style="font-family:Trebuchet MS">The quick brown fox jumps over the lazy dog - 0123456789 (Trebuchet MS)</p>


        <p style="font-family:Comic Sans MS">The quick brown fox jumps over the lazy dog - 0123456789 (Comic Sans MS)</p>

        <p style="font-family:Charcoal">The quick brown fox jumps over the lazy dog - 0123456789 (Charcoal)</p>-->
        <p style="font-family:Lucida Sans Unicode">The quick brown fox jumps over the lazy dog - 0123456789 (Lucida Sans Unicode)</p>

        <p style="font-family:monospace">The quick brown fox jumps over the lazy dog - 0123456789 (monospace)</p>
        <p style="font-family:cursive">The quick brown fox jumps over the lazy dog - 0123456789 (cursive)</p>
        <p style="font-family:Gill Sans Extrabold">The quick brown fox jumps over the lazy dog - 0123456789 (Gill Sans Extrabold)</p>

    </ion-content>

</ion-view>