<!--offlineRefreshform.html-->

<ion-view cache-view="false" view-title="Select Type">

    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="offlineRefreshForm.hide()"></button>
        <div class="h1 title">Offline Refresh Form</div>
    </ion-header-bar>
    <ion-content class="has-header" on-swipe-right="offlineRefreshForm.hide()">
        <div>
            <div class=" list  add-entry-container">
                <div class="row" ng-repeat="item in formData">
                    <!--<div class="col">
                        <h2>{{table_desc }}</h2>
                    </div>-->
                    <div class="col  add-new-entry-label">
                        <label><b>{{item.table_desc}}</b></label>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                        <button class="button button-full button-small button-royal" ng-click="storeForm(item.seqNo, item.data)"> Store Form</button>
                    </div>
                </div>
                <div class="row" ng-repeat="item in lovs">
                    <!--<div class="col">
                        <h2>{{item.column_desc}}</h2>
                    </div>-->
                    <div class="col add-new-entry-label">
                        <label><b>{{item.column_desc}}</b></label>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                        <button class="button button-full button-small button-royal" ng-click="storeLov(item)"> Store Data </button>
                    </div>
                </div>
                <div class="row" ng-repeat="items in dependentlovs">
                    <div class="col add-new-entry-label">
                        <label><b>{{items.column_desc}}</b></label>
                    </div>
                    <div class="col">
                        <select ng-model="value" class="Dispenser-Entry-container-dropdown" ng-disabled="items.dependentLov == ''">
                            <option ng-repeat="option in items.dependentLov track by $index" value="{{option.code}} ">{{option.name}}</option>
                        </select>
                    </div>
                    <div class="col">
                        <button class="button button-full button-small button-royal" ng-click="storeDependentLov(items, value)" ng-disabled="items.dependentLov == ''"> Store Data</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>