<div *ngIf="filter">
  <app-frame-canvas-filter [frametable]="frame" (passdataToframetable)="getdataFromcanvasFilter($event)"
    [frame]='frame'></app-frame-canvas-filter>
</div>


  <ion-row *ngIf="frame.apps_page_frame_name">
    <ion-col class="pl-0" size="7">
      <!-- <h1 class="frame-name position-relative">{{frame.apps_page_frame_name}}</h1> -->
      <h1 class="frame-name position-relative">{{frame.apps_page_frame_name}}<span style="margin-left: 10px;" *ngIf="globalObjects.toggleDevloperMode">[{{frame.apps_page_frame_seqid}}]<ion-icon class="code-btn"  color="primary" name="information-circle-outline" *ngIf="developerModeData" (click)="showDeveloperData()"></ion-icon></span></h1>
    </ion-col>
    <ion-col class="pr-0 data-view-type text-right" size="5">
      <!-- <ion-icon (click)="toggle()" [hidden]="horizontal_table=='Hide'" name="chevron-forward-circle"></ion-icon>
      <ion-icon (click)="toggle()" [hidden]="horizontal_table=='Show'" name="chevron-down-circle"></ion-icon> -->
      <!-- <ion-icon name="funnel" (click)="filterToggle()" class="filter-btn ml-3"></ion-icon> -->
    </ion-col>
  </ion-row>
  
  <div *ngIf="searchFlag  && !filter ">
    <div class="input-group primary-search-section">
  
      <ion-input class="input-text"  placeholder="Search Here..."
        [(ngModel)]="searchText"></ion-input>
  
     
  
  
      <div class="input-group-append">
        <button class="lov-btn" ion-button icon-only small (click)="openMike()">
          <img src="./assets/imgs/google-speaker.png">
        </button>
      </div>
      <div class="input-group-append">
        <button class="lov-btn" ion-button icon-only small>
          <ion-icon name="scan-outline" (click)="openbarcodescanner()"></ion-icon>
        </button>
      </div>
  
      <!-- <div class="input-group-append">
        <button class="lov-btn" ion-button icon-only small>
  
          <ion-icon (click)="toggle()" [hidden]="horizontal_table=='Hide'" name="chevron-forward-circle"></ion-icon>
          <ion-icon (click)="toggle()" [hidden]="horizontal_table=='Show'" name="chevron-down-circle"></ion-icon>
        </button>
      </div> -->
      <div class="input-group-append">
        <button class="lov-btn" ion-button icon-only small (click)="filterToggle()">
          <ion-icon name="funnel"></ion-icon>
        </button>
      </div>
    </div>
  </div>
  
  <!-- <div *ngIf="show_filter=='show' && !canvasfilter">
    <app-frame-filter [frame]="filterFormData" (emitFilter)="getFilterParameter($event)"></app-frame-filter>
  </div> -->
  
  <div *ngIf="show_filter=='show' ">
    <div *ngIf="toggleFilter">
      <app-frame-canvas-filter [frame]="frame" [frametable]='frame' (passdataToframetable)="getdataFromcanvasFilter($event)" (emitFilter)="getFilterParameter($event)"></app-frame-canvas-filter>
    </div>
  
  
  </div>


<div *ngIf="!filter ">
<div class="table-responsive"  >
<table class='table table-kpi {{frame.css_class_frame}}'>
  <!-- <caption>{{frame.apps_page_frame_name}}</caption> -->
  <thead>
  <tr>

    <th *ngFor="let th of thead;let i=index" (click)="thClick(th,i)">{{th}}</th>

  </tr>
  </thead>

 <tr *ngFor="let tableData of frame.tableRows |tableSearch :searchText;let rowindex=index">
            <ng-container *ngFor="let itemGroup of tableData;">
              <td *ngFor="let input_item of itemGroup;"
                [hidden]="(current_page_parameter.MODE && !(input_item.item_visible_flag && (input_item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||input_item.item_visible_flag=='F'">
                <app-items [item]="input_item" (emitPass)="itemClicked($event,tableData,rowindex)" [frame_type]="frame.apps_frame_type"> 
                </app-items>
              </td>
            </ng-container>
  </tr>
 
</table>
</div>
</div>
<div class="pagination-container" *ngIf=" !canvasfilter && !jsFilter && !advanceFilter">
  <ul class="paginator my-1">
    <li class="pt-1">Total Records : {{this.l_total_rows}}</li>
    <li>
      <ion-icon class="paginator-btn" *ngIf="l_current_page !=1" name="skip-backward" (click)="paginate(1);">
      </ion-icon>
    </li>
    <!-- <li>
      <ion-icon class="paginator-btn" *ngIf="l_current_page !=1" name="arrow-round-back"
        (click)='paginate(this.l_current_page-1);'></ion-icon>
    </li> -->
    <li class="pt-1"> Page {{(this.l_current_page)}} Of {{this.l_total_remain_pages}}</li>
    <!-- {{(this.l_total_remain_pages>this.l_total_rows) ? this.l_total_rows : this.l_total_remain_pages}}</li> -->
    <li>
      <ion-icon class="paginator-btn next-btn" *ngIf="l_current_page !=l_total_remain_pages" name="arrow-round-forward"
        (click)='paginate(this.l_current_page+1);'>
      </ion-icon>
    </li>
    <li>
      <ion-icon class="paginator-btn next-btn" *ngIf="l_current_page!=l_total_remain_pages" name="play-skip-forward"
      (click)='goToLast(this.l_total_rows,this.l_total_remain_pages);'>
      </ion-icon>

    </li>
  </ul>
</div>


<div *ngIf=" !canvasfilter && !jsFilter && !advanceFilter">
  <ion-button *ngIf="pdfFlag"  size="small" color="medium" (click)="getDataForGraph('pdf')">Pdf Download</ion-button>
  <ion-button *ngIf="excelFlag"  size="small" color="medium" (click)="getDataForGraph('excel')">Excel Download</ion-button>
  <ion-button *ngIf="graphFlag" size="small" color="medium" (click)="opengraph()">Open Graph</ion-button>

</div>

<div *ngIf="flagforgraph==true">
<app-frame-graph  [resfromTable]="resforgraph"></app-frame-graph>
<!-- <app-frame-dashboard-graph  [resfromTable]="resforgraph"></app-frame-dashboard-graph> -->
</div>