<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons> -->
    <ion-button slot="start" (click)="closePage()" fill="clear" icon-only start>
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </ion-button>
    <ion-title class="title">Logs</ion-title>
    <ion-button slot="end" (click)="clearData()" fill="clear" end>
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="logData">
  <div  style="font-size: 11px;color:#3e80cc">
    <span>{{userDetails.appkey}}</span> / <span>{{userDetails.user_code}}</span>
  </div>
  <div class="offline-entry-card-container" *ngFor="let object of logData;  let i= index;">
    <div class="offline-entry-card" >
      <div>
        <h3 *ngIf="!data.objectcode">{{logData.length - i}}){{object.APPS_PAGE_FRAME_NAME}}[{{object.LASTUPDATE}}]</h3>
        <h3 *ngIf="data.objectcode">{{logData.length - i}}) SQL SCRIPT FOR {{data.objectcode}}</h3>
      </div>
    <div *ngFor="let data of object | keyvalue;let j=index" class="offline-card-body">
        <p> <span class="bold">{{data.key}} </span> :
          <ion-button size="small" *ngIf="data.key=='FRAME_PLSQL_AND_SQL' || data.key=='ITEM_PLSQL_AND_SQL';else alll" (click)="beautify(data,j,i)">beautifier</ion-button>
           <ion-icon *ngIf="data.key=='FRAME_PLSQL_AND_SQL' || data.key=='ITEM_PLSQL_AND_SQL'" name="copy-outline" size="large" (click)="copySql(data,i)"></ion-icon>
           <ion-label *ngIf="num == i && data.key=='FRAME_PLSQL_AND_SQL' && data.value != ''"><ion-icon name="checkmark"></ion-icon>Copied</ion-label>
           <ion-label *ngIf="num == i && data.key=='ITEM_PLSQL_AND_SQL' && data.value != ''"><ion-icon name="checkmark"></ion-icon>Copied</ion-label>
          <!-- <img *ngIf="data.key=='FRAME_PLSQL_AND_SQL' || data.key=='ITEM_PLSQL_AND_SQL';else alll" src="assets/imgs/plsqlbeautifer.PNG" (click)="beautify(data,j,i)">  -->
          <!-- E:\newproject\LighthouseERP\src\assets\imgs\plsqlbeautifer.PNG -->
          <ion-textarea *ngIf="data.key=='FRAME_PLSQL_AND_SQL' || data.key=='ITEM_PLSQL_AND_SQL'" highlight-js type="text" [lang]="sql" [(ngModel)]="data.value">
        </ion-textarea>
        
        <ng-template #alll>
          <span>{{data.value}}</span>
        </ng-template>
      
      </p>
      </div>
    </div>
  </div>

  <!-- <div class="offline-entry-card-container">
    <div class="offline-entry-card">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam eum ipsum ab inventore error cupiditate
        ipsam quas consequatur sed, odit voluptatem itaque fugiat eos quaerat dolorem quis asperiores saepe. Similique.
      </p>
    </div>
  </div> -->
</ion-content>

  
<!-- <ion-icon style="cursor: pointer" name="create" (click)="beautify(data,j,i)"></ion-icon> 
  
  <ion-item>
  <ion-textarea autoGrow="true" type="text" id="input" [(ngModel)]="sqlData"></ion-textarea>
  <ion-button (click)="onrun()">click me </ion-button>
 </ion-item>
 <ion-textarea highlight-js type="text" [lang]="SQL" [readonly]="false"  autoGrow="true" [(ngModel)]="formatSql">
 </ion-textarea>  -->