.back{
    z-index: 99999;
  }
  ion-toolbar{
    height: 65px;
    --min-height: 65px;
  }
  .home-btn{
    position: absolute;
    right: 7px;
    top: 15px;
    font-size: 22px;
    z-index: 9999999;
    display: flex;
    cursor: pointer;
  }
  .logout-btn{
    color: white;
      font-size: 15px;
      border: none;
      --border-color: none;
      --color: none;
      --border-width: 0;
      ion-icon{
        transform: rotate(-90deg);
        font-size: 22px;
      }
  }
  
  .left-bg{
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgb(255 255 255 / 12%);
    left: 0;
    top: -23px;
    border-radius: 4px;
    z-index: -2;
    transform: rotate(48deg);
  }
  .left-bg2{
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgb(255 255 255 / 7%);
    left: 28px;
    top: -27px;
    border-radius: 4px;
    z-index: -2;
    transform: rotate(48deg);
  }
  .sub-item{
    margin-left: 40px;
  }
  .inner-sidebar {
    /* background: #ddd; */
    border: 1px solid #ddd;
    height: 100%;
    ion-icon{
      margin-inline-end: 8px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    ion-item{
      --min-height: 32px;
    }
  }
  .inner-padding{
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-start: 5px;
    --padding-end: 5px;
  }
  
  .developer-mode-container {
    z-index: 1;
    .editorial{
    padding: 5px;
    border-radius: 8px;
    padding-bottom: 15px;
    position: relative;
    min-height: 75px;
    z-index: 1;
    .edit {
      padding: 2px;
      text-align: center;
      padding-top: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 18px;
      margin: 0px 0;
      position: absolute;
      top: 3px;
      left: 2px;
  }
  }
    .add {
      z-index: 2;
      margin: auto;
      width: 35px;
      height: 35px;
      text-align: center;
      border-radius: 50%;
      font-size: 23px;
      padding-top: 3px;
      margin-top: -19px;
      position: absolute;
      left: 48%;
  }
  }
  .right-title{
    position: absolute;
    right: 0;
    bottom: -1px;
    font-size: 14px;
    color: rgba(249, 249, 249, 0.7803921568627451);
  
  }
  .left2-title{
    font-size: 11px;
    color: #3e80cc;
    margin-bottom: -5px;
    margin-top: 0px;
    width: auto;
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 1px;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #ffff;
    span{
      margin-right: 2px;
      margin-left: 2px;
     
      &::after{
        content: ">";
      }
    }
  }
  .left2-title-ios{
    font-size: 11px;
    color: #3e80cc;
    margin-bottom: -5px;
    margin-top: 0px;
    width: auto;
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 1px;
    position: fixed;
    background-color: #ffff;
    span{
      margin-right: 2px;
      margin-left: 2px;
     
      &::after{
        content: ">";
      }
    }
  }
  .left3-title{
    font-size: 14px;
    color: rgba(249, 249, 249, 0.7803921568627451);
    margin-bottom: -9px;
    margin-top: -4px;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 6px;
    position: absolute;
    text-align: left;
    span{
      margin-right: 2px;
      margin-left: 2px;
   
    }
  }
  
  
  .left-title {
    position: absolute;
    left: 53px;
    top: 1px;
    font-size: 14px;
    color: rgba(249, 249, 249, 0.7803921568627451);
  }
  ion-title{
    height: 65px;
    padding-left: 0;
  }
  
  .central-title{
    display: block;
    font-size: 14px;margin-bottom: -5px;
    color: rgba(249, 249, 249, 0.7803921569);
    font-weight: 400;
    z-index: 9999;
    top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    padding-right: 20px;
  }
  .refresh-page-btn
  {
     
      ion-fab-button
      {
          width:45px;
          height:45px;
      } 
  }
  
  /* Custom Skeleton Line Height and Margin */
  .custom-skeleton ion-skeleton-text {
      line-height: 13px;
    }
    
    .custom-skeleton ion-skeleton-text:last-child {
      margin-bottom: 5px;
    }
  
    #mydiv {
      position: absolute;
      z-index: 9;
      background-color: #f1f1f1;
      text-align: center;
      border: 1px solid #d3d3d3;
    }
    
    #mydivheader {
      padding: 10px;
      cursor: move;
      z-index: 10;
      background-color: #2196F3;
      color: #fff;
    }
    ion-fab
    {
      bottom:0px;
      z-index: 999999 !important;
    }
    ion-fab-list
    {
      bottom:0px;
      top: unset;
    margin-bottom: 52px;
    }
    .fab-gap
    {
      height:40px;
    }
    .iosheight{
      height: 75px;
      --min-height:75px !important;
      ion-buttons{
        margin-top: -23px !important;
      }
   
      ion-title{
        margin-top: -11px !important;
       padding-right: 0;
      }
      .right-title{
        bottom: 17px !important;
      }
    }
    .code-btn{
      font-size: 25px;
      vertical-align: middle;
      cursor: pointer;
    } 
    .loading{
      position: fixed;
      z-index: 99;
      display: flex;
      backdrop-filter: brightness(0.7);
    }
    @media only screen and (min-width:310px) and (max-width:340px){
      .iosheight{
        height: 75px !important;
        --min-height:75px !important;
        ion-buttons{
          margin-top: -23px !important;
        }
        ion-title{
          margin-top: -11px !important;
        }
        .right-title{
          bottom: 17px !important;
        }
      
        }
    }
  
    @media only screen and (min-width:341px) and (max-width:900px){
      .iosheight{
        height: 120px;
        --min-height:120px !important;
        ion-button{
          margin-top: -35px !important;
        }
        ion-title{
          margin-top: -5px !important;
        }
        .right-title{
          bottom: 45px !important;
        }
        }
    }
  