@import '../../mixins';
.page-appkey-collection{
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 16px;
    --padding-end: 16px;
  .client-wraper
  {
    //   padding-top: 1rem;
      cursor: pointer;
      text-align:center;
      padding-top: 10px;
      height: 100%;
.cancle-wrap
{
 
  padding-top: 2px;
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: -2px;


          .cancle-btn
   { 
        width: 25px;
          height: 25px;
         
          text-align: center;
          line-height: 25px;
          font-weight: bold;
         
          border-radius: 25px;
}

}

  }
  h2{   
    font-size: 1rem;
    font-weight: 500;
    margin: 8px 0 8px;
}
h3 {   
  font-size: 1rem;
  padding: 5px 0;
  font-weight: 500;
  margin-bottom: 0;
  position: absolute;
  width: 94%;
  bottom: 6px;
}
img
{
    height: 45px;
    padding: 0px 0.5rem;
}
}
@media only screen and (min-width:600px) and  (max-width:1200px){
  h3 {   
    width: 96% !important;
  }
}
@media only screen and (min-width:1200px){
  h3 {   
    width: 99% !important;
  }
}

.page-single-select-lov
{
    ion-item
    {
        --min-height:30px;
        --background: transparent;
        --border-color: transparent;
        ion-checkbox
        {
            margin-top:5px;
            margin-bottom:5px;
        }
        ion-label
        {
            font-size: 0.8rem;
        }
    }
}

ion-toolbar{
    height: 55px;
    --min-height: 55px;
  }

  .iosheight{
    height: 75px;
    --min-height:75px !important;
    ion-buttons{
      margin-top: 15px !important;
    }
    ion-title{
      margin-top: 7px !important;
    }
    .right-title{
      bottom: 17px !important;
    }
  }

  @media only screen and (min-width:375px) and (max-width:500px){
    .iosheight{
      height: 100px;
      --min-height:100px !important;
      ion-button{
        margin-top: 15px !important;
      }
      ion-title{
        margin-top: 7px !important;
      }
      .right-title{
        bottom: 45px !important;
      }
      }
  }
  @media only screen and (min-width:310px) and (max-width:375px){
    .iosheight{
      height: 75px !important;
      --min-height:75px !important;
      ion-buttons{
        margin-top: 15px !important;
      }
      ion-title{
        margin-top: 7px !important;
      }
      .right-title{
        bottom: 17px !important;
      }
    
      }
  }