
.tab-container{

    margin-bottom: 10px;
    height: 39px;
    margin-top: 10px;
    overflow:visible;
    overflow-x: scroll !important;
   ion-segment-button
    {
        min-height: 35px;
        text-transform: capitalize;
        min-width: 90px;
        max-width: 360px;
        border: none;
        font-weight: 500;
        overflow: visible;
    }
    .segment-button-checked
    {
        position: relative;
        border-bottom: none;
        &::after
        {
          
          bottom:-1px;
          width:100%;
          height:2px;
         
        }
    } 
}
.card-container{
    // box-shadow: 0px 0px 10px #dedede;
ion-item{
    --min-height: 25px;
    font-size: 16px;
    --padding-start:0px;
    --border-color: #dcdcdc;
    .label{
        font-size: 13px;
    
    }
}
.label-name
{
  
    height:100%;
    margin: 0;
    background: #eeeeee;
    padding:0px 5px;
    margin-right:5px;
}
.label-name, .label
{
    text-overflow: unset;
    white-space: normal;
    overflow: visible;
}
.label-name
{
    font-size: 15px;
}
}
.approval-card-container
{
    margin: 15px 0px;
    box-shadow: 0px -11px 10px #ccc, 0px 7px 10px #ccc;
    border: 1px solid #ccc;
    border-left: 3px solid #3c7eca;
}
.code-btn{
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
}