.chat-list
{
    /* border-bottom: 1px solid #e6e6e6; */
    position: relative;
    border-bottom: 1px solid #f5f3f3;
  ion-avatar
  {
    width: 50px;
    height: 50px;
    /* box-shadow: 1px 1px 10px #d6d6d6; */
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
 ion-badge
 {
  border-radius: 10px;
  height: 20px;
  line-height: 19px;
  padding: 0px 8px;
  font-size: 13px;
  margin-top: 15px;

 }
 .time {
  font-size: 10px;
  /* margin-top: -32px; */
  position: absolute;
  right: 8px;
  top: 12px;
}
.call{
  margin-right: 12px;
    margin-top: 7px;
}
 h2 {
  font-weight: 500;
  color: #584b4b;
  font-size: 15px;
}
.text-preview {
  font-size: 12px;
  color: #a09c9c;
}
}