.frame-doughnout{
    width: 100%;
    height		: 220px !important;
    font-size	: 11px;
    max-width   : 450px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding-top: 30px;
}

.frame-doughnout-4{
    height		: 220px !important;
    border: 1px solid #ccc;
    padding-top: 30px;
}
.frame-doughnout-6{
    height		: 320px !important;
    border: 1px solid #ccc;
    padding-top: 30px;
}
.frame-doughnout-12{
    height		: 420px !important;
    border: 1px solid #ccc;
    padding-top: 30px;
}