
<ion-row *ngIf="frame.apps_page_frame_name">
    <ion-col class="pl-0" >
      <h1 class="frame-name ">{{frame.apps_page_frame_name}}<span style="margin-left: 10px;" *ngIf="globalObjects.toggleDevloperMode">[{{frame.apps_page_frame_seqid}}]</span></h1>
    </ion-col>
  </ion-row>

<div [id]="donutchart" class="frame-doughnout" *ngIf="doughnoutGraphFlag"></div>
<div *ngIf="!doughnoutGraphFlag">
  <div [id]="donutchart" class="frame-doughnout-4" *ngIf="doughnoutGraphValue==4"></div>
  <div [id]="donutchart" class="frame-doughnout-6" *ngIf="doughnoutGraphValue==6"></div>
  <div [id]="donutchart" class="frame-doughnout-12" *ngIf="doughnoutGraphValue==12"></div>
</div>