<ion-slides class="card-slider" [options]="sliderConfig">
  <ion-slide  *ngFor="let rows of frame.tableRows |tableSearch :tablerowsfilter;let j=index;" class="text-left">
    <div class="super-card position-relative">
      <div class="sr-no position-absolute">{{j+1}}</div>
        <div class="super-card-inner position-relative">
          <div class="card-title">
            <ion-row *ngFor="let itemGroup of rows; let i=index" class="p-0">
              <ion-col class="p-0" *ngFor="let input_item of itemGroup.Level5;let i=index"
                [hidden]="input_item.item_visible_flag!='T'">
                <div *ngIf="input_item.item_type=='CARD_TITLE'">
                  <app-items class="p-0 card-title" [wscp]="wscp" [item]="input_item" (emitPass)="itemClicked($event,j)"></app-items>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <ion-row *ngFor="let itemGroup of rows; let i=index" class="p-0">
            <ion-col class="p-0" *ngFor="let input_item of itemGroup.Level5;let i=index"
              [hidden]="input_item.item_visible_flag!='T'">
              <div *ngIf="input_item.item_type!='CARD_TITLE'">
                <app-items class="p-0" [item]="input_item" [wscp]="wscp" (emitPass)="itemClicked($event,j)" (LHSOnChange)="itemValueChange($event,j)"></app-items>
              </div>
            </ion-col>
          </ion-row>
        </div>
      <div class="clearfix"></div>
    </div>
  </ion-slide>
</ion-slides>

<!-- 
  <ion-slides class="card-slider" [options]="sliderConfig">
  <ion-slide class="text-left">
    <div class="super-card position-relative">
      <div class="sr-no position-absolute">10</div>
      <div class="super-card-inner position-relative">
        <h5 class="card-heading"> Complaint Approval </h5>
        <span class="text-yellow">UI</span>
        <span class="text-blue">IN18Y-03162 vrdate: 29-MAR-19</span>
        <p>V-Care Protective Products</p>
        <ion-row>
          <ion-col col-5 class="pl-0 py-0">
            <p class="label">Order Qty : </p>
          </ion-col>
          <ion-col col-7 class="pr-0 py-0">
            <p>500PCS</p>
          </ion-col>
        </ion-row>
        <p class="subheading">Item Details</p>
      </div>
      <div class="button-sec">
        <ion-button slot="icon-only" size="small" fill="clear">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
        <ion-button slot="icon-only" size="small" fill="clear">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button slot="icon-only" size="small" fill="clear">
          <ion-icon name="eye"></ion-icon>
        </ion-button>
        <ion-button slot="icon-only" size="small" fill="clear">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-button>
        <ion-button slot="icon-only" size="small" fill="clear">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </div>

      <div class="clearfix"></div>
    </div>
  </ion-slide>
</ion-slides> -->

 
<!-- Skeleton screen -->
<div class="center" *ngIf="listLength==0">
  <div class="text-center" *ngIf="noRecordMessage == ''">
    <img src="../../../../assets/dot.gif" width="20%">
  </div>
  <div class="text-center" *ngIf="noRecordMessage != ''">
    <h2>{{noRecordMessage}}</h2>
  </div>
</div>