<!-- <div text-center>
  <ion-button class="global-btn" shape="round" size="small" (click)="buttonClick(event)">{{button.prompt_name}}
  </ion-button>
</div> -->
<!-- <ion-icon class="code-btn" name="information-circle-outline"  color="primary"></ion-icon> -->

<div class="ion-text-center" *ngIf="this.button.item_sub_type == 'SIMPLE_TEXT_BUTTON' && platformFlag != 'ios'">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button shape="round" class="mr-1 globe-btn" [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
    {{button.prompt_name}}
  </ion-button>
</div>

<div class="ion-text-center" *ngIf="this.button.item_sub_type == 'SIMPLE_TEXT_BUTTON_SMALL' && platformFlag != 'ios'">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button shape="round" size="small" class="mr-1 globe-btn small-btn" [disabled]="button.item_enable_flag == 'F'" 
   (click)="buttonClick(event)" (contextmenu)="onRightClick($event)" [ngStyle]="button.display_setting_str" >
    {{button.prompt_name}}
  </ion-button>
</div> 

<div class="ion-text-center" *ngIf="this.button.item_sub_type == 'SIMPLE_TEXT_BUTTON' && platformFlag == 'ios'">
 
  <button ion-button round class="globe-btn1"[disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
    {{button.prompt_name}}
  </button>
</div>

<div class="ion-text-center" *ngIf="this.button.item_sub_type == 'SIMPLE_TEXT_BUTTON_SMALL'  && platformFlag == 'ios'">

  <button ion-button round small  class="globe-btn1 small-btn " [disabled]="button.item_enable_flag == 'F'" 
   (click)="buttonClick(event)" (contextmenu)="onRightClick($event)" [ngStyle]="button.display_setting_str" >
    {{button.prompt_name}}
</button>
</div>    


<div class="ion-text-center" *ngIf="this.button.item_sub_type == 'BLOCK_TEXT_BUTTON'">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
    <ion-button size="block" class="mr-1 globe-btn" [disabled]="button.item_enable_flag == 'F'"  [ngStyle]="button.display_setting_str"  (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
      {{button.prompt_name}}
    </ion-button>
  </div>

<div class="icon-btn-container d-none">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button shape="round" class="globe-btn icon-btn" expand="block"  [disabled]="button.item_enable_flag == 'F'">
    Scan QR Code <ion-icon class="ml-2" name="scan-outline" ></ion-icon>
  </ion-button>
</div>
<!--  <ion-button shape="round" fill="outline" (click)="updateStatus('Approve')">Approve</ion-button>  -->
<!-- Direction button -->


<div class="select-container" *ngIf="this.button.item_sub_type == 'GET_DIRECTION'">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button class="icon-btn" size="small"  [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
    <ion-icon name="ios-navigate"></ion-icon>{{button.prompt_name}}
  </ion-button>
</div> 
<!-- Direction button -->

<div class="select-container" *ngIf="this.button.item_sub_type == 'ADD_BUTTON'">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button class="icon-btn" size="small"  [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
    <ion-icon name="add-circle"></ion-icon>
  </ion-button>
</div>

<!-- DOWNLOAD PDF FILE  button -->

<div class="select-container" *ngIf="this.button.item_sub_type == 'DOWNLOAD_FILE_BUTTON'">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
    <ion-button class="icon-btn" size="small"  [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
      <ion-icon name="document"></ion-icon>
    </ion-button>
  </div>

<div class="select-container" *ngIf="this.button.item_sub_type == 'EDIT_BUTTON'">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button class="icon-btn" size="small" fill="clear"   [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
    <ion-icon color="primary" name="create"></ion-icon>
  </ion-button>
</div>

<div class="select-container" *ngIf="this.button.item_sub_type == 'DELETE_BUTTON'">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button class="icon-btn" size="small" fill="clear"  [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
    <ion-icon color="danger" name="trash"></ion-icon>
  </ion-button>
</div>

<div class="select-container" *ngIf="this.button.item_sub_type == 'PRINT_BUTTON'" style="text-align: center;">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button class="icon-btn" size="small" fill="clear"  [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
    <ion-icon color="primary" name="print"></ion-icon>
  </ion-button>
</div>

<div class="select-container" *ngIf="this.button.item_sub_type == 'APPROVE_BUTTON'" style="text-align: center;">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button class="icon-btn" size="small" fill="clear"  [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
    <ion-icon color="success" name="checkmark"></ion-icon>
  </ion-button>
</div>

<div class="select-container" *ngIf="this.button.item_sub_type == 'ACKNOWLEDGE_BUTTON'" style="text-align: center;">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button class="icon-btn" size="small" fill="clear"  [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)"> 
    <ion-icon color="success" name="done-all"></ion-icon>
  </ion-button>
</div>
<div class="select-container" *ngIf="this.button.item_sub_type == 'VIEW_BUTTON'">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button class="icon-btn" size="small" fill="clear"  [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
    <ion-icon color="warning" name="eye"></ion-icon>
  </ion-button>
</div>

<div class="select-container" *ngIf="this.button.item_sub_type == 'SAVE_BUTTON'">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button class="icon-btn" size="small" fill="clear"  [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
    <ion-icon color="tertiary" name="save"></ion-icon>
  </ion-button>
</div>

<div class="select-container" *ngIf="this.button.item_sub_type == 'CLOSE_CIRCLE_BUTTON'">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button class="icon-btn" size="small" fill="clear"  [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
    <ion-icon color="medium" name="close-circle"></ion-icon>
  </ion-button>
</div>

<div class="select-container" *ngIf="this.button.item_sub_type == 'NEXT_SCREEN_BUTTON'">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button class="icon-btn" size="small" fill="clear"  [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
    <ion-icon color="dark" name="arrow-round-forward"></ion-icon>
  </ion-button>
</div>

<div class="select-container" *ngIf="this.button.item_sub_type == 'PREV_SCREEN_BUTTON'">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
  <ion-button class="icon-btn" size="small" fill="clear"   [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
    <ion-icon color="dark" name="arrow-round-back"></ion-icon>
  </ion-button>
</div>

<div class="select-container text-center mb-1" *ngIf="this.button.item_sub_type == 'ICON_BUTTON'">
  <ion-icon class="code-btn" name="information-circle-outline"  color="primary" *ngIf="globalObjects.toggleDevloperMode" (click)="showDeveloperData()"></ion-icon>
<ion-button class="mr-1 iconText-btn" fill="outline"  [disabled]="button.item_enable_flag == 'F'" (click)="buttonClick(event)" (contextmenu)="onRightClick($event)">
  <!-- <ion-icon class="mr-1" name="checkmark-circle-outline"></ion-icon>{{button.prompt_name}} -->
  <ion-icon class="mr-1" name="done-all"></ion-icon>{{button.prompt_name}}
</ion-button>
</div>

 <!-- <div class="select-container text-center mb-1" *ngIf="this.button.item_sub_type == 'PREV_SCREEN_BUTTON'">
  <ion-button class="iconText-btn" fill="outline">
    <ion-icon class="mr-1" name="eye">
    </ion-icon>Select As Read
  </ion-button>
 </div> -->
<!-- <div class="select-container text-center mb-1">
    <ion-button class="mr-1 iconText-btn" fill="outline"><ion-icon class="mr-1" name="checkmark-circle-outline"></ion-icon>Select All</ion-button>
    <ion-button class="iconText-btn" fill="outline"><ion-icon class="mr-1" name="eye"></ion-icon>Select As Read</ion-button>    </div> -->

    <!-- <div class="select-container text-center mb-1">
      <ion-button class="mr-1 iconText-btn" fill="outline" shape="round"><ion-icon class="mr-1" 
        name="checkmark-circle-outline"></ion-icon>Select All</ion-button>
      <ion-button class="iconText-btn" fill="outline" shape="round"><ion-icon class="mr-1" name="eye"></ion-icon>Select As Read</ion-button> 
  </div> -->

