<!-- <ion-content class="task-manager theme-maroon"> -->
  <div class="task-manager theme-maroon">
    <ion-grid>
      <div class="tab-profile text-center">
        <ion-row>
          <!--      <ion-col size="6">
         <div class="user-details">
  <h5>User Name</h5>
  <h6>User Designation</h6>
         </div>
       </ion-col> -->
          <ion-col size="4" class="z-index-2">
            <div class="user-profile">
              <img src="../../../../assets/imgs/partyportfolio.png">
            </div>
          </ion-col>
          <ion-col size="8" class="z-index-2">
            <div class="user-details text-left">
              <h6 class="white">User Name</h6>
              <span class="white">User Designation</span>
            </div>
          </ion-col>
        </ion-row>
        <div class="filter-section">
          <ion-icon name="funnel" (click)="toggle()"></ion-icon>
        </div>
      </div>
      <div class="task-status" *ngIf="show">
        <ion-row>
          <ion-col size="12" class="text-center">
            <ion-list>
              <ion-item>
                <ion-label>Task Status</ion-label>
                <ion-select placeholder="Pending">
                  <ion-select-option value="1">One</ion-select-option>
                  <ion-select-option value="2">Two</ion-select-option>
                  <ion-select-option value="3">Three</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-button href="#" size="small">Show</ion-button>
            <ion-button href="#" size="small">Clear</ion-button>
          </ion-col>
        </ion-row>
      </div>
      <div class="task-container">
        <div class="task-card-container">
          <div class="left-section-task">
            <h5 class="text-left">
              All Tasks
            </h5>
            <div class="high float-left">
              <p>High : 10</p>
            </div>
            <div class="medium">
              <p>Medium : 10</p>
            </div>
            <div class="low">
              <p>Low : 10</p>
            </div>
          </div>
          <div class="right-section-task">
            <div class="count">
              <p>101</p>
            </div>
          </div>
        </div>
        <div class="task-card-container">
          <div class="left-section-task">
            <h5 class="text-left">
              Today's Tasks
            </h5>
            <div class="high float-left">
              <p>High : 10</p>
            </div>
            <div class="medium">
              <p>Medium : 10</p>
            </div>
            <div class="low">
              <p>Low : 10</p>
            </div>
          </div>
          <div class="right-section-task">
            <div class="count">
              <p>101</p>
            </div>
          </div>
        </div>
        <div class="task-card-container">
          <div class="left-section-task">
            <h5 class="text-left">
              Overdue Tasks
            </h5>
            <div class="high float-left">
              <p>High : 10</p>
            </div>
            <div class="medium">
              <p>Medium : 10</p>
            </div>
            <div class="low">
              <p>Low : 10</p>
            </div>
          </div>
          <div class="right-section-task">
            <div class="count">
              <p>101</p>
            </div>
          </div>
        </div>
        <div class="task-card-container">
          <div class="left-section-task">
            <h5 class="text-left">
              Today's + Overdue Tasks
            </h5>
            <div class="high float-left">
              <p>High : 10</p>
            </div>
            <div class="medium">
              <p>Medium : 10</p>
            </div>
            <div class="low">
              <p>Low : 10</p>
            </div>
          </div>
          <div class="right-section-task">
            <div class="count">
              <p>101</p>
            </div>
          </div>
        </div>
      </div>
    </ion-grid>
  </div>
  <!-- </ion-content> -->