/*Add to cart & cart summary start */
.add-to-cart
{
  .item-native
  {
   border:0;
  }
  ion-thumbnail
  {
    width: 70px;
    height: 55px;
  }
  .border-bottom-lov-btn {
   
    
    font-size: 1rem;
    height: 30px;
}
.border-bottom-input input:focus
{
  border-bottom:0px solid transparent !important;
}
ion-item {
    --highlight-color-focused: none;
  }
  ion-card
  {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0px 0px 10px #e4e4e4;
    overflow:visible;
}
  .qty-description
  {
   
      --min-height: 25px;
      h5{
       
        font-weight: 500;
        font-size: 1rem;
      }
      .min-qty-count
      {
       
        display: inline-block;
        padding: 0px 5px;
        border-radius: 15px;
        min-width: 30px;
        font-size: 0.8rem;
        text-align: center;
        height: 10;
        margin-left: 5px;
        font-weight: bold;
     
      }
  }
  .ion-thumbnail
  {
    width: 70px;
    height: 60px;
  }
  .total-qty
  {
    right: 0px;
    bottom: 10px;
    
    min-width: 120px;
    border-radius: 20px 0px 0px 20px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    font-size: 1rem;
    padding-right: 5px;
    padding-left: 65px;
    text-align: right;
    &::after
    {
        content: "Total Qty";
    position: absolute;
    left: 6px;
    font-size: 0.8rem;
    
    }
  }
  .add-to-cart-btn
  {
    right: -10px;
    top: -7px;
    
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #fff;
    text-align: center;
    line-height: 27px;
    font-size: 1rem;
  }
  .cart-summary
  {
    h1 {
        margin-top: 4px;
        font-size: 22px;
       
        margin-bottom: 0px;
    }
    .total-label
    {
        width:67px;
        margin-bottom:5px;
    }
    .cart-summary-icon
    {
     
      width: 30px;
      height: 30px;
      color: #fff;
      border-radius: 50%;
      font-size: 1.2rem;
      text-align: center;
      line-height: 33px;
      margin: auto;
      z-index:1;
      top: -11px;
      left: calc(50% - 15px);
  
      &::after
      {
          content: "";
          position: absolute;
         
          width:38px;
          height:38px;
          border-radius: 50%;
          left: -4px;
          top: -4px;
          z-index: -1;
      }
    }
  }

  .min-qty-count
  {
   
    display: inline-block;
    padding: 0px 5px;
    border-radius: 15px;
    min-width: 30px;
    font-size: 0.8rem;
    text-align: center;
    height: 10;
    margin-left: 5px;
    font-weight: bold;
 
  }

}
.order-entry{
  margin-bottom: 15px !important;
  .cart-btn
  {
      
  padding: 5px;
  
  border-radius: 5px;
  font-size: 18px;
  right: 0px;
  top: 15px;
  }
  .order-entry-header{
      background: #f7fbff;
      padding: 5px 10px;
      width: 80%;
      text-align: center;
      border: 1px solid #81b6f4;
      margin: auto;
      position: relative;
      border-radius: 20px;
  
      .card-header{
          margin:0;
          font-size: 16px;
          color: #4990e2;
      }
  }

.card-body {
  box-shadow: -1px -1px 10px #bdb9b982, 0px 4px 10px #c1b6b691;
  padding: 5px 10px 5px 0px;
  padding-top: 20px;
  margin-top: -15px;
 .table-responsive
 {
  margin-top:15px;
 }
 .quantity-count
 {
  margin: 5px 0px;
  color: #484848;
  font-weight: 500;
  font-size: 13px;
 }
 .quantity-badge
 {
  
  padding: 0px 5px;
  border-radius: 5px;
  font-size: 13px;
  line-height: 17px;
 }
}
  .order-image{
    text-align:center;
    width: 66%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    margin-top: 15px;
    ion-avatar{
        height: 200px !important;
            .proper-image{
          height: 158px;
          width: 98%;
          border-radius: 3px;
          padding: 5px;
      }
  }
  }
}
 
/*Add to cart & cart summary start */
.table-responsive.right-table {
  height: 277px;

}
.entry-table
{
    margin: 0;
thead {
        background: #f6f6f6;
       th{ color: #584a4a;}
    }
    tbody tr:nth-child(even) {
        background: #fff ;
    }
 
    td
    {
     //   min-width:150px;
        font-size: 14px;
        padding: 5px 10px;
    }
    th {
        
        font-size: 14px;
        padding: 5px;
        padding: 5px 10px;
        border: 1px solid #ccc;
    }

}