.detail-table-container{
    .table-box{
        .main-heading {
            margin-top: 10;
            font-size: 17px;
        }
        table{
            tr{
                border-bottom: 1px solid #efeeee;
            }
             thead {
                background: #ffffff;
            }
                .heading {
                    text-align: left;
                    font-size: 15px;
                    margin-top: 0;
                    margin-bottom: 5px;
                }
                .w-40 {
                    width: 85px;
                }
                .text-red{
                    color: red;
                }
                .text-green{
                    color: #2ccc32;
                }
                .text-dark{
                    color: #696767;
                }
             
            }
           table td {
                border: none;
            }
            table thead th {
                border: none;
            }
            table tbody tr:nth-child(even) {
                background: #ffffff;
            }
    }
}