// .signature-pad
// {
//     canvas
//     {
//         width: 100%;
//         height: 200px;
//         border: 1px dashed #ccc;
//     }
   
// }
signature-pad {
  canvas {
    border: dashed 1px #cccccc;
    width: 100%; height: 200px;
  }
}