.change-setting-body {
    .change-setting-container {
  
        .key-container {
            padding-top: 10px;
            padding-top: 10px;
            width: 80%;
            margin: auto;
            margin-top: 30px;
            z-index: 2;
            border-radius: 10px;
            height: 150px;
            h4 {
                margin-top: 8px;
                margin-bottom: 0px;
            }
            .app-button {
                margin-top: 20px;
            }
            .btn-pin {
                margin: auto;
                margin-top: 18px;
                text-align: center;
            }
            .card-container {
                padding: 5px;
                border-radius: 20px 5px 0;
                height:100%;
            .key-card {
                padding: 5px 3px;
                p{
                    margin-top: 2px;
                    margin-bottom: 2px;
                    font-size: 15px;
                    text-align: center;
                }
                .icon-in {
                    margin: auto;
                    text-align: center;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    padding-top: 2px;
                    font-size: 21px;                
                }
            }
        }
        }
        .item.item-block .item-inner {
            border-bottom: none !important;
        }
        a {
            text-decoration: none;
        }
        .text-right {
            margin-top: 0.5rem;
        }
        .item {
            padding-left: 0px;
        }
        .change-setting-label {
            font-size: 1.6rem;
            overflow: initial;
            text-overflow: initial;
            white-space: normal;
        }
    }
    ion-item {
        --border-width: 0;
    }
    ion-input {
        font-weight: 600;
        margin-left: 20px;
    }
    .change-setting-container-main .item-inner {
        input {
            border: none !important;
            width: 100%;
            margin: 0.7rem 0rem;
        }
        .label-md {
            margin: 0px 0px 10px 0;
        }
    }
    .change-setting-btn {
        bottom: -4rem;
        width: 85%;
        margin: auto;
    }
    .show-password {
        float: right;
        height: 15px !important;
    }
}