
.globe-btn{
    position: relative;
    
}
.globe-btn:active:after{
    content: "";
    display: block;
    position: absolute;
    width: 90%;
    height: 70%;
    border: 1px dashed #fff;
    top: 13%;
    left: 4%;
    border-radius: 50px;
}
ion-button{
    text-transform: none !important;
}