<!-- <div *ngIf = "dispCount" class="display-count-container" (click)="itemClick($event)"> 
<ion-row>
  <ion-col size="6">
    <div class="display-count">
<div class="count-name">
<h6>{{dispCount.prompt_name}}</h6>
</div>
<div class="count">
  <span>{{dispCount.value}}</span>
</div>
    </div>
  </ion-col>
</ion-row>
</div> -->
<div class="count-container">
  <div class="card-body">
    <ion-row>
      <ion-col>
        <div class="single-count" (click)="itemClick($event)">
          <div class="count-value">
            <span  [ngStyle]="getParsedJson(dispCount.display_setting_str)" class="text-primary">{{dispCount.value}}</span>
          </div>
          <div class="count-name">
            <span [ngStyle]="getParsedJson(dispCount.display_setting_str)" class="text-primary">{{dispCount.prompt_name}}</span>
          </div>
        </div>
      </ion-col>
      <!-- <ion-col size="4">
        <div class="single-count">
          <div class="count-value">
            <span>46</span>
          </div>
          <div class="count-name">
            <span class="text-primary">Beats</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="single-count">
          <div class="count-value">
            <span>46</span>
          </div>
          <div class="count-name">
            <span class="text-primary">Outlets</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="single-count">
          <div class="count-value">
            <span>46</span>
          </div>
          <div class="count-name">
            <span class="text-primary">Outlets planned</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="single-count">
          <div class="count-value">
            <span>46</span>
          </div>
          <div class="count-name">
            <span class="text-primary">UPC</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="single-count">
          <div class="count-value">
            <span>46</span>
          </div>
          <div class="count-name">
            <span class="text-primary">Distributor</span>
          </div>
        </div>
      </ion-col> -->
    </ion-row>
  </div>
</div>