<div class="smart-filter-section">
  <ion-segment scrollable>
  <ion-chip fill="outline" color="primary">
    <ion-label>Nagpur</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
  <ion-chip fill="outline" color="primary">
    <ion-label>Rs.0 To Rs.50</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
  <ion-chip fill="outline" color="primary">
    <ion-label>Indira Metal</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
  <ion-chip fill="outline" color="primary">
    <ion-label>Finished Good</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
  </ion-segment>
 </div>