<div *ngIf="filter  && frame.tableRows.length>0">
  <app-frame-canvas-filter [frametable]="frame" (passdataToframetable)="getdataFromcanvasFilter($event)"
    [theadData]="thead" [frame]='frame'></app-frame-canvas-filter>
</div>
<!-- <div *ngIf="!filter && frame.tableRows.length>0">
  <app-frame-apexfilter  [theadData]="thead" (fromapexFilter)="getdataFromcanvasApex($event)"
  [frame]='frame'></app-frame-apexfilter>
</div> -->

<ion-row *ngIf="frame.apps_page_frame_name">
  <ion-col size="12">
    <!-- <h1 class="frame-name position-relative">{{frame.apps_page_frame_name}}</h1> -->
    <div style="display: flex;">
      <h1 class="frame-name position-relative" style="width: 100%;">{{frame.apps_page_frame_name}}<span
          style="margin-left: 10px;width: 100%;"
          *ngIf="globalObjects.toggleDevloperMode">[{{frame.apps_page_frame_seqid}}][{{frame.frame_alias}}]<ion-icon
            class="code-btn" color="primary" name="information-circle-outline" (click)="showDeveloperData()">
          </ion-icon></span> <span *ngIf="switchFlag" style="float: right;"><i class="fa fa-id-card-o"
            style="cursor: pointer;" aria-hidden="true" (click)="onSwitch()"></i></span></h1>

      <!-- <span><ion-button size="small" style="padding-top: 0;height: 18px;font-size: 10px;" (click)="showQueryParam()">Query Parameter</ion-button></span> -->
      <!--     <ion-item lines="none" style="margin-left: auto;" > -->
      <!-- <ion-label style="font-size:14px;">Switch To Card</ion-label> -->
      <!-- <i class="fa fa-table" aria-hidden="true"  slot="start"  style="margin-right: 8px;" ></i> -->
      <!-- <ion-toggle  (ionChange)="onSwitch()" style="padding: 0;"></ion-toggle> -->


      <!--  </ion-item> -->
    </div>
  </ion-col>
  <!-- <ion-col class="pr-0 data-view-type text-right" size="3">
     -->
  <!-- <ion-icon (click)="toggle()" [hidden]="horizontal_table=='Hide'" name="ios-arrow-dropdown-circle"></ion-icon>
      <ion-icon (click)="toggle()" [hidden]="horizontal_table=='Show'" name="ios-arrow-dropright-circle"></ion-icon> -->
  <!-- <ion-icon name="ios-funnel" (click)="filterToggle()" class="filter-btn ml-3"></ion-icon> -->
  <!-- </ion-col> -->
</ion-row>
<ng-container *ngIf="frame.apps_frame_type != 'PIVOT-TABLE'">

<div *ngIf="searchFlag  && !filter ">
  <div class="input-group primary-search-section">

    <ion-input class="input-text" [hidden]="horizontal_table=='Hide'" (ionChange)="searchAllData()"
      placeholder="Search Here..." [(ngModel)]="searchText"></ion-input>

    <ion-input class="input-text" [hidden]="horizontal_table=='Show'" (ionChange)="verticaldata1()"
      placeholder="Search Here..." [(ngModel)]="searchText"></ion-input>


    <div class="input-group-append">
      <button *ngIf="platform.is('ios') || platform.is('android')" class="lov-btn" ion-button icon-only small
        (click)="openMike()">
        <img src="./assets/imgs/google-speaker.png">
      </button>
      <button *ngIf="!platform.is('ios') && !platform.is('android')" class="lov-btn" ion-button icon-only small
        (click)="sppeak()">
        <!-- <img src="./assets/imgs/google-speaker.png"> -->
        <ion-icon name="mic" [ngClass]="mikeStyle" color="primary"></ion-icon>
      </button>
    </div>
    <div class="input-group-append">
      <button class="lov-btn" ion-button icon-only small>
        <ion-icon name="qr-scanner" (click)="openbarcodescanner()"></ion-icon>
      </button>
    </div>

    <div class="input-group-append">
      <button class="lov-btn" ion-button icon-only small>

        <ion-icon (click)="toggle()" [hidden]="horizontal_table=='Hide'" name="ios-arrow-dropdown-circle"></ion-icon>
        <ion-icon (click)="toggle()" [hidden]="horizontal_table=='Show'" name="ios-arrow-dropright-circle"></ion-icon>
      </button>
    </div>
    <div class="input-group-append" *ngIf="enablefunnel">
      <button class="lov-btn" ion-button icon-only small (click)="filterToggle()">
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
    </div>
  </div>
</div>

<!-- <div *ngIf="show_filter=='show' && !canvasfilter">
    <app-frame-filter [frame]="filterFormData" (emitFilter)="getFilterParameter($event)"></app-frame-filter>
  </div> -->
<ng-container *ngIf="!pivotTable">


  <div *ngIf="show_filter=='show' ">
    <div *ngIf="toggleFilter">
      <app-frame-canvas-filter [frame]="frame" [frametable]='frame'
        (passdataToframetable)="getdataFromcanvasFilter($event)" (emitFilter)="getFilterParameter($event)">
      </app-frame-canvas-filter>
    </div>
  </div>
  <!-- ------horizintal-------------  now showing this -->

  <div *ngIf="horizontal_table=='Show' && !filter ">
    <div [id]="tab" class="table-responsive {{scrollClass}}" *ngIf="frame.apps_frame_type=='TABLE'"
      [ngStyle]="getParsedJsonSimple(tableScroll)">

      <ng-container *ngIf="!controlBreakFlag && !groupFlag">

        <table>
          <thead>
            <tr>
              <ng-container *ngFor="let th of thead;let i=index">
                <!-- 
              <th (click)="thClick(th,i)" *ngIf="th.frezeStyle" class="sticky-col"
                [ngStyle]="th.frezeStyle">{{th.prompt_name}}
                <ion-icon name="arrow-round-up" *ngIf="th==orderByParam.th && orderByParam.direction > 0"></ion-icon>
                <ion-icon name="arrow-round-down" *ngIf="th==orderByParam.th && orderByParam.direction < 0"></ion-icon>
              </th> -->
                <th [ngStyle]="stickyhead" (click)="thClick(th,i)">
                  {{th}}
                  <ion-icon name="arrow-round-up" *ngIf="th==orderByParam.th && orderByParam.direction > 0"></ion-icon>
                  <ion-icon name="arrow-round-down" *ngIf="th==orderByParam.th && orderByParam.direction < 0">
                  </ion-icon>
                </th>

              </ng-container>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tableData of frame.tableRows |tableSearch :searchText;let rowindex=index">
              <ng-container *ngFor="let itemGroup of tableData;">
                <ng-container *ngFor="let input_item of itemGroup;let d=index">
                  <td *ngIf="input_item.freezeColumn" class="sticky-col"
                    [ngStyle]="input_item.freezeColumn ? getParsed(input_item.freezeColumn) : ''"
                    [hidden]="(current_page_parameter.MODE && !(input_item.item_visible_flag && (input_item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||input_item.item_visible_flag=='F'"
                    [ngStyle]="input_item.tdStyle ? getParsedJson(input_item.tdStyle,input_item.value) : ''">
                    <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                      (emitPass)="itemClicked($event,tableData,rowindex)"
                      (LHSOnChange)="itemValueChange($event,rowindex)">
                    </app-items>
                  </td>
                  <td *ngIf="!input_item.freezeColumn"
                    [hidden]="(current_page_parameter.MODE && !(input_item.item_visible_flag && (input_item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||input_item.item_visible_flag=='F'"
                    [ngStyle]="input_item.tdStyle ? getParsedJson(input_item.tdStyle,input_item.value) : ''">
                    <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                      (emitPass)="itemClicked($event,tableData,rowindex)"
                      (LHSOnChange)="itemValueChange($event,rowindex)">
                    </app-items>
                  </td>
                </ng-container>

              </ng-container>
            </tr>
            <tr *ngIf="footerRowFlag">
              <td *ngFor="let h of summaryRow" class="text-right" style="font-weight: bold">
                {{h}}
              </td>
            </tr>
          </tbody>
        </table>

      </ng-container>



      <ng-container *ngIf="controlBreakFlag">

        <table>
          <ng-container *ngFor="let c of controlBreakArr">
            <thead cdkDropListGroup>
              <tr>
                <th class="dragHead" colspan="100%" class="control-break-top" cdkDropList [cdkDropListData]="dragedDiv"
                  (cdkDropListDropped)="drop($event)"><span *ngFor="let k of c.keys let l = index" cdkDrag>
                    <ng-container *ngIf="l > 0">, </ng-container> {{k.key}} : {{k.value}}
                  </span>
                </th>
              </tr>
              <tr cdkDropList [cdkDropListData]="controlBreakHead" (cdkDropListDropped)="drop($event)">

                <th (click)="thClick(th,i)" *ngFor="let th of controlBreakHead;let i=index" cdkDrag>
                  {{th}}
                  <ion-icon name="arrow-round-up" *ngIf="th==orderByParam.th && orderByParam.direction > 0"></ion-icon>
                  <ion-icon name="arrow-round-down" *ngIf="th==orderByParam.th && orderByParam.direction < 0">
                  </ion-icon>
                </th>


              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let tableData of c.items |tableSearch :searchText;let rowindex=index">
                <ng-container *ngFor="let itemGroup of tableData;">
                  <ng-container *ngFor="let input_item of itemGroup;let d=index">
                    <td *ngIf="input_item.freezeColumn" class="sticky-col"
                      [ngStyle]="input_item.freezeColumn ? getParsed(input_item.freezeColumn) : ''"
                      [hidden]="(current_page_parameter.MODE && !(input_item.item_visible_flag && (input_item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||input_item.item_visible_flag=='F'"
                      [ngStyle]="input_item.tdStyle ? getParsedJson(input_item.tdStyle,input_item.value) : ''">
                      <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                        (emitPass)="itemClicked($event,tableData,rowindex)"
                        (LHSOnChange)="itemValueChange($event,rowindex)">
                      </app-items>
                    </td>
                    <td *ngIf="!input_item.freezeColumn"
                      [hidden]="(current_page_parameter.MODE && !(input_item.item_visible_flag && (input_item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||input_item.item_visible_flag=='F'"
                      [ngStyle]="input_item.tdStyle ? getParsedJson(input_item.tdStyle,input_item.value) : ''">
                      <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                        (emitPass)="itemClicked($event,tableData,rowindex)"
                        (LHSOnChange)="itemValueChange($event,rowindex)">
                      </app-items>
                    </td>
                  </ng-container>

                </ng-container>
              </tr>

              <tr *ngIf="c.summRow && c.summRow.length > 0">
                <td *ngFor="let h of c.summRow" class="text-right" style="font-weight: bold">
                  {{h}}
                </td>
              </tr>
            </tbody>
          </ng-container>
        </table>


      </ng-container>


      <ng-container *ngIf="groupFlag">

        <table style="margin: 0px;" cdkDropListGroup class="groupBy_table">
          <thead>
            <tr>

              <ng-container *ngFor="let th of controlBreakArr[0].pRHead">
                <th class="top-headth" cdkDropList [cdkDropListData]="dragedDiv" (cdkDropListDropped)="drop($event)">
                  {{th.key}}</th>
              </ng-container>
            </tr>
          </thead>

          <tbody>

            <ng-container *ngFor="let c of controlBreakArr">
              <tr>
                <td class="top-headth1" *ngFor="let tH of c.pRHead;let i=index" style="cursor:pointer"
                  (click)="c.rowsFlag = !c.rowsFlag">{{tH.value}}</td>
              </tr>


              <tr *ngIf="c.rowsFlag">
                <td colspan="100%" class="bg-white py-0">
                  <table style="margin: 0;">
                    <thead>
                      <!-- <tr>
                <th class="dragHead" colspan="100%" class="control-break-top" cdkDropList [cdkDropListData]="dragedDiv"
                  (cdkDropListDropped)="drop($event)"><span *ngFor="let k of c.keys let l = index" cdkDrag>
                    <ng-container *ngIf="l > 0">, </ng-container> {{k.key}} : {{k.value}}
                  </span>
                </th>
              </tr> -->
                      <tr cdkDropList [cdkDropListData]="controlBreakHead" (cdkDropListDropped)="drop($event)">

                        <th class="top-headth2" (click)="thClick(th,i)" *ngFor="let th of controlBreakHead;let i=index"
                          cdkDrag>
                          {{th}}
                          <ion-icon name="arrow-round-up" *ngIf="th==orderByParam.th && orderByParam.direction > 0">
                          </ion-icon>
                          <ion-icon name="arrow-round-down" *ngIf="th==orderByParam.th && orderByParam.direction < 0">
                          </ion-icon>
                        </th>

                      </tr>
                    </thead>
                    <tbody>

                      <tr *ngFor="let tableData of c.items |tableSearch :searchText;let rowindex=index">
                        <ng-container *ngFor="let itemGroup of tableData;">
                          <ng-container *ngFor="let input_item of itemGroup;let d=index">
                            <td class="bg-white" *ngIf="input_item.freezeColumn" class="sticky-col"
                              [ngStyle]="input_item.freezeColumn ? getParsed(input_item.freezeColumn) : ''"
                              [hidden]="(current_page_parameter.MODE && !(input_item.item_visible_flag && (input_item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||input_item.item_visible_flag=='F'"
                              [ngStyle]="input_item.tdStyle ? getParsedJson(input_item.tdStyle,input_item.value) : ''">
                              <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                                (emitPass)="itemClicked($event,tableData,rowindex)"
                                (LHSOnChange)="itemValueChange($event,rowindex)">
                              </app-items>
                            </td>
                            <td class="bg-white" *ngIf="!input_item.freezeColumn"
                              [hidden]="(current_page_parameter.MODE && !(input_item.item_visible_flag && (input_item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||input_item.item_visible_flag=='F'"
                              [ngStyle]="input_item.tdStyle ? getParsedJson(input_item.tdStyle,input_item.value) : ''">
                              <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                                (emitPass)="itemClicked($event,tableData,rowindex)"
                                (LHSOnChange)="itemValueChange($event,rowindex)">
                              </app-items>
                            </td>
                          </ng-container>

                        </ng-container>
                      </tr>

                    </tbody>

                  </table>
                </td>
              </tr>
            </ng-container>

          </tbody>
        </table>


        <!-- <table style="margin: 0px;">
        <ng-container *ngFor="let c of controlBreakArr">
          <thead cdkDropListGroup>
            <tr>
              <th class="dragHead" colspan="100%" class="control-break-top" cdkDropList [cdkDropListData]="dragedDiv"
                (cdkDropListDropped)="drop($event)"><span *ngFor="let k of c.keys let l = index" cdkDrag>
                  <ng-container *ngIf="l > 0">, </ng-container> {{k.key}} : {{k.value}}
                </span>
              </th>
            </tr>
            <tr cdkDropList [cdkDropListData]="controlBreakHead" (cdkDropListDropped)="drop($event)">

              <th (click)="thClick(th,i)" *ngFor="let th of controlBreakHead;let i=index" cdkDrag>
                {{th}}
                <ion-icon name="arrow-round-up" *ngIf="th==orderByParam.th && orderByParam.direction > 0"></ion-icon>
                <ion-icon name="arrow-round-down" *ngIf="th==orderByParam.th && orderByParam.direction < 0"></ion-icon>
              </th>

            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let tableData of c.items |tableSearch :searchText;let rowindex=index">
              <ng-container *ngFor="let itemGroup of tableData;">
                <ng-container *ngFor="let input_item of itemGroup;let d=index">
                  <td *ngIf="input_item.freezeColumn" class="sticky-col" 
                    [ngStyle]="input_item.freezeColumn ? getParsed(input_item.freezeColumn) : ''"
                    [hidden]="(current_page_parameter.MODE && !(input_item.item_visible_flag && (input_item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||input_item.item_visible_flag=='F'"
                    [ngStyle]="input_item.tdStyle ? getParsedJson(input_item.tdStyle,input_item.value) : ''">
                    <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                      (emitPass)="itemClicked($event,tableData,rowindex)"
                      (LHSOnChange)="itemValueChange($event,rowindex)">
                    </app-items>
                  </td>
                  <td *ngIf="!input_item.freezeColumn" 
                    [hidden]="(current_page_parameter.MODE && !(input_item.item_visible_flag && (input_item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||input_item.item_visible_flag=='F'"
                    [ngStyle]="input_item.tdStyle ? getParsedJson(input_item.tdStyle,input_item.value) : ''">
                    <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                      (emitPass)="itemClicked($event,tableData,rowindex)"
                      (LHSOnChange)="itemValueChange($event,rowindex)">
                    </app-items>
                  </td>
                </ng-container>

              </ng-container>
            </tr>

            <tr *ngIf="c.summRow && c.summRow.length > 0">
              <td *ngFor="let h of c.summRow" class="text-right" style="font-weight: bold">
                {{h}}
              </td>
            </tr>
          </tbody>
        </ng-container>
      </table> -->


      </ng-container>



      <div class="center" *ngIf="showLoading">
        <div class="text-center">
          <img src="../../../../assets/dot.gif" width="20%">
        </div>
      </div>

    </div>
  </div>

  <!-- -----------------------on button click Vertical ------- -->
  <div class="left-fixed-table" *ngIf="horizontal_table=='Hide' && !filter ">
    <ion-row>
      <ion-col size="4" class="p-0">
        <div class="left-frame-table table-responsive">
          <table class="table left-table">
            <thead class="th-thinner">
              <tr *ngFor="let th of thead;let h=index">
                <td style="font-size: 13px;">{{th}}</td>
              </tr>
            </thead>
          </table>
        </div>
      </ion-col>
      <!--  <ion-col [size]="footerRowFlag ? 6 : 8" class="p-0"> -->
      <ion-col size="8" class="p-0">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td style="padding: 0;border: none;" class="table-inner">
              <tr *ngFor="let tableData of frame.verticalTable ">
                <ng-container *ngFor="let itemGroup of tableData;let rowin=index">
                  <td *ngFor="let input_item of itemGroup "
                    [hidden]="(current_page_parameter.MODE && !(input_item.item_visible_flag && (input_item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||input_item.item_visible_flag=='F'">
                    <!-- <app-items [item]="input_item" [frame_type]="frame.apps_frame_type" (emitPass)="itemClickedVertical($event,tableData,rowin)"
                        (LHSOnChange)="itemValueChange($event,rowindex)">
                      </app-items> -->

                    <ng-container [ngSwitch]="input_item.item_type">
                      <div *ngSwitchCase="'LBL'">
                        <app-label [labelInput]="input_item" (emitPass)="itemClickedVertical($event,tableData,rowin)"
                          (emitPass)="itemValueChange($event,tableData,rowin)"></app-label>
                      </div>

                      <div *ngSwitchCase="'TEXT'">
                        <app-para-text [itemInput]="input_item" [frame_type]="frame.apps_frame_type"
                          (emitPass)="itemClickedVertical($event,tableData,rowin)"
                          (emitOnChange)="itemValueChange($event,tableData,rowin)">
                        </app-para-text>
                      </div>

                      <div *ngSwitchCase="'CARD_HEADER'">
                        <app-para-text [itemInput]="input_item" [frame_type]="frame.apps_frame_type"
                          (emitPass)="itemClickedVertical($event,tableData,rowin)"
                          (emitOnChange)="itemValueChange($event,tableData,rowin)">
                        </app-para-text>
                      </div>

                      <div *ngSwitchCase="'CARD_TITLE'">
                        <app-para-text [itemInput]="input_item" [frame_type]="frame.apps_frame_type"
                          (emitPass)="itemClickedVertical($event,tableData,rowin)"
                          (emitOnChange)="itemValueChange($event,tableData,rowin)">
                        </app-para-text>
                      </div>

                      <div *ngSwitchCase="'CARD_FOOTER'">
                        <app-para-text [itemInput]="input_item" [frame_type]="frame.apps_frame_type"
                          (emitPass)="itemClickedVertical($event,tableData,rowin)"
                          (emitOnChange)="itemValueChange($event,tableData,rowin)">
                        </app-para-text>
                      </div>

                      <div *ngSwitchCase="'DISPLAY_PHOTO'">
                        <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                          (emitPass)="itemClicked($event,tableData,rowin)"
                          (LHSOnChange)="itemValueChange($event,rowin)">
                        </app-items>
                      </div>
                      <!-- <app-items [item]="input_item" [frame_type]="frame.apps_frame_type" (emitPass)="itemClicked($event,rowindex)"
                          [frame_type]="frame.apps_frame_type" (LHSOnChange)="itemValueChange($event,rowindex)"></app-items> -->
                    </ng-container>

                  </td>
                </ng-container>
              </tr>
              </td>
              <td style="padding: 0;border: none;">
                <tr *ngFor="let h of summaryRow">
                  <td class="text-right" style="font-weight: bold;">
                    {{h}}
                  </td>
                </tr>
              </td>
              </tr>

            </tbody>
          </table>
        </div>

      </ion-col>


    </ion-row>
  </div>

  <!-- <div class="table-fix-footer">
  <table class="mt-0">
    <tfoot>
      <tr>
        <td *ngFor="let h of summaryRow" class="text-right" style="width:100px;max-width:100px;min-width:100px;">
          {{h}}
        </td>
      </tr>
    </tfoot>
  </table>
</div> -->

  <div class="pagination-container" *ngIf=" !canvasfilter && !jsFilter && !advanceFilter">
    <ul class="paginator my-1">
      <li (click)="clickShare=!clickShare">
        <ion-icon style="padding-top: 6px" name="share"></ion-icon>
        <div *ngIf="clickShare" class="dropdownShare">
          <ng-container>
            <ul style="border: 0px;margin: 0px;padding: 0px;">
              <li *ngIf="plt =='browser'" class="inner-dropShare">
                <img (click)="getDataForGraph('print','')" src="./assets/imgs/printicon.png">
              </li>
              <li class="inner-dropShare">
                <img (click)="getDataForGraph('pdf','')" src="./assets/imgs/pdficon.png">
              </li>
              <li class="inner-dropShare" *ngIf="plt !='ios'">
                <img (click)="getDataForGraph('excel','')" src="./assets/imgs/excelicon.png">
              </li>
              <li *ngIf="plt =='ios'" class="inner-dropShare">
                <img (click)="getShare('email')" src="./assets/imgs/emailicon.png">
              </li>
            </ul>

          </ng-container>
        </div>
      </li>
      <li class="pt-1">Total Records : {{this.l_total_rows}}</li>
      <li>
        <ion-icon class="paginator-btn" *ngIf="l_current_page !=1" name="skip-backward" (click)="goFirst(1);">
        </ion-icon>
      </li>
      <!-- <li>
        <ion-icon class="paginator-btn" *ngIf="l_current_page !=1" name="arrow-round-back"
          (click)='paginate(this.l_current_page-1);'></ion-icon>
      </li> -->
      <li class="pt-1"> Page {{(this.l_current_page)}} Of {{this.l_total_remain_pages}}</li>
      <!-- {{(this.l_total_remain_pages>this.l_total_rows) ? this.l_total_rows : this.l_total_remain_pages}}</li> -->
      <li>
        <ion-icon class="paginator-btn next-btn" *ngIf="l_current_page !=l_total_remain_pages"
          name="arrow-round-forward" (click)='paginate(this.l_current_page+1);'>
        </ion-icon>
      </li>
      <li>
        <ion-icon class="paginator-btn next-btn" *ngIf="l_current_page!=l_total_remain_pages" name="skip-forward"
          (click)='goToLast(this.l_total_rows,this.l_total_remain_pages);'>
        </ion-icon>
      </li>

    </ul>
  </div>

  <div *ngIf=" !canvasfilter && !jsFilter && !advanceFilter">
    <ion-button *ngIf="pdfFlag" size="small" color="medium" (click)="getDataForGraph('pdf','')">Pdf Download
    </ion-button>
    <ion-button *ngIf="excelFlag && plt != 'ios'" size="small" color="medium" (click)="getDataForGraph('excel','')">
      Excel
      Download</ion-button>
    <ion-button *ngIf="graphFlag" size="small" color="medium" (click)="opengraph()">Open Graph</ion-button>
  </div>

  <div *ngIf="flagforgraph == true">
    <app-frame-graph [resfromTable]="resforgraph"></app-frame-graph>
  </div>



</ng-container>



<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>


<ng-container *ngIf="pivotTable">

  <div *ngIf="show_filter=='show' ">
    <div *ngIf="toggleFilter">
      <ion-button color="secondary" (click)="pivotTable = false">Switch Table</ion-button>
    </div>
  </div>

  <app-frame-pivot-table [data]="tableData"></app-frame-pivot-table>
</ng-container>

  
</ng-container>

<ng-container *ngIf="frame.apps_frame_type == 'PIVOT-TABLE'">
  <div id="output"></div>
</ng-container>


<!-- <ion-infinite-scroll class="ispinner" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingColor="red" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

<!--Table With Fix header Now Showing This-->

<!-- <div class="table-fix-container">
    <div class="table-fix-head" (scroll)="updateScroll(scrollOne,scrollTwo,scrollThree,1)" #scrollOne>
      <table class="mb-0">
        <thead>
          <tr>
            <th *ngFor="let th of thead;let i=index" (click)="thClick(th,i)"
              style="width:100px;max-width:100px;min-width:100px;">{{th}}
              <ion-icon name="arrow-round-up" *ngIf="th==orderByParam.th && orderByParam.direction > 0"></ion-icon>
              <ion-icon name="arrow-round-down" *ngIf="th==orderByParam.th && orderByParam.direction < 0"></ion-icon>
            </th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-fix-body" [style.max-height]="tbodyHeight"
      (scroll)="updateScroll(scrollOne,scrollTwo,scrollThree,2)" #scrollTwo>
      <table class="my-0">
        <tbody>
          <tr *ngFor="let tableData of frame.tableRows |tableSearch :searchText;let rowindex=index">
            <ng-container *ngFor="let itemGroup of tableData;">
              <td *ngFor="let input_item of itemGroup;" style="width:100px;max-width:100px;min-width:100px;"
                [hidden]="(current_page_parameter.MODE && !(input_item.item_visible_flag && (input_item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||input_item.item_visible_flag=='F'"
                [ngStyle]="getParsedJson(input_item.display_setting_str)">
                <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                  (emitPass)="itemClicked($event,rowindex)" (LHSOnChange)="itemValueChange($event,rowindex)">
                </app-items>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-fix-footer" (scroll)="updateScroll(scrollOne, scrollTwo,scrollThree,3)" #scrollThree>
      <table class="mt-0">
        <tfoot>
          <tr>
            <td *ngFor="let h of summaryRow" class="text-right" style="width:100px;max-width:100px;min-width:100px;">
              {{h}}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div> -->
<!--Table With Fix header Sneha End-->