.column-count
{
    padding:3px 5px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    font-weight:500;
    margin-bottom:10px;
    .count-value
    {
        top: -14px;
        right: -6px;
        padding: 5px;
     
        height: 20px;
        border-radius: 5px;
        font-size: 9px;
        border: 2px solid #fff;
        font-weight: bold;
        line-height: 6px;
    }
}
.column-count.medium
{
    background: #e6effb;
    color: #4990e2;
    .count-value
    {
        background: #4990e2;
        color: #e5ebf1;
    }
}

.column-count.low
{
    background: #dcf5f2;
    color: #009688;
    .count-value
    {
        background: #009688;
        color: #edf9f8;
    }
}
.column-count.high
{
    background: #ffe7e7;
    color: #e40707;
    .count-value
    {
        background: #e40707;
        color: #fbf0f0;
    }
}