@import "../../variables";
@import "../../mixins";

.app-key-container {
    .upper-container {
        padding-top: 70px;
        padding-bottom: 35px;
    }
    .key-container {
        padding-top: 10px;
        padding-top: 10px;
        max-width: 80%;
        margin: auto;
        margin-top: -38px;
        z-index: 2;
        border-radius: 10px;
        height: 197px;
    }
    ion-button {
        border-radius: 30px;
        margin-top: 20px;
        width: 130px;
    }
    .appkey-logo {
        width: 70px;
        height: 70px;
        margin: auto;
        border-radius: 50%;
    }
   
    ion-item {
        --border-width: 0;
    }
    ion-input {
        font-weight: 600;
        padding: 13px 7px !important;
    }
    .text-orange {
        margin-right: 25px;
        font-size: 27px;
    }
}
.item-md,
.item-ios {
    padding: 0;
}
.form-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}
.btn-outer {
    margin-top: 2rem !important;
    margin: auto;
    text-align: center;
}
.text-input {
    font-size: 1.6rem;
}
// .item-inner {
//     margin-right: 24px;
// }
.lhs-logo {
    vertical-align: middle;
    margin-top: 0.8rem;
    width: 45px;
}
@include respond-to(tablet-screens) {
    .app-key-container {
        padding-top: 9rem;
    }
    .form-section {
        padding-top: 3rem;
    }
}
@media only screen and (min-width: 1300px){
    .key-container {
        max-width: 800px !important;
    }
}

