$secondary-text:#423f3f;
.menu-list.ofline-entry-list {
  
  padding: 0;
  padding-left: 5px;
  border-radius: 5px;
  position: relative;
  ion-item {
    --min-height: 56px;
 
   
  }

  ion-icon {
    font-size: 30px;
    margin-top: 8px;
  }

  .thumbnail-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
    padding-top: 5px;
  }

  ion-thumbnail {
    padding: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    border-radius:10px;
    z-index: 2;
    margin-bottom: 10px;

    img {
      width: 20px !important;
      height: auto !important;
    }
  }

  h2 {
    
    font-size:14px;
    margin-left: 0.7em;
    margin-top:5px;
  }

  ion-label {
    margin: 0px 10px !important;
  }

  .item-native {

    --padding-start: 0px;
  }

  .next-arrow {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  &::before
  {
    content:"";
    position:absolute;
    left:0px;
    width:0px;
    height:1px;
    bottom:0px;
    transition: width 0.1s ease;
    z-index: 1;
  }
  &:active::before
  {
   
    width:100%;
 
  }

  h1 {
    margin-top: 0px;
    font-size: 20px;
   
}
}
.ios.menu-list
{
  margin-bottom:0px;
}