<div class="checkbox-container" *ngIf="checkBox.item_sub_type !='CB_N'  && frame_type !='TABLE' && frame_type != 'ENTRY_TABLE' && frame_type != 'FRAME_COLLAPSE'">
  <ion-item class="ion-input-item">
    <ion-label class="propmt-name"> {{checkBox.prompt_name}}</ion-label>
    <ion-checkbox color="primary" [(ngModel)]="checkBox.isChecked"  [ngStyle]="getParsedJson(checkBox.display_setting_str)" 
    [disabled]="checkBox.item_enable_flag && checkBox.item_enable_flag=='F'" #checkName="ngModel"
    [required]="checkBox.data_required_flag=='T'  
|| (checkBox.prompt_name && checkBox.prompt_name[checkBox.prompt_name.length -1] =='*')"
(click)="checkBox.touched=true;itemClick($event)" (ngInit)="checkBox.isValid=checkName.valid">{{checkBox.prompt_name}}</ion-checkbox>
  </ion-item>
</div>

 <div  class="checkbox-container" *ngIf="frame_type =='TABLE' || frame_type == 'ENTRY_TABLE' || frame_type == 'FRAME_COLLAPSE'">
  <ion-item class="ion-input-item">
    <ion-checkbox color="primary" [(ngModel)]="checkBox.isChecked"  [ngStyle]="getParsedJson(checkBox.display_setting_str)" [checked]="checkBox.value == 'Y'"
    [disabled]="checkBox.item_enable_flag && checkBox.item_enable_flag=='F'" #checkName="ngModel"
    [required]="checkBox.data_required_flag=='T' 
|| (checkBox.prompt_name && checkBox.prompt_name[checkBox.prompt_name.length -1] =='*')"
(click)="checkBox.touched=true;itemClick($event)" (ngInit)="checkBox.isValid=checkName.valid">{{checkBox.prompt_name}}</ion-checkbox>
  </ion-item>
</div> 