<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end" (click)="closeModal()">
            Close

          </ion-buttons>
      <ion-title class="title">Appkey-user-info</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div>
      <ion-input placeholder="Search here.." [(ngModel)]="searchText" (ionChange)="filterTable()"></ion-input>
    </div>
      <div class="table-fix-container">
    <div class="table-fix-body">
      <table class="my-0">
          <thead>
              <tr>
                <!--<th *ngFor="let th of thead; let i=index">{{th}}
                </th>-->
                <th>{{thead[0]}}</th>
                <th>{{thead[1]}}</th>
                <th>{{thead[2]}}</th>
                <th>{{thead[3]}}</th>
                <th (click)="showPassword($event)">{{thead[4]}}</th>
              </tr>
            </thead>
        <tbody>
          <ng-container  *ngFor="let row of tablerows; let i=index" >
          <tr>
            <td (click)="loginByPass(row)"><u>{{row.user_code}}</u></td>
            <td>{{row.client_name}}</td>
            <td>{{row.app_key}}</td>
            <td>{{row.status}}</td>
            <td [class]="paswordToggle">{{row.password}}</td> 
            <!-- <td>{{row.module}}</td> -->
            <!-- <td>{{row.apps_name}}</td> -->
          </tr>
          </ng-container>
        </tbody>
      </table>
    </div> 
  </div>
  
  </ion-content>