.left-fixed-table
  {
      th
      {
        
        .th-inner
        {
            width:100px;
            text-overflow:ellipsis;
            overflow: hidden;
            white-space:nowrap;
        }
      }
      td,th
      {
       height:24px;
       white-space:nowrap;
      }
  }
  .table-fix-container
  {
    .table-fix-head,
    .table-fix-body,
    .table-fix-footer
    {
      overflow:auto;
    }
    .table-fix-footer
    {
      margin-top: -1px;
    }

  }

  .title{
    width: 100%;
    text-align: center;
    padding-left: 30px;
    padding-right: 0px;  
  }
  .hidetext { -webkit-text-security: disc; /* Default */ }