<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="closePage()" fill="clear" icon-only start>
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Forget Password
    </ion-title>
  </ion-toolbar> -->
  <ion-toolbar color="primary"  class="ion-toolbar iosheight"  *ngIf="platform.is('ios')">
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="closePage()" fill="clear" icon-only start>
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Forget Password
    </ion-title>
</ion-toolbar>

<ion-toolbar color="primary"  class="ion-toolbar" *ngIf="!platform.is('ios')">
  <ion-buttons slot="start">
    <ion-button slot="start" (click)="closePage()" fill="clear" icon-only start>
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>
    Forget Password
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="change-password-container">
    <ion-item>
      <ion-label position="fixed">Old Password <span class="error">*</span></ion-label>
      <ion-input placeholder="" [(ngModel)]="user.oldPassword"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label position="fixed">New Password <span class="error">*</span></ion-label>
      <ion-input placeholder="" [(ngModel)]="user.newPassword"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label position="fixed">Confirm Password <span class="error">*</span></ion-label>
      <ion-input placeholder="" [(ngModel)]="user.cnfPassword"></ion-input>

    </ion-item>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button shape="round" class="mr-1 globe-btn" color="primary" (click)="changePassword(user)">Save
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>