// :host {
//     .app-button {
//       &__contributors {
//         border: 1px solid red;
//       }
//     }}
.icon-btn
{
   --padding-start: 0.4em;
    --padding-end: 0.4em;
    height:1.7em;
    margin-right: 13px;
    --ion-color-dark:#0864ae;
}
.iconText-btn{
    border-radius: 11px;
    font-size: 16px;
    --padding-end: 7px;
    --padding-start: 7px;
    --padding-top: 0px;
    height: 2em;

}
.small-btn{
    font-size: 11px;
}
.code-btn{
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
}

.globe-btn{
    margin-bottom:0px !important;
}
.globe-btn1{
    margin-bottom: 0px !important;
    padding: 8px 26px;
    border-radius: 64px;
    color: #fff;
  }