<div class="location-tracking" *ngFor="let rows of frame.tableRows |tableSearch :tablerowsfilter;let j=index;">
  <ul class="card-container">
    <li class="timeline-card">

      <div *ngFor="let itemGroup of rows; let i=index" class="">
        <div class="" *ngFor="let input_item of itemGroup.Level5;let i=index"
          [hidden]="input_item.item_visible_flag!='T'">
          <div *ngIf="input_item.item_type =='CARD_TITLE'">
            <app-items class="p-0 timeline-icon" [item]="input_item" (emitPass)="itemClicked($event,j)"></app-items>

          </div>
        </div>
      </div>

      <div class="timeline-label">
        <div class="header">
          <!-- <h2> <ion-icon ios="ios-create" md="md-create" color="primary" class="edit-icon"></ion-icon></h2> -->
        </div>
        <div class="card-body">
          <div *ngFor="let itemGroup of rows; let i=index" class="">
            <div class="" *ngFor="let input_item of itemGroup.Level5;let i=index"
              [hidden]="input_item.item_visible_flag!='T'">
              <div *ngIf="input_item.item_type !='CARD_TITLE'">
                <div>
                  <label class="location">
                    <ion-icon name="pin" color="primary" class="location-icon"
                      (click)="openGoogleMap(input_item)"></ion-icon>
                    <app-items class="p-0" [item]="input_item" (emitPass)="itemClicked($event,j)"></app-items>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    <!-- <li class="timeline-card">
          <div class="timeline-icon">6.44 PMs</div>
          <div class="timeline-label">
            <div class="header">
            <h2>trip stared <ion-icon ios="ios-create" md="md-create" color="primary" class="edit-icon"></ion-icon></h2>
            </div>
          <div class="card-body">
           <label>Customer : <span>Ram Sten </span></label>
           <label>Customer : <span>Ram Sten </span></label>
           <label class="location"> <ion-icon name="pin" color="primary"></ion-icon> Jyesha Comples, rigng road,Trimurti nagar, Nagpur Maharashtra 4400 , India </label>
          </div>
          </div>
        </li>
    
      
     <li class="timeline-card">
        <div class="timeline-icon">6.44 PM</div>
        <div class="timeline-label">
          <div class="header">
          <h2>trip stared <ion-icon ios="ios-create" md="md-create" color="primary" class="edit-icon"></ion-icon></h2>
          </div>
        <div class="card-body">
         <label>Customer : <span>Ram Sten </span></label>
         <label>Customer : <span>Ram Sten </span></label>
         <label class="location"> <ion-icon name="pin" color="primary"></ion-icon> Jyesha Comples, rigng road,Trimurti nagar, Nagpur Maharashtra 4400 , India </label>
        </div>
        </div>
      </li>
      <li class="timeline-card">
        <div class="timeline-icon">6.44 PM</div>
        <div class="timeline-label">
          <div class="header">
          <h2>trip stared <ion-icon ios="ios-create" md="md-create" color="primary" class="edit-icon"></ion-icon></h2>
          </div>
        <div class="card-body">
         <label>Customer : <span>Ram Sten </span></label>
         <label>Customer : <span>Ram Sten </span></label>
         <label class="location"> <ion-icon name="pin" color="primary"></ion-icon> Jyesha Comples, rigng road,Trimurti nagar, Nagpur Maharashtra 4400 , India </label>
        </div>
        </div>
      </li> -->
  </ul>
</div>
