<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{heading}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="popover-page">
  <ion-textarea type="text" class="input-text"   class="popover-textarea" shape="round"    [(ngModel)]="comment.val" ></ion-textarea>
  <div class="text-center">
  <ion-button shape="round" class="ok-btn"   size="small" (click)="save()">
    Ok
  </ion-button>

  <ion-button color="secondary" shape="round"   size="small" (click)="cancelModal()">
     Close
  </ion-button>
  </div>
</ion-content>

