.scroll-y {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    overflow-y: hidden !important;
}
.content{
    height: 100%;
    overflow: hidden;
}
.my-cal {

        p {
       
          color: green;
       
        }
       
       }



       @import '../../../mixins';
.frame-name
{
    margin: 0px;
    font-size: 15px;
    padding: 2px 5px 0px 10px;
    margin-top: -18px;
    &::before
    {
        @include before-after;
        width:5px;
        height:100%;
        left:0px;
        top:0px;
        
    }
}
.calender-div{
    background: #ffffff;
    box-shadow: 1px 2px 10px #bdbaba;
    margin-bottom: 15px;
/*     border-top: 8px solid rgb(73 144 226 / 41%); */
    border-radius: 12px;
    margin-top: -12px;
/*     border-bottom: 2px solidrgb(73 144 226 / 41%); */

}
ion-calender{
.title {
    background: #f1f1f1dd;
}
}
.scroll-div{
    overflow: scroll;
    max-height: 300px;
    /* margin-top: 347px; */
    /* position: absolute; */
    width: 100%;
    position: absolute;
    top: 418px;
}
.fix-top{
    position: absolute;
    top: 2px;
    display: block;
}
@media screen and (max-width: 991px) {
    .scroll-div{
        max-height: 500px;
    }
    
    }
    
    @media screen and (max-width: 479px) {
        .scroll-div{
            max-height: 200px;
        }
    
    }

    .gap{
        padding-bottom: 15px;
    }

    .gah{
        padding-top: 50px;
    }