
<ion-card class="cart-summary-plain">
  <ion-card-title>Cart Details</ion-card-title>

  <ion-item class="summary-item-blue" lines="none">
    <ion-label>Total Item</ion-label>
    <ion-note slot="end" *ngIf="this.globalObjects.plastoFrameSumm.length > 0">{{this.frame.tableRows.length}}</ion-note>
   <ion-note slot="end" *ngIf="this.globalObjects.plastoFrameSumm.length <= 0">{{this.globalObjects.cartSummaryPlain.length}}</ion-note>
  </ion-item>

  <ion-item class="summary-item-blue" lines="none">
   <ion-label>Total Quantity</ion-label>
   <ion-note slot="end" >{{totalQty | number:'1.2-2'}}</ion-note>
 </ion-item>

  
<ion-item class="summary-item-blue" lines="none">
   <ion-label>Material Value</ion-label>
  <ion-note slot="end" >{{totalAmt | number:'1.2-2'}}</ion-note>
</ion-item>

<ng-container *ngIf = "taxVal > 0">
  <ion-item class="summary-item-blue" lines="none">
    <ion-label>Tax Value</ion-label>
   <ion-note slot="end" >{{taxVal | number:'1.2-2'}}</ion-note>
  </ion-item>
  </ng-container>


<ng-container *ngIf = "discount > 0">
<ion-item class="summary-item-blue" lines="none">
  <ion-label>Discount</ion-label>
 <ion-note slot="end" >{{discount | number:'1.2-2'}}</ion-note>
</ion-item>
</ng-container>




<ng-container *ngIf = "totalVal > 0">
  <ion-item class="summary-item-blue" lines="none">
    <ion-label>Total Value</ion-label>
   <ion-note slot="end" >{{totalVal | number:'1.2-2'}}</ion-note>
  </ion-item>
</ng-container>


</ion-card>
<!-- <ion-button size="block" stye="margin:0px 10px;" (click) = "itemClicked($event)">Place Order</ion-button> -->