.page-single-select-lov
{
    ion-item
    {
        --min-height:30px;
        --background: transparent;
        --border-color: transparent;
        ion-checkbox
        {
            margin-top:5px;
            margin-bottom:5px;
        }
        ion-label
        {
            font-size: 0.8rem;
        }
    }
}

ion-toolbar{
    height: 55px;
    --min-height: 55px;
  }

  .iosheight{
    height: 75px;
    --min-height:75px !important;
    ion-buttons{
      margin-top: 15px !important;
    }
    ion-title{
      margin-top: 7px !important;
    }
    .right-title{
      bottom: 17px !important;
    }
  }

  @media only screen and (min-width:375px) and (max-width:500px){
    .iosheight{
      height: 100px;
      --min-height:100px !important;
      ion-button{
        margin-top: 15px !important;
      }
      ion-title{
        margin-top: 7px !important;
      }
      .right-title{
        bottom: 45px !important;
      }
      }
  }
  @media only screen and (min-width:310px) and (max-width:375px){
    .iosheight{
      height: 75px !important;
      --min-height:75px !important;
      ion-buttons{
        margin-top: 15px !important;
      }
      ion-title{
        margin-top: 7px !important;
      }
      .right-title{
        bottom: 17px !important;
      }
    
      }
  }

  .left2-title{
    font-size: 11px;
    color: #3e80cc;
    // margin-bottom: -9px;
    // margin-top: -4px;
    // width: 100%;
    // white-space: nowrap;
    // overflow-x: auto;
    // padding-bottom: 6px;
    // position: fixed;
    // z-index: 9999999;
    span{
      margin-right: 2px;
      margin-left: 2px;
      &::after{
        content: ">";
      }
    }
  }