.highlight-container{
    padding: 5px;
}
ion-label{
    font-size: 14px;
}
.input-txt {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    --padding-top: 0px;
    --padding-bottom: 0px;
}
.input-txt2 {
    width: calc(100% - 100px);
    margin-top: 5px;
    border: 1px solid #ccc;
    --padding-top: 0px;
    --padding-bottom: 0px;
}
.sub-input{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 18px;
    text-align: center;
    padding: 2px;
}
.text-center{
    text-align: center;
}
ion-select{
    border: 1px solid #ccc;
    height: 29px;
    padding: 1px;
    margin-top: 5px;
}

.p-0{
    padding: 0;
}

.prev {
    width: 100%;
    height: 80px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-pallete{
    margin-top: 5px;
    position: relative;
    display: flex;

}
.color{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid #ccc;
}
.c1{
    background: #f3dabd;
}
.c2{
    background: #42ff9f;
}
.c3{
    background: #95d7f7;
}
.c4{
    background: #f795dd;
}
.c5{
    background: #f7cb95;
}
.c6{
    background: #ccc;
}
.c7{
    background: #000000;
}
.c8{
    background: #ffffff;
}
.c9{
    background: #8a6207;
}
.c10{
    background: #800080;
}
.c11{
    background: #ffa500;
}
.c12{
    background: #008000;
}
.c13{
    background: #ff0000
}
.c14{
    background: #0000ff;
}
.c15{
    background: #ddd;
}
.c16{
    background: #000000;
}