<div class="plsql-container">
  <ion-row>
    <ion-col size="2">
      <div class="setting">
        <ion-icon name="settings" color="dark" style="float: left;font-size: 22px;"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8">
      <div class="month">
        <ion-icon name="ios-arrow-back" color="dark" style="float: left;font-size: 22px;cursor: pointer;"></ion-icon>
        <ion-label color="dark"> December 2020</ion-label>
        <ion-icon name="chevron-forward-outline" color="dark" style="float: right;font-size: 22px;cursor: pointer;">
        </ion-icon>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="stat">Today</div>
    </ion-col>
  </ion-row>
  <table>
    <thead>
      <tr>
        <th class="sunday">Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <span class="date sunday prev-month">30</span></td>
        <td> <span class="date prev-month">31</span></td>
        <td> <span class="date">1</span></td>
        <td> <span class="date">2</span></td>
        <td> <span class="date">3</span></td>
        <td><span class="date">4</span></td>
        <td> <span class="date">5</span></td>
      </tr>
      <tr>

          <td>
  
  
            <span class="task-low prev-month">WorkOut</span>
  
          </td>
          <td>
  
            <span class="task-primary prev-month">See a Doctor</span>
          <td colspan="3">
  
  
            <span class="booked-activity">Europe Tour</span>
          </td>
  
          <td>
  
  
            <span class="task-low">WorkOut</span>
          </td>
          <td>
  
  
            <span class="task-not-so-imp">Lunch with Client</span>
          </td>
        </tr>
      <tr>
        <td> <span class="task-urgent prev-month">Do Yoga</span></td>
        <td> </td>
        <td> <span class="task-urgent">See a dentist</span></td>
        <td><span class="task-primary">Team Meeting</span></td>
        <td> <span class="task-low">Team Retreat</span></td>
        <td> <span class="task-primary">Visit Grandma </span></td>
        <td> <span class="task-urgent">See a Doctor</span></td>
      </tr>
     
      <tr>
        <td> <span class="date  sunday">6</span></td>
        <td> <span class="date">7</span></td>
        <td> <span class="date">8</span></td>
        <td><span class="date">9</span></td>
        <td> <span class="date">10</span></td>
        <td> <span class="date">11</span></td>
        <td> <span class="date">12</span></td>
      </tr>

      <tr>
        <td> <span class="task-urgent">Do Yoga</span></td>
        <td></td>
        <td> <span class="task-primary">Team Meeting</span></td>
        <td> <span class="task-urgent">See a dentist</span></td>
        <td><span class="task-low">Team Retreat</span></td>
        <td> <span class="task-primary">Visit Grandma </span></td>
        <td> <span class="task-urgent">See a Doctor</span></td>
      </tr>
      <tr>
        <td>


          <span class="task-low">WorkOut</span>

        </td>
        <td>

          <span class="task-primary">See a Doctor</span>
        <td>


          <span class="task-low">WorkOut</span>
        </td>
        <td>


          <span class="task-urgent">Do Yoga</span>
        </td>
        <td>


          <span class="task-primary">See a Doctor</span>
        </td>
        <td>


          <span class="task-low">WorkOut</span>
        </td>
        <td>


          <span class="task-not-so-imp">Lunch with Client</span>
        </td>
      </tr>
      <tr>
        <td> <span class="date  sunday">13</span></td>
        <td> <span class="date">14</span></td>
        <td><span class="date">15</span></td>
        <td> <span class="date">16</span></td>
        <td> <span class="date">17</span></td>
        <td> <span class="date">18</span></td>
        <td> <span class="date">19</span></td>
      </tr>
      <tr>
          <td>
  
  
            <span class="task-low">WorkOut</span>
  
          </td>
          <td>
  
            <span class="task-primary">See a Doctor</span>
          <td colspan="4">
            <span class="booked-activity">Europe Tour</span>
          </td>
      
          <td>
            <span class="task-not-so-imp">Lunch with Client</span>
          </td>
        </tr>
      <tr>
        <td> <span class="task-urgent">Do Yoga</span></td>
        <td></td>
        <td> <span class="task-primary">Team Meeting</span></td>
        <td> <span class="task-low">Team Retreat</span></td>
        <td><span class="task-urgent">See a dentist</span></td>
        <td> <span class="task-primary">Visit Grandma </span></td>
        <td> <span class="task-urgent">See a Doctor</span></td>
      </tr>
     
      <tr>
        <td> <span class="date  sunday">20</span></td>
        <td> <span class="date">21</span></td>
        <td> <span class="date">22 </span></td>
        <td> <span class="date">23</span></td>
        <td> <span class="date">24</span></td>
        <td> <span class="date">25</span></td>
        <td> <span class="date">26</span></td>
      </tr>
      <tr>
          <td>
            <span class="task-low">WorkOut</span>
          </td>
          <td>
  
            <span class="task-primary">See a Doctor</span>
          <td colspan="3">
            <span class="booked-activity">Europe Tour</span>
          </td>
          <td>
            <span class="task-low">WorkOut</span>
          </td>
          <td>
            <span class="task-not-so-imp">Lunch with Client</span>
          </td>
        </tr>
      <tr>
        <td> <span class="task-urgent">Do Yoga</span></td>
        <td> <span class="task-primary">Team Meeting</span></td>
        <td></td>
        <td> <span class="task-urgent">See a dentist</span></td>
        <td> <span class="task-low">Team Retreat</span></td>
        <td> <span class="task-primary">Visit Grandma </span></td>
        <td> <span class="task-urgent">See a Doctor</span></td>
      </tr>
     
      <tr>
        <td> <span class="date  sunday">27</span></td>
        <td> <span class="date">28</span></td>
        <td> <span class="date">29</span></td>
        <td> <span class="date">30</span></td>
        <td> <span class="date">31</span></td>
        <td> <span class="date prev-month">1</span></td>
        <td> <span class="date prev-month">2</span></td>
      </tr>
      <tr>
          <td>
  
  
            <span class="task-low">WorkOut</span>
  
          </td>
          <td colspan="4">
  
            <span class="booked-activity">Europe Tour</span>
          </td>
  
          <td>
  
          </td>
          <td>
  
          </td>
        </tr>
      <tr>
        <td> <span class="task-urgent">Do Yoga</span></td>
        <td> <span class="task-primary">Team Meeting</span></td>
        <td> <span class="task-urgent">See a dentist</span></td>
        <td></td>
        <td> <span class="task-low">Team Retreat</span></td>
        <td></td>
        <td></td>
      </tr>
   
    </tbody>
  </table>
</div>