<ion-header>
  <ion-toolbar color="primary">

    <ion-button slot="start" (click)="popDismiss()" fill="clear" icon-only start>
      <ion-icon name="close" color="light"></ion-icon>
    </ion-button>
    <ion-title>Object Frame List</ion-title>

    <ion-buttons fill="outline" class="toolbar-text-btn" slot="end" (click)="getObjFrame()">
      Ok
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <table>
        <thead>
          <th></th>
          <th>Page Frame SeqId</th>
          <th>Page Frame Name</th>
        </thead>
        <tbody *ngFor="let obj of results">
          <tr>
            <td>
              <ion-checkbox color="primary" [(ngModel)]="obj.flag" (ngInit)="obj.flag"></ion-checkbox>
            </td>
            <td>{{obj.apps_page_frame_seqid}}</td>
            <td>{{obj.apps_page_frame_name}}</td>
          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-row>
</ion-content>
