<!-- <ion-row>
  <ion-col size="12">
  </ion-col>
  <ion-col size="11">
      <ion-item class="{{textEvent.css_class}}">
      <ion-label position="{{textEvent.position}}">{{textEvent.prompt_name}}</ion-label> 
    <ion-input type="text" [(ngModel)] ="textEvent.value"></ion-input>
  </ion-item>
  </ion-col>
  <ion-col size="1" >
    <ion-button name="create" (click)="itemClicked()">...</ion-button>
  </ion-col>
</ion-row> -->


<ion-item class="input-lov">
    <ion-input  type="text" [(ngModel)] ="textEvent.value" >
     </ion-input>
     <ion-button  name="create" class="md button button-solid ion-activatable ion-focusable hydrated" (click)="itemClicked()">...</ion-button>
    </ion-item>