<div class="smart-filter-section smart-filter-section-checklist">
  <div class="smart-filter-section__header">
    <h5 class="m-0 d-inline-block">Parties<sup>150</sup></h5>
    <ion-button class="float-right view-all-btn" color="primary" fill="clear" size="small">View All</ion-button>
  </div>
  <div class="clearfix"></div>
  <ion-item>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
    <ion-label> INDIRA METAL (J&K)</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
    <ion-label> INDIRA METAL (J&K)</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
    <ion-label> INDIRA METAL (J&K)</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
    <ion-label> INDIRA METAL (J&K)</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
    <ion-label> INDIRA METAL (J&K)</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
    <ion-label> INDIRA METAL (J&K)</ion-label>
  </ion-item>

</div>