.graph-filters
{
   ion-item
   {
        --min-height: 30px;

        ion-select
        {
                --padding-top: 7px;
    --padding-bottom: 7px;
    --padding-start: 5px;
        }
   }
}  



 @media screen and (min-width: 1080px) {
   // canvas.x
   canvas{

      width:100% !important;
      height: 450px !important;
      
    }
   
}