<ion-row>
  <ion-col col-12>
    <h1 class="frame-name position-relative" style="white-space: nowrap" >{{frame.apps_page_frame_name}}<span style="margin-left: 10px;" *ngIf="globalObjects.toggleDevloperMode">[{{frame.apps_page_frame_seqid}}]</span></h1>
  </ion-col>
</ion-row>
<ion-list class="p-0 m-0 graph-filters" *ngIf="!frame.flag">
  <ion-item >
  <ion-label>Choose Label</ion-label>
<ion-select  (ionChange)="chooseOption()"  [(ngModel)]="valueofxitem">
  <ion-select-option placeholder="Select One" *ngFor="let c of xitem_name" [value]="c.key"> {{c.value}} </ion-select-option>
</ion-select>
</ion-item >
  <ion-item >
      <ion-label>Graph Selection</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="filtergraph">
          <ion-select-option value="bar">Bar graph</ion-select-option>
          <ion-select-option value="doughnout">Doughnout graph</ion-select-option>
          <ion-select-option value="line">Line graph</ion-select-option>
          <ion-select-option value="pie">Pie chart</ion-select-option>
      </ion-select>
  </ion-item >
</ion-list>


<div>
  <div [hidden]="filtergraph!='bar'">
      <canvas #barCanvas width="100%" height="50%"></canvas>
  </div>
  <div [hidden]="filtergraph!='doughnout'">
      <canvas #doughnutCanvas width="100%" height="50%"></canvas>
  </div>
  <div [hidden]="filtergraph!='line'"  >
      <canvas #lineCanvas width="100%" height="70%" ></canvas>
  </div>
  <div [hidden]="filtergraph!='pie'">
      <canvas #pieCanvas width="100%" height="50%"></canvas>
  </div>
</div>