.table-responsive{
    overflow: visible;
}
.item-interactive-disabled.sc-ion-label-md-h{
    opacity:1 !important;
}
.item-interactive-disabled {
    .sc-ion-label-md-h {
    opacity: 1 !important;
    
}
}
.datetime-disabled {
    opacity:1 !important;
}
.c1[_ngcontent-ffa-c60] {
    overflow: visible;
    z-index: 9999;
}
ion-item{
    --background:none;
   // --border-width: 0;
}
/* .new-date-input {
    border: 1px solid #ccc;
} */
.new-date-input:focus-visible {
    outline: none;
}
.ion-input-item-border
{
    ion-input
    {
       
        padding:0px 40px 0px 5px !important;
    }
   
 
}