  .archieve-container .entry-list-wrapper-child {
    border: 1px solid #11d4f3;
    border-left: 2px solid #11d4f3;
    border-top: 2px solid #11d4f3;
    background-image: linear-gradient(126deg, rgba(55, 111, 157, 0.33), rgb(97, 195, 199));
    box-shadow: 8px 8px 10px rgba(178, 178, 178, 0.78);
}
  
  .archieve-container .entry-list-wrapper b,
  .archieve-container .entry-list-wrapper strong {
      font-weight: bold;
      color: #ffffff;
      font-size: 14px;
  }
  
  .archieve-container .entry-list-wrapper h5 {
      color: #042f3f;
      margin-top: 0px;
      margin-bottom: 6px;
  }
.archieve-container .entry-list-wrapper-parent{
        width: 90%;
    margin: auto;
    padding: 1px 1px;
    margin-top: 0;
    padding: 0;
    /* margin-top: 15px; */
}

.archieve-container .checkbox input:checked:before, .archieve-container .checkbox input:checked + .checkbox-icon:before {
    background: rgb(254, 63, 128);
    border-color: rgba(254, 63, 128, 0.43);
}
.archieve-container .checkbox input:before, .archieve-container .checkbox-icon:before {
    background: rgba(248, 248, 248, 0.8);
}
.archieve-container .list:last-child.card {
     margin-bottom: 0px; 
}