<ion-row *ngIf="frame.apps_page_frame_name">
  <ion-col class="pl-0" >
    <h1 class="frame-name ">{{frame.apps_page_frame_name}}<span style="margin-left: 10px;" *ngIf="globalObjects.toggleDevloperMode">[{{frame.apps_page_frame_seqid}}]</span></h1>
  </ion-col>
</ion-row>
<div class="cc" *ngIf="lineGraphFlag">
  <div [id]="piechart_3d" ></div>
</div>
<div *ngIf="!lineGraphFlag">
  <div class="dcc-4"  [id]="piechart_3d" *ngIf="lineGraphValue==4"></div>
  <div class="dcc-6"  [id]="piechart_3d" *ngIf="lineGraphValue==6"></div>
  <div class="dcc-12"  [id]="piechart_3d" *ngIf="lineGraphValue==12"></div>
</div>