<!-- <ion-item>
        <ion-label *ngIf='!labelInput.value' id="{{labelInput.itemName}}">
            {{labelInput.prompt_name}}</ion-label>
            <ion-badge slot="end"> *ngIf='labelInput.value' id="{{labelInput.itemName}}">
            {{labelInput.value}}</ion-badge>
  </ion-item> -->



  <div class="count-list theme-blue" (click)="itemClicked()">
    <div class="approval-container">
      <div class="approval-body">
        <ion-item *ngIf='labelInput.value' floating>
          <ion-label >{{labelInput.value[0]}}</ion-label>
          <div class="count" *ngIf='labelInput.value[1]'>
            <p>{{labelInput.value[1]}}</p>
          </div>
        </ion-item>
      </div>
    </div>
  </div>
  
  <!-- 
  <div class="count-list theme-maroon">
    <div class="approval-container">
      <div class="approval-body">
        <ion-item>
          <ion-label>My Item</ion-label>
          <div class="count">
            <p>22</p>
          </div>
        </ion-item>
  
        <div class="no-record" style="display:none;">
          <p>No Records Found!</p>
        </div>
      </div>
    </div>
  </div> -->
  
  
  
  
  <!-- <div class="management-approval theme-maroon">
    <div class="approval-container">
      <div class="approval-header">
        <h5>Management Approval</h5>
      </div>
      <div class="approval-body">
        <ion-item>
          <ion-label>My Item</ion-label>
          <ion-badge slot="end">22</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>My Item</ion-label>
          <ion-badge slot="end">22</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>My Item</ion-label>
          <ion-badge slot="end">22</ion-badge>
        </ion-item>
        <div class="no-record" style="display:none;">
          <p>No Records Found!</p>
        </div>
      </div>
    </div>
  </div> -->