.count-list{
    .approval-body {
        ion-item{
            --min-height: 47px;
            --inner-padding-end: 0px;
            --padding-start: 10px;
            --border-color: none;
            --border-style: none;
            margin:0px 0;
            padding-left:3px;
            overflow: hidden;
            &::before{
                content: "";
            position: absolute;
            width: 50px;
            height: 50px;
            z-index: 11;
            border-radius: 50%;
            right: -28px;
            top: -4px;   
            }
            .count{
                width: 78px;
                height: 57px;
                border-radius: 50%;
                position: absolute;
                right: -20px;
                overflow: hidden;
                font-size: 16px;
                font-weight: bold;
            p{
                z-index: 9999;
                position: relative;
                margin-left: 11px;
                margin-top: 17px;
                }
               &::before{
                content: "";
                position: absolute;
                width: 44px;
                height: 44px;
                z-index: 3;
                border-radius: 50%;
                right: 1px;
                top: -20px;
            
               }  
            }
        }
        ion-label {
            color: #423f3f;
            
            font-size: 14px !important;
            padding-right: 45px;
            text-overflow: unset;
            white-space: normal;
            overflow: visible;
        }
    }
}