@import '../../mixins';
@import '../../variables';
.page-forgot-password{
   
 
  .loginForm{
    margin: auto;
    text-align: center;
    width: 60%;
    margin: auto;
    background: #fff;
    box-shadow: 1px 2px 10px #ddd;
    padding: 24px 20px !important;
    border-radius: 10px;
    border: 1px solid #ddd;
    border-top: 5px solid #4990e2;

  }
        ion-buttons
        {
            padding-right:12px;
        }
        .border-0 {
            border: 0 !important;
        }
        .lhs-logo {
            vertical-align: middle;
            margin-right: 1em;
        }
        .login-outer {
            height: 500px;
            width: 100%;
            display: flex;
            background-repeat: no-repeat;
            h4.d-inline-block {
                font-size: 0.8rem;
            }
            ion-list{
                background: transparent;
                ion-item{
                    --background: transparent;
                    
                }
            }
        }
        :host{
            --inner-border-width: 0!important;
        }
        .scroll-content,
        .login-outer-padding {
            padding: 0 !important;
        }
        .loginForm {
            // padding-top: 5.7rem;
        
            width: 80%;
            @include respond-to(small-screens) {
                width: 75%;
            }
            @include respond-to(medium-screens) {
        width: 73%;
            }
            @include respond-to(wide-screens) {
        width: 70%;
            }
    
            
            
            .item-inner {
                margin-left: 0 !important;
              
            }
            .item {
                margin-bottom: 1em;
                background-color: transparent;
                @include respond-to(small-screens) {
                    margin-bottom: 0;
                }
            }
            .text-input {
                font-size: 1.6rem;
            }
        }
        
       .reset-btn{
           padding: 3px 0;
       }
        .setting-icon {
            position: absolute;
            bottom: 1em;
            right: 1em;
            padding: 0.5em;
            border-radius: 50%;
            width: 32px;
            height: 32px;
        }
        .forgot-link {
            margin-left: 2em;
            a {
                text-decoration: none;
                font-size: 1.5rem;
            }
            .item-inner {
                border-bottom: 0 !important;
            }
            .label {
                margin: 0px 0px 0px 8px;
            }
        }
        .frgtForm {
           
            @include respond-to(small-screens) {
                padding-top: 0 !important;
            }
        }
        .frgtHeading {
            background: none;
            font-size: 22px;
            vertical-align: sub;
            @include respond-to(small-screens) {
                font-size: 15px;
            }
        }
        .primaryTextColor {
            @include respond-to(small-screens) {
                padding-left: 0 !important;
            }
            h4 {
                @include respond-to(small-screens) {
                    font-size: 1.6rem !important;
                    ;
                }
            }
        }
        .ip-head {
            font-size: 1.5rem;
            margin: 0px 0px 13px 3.2em;
        }
        .ip-sec-wrap {
            .item-inner {
                border-bottom: none !important;
            }
        }
        .ip-sec-wrap.input-has-focus .item-inner {
            box-shadow: none !important;
            border: none !important;
            outline: none !important;
        }
        .ip-icon {
            font-size: 24px !important;
        }
        .ip-sec {
            width: 38px;
            display: inline-block;
            border: 1px solid #dedede;
            margin-right: 6px;
            .text-input {
                width: calc(100% - 4px - 4px);
                margin: 4px 3px;
                @include respond-to(small-screens) {
                    font-size: 1.2rem;
                }
            }
            @include respond-to(small-screens) {
                width: 30px;
            }
        }
        .ip-sec-first {
            margin-left: 8px;
        }
        page-login .loginForm .text-input {
            font-size: 1.6rem;
        }
    
        
        .list> .item-block:first-child {
            border-top: none;
        }
        .list> .item-block:last-child{
    border-bottom: none;
        }
    
    
    @include respond-to(tablet-screens){
        .loginForm {
            width: 60%;
            padding: 12rem 0 0 5rem;
            }
    
        .primaryTextColor {
        padding: 7rem 0 0 6rem !important;
             }
    }
    .special-btn{
        font-size: 1.2rem !important;
    }
    
}