.drag-drop-container{
    .column-text {
        color: #fff;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .container-drop {
        background: rgba(0, 0, 0, 0.1607843137254902);
        padding: 2px 5px;
    }    
        
.main {
      padding: 8px;
}
.group1{
    
    padding: 8px; 
}
.group2{
    
    padding: 8px; 
}
.group3{
    
    padding: 8px; 
}
.each-drop {
    background: rgba(0, 0, 0, 0.30196078431372547);
    color: #ffff;
    text-align: center;
    font-size: 15px;
    padding: 2px;
    margin: 5px 0;
    cursor: pointer;

}
}