<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-button slot="start" (click)="closePage()" fill="clear" icon-only>
          <ion-icon name="arrow-back" color="light"></ion-icon>
        </ion-button> -->
    <ion-buttons slot="start">
      <ion-back-button class="d-block"> </ion-back-button>
    </ion-buttons>
    <ion-title>Add To Cart</ion-title>

    <ion-buttons slot="end" fill="clear" icon-only routerLink="/cart-summary" routerDirection="root">
      <ion-icon name="cart"></ion-icon>
      <ion-badge class="position-absolute header-count" color="danger">66</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="add-to-cart" padding>
  <ion-card class="position-relative">
    <ion-list lines="none">
      <ion-item>
        <ion-thumbnail>
          <img class="rounded" src="../../../assets/imgs/product1.jpg">
        </ion-thumbnail>
        <div class="ml-2 w-100">
          <ion-label>
            <h2>Amul Taza Milk</h2>

          </ion-label>
          <div class="input-group">
            <ion-input type="number" class="border-bottom-input" placeholder="Enter Quantity"> </ion-input>

            <div class="input-group-append">
              <button class="border-bottom-lov-btn" ion-button icon-only small>
                Kg
              </button>
            </div>

          </div>
        </div>

      </ion-item>

      <ion-item>
        <ion-thumbnail>
          <img class="rounded" src="../../../assets/imgs/product2.jpg">
        </ion-thumbnail>
        <div class="ml-2 w-100">
          <ion-label>
            <h2>Amul Taza Milk</h2>

          </ion-label>
          <div class="input-group">
            <ion-input type="number" class="border-bottom-input" placeholder="Enter Quantity"> </ion-input>

            <div class="input-group-append">
              <button class="border-bottom-lov-btn" ion-button icon-only small>
                Kg
              </button>
            </div>

          </div>
        </div>

      </ion-item>
      
      <ion-item>
        <ion-thumbnail>
          <img class="rounded" src="../../../assets/imgs/default-product.png">
        </ion-thumbnail>
        <div class="ml-2 w-100">
          <ion-label>
            <h2>Amul Taza Milk</h2>

          </ion-label>
          <div class="input-group">
            <ion-input type="number" class="border-bottom-input" placeholder="Enter Quantity"> </ion-input>

            <div class="input-group-append">
              <button class="border-bottom-lov-btn" ion-button icon-only small>
                Kg
              </button>
            </div>

          </div>
        </div>

      </ion-item>
      <ion-item class="qty-description">
          <ion-label>
              <label>Min Order Qty : </label> <span class="min-qty-count">8</span>
              <h5>Rate : <span>42 Rs</span></h5>
            </ion-label>
      </ion-item>
     
    </ion-list>
    <div class="total-qty position-absolute">
      1234
     </div>
     <div class="add-to-cart-btn position-absolute">
        <ion-icon name="cart"></ion-icon>
      </div>
      <div class="add-to-cart-btn position-absolute" style="display:none;">
          <ion-icon name="trash"></ion-icon>
        </div>
  </ion-card>
</ion-content>