<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="closePage()" fill="clear" icon-only start>
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Offline Entry Tabs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list class="menu-list ofline-entry-list" *ngFor="let object of objectMast">
    <ion-item class="ion-no-padding" (click)="doAction(object)" *ngIf="object.entryList">
      <ion-thumbnail slot="start">
        <img src="assets/imgs/offline-entry.png">
      </ion-thumbnail>
      <h2>{{object.object_name}} </h2>
      <h1 slot="end">{{object.entryList.length}}</h1>
     </ion-item>
  </ion-list>
</ion-content>