<div class="plsql-container">
  <ion-row>
    <ion-col size="2">
      <div class="setting">
        <ion-icon name="menu" color="dark" style="float: left;font-size: 22px;"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8">
      <div class="month">

        <ion-label color="dark"> October 23 - 29 </ion-label>

      </div>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="calendar" color="dark" style="font-size:18px;"></ion-icon>
      <ion-icon name="ellipsis-vertical" color="dark" style="font-size:18px;"></ion-icon>
    </ion-col>
  </ion-row>
  <table>
    <thead>
      <tr>
        <th rowspan="2">All</th>
        <th class="sunday">Sun 23</th>
        <th>Mon 24</th>
        <th>Tue 25</th>
        <th>Wed 26</th>
        <th>Thu 27</th>
        <th>Fri 28</th>
        <th>Sat 29</th>
      </tr>
      <tr>

        <th></th>
        <th></th>
        <th colspan="4" class="booked-activity">Visit China with Mom</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="time">12.00 PM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td class="booked-primary">Eat Shake</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">1.00 PM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">2.00 PM</td>
        <td class="booked-secondary" rowspan="2">Church Service</td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">3.00 PM</td>

        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">4.00 PM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">5.00 PM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="booked-dark" rowspan="5">Flight to LA</td>
      </tr>
      <tr>
        <td class="time">6.00 PM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td class="time">7.00 PM</td>
        <td class="enabled"></td>
        <td class="booked-activity" rowspan="3"> Movie with Family</td>
        <td class="booked-success" rowspan="2"> Visit Grandma with Children</td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td class="time">8.00 PM</td>
        <td class="enabled"></td>


        <td></td>
        <td class="booked-activity">Cruise</td>
        <td></td>

      </tr>
      <tr>
        <td class="time">9.00 PM</td>
        <td class="enabled"></td>

        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td class="time">10.00 PM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">11.00 PM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td class="booked-pink">Spa</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">12.00 AM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>


    </tbody>
  </table>
</div>

<!--************************************************************** Dynamic Calender ***************************************************************-->

<div class="plsql-container">
  <ion-row>
    <!-- <ion-col size="2">
      <div class="setting">
        <ion-icon name="menu" color="dark" style="float: left;font-size: 22px;"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8">
      <div class="month">

        <ion-label color="dark"> October 23 - 29 </ion-label>

      </div>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="calendar" color="dark" style="font-size:18px;"></ion-icon>
      <ion-icon name="ellipsis-vertical" color="dark" style="font-size:18px;"></ion-icon>
    </ion-col> -->
    <!-- <ion-item class="ion-input-item ion-input-item-border">
      <ion-label position="stacked">October</ion-label>
         <ion-datetime  displayFormat="DD-MMM-YYYY" id="di" [(ngModel)]="date"
            [min]="from_value" [max]="2050" (ionChange)="onChange(date)" #selectedDate >
          </ion-datetime>
           <div class="input-buttons-container">
            <button class="input-btn float-right"  ion-button icon-only small>
                <ion-icon name="calendar"></ion-icon>
          </button>
          <button class="input-btn float-right"   ion-button icon-only small>
              <ion-icon name="close"></ion-icon>
          </button>     
          </div>
    </ion-item> -->
  </ion-row>
  <table id='calender'>
    <!-- <thead id = "calendar-head">
       <tr>
        <th rowspan="2">All</th>
        <th class="sunday">Sun 23</th>
        <th>Mon 24</th>
        <th>Tue 25</th>
        <th>Wed 26</th>
        <th>Thu 27</th>
        <th>Fri 28</th>
        <th>Sat 29</th>
      </tr>
      <tr>

        <th></th>
        <th></th>
        <th colspan="4" class="booked-activity">Visit China with Mom</th>
        <th></th>

      </tr>
    </thead>
    <tbody id = "calendar-body">
      <tr>
        <td class="time">12.00 PM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td class="booked-primary">Eat Shake</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">1.00 PM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">2.00 PM</td>
        <td class="booked-secondary" rowspan="2">Church Service</td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">3.00 PM</td>

        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">4.00 PM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">5.00 PM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="booked-dark" rowspan="5">Flight to LA</td>
      </tr>
      <tr>
        <td class="time">6.00 PM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td class="time">7.00 PM</td>
        <td class="enabled"></td>
        <td class="booked-activity" rowspan="3"> Movie with Family</td>
        <td class="booked-success" rowspan="2"> Visit Grandma with Children</td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td class="time">8.00 PM</td>
        <td class="enabled"></td>


        <td></td>
        <td class="booked-activity">Cruise</td>
        <td></td>

      </tr>
      <tr>
        <td class="time">9.00 PM</td>
        <td class="enabled"></td>

        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td class="time">10.00 PM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">11.00 PM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td class="booked-pink">Spa</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">12.00 AM</td>
        <td class="enabled"></td>
        <td class="enabled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>


    </tbody> -->
  </table>
</div>