.treemenu{
    ul
    {
        padding:0px;
        margin:0px;
        span
        {
        font-size: 15px;
        font-weight: 400;
        vertical-align: text-top;
        white-space: nowrap;
        }
    }
    .tree-outer
    {
        padding: 5px;
    }
    li {
        font-size: 15px;
        list-style: none;
    }
    
    .children-list {
        padding: 0 10px;
        margin-left: 30px;
        position: relative;
        &::before {
            display: block;
            content: "";
            position: absolute;
            top: -7px;
            left: 0;
            width: 15px;
            height: 20px;
        }
    }
    
    .trees-items { 
        padding:5px 0 0 0;
        margin-bottom: 2px;
        position: relative;
        display: inline-flex;
        &:hover {
            cursor: pointer;
        }
        &::after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 10px solid transparent;
            right: 0%;
            top: 6%;
        
        }
    }
    
    .file-ico {
        display: inline-flex;
        margin-right: 5px;
        text-align: left;
        margin-left: 12px;
     
        .ico {
            font-size:15px;
            margin: 0;
        }
        .fa-file {
            margin-left: 21px;
        }
    }
    
    .item-children {
        overflow: hidden;
    }
    
    .check-label {
        float: left;
    }
    
    
        .open-icon{
            color: #bcbcbc;
            border: 1px solid #c3c3c3;
            padding: 3px 4px;
            width: 20px;
            height: 20px;
            margin-right: 4px;
            cursor: pointer;
            text-align: center;
            display: inline-flex;
            i{
                font-size: 12px;
            }
        }
        .close-icon{
            padding: 3px 4px;
            width: 20px;
            height: 20px;
            margin-right: 4px;
            cursor: pointer;
            text-align: center;
            display: inline-flex;
            i{
                font-size: 12px;
            }
        }
        .br-50{
            border-radius: 10px;
        }
        .children-list {
            border-left: 2px dashed #d0cece;
        }
        .children-list::before {
            border-bottom: 2px dashed #cccccc;
        }
        .bg-light{
            padding: 3px 5px;
        }
    }
    .related-data-container{
        padding: 10px;
        border-radius: 15px;
        box-shadow: 1px 2px 5px #d8d8d8, -1px 0px 5px #d8d8d8;
        margin-bottom: 10px;
        margin-right: 10px;
    }