<p>
  attach-file works!
</p>
<div>
  
</div>


<!-- <ion-item>
  <ion-label id="profile_image" color="primary" stacked>Choose File</ion-label>
  <ion-input  [readonly]='true' id="upload" [(ngModel)]="imageFilePath" (click)="imageFilePath_change()"></ion-input>
</ion-item> -->

<!-- <ion-item>
  
  <ion-input  [readonly]='true' id="upload" [(ngModel)]="imageFilePath" (click)="upload()">
    <ion-label id="profile_image" color="primary" stacked>Choose File</ion-label>
  </ion-input>
</ion-item> -->
<div *ngIf="fileInput.item_sub_type=='EMAIL' ">
  <ion-item>
    <ion-icon ios="ios-attach" md="md-attach" (click)="uplaod2()"></ion-icon>
    <!-- <ion-input  [readonly]='true' id="upload" >
    </ion-input> -->
  </ion-item>
</div>
<div *ngIf="fileInput.item_sub_type!='EMAIL' ">
  <ion-item>
    <!-- <ion-icon name="arrow-up-circle" ></ion-icon> -->
    <ion-input  [readonly]='true' id="upload" >
      <ion-label slot="end" id="profile_image" color="primary" stacked (click)="uplaod2()">Choose File</ion-label>
    </ion-input>
  </ion-item>
</div>