
@import '../app/mixins';
@import '../app/variables';

.theme-blue {
    $blue: #4990e2;
    $blue-light-1: #5894da;
    $blue-light-2: #a4c7f0;
    $blue-light-4:#dae8fa;
    $blue-light-5:#e5f1ff;
    $blue-light-6:#f5faff;
    $text-dark: #272727;
    $text-light-1: #373737;
    $blue-bg-light: rgba(73, 144, 226, 0.19);
    $grey: #98a2ae;
    $grey-4:#d6dde5;
    $form-label:#7f7f7f;
    $grey-5:#eff1f3;
    $dark-grey: #6a7077;
    $dark-grey-1: #35383c;
    $dark-grey-2:#505f6e;
      $blue-btn-shadow: 0px 3px 6px 2px rgba(73, 144, 226, 0.5215686274509804);
    $global-box-shadow: -2px 3px 11px 2px rgba(152, 162, 174, 0.44);
    $light-grey: rgba(166, 175, 185, 0.41);
    $label-text:#595d61;
    $grey-shadow: 0px 3px 10px rgba(152, 162, 174, 0.68);
    $company-logo-shadow: 1px 2px 10px rgba(8, 31, 56, 0.39);
    $light-blue: rgb(180, 209, 243);
    $global-shadow2: 0px 5px 11px rgba(221, 221, 221, 0.66), 1px 1px 11px rgba(221, 221, 221, 0.66);
    $light-blue-shadow: 2px 7px 10px rgba(73, 144, 226, 0.33);
    $dark-blue-shadow: 1px 8px 10px rgba(73, 144, 226, 0.5411764705882353);
    $light-blue-bg: rgba(73, 144, 226, 0.38);
    $secondary-text:#423f3f;
    /* Global CSS Start*/
    text{
        fill: #000 !important;
    }
    .globe-btn1{
        background: $blue
    }
    p
    {
        color:$text-dark;
    }
 .text-primary{
     color: $blue !important;
 }
 ion-toolbar.ion-color-primary {
    --ion-color-base: linear-gradient(to top, #4990e2, #083466) !important;
}
    /*Conditional Ion Input*/
    .input-btn:active
    {
      color:$blue !important;
    }
.ion-input-item , .ion-input-select-item
{
    .input-btn
    {
        color: #757b82;
    }

    ion-label
    {
        color:$form-label;
       
    }
    ion-input
    {
        color:$text-light-1;
    }
    input,textarea,ion-select
    {
        color: #2b2d2f;
        font-weight:400;
    
    }
}
.form-label
{
    color:$form-label !important;
}
ion-button:hover{
    --ion-color-primary: #4c8dff !important;
}
.ion-input-select-item , .ion-input-textarea-item{
    .input-btn
    {
        color: #757b82;
    }

    ion-label
    {
        color:$form-label !important;
       
    }
    ion-input
    {
        color:$text-light-1;
    }
    input,textarea,ion-select, ion-textarea
    {
        color: #2b2d2f;
        font-weight:400;
    }
}
/*Conditional Ion Input*/


    /* Css for New Fixed-Input format  */
.filter-date-sec
{
   
    border-top:2px solid $blue;
    ion-icon.heading-icon {
        
        background:$blue;
      
    }
}
/*Image Capture Section*/
.img-capture-sec
{
    
    background: linear-gradient(180deg, $blue 50%, darken($blue,10%) 10%);
    button:active::after
{
    border:1px dashed  $blue;
    
}

   
}

    /*Image Capture Section*/
.fix-input {
   
    border-bottom: 1px solid #bcbcbc !important;
    color: #272727;
    background: #fff;

}

.fix-label {
    background: rgba(187, 192, 199, 0.3215686274509804);
    color: #82888e !important;
  
}

.fix-textarea {
    background: #fff;
     border-bottom: 1px solid #bcbcbc !important;
}

.fix-lov-btn {
    
    color: #757b82;
    border-bottom: 1px solid #bcbcbc !important;
}

/* Css for New Fixed-Input format  */

/* Css for Border-bottom Input format  */
.border-bottom-input {
   
    border-bottom: 1px solid #bcbcbc;
   

}
.border-bottom-lov-btn {
   
    color: #757b82;
    border-bottom: 1px solid #bcbcbc !important;
}

/* Css for Border-bottom Input format  */

.floating-lov-btn {
   
    color: #a2a9b1;
}
    .input-text,.input-textarea,.input-number,.browser-date-input
    {
        color:$text-light-1;
    }
    .input-text input:focus,
    .input-textarea textarea:focus,
    .select-container ion-select:focus,
    .browser-date-input:focus
    {
       border-bottom:1px solid $blue;
       
    }
    .border-bottom-input input:focus,
    .border-bottom-input textarea:focus,
    .border-bottom-input  ion-select:focus
    {  
       border-bottom:2px solid $blue;
    }
    .global-btn {
        color: $text-dark;
        text-transform: inherit;
        width: 75%;
    }
    .browser-date-input
    {
        border: 1px solid #bcbcbc;
    }
    .lov-btn {
        background: #ffffff;
        color: $grey;
        border: 1px solid #bcbcbc;
        &:active{
            color:$blue;
        }
    }
    label, ion-label
    {
        color: $label-text;
    }
    .border-bottom-input
    {
        color:$text-light-1;
        font-weight:600;
    }
    .floating-ion-item-100,.floating-ion-item
    {
              ion-label
              {
                color:$text-dark;
              }
              ion-input
              {
                color:$text-light-1;
                font-weight:600;
              }
    }
    table {
        thead {
            background: $blue;

            th {
                color: #fff;
                border: 1px solid rgba(229, 229, 229, 0.36);
                background: $blue;
            }
          
        }

        tbody tr:nth-child(even) {
            background: $blue-light-5;
        }
        td
        {
            border: 1px solid #cfd4d9;
            ion-label
            {
                color:$secondary-text;
            }
        }
    }
    .table-fix-footer
    {
      tfoot
      {
        background:$blue-light-4;
        td
        {
         color:darken($blue,10%);
         border: 1px solid #80ade4;
        }
      }
      tfoot.second-total
      {
        background:#c5dbf9;
      }
    }

    .pagination-container {
        .paginator {
            border: 1px solid $grey;
            box-shadow: $global-shadow2;

            li {
                border-right: 1px solid $grey;
            }

            .paginator-btn {
                background: $grey;
                color: #fff;
               
                &:active
                {
                    background:$blue;
                }
            }
        }
    }

    .frame-name {
        color: $text-dark;
        background:$grey-5;
        &::before {
            background: $blue;
        }
    }
    .item-seperator{
        color: $text-dark;
        background:$grey-5;
        &::before {
            background: $blue;
        }
        &::after {
            background: $blue;
        }
    }

    .app-sidebar {
        ion-header:after {
            background-image: none;
        }

      ion-toolbar {
            --background: url(../assets/imgs/blue-theme/sidebar-bg-blue.jpg); 

            ion-title,
            ion-icon {
                color: #fff;
            }
        }

        .company-logo {
            box-shadow: $company-logo-shadow;
        }

        ion-item {
            ion-avatar {
                background: #fff;

            }

            ion-label {
                color: $secondary-text;
            }
        }

        ion-footer {
            ion-title {
                background: $light-grey;
            }
        }
    }

    /* Global CSS End*/

    /* Login page CSS Start*/
    .page-login {
        .login-outer {
            background: url(../assets/imgs/bg-login-blue.jpg) !important;

            .login {
                color: $blue-light-2;
            }
        }

        ion-list {
            background: transparent;

            ion-item {
                --background: transparent;
            }
        }

        ion-icon {
            color: $grey;
        }

        ion-input {
            color: $text-dark;
        }

        .login-btn-wrap {
            box-shadow: $blue-btn-shadow;
            background: $blue;
        }

        .setting-icon {
            background: $blue;
            color: #fff;
        }

        .forgot-link {
            a {
                color: $grey;
            }
        }
    }

    /* Login page CSS End*/

    /* Appkey collection page CSS Start*/
    .page-appkey-collection {
        .client-wraper {
            border: 1px solid $blue;

            .cancle-wrap {
                background: $blue;
                border: 1px solid $blue;
                color: #fff;
            }
        }

        h3 {
            background: $blue;
            color: #fff;
        }
    }

    /* Appkey collection page CSS End*/

    /* Appkey validation page CSS Start*/
    .app-key-container {
        .upper-container {
            background: $blue;
        }

        .key-container {
            box-shadow: 0px 1px 4px 1px $grey;
            background: #fff;
        }

        ion-button {
            box-shadow: $blue-btn-shadow;
        }

        .appkey-logo {
            background: #fff;
        }

        .button-native {
            --background: none;
        }

        ion-input {
            border-bottom: 1px solid $grey;
            color: $text-dark;
        }

        .text-orange {
            color: $grey;
        }
    }

    .item-md,
    .item-ios {
        background: transparent;
    }

    /* Appkey validation page CSS End*/

    /* Change server setting page CSS Start*/
    .change-setting-body {
        .change-setting-container {
            .key-container {
                box-shadow: $global-box-shadow;
                background: #fff;

                h4 {
                    color: $dark-grey;
                }

                .card-container {
                    box-shadow: $global-box-shadow;
                    background: #fff;

                    .key-card {
                        .icon-in {
                            background: $blue;

                            .icon-white {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        ion-input {
            border-bottom: 1px solid $grey;
            color: $text-dark;
        }

        ion-icon {
            color: $grey;
        }

        .header-secondary {
            color: #fff;
        }
    }

    /* Change server setting page CSS End*/

    /* Frame img slider component CSS Start*/
    .image-slider {
        --bullet-background: #000;

        .img-caption {
            background: $grey-5;
            border:1px solid $grey-4;
        }

        .heading {
            color:$secondary-text;
        }

    }

    /* Frame img slider component CSS End*/

    /* News Scoll component CSS Start*/
    .marquee-container {
        box-shadow: $global-shadow2;

        .item {
            --border-color: transparent;
        }

        ion-icon {
            color: #fff;
            background: $blue;
        }
    }

    /* News Scoll component  CSS End*/

    /* Menu List component  CSS Start*/
    .menu-list {
        box-shadow:  0 3px 1px -2px rgb(221 221 221 / 66%), 0 2px 0px 0 rgb(221 221 221 / 66%), 1px 1px 4px 0 rgb(221 221 221 / 66%);

        ion-item {
            --border-color: transparent;
        }

        ion-icon {
            color: $grey;
        }

        .thumbnail-container {
            background: $blue;
        }

        ion-thumbnail {
            background: #fff;
            border: 1px solid #fff;
            box-shadow: $light-blue-shadow;
        }

        h2 {
            color: $secondary-text;
        }

        .next-arrow {
            color: #FFF;
        }
        &::before
  {
  
    background:$blue;
  
  }
    }

    /* Menu List  component  CSS End*/

    /* Menu Tab component  CSS start*/
    .tab-menu {
        box-shadow: $global-shadow2;
        &::after{
          
            background:$blue;

          }
        .img-container {
            &::before {
                background-image: radial-gradient($light-blue 15%, rgba(16, 16, 16, 0) 16%), radial-gradient(rgba(243, 243, 245, 0) 15%, rgba(0, 0, 0, 0) 16%);
            }

            .img-circle {
                box-shadow: $dark-blue-shadow;

                &::after {
                    background-image: radial-gradient($light-blue 15%, rgba(16, 16, 16, 0) 16%), radial-gradient(rgba(243, 243, 245, 0) 15%, rgba(0, 0, 0, 0) 16%);
                }
            }
        }

        .name-container {
            h6 {
                color: $secondary-text;
            }
        }
    }

    /* Menu Tab component  CSS End*/

    /*Count list Css Start */
    .count-list {
        .approval-body {
            ion-item {
                --background: var(--ion-item-background, var(--ion-background-color, #fff));
                color: $text-light-1;
                box-shadow: $global-box-shadow;
                font-weight:600;
                &::before {
                    background: rgba(244, 245, 248, 0.15);
                }

                .count {
                    background: $blue;
                   
                     p
                     {
                        color: #fff !important;
                     }
                    &::before {
                        background: rgba(244, 245, 248, 0.18);
                    }
                }
                
            }
        }
    }

    /*Count list Css Start */

    /*Collapse List /rep-card Css start*/
    .collapse-list {
        box-shadow: $global-box-shadow;
        color: $text-dark;

        ion-label {
            color: $text-dark;
        }

        ion-icon {
            color: $blue !important;
        }
        &::before
        {
            background: $blue !important;
        }
        .message-text
        {
         color:$blue;
        }
    }
    .rep-card-list
   {
    
        box-shadow: $global-shadow2 !important;
       
        ion-icon
        {
   
          background: $blue;
          color:#fff !important;
  
        }
     
   }
    .collapse-list-body {
        box-shadow: $global-box-shadow;

      
    }
    .collapse-list-container
    {
        .img-sec
      {
    background: $blue;
   
      }
    }
    /*Collapse List /rep-card Css  End*/

    /*Filters Start*/
    .filters {
        box-shadow: $global-shadow2;
        border-right: 2px solid $blue;

        h6 {
            color: $text-dark;
        }

        .filter-icon-container {
            ion-icon {
                color: $blue;
            }

            &::before {
                background: $light-blue-bg;
            }

            &::after {
                background: $light-blue-bg;
            }
        }
    }

    /*Filters End*/

    /*Tab Entry /multi-level-tab page Start*/
    .tab-container {
        border-bottom: 2px solid $blue;
        ion-segment-button {
            border-bottom: 2px solid $blue;
        }

        .segment-button-checked {
            color: darken($blue, 30%);
            background: $blue-light-5;
            border-top: 3px solid $blue !important;
            border-right: 2px solid $blue !important;
            border-left: 2px solid $blue !important;

            &::after
            {
          
             background: $blue-light-5;
            }
        }
    }

    .card-container {
        ion-item {
            border-right: 4px solid $blue-light-1;

            .label {
                color: $text-dark;
            }
        }
    }
    .multilevel-tab-card
    {
        ion-card
        {
            box-shadow: none;
            border: 1px solid #dedede;
            border-right: none;
        }
        .label-name
        {
            color: #3d4043;
        }
        .label-value
        {
            color:$text-light-1;
        }
    }

    /*Tab Entry /multi-level-tab page End*/

    /*Frame-card component Start*/
    .super-card {
        box-shadow: $global-box-shadow;
        background: $light-blue-bg;

        .button-sec {
            background: $grey-shadow;

            .button[icon-only] {
                color: #7c7f7f;
            }
        }

        .sr-no {
            background: $blue;
            color: #fff;
            box-shadow: 5px 2px 10px rgba(26, 64, 108, 0.85), inset -2px -1px 4px rgb(104, 174, 255);
        }

        .super-card-inner {
           
            border-bottom: 1px solid $blue-light-2;

            &::before {
                background: $blue;
                box-shadow: $light-blue-shadow;
            }

            &::after {
                background: $blue;
            }

            .label {
                color: $text-dark;
            }

            h5 {
                color: $text-dark;
            }

            .text-yellow {
                color: #ea8e07;
            }

            .text-blue {
                color: $blue;
            }

            .subheading {
                color: #b62731;
            }
            .card-title p
            {
                color:darken($blue,7%);
            }
        }
        .card-fab-btn-container
        {
         
       
          ion-fab-button
          {
              margin-left: 0px;
     
      --background:#fff;
      --color: #4990e2;
      
          }
          ion-fab-list
          {
              
              ion-fab-button
              {
                 
                 box-shadow: 1px 5px 10px rgba(152, 162, 174, 0.6);
              
              
              }
          }
        }
    }

    /*Frame-card component  End*/

    /*File Tree css Start*/
    .file-ul {
        ion-icon {
            color: $blue;
        }

        span {
            color: $secondary-text;

        }
    }

    .tree-outer {
        border: 1px solid #e6e6e6;
    }

    .children-list {
        border-left: 1px solid $blue;

        &::before {
            border-bottom: 1px solid $blue;
        }
    }

    .trees-items {
        &:hover {
            .ico {
                color: $blue;
            }
        }

    }

    .file-ico {
        .ico {
            color: $grey;
        }
    }

    /*File Tree css End*/

    /*Text-Band Style 2*/

    .text-band-positive
{
   
    background: #f0f5fd;
    border: 1px solid #d0e5ff;
    h2
    {
        color: #0b1d31;
        ion-icon
        {
            color: $blue;
        }
        
    }
    h5
    {
        color: #6f7884;
     
    }
    .text-band2-image
    {
         background:url(../assets/imgs/increasing-kpi.png);
    }
 
}

.text-band-negative
{
    background: #fcf2f3;
    border: 1px solid #ffdbdc;
    h2
    {
        color: #3a1011;
        ion-icon
        {
            color: #d3262a;
        }
        
    }
    h5
    {
        color: #8e7677;
}
.text-band2-image
{
     background:url(../assets/imgs/decreasing-KPI.png);
}    
}
    /*Text-Band Style 2*/

    /*Text-Band Style 3*/
    .text-band3-positive
{
    background:url(../assets/imgs/text-band-3-positive-graph.png) bottom no-repeat;
    h2
    {
        color: #0b1d31;
        ion-icon
        {
            color: $blue;
        }
    }
    h5
    {
        color: #6f7884;
    }
}
.text-band3-negative
{
    background:url(../assets/imgs/text-band-3-negative-graph.png) bottom no-repeat;
    h2
    {
        color: #3a1011;
        ion-icon
        {
            color: #d3262a;
        }
    }
    h5
    {
        color: #8e7677;
    }
}
    /*Text-Band Style 3*/

    /*Text-Band Style 4*/
    ion-row ion-col:nth-child(4n+1) .text-band4
{
    background: #4990e2;
}
ion-row ion-col:nth-child(4n+2)  .text-band4
{
    background: #959da5;
}
ion-row ion-col:nth-child(4n+3) .text-band4
{
    background: #e3982b;
}
ion-row ion-col:nth-child(4n+4) .text-band4
{
    background: #4CAF50;
}
/*Text-Band Style 4*/

/*Add To Cart Start*/
    
.add-to-cart
{
 

  .border-bottom-lov-btn {
   
    background: #edeff1;
 
}


.qty-description
  {
   
    
      h5{
        color: $blue;
       
      }
     
  }
  
  .total-qty
  {
   
    background: $blue;
   
    &::after
    {
   
    color: rgba(255, 255, 255, 0.77);
    }
  }
  .add-to-cart-btn
  {
   
    background: $grey;
    
    color: #fff;
  
  }
  .min-qty-count
  {
    background:  $blue-light-5;
 
    color: $blue;
    border: 1px solid  $blue-light-2;
  }
  .rupees-icon
    {
        background:$blue;
    }
    h5
    {
        color: $blue;
    }
    .add-btn-section
    {
       
        .input-group
        {
            border: 2px solid $blue;
           
            ion-input
            {
              
                color: $blue;
               
               
            }
          
            .border-bottom-lov-btn {
                color: $blue;
                
            }
        }
       
    }
    .bag-section
    {
        color: $blue;
    }
}
    /*Add To Cart End*/

  /*Cart Summary Start*/
  .cart-summary
  {
    h1 {
      
        color: #373a3d;
       
    }

    .cart-summary-icon
    {
      background: $blue;
  
      &::after
      {
        
          background: rgba(73, 144, 226, 0.22);
         
      }
    }
  }
  /*Cart Summary End*/
    /*Voice Search Start*/
    .voice-search-container
    {

    
        .voice-search-icon
        {
        
           
            background:$blue;
          
        }
        
        .voice-search-text
        {
         
            color: $secondary-text;
        }
    }
    
      /*Voice Search End*/
      .summary-card ion-item:nth-of-type(3n-1)  ion-avatar
{
    background: #f97e04;
}
  /*Entry Table Start*/
.entry-table
{
    tfoot
    {
        background: #d8eaff;
        th
        {
         color:$blue;
        }
    }
}
 /*Entry Table end*/
   /*Change Password Start*/
   .change-password-container
{

    border-bottom: 5px solid $blue;
}

   /*Change Password End*/
     /*Sliding List start*/
   .sliding-list.blue
{
    border-left:2px solid $blue;
    ion-avatar
    {
    
        border: 2px solid $blue;
        color: $blue;
    }
}
.iconText-btn{
    --border-color: #fff;
    border: 1px solid #c1d9f9;
    background: #f4f7fb;
}
  /*Sliding List end*/

 /*Chat Dashboard Start*/
 .table-input.chat-input  
 {
 margin-top:0px;
 textarea
     {
     
           
             border: 1px solid #b2cdec !important;
             background: #deedff !important;
             color: #053165;
             border-right: none !important;
         
     } 
 }
   
.chat-input-container
{
    .lov-btn {
        background: #deedff;
        color: #0f64c5;
        border: 1px solid #b2cdec;
        &:focus
        {
          color: #042852;
        }
    }
    
}
.chat-input-container
{
    .speaker-btn {
       
        background:$blue;
        color: #fff;
        border: 1px solid #4990e2;
        &:focus
        {
            background: #042852;
            color: #fff;
        }
    }
    
}
  /*Chat Dashboard End*/

  
/*Smart Filters Start*/

.smart-filter-section
{
    ion-range {
        --bar-background-active: #d4e4f7;
        --knob-background: #4990e2;
    }

   sup
    {
        color: $blue;
    background: #e0e8f3;
    border: 1px solid #bfd4f1;
 
    }

    h5
    {
        color: #272727;
       
    }
    h6
    {
        color:$blue;
    }

    .ion-color-light {
        --ion-color-base: #d8dfe6 !important;
        --ion-color-contrast: #4d5154 !important;
    }
    .inactive
{
    --ion-color-base: #d8dfe6 !important;
    --ion-color-contrast: #4d5154 !important;
}
.active
{
    --ion-color-base: #4990e2 !important;
    --ion-color-contrast: #ffffff !important;
}

}

.smart-filter-section-columnlist
{
    ion-col
    {
        border-right: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        color: #989aa2;
  
    }

    .activeColumn
    {
        color: $blue !important;
    }
    .inactiveColumn
    {
        color: #565656 !important;
    }
}
/*Smart Filters End*/
/*Dialer Start*/
.phone-communication
{
   
    ion-icon
    {
      
       background: $blue;
 
    }
    .communication-value
    {
       color:$blue;
    }
}
/*Dialer End*/

/*Email Composer Start*/
.email-communication
{
   
    ion-icon
    {
      
        background: #525252;
 
    }
    .communication-value
    {
       color:#525252;
    }
}
/*Email Composer End*/

/*Offline Entry Start*/
.menu-list.ofline-entry-list
{
    ion-thumbnail {
        background:$blue;
        box-shadow:none !important;
    }
    h1 {
     
        color: $blue;
    }
}
/*Offline Entry End*/

/*Advance Filter Start*/
.advance-filter-main
{
    .segment-button-checked
    {
        background: $blue-light-5 !important;
        .segment-button-indicator {
            background-color:  $blue-light-5;
        }
        ion-label
        {
            color:$blue !important;
        }
        
    }

}
/*Advance Filter End*/

/*order Entry Frame Start*/
.order-entry-container .order-entry .cart-btn {
    background:$blue;
    color: #fff;
}
.order-entry-container .order-entry .card-body .quantity-badge {
    background: $blue-light-4;
    border: 1px solid $blue;
    color:$blue
   
}
/*order Entry Frame End*/
/* New Summary card start*/
.summary-card-container{
    .single-summary-card{
        .tophead-card{
            background: $blue;
            .main-title{
                color: #fff;
            }
            p{
                color: #fff;
            }
        }
        .summary-box {
            background: #fff;
            box-shadow: -1px 2px 10px #847979;
            
           
            table tbody tr:nth-child(even) {
                background: #ffff;
            }
            table{
                tr.heading1 td{
                    color: #9e9999;
                }
                .heading2{
                    .rating-danger{
                        color: red;
                    }
                    .rating-green{
                        color: #2ccc32;
                    }
                    .rating-black{
                        color: #696767
                    }
                }
            }
        }
    }
}
/* New Summary card end*/
/* Drag Drop Container start*/
.drag-drop-container{
    .main {
        background: #1a6fcf;
    }
    .group1{
        background: #4990e2; 
    }
    .group2{
        background: #63a5f0; 
    }
    .group3{
        background: #81b0e6;
    }
    }
    /* Drag Drop Container End*/
    /* Simple KPI Container Start*/
    .simple-kpi-container{
        .each-kpi {
            background: $blue;
        }
        }
    /* Simple KPI Container End*/
/* Group Table Start*/
    .group-table-container{
        .total {
            background: #dae9fb;
        }
        table tbody tr:nth-child(even) {
            background: #ffffff !important;
        }
    }
    /* Group Table  End*/
    /* HML css start*/
    .task-management-container {
        box-shadow: $global-box-shadow;
    
        .task-card {
            .card-title {
                background: $blue;
                .card-heading h3 {
                    color: #fff;
                }    
                .total-count {
                    &::after {
        border: 1px solid #dddddd57;
       }
                    &::before {
        border: 1px solid #dddddd57;
                }    
                    span {
                        color: #fff;
                    }
                }
            }
            .card-body {
                background: $blue-light-6;
                .border-right{
                    border-right: 1px dashed #ddd;
                }
                .urgent {
                    p{
                        color: $blue;
                      
                    }
                   
                }
            }
        }
    }
    /*HML css end*/
 /* KPI Slider  css start*/
    .kpi-slider-container {
        border: 1px solid #ddd;
        box-shadow: $global-shadow2;
       
        .kpi-Slider {
            background: linear-gradient(to bottom left,$blue-light-1,$blue-light-2);
            border-right: 3px solid $blue;
            border-bottom: 3px solid $blue;
            box-shadow: $global-shadow2;
            
            span {
                color: $text-light-1;
            }
        }
    }
     /* KPI Slider  css end*/
    
/* Sub Select  css start*/
.my-custom-class {
    .alert-wrapper {
        background:#fff ;
        .alert-head.sc-ion-alert-md {
            h2 {
                color: $text-light-1;
            }
        }
        .alert-checkbox-group.sc-ion-alert-md {
            .alert-checkbox-label.sc-ion-alert-md{
                color: $text-light-1;
            }
        }
    }
}
/* Sub Select  css end*/ 

/* Developer Mode  css Start*/ 
.developer-mode-container {
    .editorial{
    border: 1px solid #ddd;
    .edit {
      color: #585353;
      background: #ddd;
      border: 1px dashed #a79a9a;
  }
  }
    .add {
      background: $blue;  
      color: #ffff;
      
  }
  }
  /* Developer Mode  css end*/ 
/* Order Card  css Start*/ 
  .order-card-container {
    
    .single-order-card {
        .addto-card {
            background: $blue;
            color: #fff;
            border: 1px solid $blue;
        }

        .card-header {
            h5 {
                background: $blue;
                color: #fff;
            }
        }

        .card-body {
            border: 1px solid $blue;
            .desc {
                ion-input {
                
                    border-bottom: 1px solid #ddd;
                }
            }
            .count {
                background: #ddd;
                color: #443b3b;
            }

            .features {
                color:#5e5f61;
            }


            .card-footer {
                .total-sec {
                    color: #FFF;
                    -webkit-box-shadow: -1px 3px 10px #a5a7a8;
                    box-shadow: -1px 3px 10px #a5a7a8;
                    background: $blue;
                    &::before {
                        background: #1b5ca7;
                    }
                }

                .rate {
                    color: $blue;
                }
            }
        }
    }
}
/* Order Card  css end*/ 

/* Parent Child Order Css Start*/
.contract-container {
    background: #fff;
    box-shadow:  $global-box-shadow;
    border-top: 3px solid $blue;
    
    .add-icon-btn {
        color: #ffffff;
        background: $blue;
    }
    .sub-header{
        
        span{
            color: $blue;

        }
    }
    ion-input{
        border: 1px solid #ddd;
    }
}
/*Parent Child Order Css End*/

/* sql-tran-light css start */
.sql-tran-light{

    ion-tab-button.active{
        border-bottom: 1px solid #fff;
        background: $blue;
        ion-label , ion-icon{
            color: #fff;
  
        }
        ion-badge{
       background: #fff;
       color: $blue;
        }
    }
.individual-card {
    border-left: 5px solid $blue;
    box-shadow: 1px 2px 10px #ddd;
    border-right: 1px solid $blue;
}
}
/* sql-tran-light css End */
.resp-view {
    ion-button.active{
        border-bottom: 2px solid $blue;
    }
}

    /*new Menu List component  CSS Start*/
    .new-menu-list {
        box-shadow: 0 3px 1px -2px rgb(221 221 221 / 66%), 0 2px 0px 0 rgb(221 221 221 / 66%), 1px 1px 4px 0 rgb(221 221 221 / 66%);

        ion-item {
            --border-color: transparent;
        }

        ion-icon {
            background: linear-gradient(to bottom, #4990e2, #083466) !important;
        }

        .thumbnail-container {
            background: linear-gradient(to bottom, #4990e2, #083466) !important;
        }

        ion-thumbnail {
            background: #fff;
            border: 1px solid #fff;
            box-shadow: $light-blue-shadow;
        }

        h2 {
            color: $secondary-text;
        }

        .next-arrow {
            color: #FFF;
        }
        &::before
  {
  
    background:$blue;
  
  }
    }

    /* New Menu List  component  CSS End*/


      /* Flip KPI component  CSS Start*/
      .flip-kpi {
      .front {
        &:after {
            
        background: linear-gradient(
    135deg
    , #e1e1e1 25%, transparent 25%) -50px 0, linear-gradient(
    225deg
    , #e1e1e1 25%, transparent 25%) -50px 0, linear-gradient(
    315deg
    , #e1e1e1 25%, transparent 25%), linear-gradient(
    45deg
    , #e1e1e1 25%, transparent 25%);
        background-size: 100px 100px;
        background-color: rgb(140 188 243 / 55%);
        }
        h2 {

            color: #15477f;
  
        }
    }
}
        /*Flip KPI component  CSS End*/
        .user-setting{
            ion-toolbar.ion-color-primary{
                --ion-color-base:  linear-gradient(to right, #4990e2 50%, #f2f8ff 10%, #f2f8ff 40%) !important;
            }
            .full-width {
                background: linear-gradient(to right, $blue 50%, #f2f8ff 10%, #f2f8ff 40%) !important;
            }
            .full-width::before{
                border: 43px solid #4e4e4e;
            }
            ion-title{
                color: #9e9e9e;
            }
            .user-form {
                background: #ebebeb;
                border-left: 13px solid $grey !important;
                box-shadow: 1px 2px 10px #2c2828;
            }
            .user-form:before {
               background-image: radial-gradient(#eff1f3 15%, rgba(0, 0, 0, 0) 16%), radial-gradient(#f3f3f5 15%, rgba(0, 0, 0, 0) 16%) !important;
            }
            .user-form:after {
               background-image: radial-gradient(#4990e2 15%, rgba(0, 0, 0, 0) 16%), radial-gradient(#c4cbd2 15%, rgba(0, 0, 0, 0) 16%) !important;
            
            }
            ion-select{
                border: 1px solid #ccc;
                background: #fff;
            }
            .lov-inp{
                background: #fff;
                border: 1px solid #ccc;
            }
            }
            .open-toggle {
                background:  $blue;
               
                .arr-div {
                   
                    background: $blue;
                   
                }
            }
            .close-toggle{

                .arr-div {
    
                    .arrow {
                        border: solid black ;
                    }
                   
                }
            }
            .action-import-cont{

                 ion-icon:hover{
                     color: $blue !important;
                 }
             }

             .groupBy_table{
                .top-headth{
                  background: #768392 !important;
                  color: #fff;
                  border-collapse: collapse;
                }
                .top-headth1{
                background: #96a9bd !important;
                  color: #fff;
                }
                .top-headth2 {
                  background: #c0cddc !important;
                  color: #ffffff;
                  border: 1px solid #ededed;
              }
              .bg-white{
              background: #fff !important;
              }
                }
             .apex-dropdown{
                .action-chips{
                    label.active{
                  
                      border: 1px dashed #ffffff;
                      color: #ffffff;
                      background: $blue;
                    }
                    ion-icon{
                      color: #ffffff;
                    }
                  }
            }
            .Upload-buton{
                background: $blue;
            }
            .treemenu{
                .bg-light {
                    background: $blue-light-5 !important;
                }
            .close-icon{
                color: $blue;
                border: 1px solid $blue;
            }
        }
}