<ion-header>
  <ion-toolbar color="primary">

    <ion-button slot="start" (click)="closePage()" fill="clear" icon-only start>
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </ion-button>
    <ion-title class="title">Object Editor</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="m-0 label-white text-center" (click)="itemClick($event)">
    <span style="font-weight: bold"> Object Code :</span> {{data.object_code}}</p>


  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label position="fixed">Object Name :</ion-label>
        <ion-input type="text" [(ngModel)]="data.object_name"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Apps Code Str :</ion-label>
        <ion-input type="text" [(ngModel)]="data.apps_code_str"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Operation Mode Str :</ion-label>
        <ion-input type="text" [(ngModel)]="data.operation_mode_str"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="4">
      <ion-item>
        <ion-label position="floating">Apps Working Mode :</ion-label>
        <ion-input type="text" [(ngModel)]="data.apps_working_mode"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="4">
      <ion-item>
        <ion-label position="floating">Apps Page Nos :</ion-label>
        <ion-input type="text" [(ngModel)]="data.apps_page_nos"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="4">
      <ion-item>
        <ion-label position="floating">User Rights Flag :</ion-label>
        <ion-input type="text" [(ngModel)]="data.user_rights_flag"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Sharing Tags :</ion-label>
        <ion-input type="text" [(ngModel)]="data.sharing_tags"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Apps Page 1 Name :</ion-label>
        <ion-input type="text" [(ngModel)]="data.apps_page1_name"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Apps Page 2 Name :</ion-label>
        <ion-input type="text" [(ngModel)]="data.apps_page2_name"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Apps Page 3 Name :</ion-label>
        <ion-input type="text" [(ngModel)]="data.apps_page3_name"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Apps Page 4 Name :</ion-label>
        <ion-input type="text" [(ngModel)]="data.apps_page4_name"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Apps Page 5 Name :</ion-label>
        <ion-input type="text" [(ngModel)]="data.apps_page5_name"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Apps Page 6 Name :</ion-label>
        <ion-input type="text" [(ngModel)]="data.apps_page6_name"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Apps Page 7 Name :</ion-label>
        <ion-input type="text" [(ngModel)]="data.apps_page7_name"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Apps Page 8 Name :</ion-label>
        <ion-input type="text" [(ngModel)]="data.apps_page8_name"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Apps Page 9 Name :</ion-label>
        <ion-input type="text" [(ngModel)]="data.apps_page9_name"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Apps Page 10 Name :</ion-label>
        <ion-input type="text" [(ngModel)]="data.apps_page10_name"></ion-input>
      </ion-item>
    </ion-col>





  </ion-row>

</ion-content>