<div class="sub-select-dropdown">
  <ion-row>
     <ion-col size="6">
       <ion-item>
         <ion-label position="floating">Select Value</ion-label>
       <ion-select value="Value 1" okText="Okay" multiple="true" [interfaceOptions]="customActionSheetOptions">
         <ion-select-option value="Value 1">Value 1</ion-select-option>
         <ion-select-option value="Value 2">Value 2</ion-select-option>
         <ion-select-option value="Value 3">Value 3</ion-select-option>
         <ion-select-option value="Value 4">Value 4</ion-select-option>
         <ion-select-option value="Value 5">Value 5</ion-select-option>
         <ion-select-option value="Value 6">Value 6</ion-select-option>
         <ion-select-option value="Value 7">Value 7</ion-select-option>
         <ion-select-option value="Value 8">Value 8</ion-select-option>
         <ion-select-option value="Value 9">Value 9</ion-select-option>
         <ion-select-option value="Value 10">Value 10</ion-select-option>
         <ion-select-option value="Value 11">Value 11</ion-select-option>
         <ion-select-option value="Value 12">Value 12</ion-select-option>
         <ion-select-option value="Value 13">Value 13</ion-select-option>
         <ion-select-option value="Value 14">Value 14</ion-select-option>
         <ion-select-option value="Value 15">Value 15</ion-select-option>
         <ion-select-option value="Value 16">Value 16</ion-select-option>
         
       </ion-select>
       </ion-item>
     </ion-col>
     <ion-col size="6">
       <ion-item>
         <ion-label position="floating">Select Value</ion-label>
       <ion-select value="Value 1" multiple="true" [interfaceOptions]="customActionSheetOptions">
         <ion-select-option value="Value 1">Value 1</ion-select-option>
         <ion-select-option value="Value 2">Value 2</ion-select-option>
         <ion-select-option value="Value 3">Value 3</ion-select-option>
         <ion-select-option value="Value 4">Value 4</ion-select-option>
       </ion-select>
       </ion-item>
     </ion-col>
   </ion-row> 
 </div>
 
 