@media only screen and (max-height:336px) and (min-height:325px) {
    #bar {
        height: 230px !important;
    }
    #pie {
        height: 195px !important;
    }
    #line {
        height: 230px !important;
    }
    .graph-container {
        height: 230px !important;
    }
    .responsive-table {
        height: 198px;
    }
}

@media only screen and (max-height:324px) and (min-height:310px) {
    #bar {
        height: 215px !important;
    }
    #pie {
        height: 185px !important;
        width: 400px !important;
        margin: auto;
    }
    #line {
        height: 215px !important;
    }
    .graph-container {
        height: 215px !important;
    }
    .responsive-table {
        height: 185px;
    }
}