<ion-row *ngIf="frame.apps_page_frame_name" class="align-center">
  <ion-col col-12>
    <h1 class="frame-name position-relative">{{frame.apps_page_frame_name}}<span style="margin-left: 10px;"
        *ngIf="globalObjects.toggleDevloperMode">[{{frame.apps_page_frame_seqid}}][{{frame.frame_alias}}]<ion-icon
          class="code-btn" color="primary" name="information-circle-outline" *ngIf="developerModeData"
          (click)="showDeveloperData()">
        </ion-icon></span></h1>
  </ion-col>
</ion-row>

<div *ngIf="searchFlag">
  <div class="input-group primary-search-section">

    <ion-input class="input-text" (ionChange)="searchAllData()" placeholder="Search Here..." [(ngModel)]="searchText">
    </ion-input>


    <div class="input-group-append">
      <button *ngIf="platform.is('ios') || platform.is('android')" class="lov-btn" ion-button icon-only small
        (click)="openMike()">
        <img src="./assets/imgs/google-speaker.png">
      </button>
      <button *ngIf="!platform.is('ios') && !platform.is('android')" class="lov-btn" ion-button icon-only small
        (click)="sppeak()">
        <!-- <img src="./assets/imgs/google-speaker.png"> -->
        <ion-icon name="mic" [ngClass]="mikeStyle" color="primary"></ion-icon>
      </button>
    </div>
    <div class="input-group-append">
      <button class="lov-btn" ion-button icon-only small>
        <ion-icon name="scan-outline" (click)="openbarcodescanner()"></ion-icon>
      </button>
    </div>

    <!-- <div class="input-group-append">
      <button class="lov-btn" ion-button icon-only small>

        <ion-icon (click)="toggle()" [hidden]="horizontal_table=='Hide'" name="chevron-forward-circle"></ion-icon>
        <ion-icon (click)="toggle()" [hidden]="horizontal_table=='Show'" name="chevron-down-circle"></ion-icon>
      </button>
    </div> -->
    <div class="input-group-append" *ngIf="enablefunnel">
      <button class="lov-btn" ion-button icon-only small (click)="filterToggle()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="frame.apps_frame_type == 'ENTRY_TABLE'">
  <div [id]="tab" class="new-table-date {{scrollClass}}">
    <table>
      <thead>
        <tr>
          <th *ngIf="deleteRowBtn && deleteRowBtn.item_visible_flag == 'T' ">
          </th>


          <th *ngFor="let th of frame.tHead; let i = index" style="text-align: center;">
            <ng-container *ngIf="!cB || (cB && th != cB.prompt_name)">{{th}}</ng-container>
            <ng-container *ngIf="cB && cB.prompt_name == th">
              <ion-checkbox color="primary" [(ngModel)]="cB.isChecked"
                [disabled]="cB.item_enable_flag && cB.item_enable_flag=='F'"
                (ionChange)="cB.touched=true;cbEvent($event)"></ion-checkbox>{{th}}
            </ng-container>
          </th>

        </tr>
      </thead>
      <tbody *ngIf="!loading">
        <tr *ngFor="let tableData of frame.tableRows |tableSearch :searchText;let rowindex=index" focusDir>

          <td *ngIf="deleteRowBtn && deleteRowBtn.item_visible_flag == 'T'">
            <span (click)="deleteRows(rowindex)" size="small" class="trash-btn">
              <ion-icon slot="icon-only" name="trash" size="small" color="primary"></ion-icon>
            </span>
          </td>

          <ng-container *ngFor="let itemGroup of tableData; let i = index">
            <ng-container *ngFor="let input_item of itemGroup.Level5;">
              <ng-container *ngIf="input_item.item_visible_flag == 'T'">
                <td [ngStyle]="getParsedJson(input_item.display_setting_str)"
                  [hidden]="(current_page_parameter.MODE && !(input_item.item_visible_flag && (input_item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||input_item.item_visible_flag !='T' || (input_item.item_type == 'ADD_ROW_BT') || (input_item.item_type == 'DELETE_ROW_BT')">
                  <ng-container [ngSwitch]="input_item.item_type">

                    <div *ngSwitchCase="'LBL'">
                      <app-label [labelInput]="input_item" (emitPass)="itemClicked($event,tableData,i,rowindex)"
                        (emitPass)="itemValueChange($event,rowindex)"></app-label>
                    </div>

                    <div *ngSwitchCase="'L'">
                      <app-items [item]="input_item" [wscp]="wscp_send_input" [frame_type]="frame.apps_frame_type"
                        (emitPass)="itemClicked($event,tableData,i,rowindex)"
                        (LHSOnChange)="itemValueChange($event,rowindex)">
                      </app-items>
                    </div>

                    <div *ngSwitchCase="'D'">
                      <app-items [item]="input_item" [wscp]="wscp_send_input" [frame_type]="frame.apps_frame_type"
                        (emitPass)="itemClicked($event,tableData,i,rowindex)"
                        (LHSOnChange)="itemValueChange($event,rowindex)">
                      </app-items>
                    </div>

                    <div *ngSwitchCase="'BT'">
                      <app-button [ngStyle]="input_item.display_setting_str" [button]="input_item"
                        (emitOnChange)="itemValueChange($event,rowindex)"
                        (emitPass)="itemClicked($event,tableData,i,rowindex)">
                      </app-button>
                    </div>

                    <div *ngSwitchCase="'CB'">
                      <app-check-box [checkBox]="input_item" [frame_type]="frame.apps_frame_type"
                        (emitOnChange)="itemValueChange($event,rowindex)"
                        (emitPass)="itemClicked($event,tableData,i,rowindex)">
                      </app-check-box>
                    </div>

                    <div *ngSwitchCase="'TEXT'">
                      <!-- <app-para-text [itemInput]="input_item" [frame_type]="frame.apps_frame_type"
                (emitOnChange)="itemValueChange($event,rowindex)" ></app-para-text> -->

                      <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                        (emitPass)="itemClicked($event,tableData,i,rowindex)" [frame_type]="frame.apps_frame_type"
                        (LHSOnChange)="itemValueChange($event,rowindex)">
                      </app-items>
                    </div>

                    <div *ngSwitchCase="'N'" class="number-value">
                      <app-number-input [frame_type]="frame.apps_frame_type" [numberinput]="input_item"
                        (emitOnChange)="itemValueChange($event,rowindex)"
                        (emitPass)="itemClicked($event,tableData,i,rowindex)"></app-number-input>
                    </div>

                    <div *ngSwitchCase="'T'">
                      <app-text-input [textinput]="input_item" [frame_type]="frame.apps_frame_type"
                        (emitOnChange)="itemValueChange($event,rowindex)"
                        (emitPass)="itemClicked($event,tableData,i,rowindex)">
                      </app-text-input>
                    </div>

                    <div *ngSwitchCase="'DI'">
                      <app-dialer-input [dialer]="input_item" (emitPass)="itemClicked($event,tableData,i,rowindex)"
                        [frame_type]="frame.apps_frame_type"></app-dialer-input>
                    </div>

                    <div *ngSwitchCase="'DISPLAY_PHOTO'">
                      <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                        (emitPass)="itemClicked($event,tableData,rowin)"
                        (LHSOnChange)="itemValueChange($event,rowin)">
                      </app-items>
                    </div>
                    <!-- <div *ngSwitchCase="'RT'">
              <app-rating-input  [ratinginput]="input_item" 
              (emitOnChange)="itemValueChange($event,rowindex)"></app-rating-input>
            </div> -->

                  </ng-container>
                </td>
              </ng-container>
            </ng-container>
          </ng-container>
        </tr>

        <tr *ngIf="footerRowFlag">
          <td [attr.colspan]="colSpan" style="font-weight: bold">Total</td>
          <ng-container *ngFor="let h of summaryRow">
            <td *ngIf="h" class="text-right" style="font-weight: bold">
              {{h}}
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>

    <div *ngIf="addRowBtn && addRowBtn.item_visible_flag == 'T'">
      <ion-button expand="block" (click)="itemClicked(addRowBtn,0,0,0)">{{addRowBtn.prompt_name}}</ion-button>
    </div>
  </div>
</ng-container>



<!-- -----------------------Frame Type Vertical Table------- -->


<ng-container *ngIf="frame.apps_frame_type == 'ENTRY_TABLE_VERTICAL'">
  <ion-row>
    <ion-col size="4">
      <table>
        <thead>
          <tr *ngFor="let th of thead; let i = index">
            <th>{{th}}</th>
          </tr>
        </thead>
      </table>
    </ion-col>


    <ion-col size="8">
      <div class="table-responsive">
        <table>
          <tbody *ngIf="!loading">
            <tr *ngFor="let tableData of frame.tableRows |tableSearch :searchText;let rowindex=index">

              <ng-container *ngFor="let itemGroup of tableData;" focusDir>
                <td *ngFor="let input_item of itemGroup.Level5; let i = index"
                  [ngStyle]="getParsedJson(input_item.display_setting_str)"
                  [hidden]="(current_page_parameter.MODE && !(input_item.item_visible_flag && (input_item.item_visible_flag.indexOf(current_page_parameter.MODE)>-1)) )||input_item.item_visible_flag=='F' || (input_item.item_type == 'ADD_ROW_BT') || (input_item.item_type == 'DELETE_ROW_BT')">

                  <!-- <app-items [item]="input_item" [frame_type]="'ENTRY_TABLE'"
                    (emitPass)="itemClickedVertical($event,tableData,rowin)"
                    (LHSOnChange)="itemValueChange($event,rowindex)">
                  </app-items> -->

                  <ng-container [ngSwitch]="input_item.item_type">
      
                    <div *ngSwitchCase="'LBL'">
                      <app-label [labelInput]="input_item" (emitPass)="itemValueChange($event,rowindex)"></app-label>
                    </div>
      
                    <div *ngSwitchCase="'L'">
                      <app-items [item]="input_item" [wscp]="wscp_send_input" [frame_type]="'ENTRY_TABLE'"
                        (emitPass)="itemClicked($event,tableData,i,rowindex)" (LHSOnChange)="itemValueChange($event,rowindex)">
                      </app-items>
                    </div>
      
                    <div *ngSwitchCase="'D'">
                      <app-items [item]="input_item" [wscp]="wscp_send_input" [frame_type]="'ENTRY_TABLE'"
                        (emitPass)="itemClicked($event,tableData,i,rowindex)" (LHSOnChange)="itemValueChange($event,rowindex)">
                      </app-items>
                    </div>
      
                    <div *ngSwitchCase="'BT'">
                      <app-button [ngStyle]="input_item.display_setting_str" [button]="input_item"
                        (emitOnChange)="itemValueChange($event,rowindex)">
                      </app-button>
                    </div>
      
                    <div *ngSwitchCase="'CB'">
                      <app-check-box [checkBox]="input_item" [frame_type]="'ENTRY_TABLE'"
                        (emitOnChange)="itemValueChange($event,rowindex)">
                      </app-check-box>
                    </div>
      
                    <div *ngSwitchCase="'TEXT'">
      
                      <app-items [item]="input_item" [frame_type]="'ENTRY_TABLE'"
                        (emitPass)="itemClicked($event,tableData,i,rowindex)"
                        (LHSOnChange)="itemValueChange($event,rowindex)">.
                      </app-items>
                    </div>
      
                    <div *ngSwitchCase="'N'" class="number-value">
                      <app-number-input [frame_type]="'ENTRY_TABLE'" [numberinput]="input_item"
                        (emitOnChange)="itemValueChange($event,rowindex)"></app-number-input>
                    </div>
      
                    <div *ngSwitchCase="'T'">
                      <app-text-input [textinput]="input_item" [frame_type]="'ENTRY_TABLE'"
                        (emitOnChange)="itemValueChange($event,rowindex)">
                      </app-text-input>
                    </div>

                     <div *ngSwitchCase="'DI'">
                      <app-dialer-input [dialer]="input_item" (emitPass)="itemClicked($event,tableData,i,rowindex)"
                        [frame_type]="frame.apps_frame_type"></app-dialer-input>
                    </div>
                    
                    <div *ngSwitchCase="'DISPLAY_PHOTO'">
                      <app-items [item]="input_item" [frame_type]="frame.apps_frame_type"
                        (emitPass)="itemClicked($event,tableData,rowin)"
                        (LHSOnChange)="itemValueChange($event,rowin)">
                      </app-items>
                    </div>

      
                  </ng-container>
                </td>
              </ng-container>
            </tr>

            <!--     <tr *ngIf="footerRowFlag">
              <td [attr.colspan]="colSpan" style="font-weight: bold">Total</td>
              <ng-container *ngFor="let h of summaryRow">
                <td *ngIf="h" class="text-right" style="font-weight: bold">
                  {{h}}
                </td>
              </ng-container>
            </tr> -->
          </tbody>
        </table>
      </div>
    </ion-col>

  </ion-row>

</ng-container>

<div class="pagination-container" *ngIf=" !canvasfilter && !jsFilter && !advanceFilter">
  <ul class="paginator my-1">
    <li (click)="clickShare=!clickShare">
      <ion-icon style="padding-top: 6px" name="share"></ion-icon>
      <div *ngIf="clickShare" class="dropdownShare">
        <ng-container>
          <ul style="border: 0px;margin: 0px;padding: 0px;">
            <li *ngIf="plt =='browser'" class="inner-dropShare">
              <img (click)="getDataForGraph('print','')" src="./assets/imgs/printicon.png">
            </li>
            <li class="inner-dropShare">
              <img (click)="getDataForGraph('pdf','')" src="./assets/imgs/pdficon.png">
            </li>
            <li class="inner-dropShare" *ngIf="plt !='ios'">
              <img (click)="getDataForGraph('excel','')" src="./assets/imgs/excelicon.png">
            </li>
            <li *ngIf="plt =='ios' ||  plt=='android'" class="inner-dropShare">
              <img (click)="getShare('email')" src="./assets/imgs/emailicon.png">
            </li>
          </ul>

        </ng-container>
      </div>
    </li>
    <li class="pt-1">Total Records : {{this.l_total_rows ? this.l_total_rows  : frame.tableRows && frame.tableRows.length > 0 ? frame.tableRows.length : 0}}</li>
    <li>
      <ion-icon class="paginator-btn" *ngIf="l_current_page !=1" name="skip-backward" (click)="goFirst(1);">
      </ion-icon>
    </li>
    <!-- <li>
        <ion-icon class="paginator-btn" *ngIf="l_current_page !=1" name="arrow-round-back"
          (click)='paginate(this.l_current_page-1);'></ion-icon>
      </li> -->
    <li class="pt-1"> Page {{(this.l_current_page)}} Of {{this.l_total_remain_pages}}</li>
    <!-- {{(this.l_total_remain_pages>this.l_total_rows) ? this.l_total_rows : this.l_total_remain_pages}}</li> -->
    <li>
      <ion-icon class="paginator-btn next-btn" *ngIf="l_current_page !=l_total_remain_pages" name="arrow-round-forward"
        (click)='paginate(this.l_current_page+1);'>
      </ion-icon>
    </li>
    <li>
      <ion-icon class="paginator-btn next-btn" *ngIf="l_current_page!=l_total_remain_pages" name="play-skip-forward"
        (click)='goToLast(this.l_total_rows,this.l_total_remain_pages);'>
      </ion-icon>
    </li>

  </ul>
</div>

<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>


<!-- Skeleton screen -->

<div class="center" *ngIf="loading">
  <div class="text-center">
    <img src="../../../../assets/dot.gif" width="20%">
  </div>
</div>