.page-single-select-lov
{
    ion-item
    {
        --min-height:30px;
        --background: transparent;
        --border-color: transparent;
        ion-checkbox
        {
            margin-top:5px;
            margin-bottom:5px;
        }
        ion-label
        {
            font-size: 0.8rem;
        }
    }
}