@import '../app/mixins';
@import '../app/variables';
.theme-default
{
  
    $pink-color:#FE2D66;
    $secondary-color:#ff5543;
    $blue-color:#10cef3;
    $green-color:#1af1c9;
    $white:#fff;
    $z-black:#212121;
    @mixin global-gradient-primary($angle) {
        background: linear-gradient($angle, #FE2D66, #FF5D3C) !important;
    }
    @mixin global-gradient-secondary($angle) {
        background: linear-gradient($angle, #10cef3, #1af1c9) !important;
    }
 /*Global*/
    .toolbar-background
    {
      @include global-gradient-primary(45deg);
    }
/*Global*/

/*list menu*/
    list-menu {
        .list-menu
        {
          margin: 10px 0px;
          box-shadow: 1px 3px 10px rgba(231, 214, 215, 0.82), -1px -2px 10px rgba(212, 212, 212, 0.44);
          .item
          {
              padding-left: 0px;
            
          }
          ion-thumbnail
          {
              background: #e4383a;
              min-width: 40px;
              min-height: 40px;
              margin: 0px !important;
              padding: 5px;
              img
              {
                  width:40px;
                  height:40px;
              }
          }
          h2 {
             
              font-weight: 500;
              color: #332e2e;
          }
          ion-label {
             margin:0px 10px !important;
          }
        }
        .next-arrow
        {
          position: absolute;
          top: 0px;
          right: 0px;
          padding: 4px 5px !important;
          color: #FFF;
          background: linear-gradient(to bottom, #ed3b3c, #a9222f) !important;
        }
      }
      
 /*list menu*/


/*news - marquee*/
    news-marquee {
        .marquee-container
        {
         
            ion-icon
            {
               @include global-gradient-secondary( to bottom);
                
            }
        }
    }
 /*news - marquee*/
 /*login.scss start*/
.page-login {
    $primaryColor: #fe2f65;
	.grey-text {
		color: grey !important;
	}
	.primaryTextColor {
		color: $primaryColor;
    }
    .login-outer {
		$url: "../assets/imgs/login-background.jpg";
		@include global-bg-image($url, $bg-size-100);
    }
    ion-icon {
		color: #ff5d3c;
    }
    .login-btn {
		// @extend %global-btn;
		
    }
    .setting-icon {
            background: #d82f55;
            color:#FFF;
		}
}

.special-btn{
	background: linear-gradient(90deg, #10cef3, #1af1c9) !important;
}
/*login.scss End*/
}
