@import '../app/mixins';
@import '../app/variables';

.theme-maroon {
     $primary: #a9222f;
    //  $primary: #f41616;
     $secondary:#F2A007;
     $secondary-light:#F2C230;
     $black:#848484;
     $yellow-text:#0D0D0D;
     $primary-dark: #077172;
     $primary-light-1: #6bc4ba;
     $primary-light-2: #f19292;
     $primary-light-3:#fcdbdb;
     $primary-light-5:#dbf8f8;
     $primary-light-6:#f5faff;
     $dark:#224254;
    $text-dark: #272727;
    $form-label:#7f7f7f;
    $text-light-1: #373737;
    $primary-bg-light: rgba(73, 144, 226, 0.19);
    $grey: #a4a6a8;
    $grey-4:#d6dde5;
    $grey-5:#eff1f3;
    $dark-grey: #6a7077;
    $dark-grey-1: #35383c;
    $dark-grey-2:#505f6e;
       $primary-btn-shadow: 0px 3px 6px 2px rgba(0, 175, 173, 0.39);
    $global-box-shadow: -2px 3px 11px 2px rgba(152, 162, 174, 0.44);
    $light-grey: #dddddd;
    $label-text:#595d61;
    $grey-shadow: 0px 3px 10px rgba(152, 162, 174, 0.68);
    $company-logo-shadow: 1px 2px 10px rgba(8, 31, 56, 0.39);
    $light-blue: rgb(180, 209, 243);
    $global-shadow2: 0px 5px 11px rgba(221, 221, 221, 0.66), 1px 1px 11px rgba(221, 221, 221, 0.66);
    $light-primary-shadow: 2px 7px 10px rgba(62, 143, 143, 0.33);
    $dark-blue-shadow: 1px 8px 10px rgba(103, 183, 182, 0.48);
    $light-blue-bg:rgba(0, 175, 173, 0.19);
    $secondary-text:#423f3f;
    /* Global CSS Start*/
    text{
        fill: #000 !important;
    }
    .globe-btn1 {
        background: $primary;            
    }
     .btn-primary{
        background: $secondary;
        border-color: $secondary;        
    }
    p{
        margin-bottom: 0 !important;
    }
    .btn-outline-primary {
        color: $secondary;
        border-color: $secondary;
    }
    .btn-check:focus+.btn-primary, .btn-primary:focus {
        color: #fff;
        background-color: $secondary;
        border-color: $secondary;
        box-shadow: none;
    }
    .btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus {
        box-shadow: none;
    }
    .btn-outline-primary:hover {
        color: #fff;
        background-color: $secondary;
        border-color: $secondary;
    }
    .btn-sm{
    height: 25px;
    font-size: 13px;
    padding: 0px 11px;
    }
    p
    {
        color:$text-dark;
    }
    .text-primary{
        color: $primary !important;
    }
      ion-toolbar.ion-color-primary {
       --ion-color-base:  linear-gradient(to top, #ed3b3c, #a9222f) !important;
    //   --ion-color-base: linear-gradient(to top, #f41616, #f41616) !important;
    } 
    .header-count {
     
        --ion-color-base: #FFC107 !important;
        color: #0D0D0D;
    }
    /*Image Capture Section*/
    .img-capture-sec
    {
       
        background: linear-gradient(180deg, $secondary-light 50%, #e1ab09 5% 10%);
        button
        {
            color:$yellow-text;
        }
        button:active::after
        {
            border:1px dashed $primary;
            
        }
    }
    .img-capture-sec.trash-btn-sec
    {
        button
        {
            color:#fff !important;
        }
    }
  /*Image Capture Section*/

 /*Conditional Ion Input*/
 .form-label
{
    color:$form-label !important;
}
 .input-btn:active
 {
   color:$primary !important;
 }
 .ion-input-item , .ion-input-select-item
 {
     .input-btn
     {
         color: #757b82;
     }
 
     ion-label
     {
         color:$form-label;
        
     }
     ion-input
     {
         color:$text-light-1;
     }
     input,textarea,ion-select
     {
         color: #2b2d2f;
         font-weight:400;
     
     }
 }
 .ion-input-select-item , .ion-input-textarea-item{
     .input-btn
     {
         color: #757b82;
     }
 
     ion-label
     {
        color:$form-label;
        
     }
     ion-input
     {
         color:$text-light-1;
     }
     input,textarea,ion-select, ion-textarea
     {
         color: #2b2d2f;
         font-weight:400;
     
     }
 }
 /*Conditional Ion Input*/

    /* Css for New Fixed-Input format  */
.filter-date-sec
{
  
    border-top:2px solid  $primary;
    ion-icon.heading-icon {
        
        background:$primary;
      
    }
}
.fix-input {
   
    border-bottom: 1px solid #bcbcbc !important;
    color: #272727;
    background: #fff;

}

.fix-label {
    background: rgba(187, 192, 199, 0.3215686274509804);
    color: #82888e !important;
  
}

.fix-textarea {
    background: #fff;
     border-bottom: 1px solid #bcbcbc !important;
}

.fix-lov-btn {
    
    color: #757b82;
    border-bottom: 1px solid #bcbcbc !important;
}

/* Css for New Fixed-Input format  */

/* Css for Border-bottom Input format  */
.border-bottom-input {
   
    border-bottom: 1px solid #bcbcbc;
   

}
.border-bottom-lov-btn {
   
    color: #757b82;
    border-bottom: 1px solid #bcbcbc !important;
}

/* Css for Border-bottom Input format  */

.floating-lov-btn {
   
    color: #a2a9b1;
}
    .input-text,.input-textarea,.input-number,.browser-date-input
    {
        color:$text-light-1;
    }
    .input-text input:focus,
    .input-textarea textarea:focus,
    .select-container ion-select:focus,
    .browser-date-input:focus
    {
       border-bottom:1px solid  $primary;
       
    }
    .border-bottom-input input:focus,
    .border-bottom-input textarea:focus,
    .border-bottom-input  ion-select:focus
    {  
       border-bottom:2px solid  $primary;
    }
    .global-btn {
        color: $text-dark;
        text-transform: inherit;
        width: 75%;
    }
    .browser-date-input
    {
        border: 1px solid #bcbcbc;
    }
    .lov-btn {
        background: #ffffff;
        color: $grey;
        border: 1px solid #bcbcbc;
        &:active{
            color:$primary;
        }
    }
    label, ion-label
    {
        color: $label-text;
    }
    .border-bottom-input
    {
        color:$text-light-1;
        font-weight:600;
    }
    .floating-ion-item-100,.floating-ion-item
    {
              ion-label
              {
                color:$text-dark;
              }
              ion-input
              {
                color:$text-light-1;
                font-weight:600;
              }
    }
    table {
        thead {
            background: #5a5a5a;

            th {
                background: #5a5a5a;
                color: #fff;
                border: 1px solid #454545;
            }
        }
        td
        {
            border: 1px solid #d1d1d1;
        }
        tbody tr:nth-child(even) {
            background: #ededed;
        }
       
            label,ion-label {
                color: #323741;
                letter-spacing: 0;
            }
     
    }
    .table-fix-footer
    {
      tfoot
      {
        background: #fcebd2;
        td
        {
            color: #232323;
            border: 1px solid #fec269;
        }
      }
      tfoot.second-total
      {
        background: #f8deb8;
      }
    }
    .pagination-container {
        .paginator {
            border: 1px solid $grey;
            box-shadow: $global-shadow2;

            li {
                border-right: 1px solid $grey;
            }

            .paginator-btn {
                background: $grey;
                color: #fff;
               
                &:active
                {
                    background:$primary;
                }
            }
        }
    }

    .frame-name {
        color: $text-dark;
        background:$grey-5;
        &::before {
           background:  $primary;
        //    background: #f41616;
        }
    }
    .item-seperator  {
        color: $text-dark;
        background:$grey-5;
        &::before {
            background:  $primary;
        }
        &::after {
            background:  $primary;
        }
    }
    .app-sidebar {
        ion-header:after {
            background-image: none;
        }

      ion-toolbar {
            --background: url(../assets/imgs/Maroon-Theme/sidebar-curve-maroon-theme.png); 

            ion-title,
            ion-icon {
                color: #fff;
            }
        }

        .company-logo {
            box-shadow: $company-logo-shadow;
        }

        ion-item {
            ion-avatar {
                background: #fff;

            }

            ion-label {
                color:$secondary-text;
            }
        }

        ion-footer {
            ion-title {
                background: $light-grey;
            }
        }
    }

    /* Global CSS End*/

    /* Login page CSS Start*/
    .page-login {
        .login-outer {
            background: url(../assets/imgs/Maroon-Theme/MaroonAppThemeLogin.jpg) !important;

            .login {
                color:  $primary-light-2;
            }
        }

        ion-list {
            background: transparent;

            ion-item {
                --background: transparent;
            }
        }

        ion-icon {
            color: $grey;
        }

        ion-input {
            color: $text-dark;
        }

        .login-btn-wrap {
            box-shadow: 0px 3px 6px 2px rgb(249, 184, 184);
            background:  $primary;
          
            ion-button
            {
               --ion-color-primary: #BF0A0A;
            //    --ion-color-primary: #f41616;
               
            }
        }

        .setting-icon {
            background:  $primary;
            color: #fff;
        }

        .forgot-link {
            a {
                color: $grey;
            }
        }
    }

    /* Login page CSS End*/

    /* Appkey collection page CSS Start*/
    .page-appkey-collection {
        .client-wraper {
            border: 1px solid  $black;

            .cancle-wrap {
                background:  $primary;
                border: 1px solid  $primary;
                color: #fff;
            }
        }

        h3 {
            background:  $black;
            color: #fff;
        }
    }

    /* Appkey collection page CSS End*/

    /* Appkey validation page CSS Start*/
    .app-key-container {
        .upper-container {
            background:  $primary;
        }

        .key-container {
            box-shadow: 0px 1px 4px 1px $grey;
            background: #fff;
        }

        .appkey-logo {
            background: #fff;
        }

        .button-native {
            --background: none;
        }

        ion-input {
            border-bottom: 1px solid $grey;
            color: $text-dark;
        }

        .text-orange {
            color: $grey;
        }
        ion-button
        {
            box-shadow: 0px 3px 6px 2px rgba(249, 184, 88, 0.55);
        }
    }

    .item-md,
    .item-ios {
        background: transparent;
    }

    /* Appkey validation page CSS End*/

    /* Change server setting page CSS Start*/
    .change-setting-body {
        .change-setting-container {
            .key-container {
                box-shadow: $global-box-shadow;
                background: #fff;

                h4 {
                    color: $dark-grey;
                }

                .card-container {
                    box-shadow: $global-box-shadow;
                    background: #fff;

                    .key-card {
                        .icon-in {
                            background:  $primary;

                            .icon-white {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        ion-input {
            border-bottom: 1px solid $grey;
            color: $text-dark;
        }

        ion-icon {
            color: $grey;
        }

        .header-secondary {
            color: #fff;
        }
    }

    /* Change server setting page CSS End*/

    /* Frame img slider component CSS Start*/
    .image-slider {
        --bullet-background: #000;

        .img-caption {
            background: $grey-5;
            border:1px solid $grey-4;
        }

        .heading {
            color: $secondary-text;
        }

    }

    /* Frame img slider component CSS End*/

    /* News Scoll component CSS Start*/
    .marquee-container {
        box-shadow: $global-shadow2;

        .item {
            --border-color: transparent;
        }

        ion-icon {
            color: #fff;
           background:  $primary;
        //    background: #f41616;
        }
    }

    /* News Scoll component  CSS End*/

    /* Menu List component  CSS Start*/
    .menu-list {
        box-shadow:  0 3px 1px -2px rgb(221 221 221 / 66%), 0 2px 0px 0 rgb(221 221 221 / 66%), 1px 1px 4px 0 rgb(221 221 221 / 66%);

        ion-item {
            --border-color: transparent;
        }

        ion-icon {
            color: $grey;
        }

        .thumbnail-container {
            background:  $primary;
        }

        ion-thumbnail {
            background: #fff;
            border: 1px solid #fff;
            box-shadow: $light-primary-shadow;
        }

        h2 {
            color: $secondary-text;
        }

        .next-arrow {
            color: #FFF;
        }
        &::before
        {
        
          background:$primary;
        
        }
    }

    /* Menu List  component  CSS End*/

    /* Menu Tab component  CSS start*/
    .tab-menu {
        box-shadow: $global-shadow2;
        &::after{
          
            background:$primary;

          }
        .img-container {
            &::before {
                background-image: radial-gradient($primary-light-2 15%, rgba(16, 16, 16, 0) 16%), radial-gradient(rgba(243, 243, 245, 0) 15%, rgba(0, 0, 0, 0) 16%);
            }

            .img-circle {
               box-shadow: 1px 8px 10px rgba(191, 10, 10, 0.27);
            //    box-shadow: 1px 8px 10px rgba(251, 17, 17, 0.475);
                &::after {
                    background-image: radial-gradient($primary-light-2 15%, rgba(16, 16, 16, 0) 16%), radial-gradient(rgba(243, 243, 245, 0) 15%, rgba(0, 0, 0, 0) 16%);
                }
            }
        }

        .name-container {
            h6 {
                color: $secondary-text;
            }
        }
    }

    /* Menu Tab component  CSS End*/

    /*Count list Css Start */
    .count-list {
        .approval-body {
            ion-item {
                --background: var(--ion-item-background, var(--ion-background-color, #fff));
                color: $text-light-1;
                box-shadow: $global-box-shadow;
                font-weight:600;
                &::before {
                    background: rgba(244, 245, 248, 0.15);
                }

                .count {
                    background:  $primary;
                   
                     p
                     {
                        color: #fff !important;
                     }
                    &::before {
                        background: rgba(244, 245, 248, 0.18);
                    }
                }
            }
        }
    }

    /*Count list Css Start */

      /*Collapse List /rep-card Css start*/
      .collapse-list {
        box-shadow: $global-box-shadow;
        color: $text-dark;

        ion-label {
            color: $text-dark;
        }

        &::before
        {
            background: $primary !important;
        }
        ion-icon {
            color: $primary !important;
        }
        .message-text
        {
         color:#d78000;
        }
    }
    .rep-card-list
    {
     
         box-shadow: $global-shadow2 !important;
        
         ion-icon
         {
    
           background:$primary;
           color:#fff !important;
   
         }
      
    }
    .collapse-list-body {
        box-shadow: $global-box-shadow;

    
    }
    .collapse-list-container
    {
        .img-sec
      {
    background: $primary;
   
      }
    }
    /*Collapse List /rep-card Css  End*/

    /*Filters Start*/
    .filters {
        box-shadow: $global-shadow2;
        border-right: 2px solid  $primary;

        h6 {
            color: $text-dark;
        }

        .filter-icon-container {
            ion-icon {
                color:  $primary;
            }

            &::before {
               background: rgba(191, 10, 10, 0.26);
            //   background: rgba(255, 12, 12, 0.26)
            }

            &::after {
               background: rgba(191, 10, 10, 0.14);
            //   background: rgba(250, 15, 15, 0.14);
            }
        }
    }

    /*Filters End*/

    /*Tab Entry /multi-level-tab page Start*/
    .tab-container {
        border-bottom: 2px solid $primary;
        ion-segment-button {
            border-bottom: 2px solid  $primary;
        }

        .segment-button-checked {
            color:$primary;
            background:  $primary-light-3;
            border-top: 3px solid  $primary !important;
            border-right: 2px solid  $primary !important;
            border-left: 2px solid  $primary !important;
            &::after
            {
          
             background:  $primary-light-5;
            }
        }
    }

    .card-container {
        ion-item {
            border-right: 4px solid  $secondary;

            .label {
                color: $text-dark;
            }
        }
    }
    .multilevel-tab-card
    {
        ion-card
        {
            box-shadow: none;
            border: 1px solid #dedede;
            border-right: none;
        }
        .label-name
        {
            color: #3d4043;
        }
        .label-value
        {
            color:$text-light-1;
        }
    }

    /*Tab Entry /multi-level-tab page End*/

    /*Frame-card component Start*/
    .super-card {
        box-shadow: $global-box-shadow;
        background: $light-blue-bg;

        .button-sec {
            background: $grey-shadow;

            .button[icon-only] {
                color: #7c7f7f;
            }
        }

        .sr-no {
            background:  $primary;
            color: #fff;
            box-shadow: 5px 2px 10px #4e0505, inset -2px -1px 4px #ce4343;
        }

        .super-card-inner {
           
            border-bottom: 1px solid  $primary-light-2;

            &::before {
                background:  $primary;
                box-shadow: $light-primary-shadow;
            }

            &::after {
                background:  $primary;
            }

            .label {
                color: $text-dark;
            }

            h5 {
                color: $text-dark;
            }

            .text-yellow {
                color: #ea8e07;
            }

            .text-blue {
                color:  $primary;
            }

            .subheading {
                color: #b62731;
            }
            .card-title p
            {
                color:darken($primary,7%);
            }
        }
        .card-fab-btn-container
        {
         
       
          ion-fab-button
          {
              margin-left: 0px;
     
      --background:#fff;
      --color: #00afad;
      
          }
          ion-fab-list
          {
              
              ion-fab-button
              {
                 
                 box-shadow: 1px 5px 10px rgba(152, 162, 174, 0.6);
              
              
              }
          }
        }
    }

    /*Frame-card component  End*/

    /*File Tree css Start*/
    .file-ul {
        ion-icon {
            color:  $primary;
        }

        span {
            color: $secondary-text;

        }
    }

    .tree-outer {
        border: 1px solid #e6e6e6;
    }

    .children-list {
        border-left: 1px solid  $primary;

        &::before {
            border-bottom: 1px solid  $primary;
        }
    }

    .trees-items {
        &:hover {
            .ico {
                color:  $primary;
            }
        }

    }

    .file-ico {
        .ico {
            color: $grey;
        }
    }

    /*File Tree css End*/

    /*Text-Band Style 2*/

    .text-band-positive
{
   
    background: #f0faf9;
    border: 1px solid #c2ede9;
    h2
    {
        color: #0f3131;
        ion-icon
        {
            color:  $primary;
        }
        
    }
    h5
    {
        color: #596362;
     
    }
    .text-band2-image
{
     background:url(../assets/imgs/green-theme/increasing-kpi-green.png);
} 
    
 
}

.text-band-negative
{
    background: #fcf2f3;
    border: 1px solid #ffdbdc;
    h2
    {
        color: #3a1011;
        ion-icon
        {
            color: #d3262a;
        }
        
    }
    h5
    {
        color: #8e7677;
}
.text-band2-image
{
     background:url(../assets/imgs/decreasing-KPI.png);
} 
     

}
    /*Text-Band Style 2*/

    /*Text-Band Style 3*/
    .text-band3-positive
{
    background:url(../assets/imgs/green-theme/text-band-3-positive-graph-green.png) bottom no-repeat;
    h2
    {
        color: #0f3131;
        ion-icon
        {
            color:  $primary;
        }
    }
    h5
    {
        color: #596362;
    }
}
.text-band3-negative
{
    background:url(../assets/imgs/text-band-3-negative-graph.png) bottom no-repeat;
    h2
    {
        color: #3a1011;
        ion-icon
        {
            color: #d3262a;
        }
    }
    h5
    {
        color: #8e7677;
    }
}
    /*Text-Band Style 3*/

   /*Text-Band Style 4*/
   ion-row ion-col:nth-child(4n+1) .text-band4
   {
       background: #4990e2;
   }
   ion-row ion-col:nth-child(4n+2)  .text-band4
   {
       background: #959da5;
   }
   ion-row ion-col:nth-child(4n+3) .text-band4
   {
       background: #e3982b;
   }
   ion-row ion-col:nth-child(4n+4) .text-band4
   {
       background: #4CAF50;
   }
   /*Text-Band Style 4*/
    /*Add To Cart Start*/
    
.add-to-cart
{
 

  .border-bottom-lov-btn {
   
    background: #edeff1;
 
}


.qty-description
  {
   
    
      h5{
        color:  $primary;
       
      }
     
  }
  
  .total-qty
  {
   
    background:  $primary;
   
    &::after
    {
   
    color: rgba(255, 255, 255, 0.77);
    }
  }
  .add-to-cart-btn
  {
   
    background: $grey;
    
    color: #fff;
  
  }
  .min-qty-count
  {
    background:   $primary-light-3;
 
    color:  $primary;
    border: 1px solid   $primary-light-2;
  }
  .rupees-icon
  {
      background:$primary;
  }
  h5
  {
      color: $primary;
  }
  .add-btn-section
  {
     
      .input-group
      {
          border: 2px solid $secondary;
         
          ion-input
          {
            
              color: $secondary;
             
             
          }
        
          .border-bottom-lov-btn {
              color: $secondary;
              
          }
      }
      
  }
  .bag-section
      {
          color: #373a3d;
      }
}
    /*Add To Cart End*/

  /*Cart Summary Start*/
  .cart-summary
  {
    h1 {
      
        color: #373a3d;
       
    }

    .cart-summary-icon
    {
      background:  $primary;
  
      &::after
      {
        
          background: rgba(191, 10, 10, 0.18);
         
      }
    }
  }
  /*Cart Summary End*/

  /*Voice Search Start*/
  .voice-search-container
{


    .voice-search-icon
    {
    
       
        background:$primary;
      
    }
    
    .voice-search-text
    {
     
        color: $secondary-text;
    }
}

  /*Voice Search End*/

  /*Entry Table Start*/
  .entry-table
  {
      tfoot
      {
          background: $primary-light-5;
          th
          {
           color:$primary;
          }
      }
  }
   /*Entry Table end*/

   /*Change Password Start*/
   .change-password-container
{

    border-bottom: 5px solid $primary;
}

   /*Change Password End*/

     /*Sliding List Start*/
   .sliding-list.blue
   {
       border-left:2px solid $primary;
       ion-avatar
       {
       
           border: 2px solid $primary;
           color: $primary;
       }
   }
   .iconText-btn{
    --border-color: #fff;
    border: 1px solid #ecc994;
    background: rgba(215, 131, 6, 0.12);

}
     /*Sliding List End*/
         /*Chat Dashboard Start*/
 .table-input.chat-input  
 {
 margin-top:0px;
 textarea
     {
     
           
        border: 1px solid #f4dfa0 !important;
        background: #faf5e7 !important;
        color: #493902;
        border-right: none !important;
         
     } 
 }
   
.chat-input-container
{
    .lov-btn {
        border: 1px solid #f4dfa0 !important;
        background: #faf5e7 !important;
        color: #FF9800;
        &:focus
        {
            color: #d48107;
        }
      
    }
    
}
.chat-input-container
{
    .speaker-btn {
       
        background:$secondary !important;
        color: #000;
        border: 1px solid $secondary;
        &:focus
        {
            background: #d48107 !important;
            color: #000;
        }
       
    }
    
}
  /*Chat Dashboard End*/
  
  /*Smart Filters Start*/

.smart-filter-section
{
    ion-range {
        --bar-background-active: #fcdbdb;
        --knob-background: #a9222f;
    }
     .range-bar {
        --bar-background:#ccc;
    }
   sup
    {
        color: $primary;
        background: #f4e3e3;
        border: 1px solid #ecc5c5;
 
    }
    .active {
        background-color: rgb(224 232 243 / 29%);
        border: 1px dashed $secondary;
        padding: 0 4px;
        font-size: 12px;

        .class1 {
            color: #ffff;
        }
    }
    h5
    {
        color: #272727;
       
    }
    h6
    {
        color:$primary;
    }

    .ion-color-light {
        --ion-color-base: #e0e0e0 !important;
        --ion-color-contrast: #313131 !important;
    }
    .inactive
{
    --ion-color-base: #e0e0e0 !important;
    --ion-color-contrast: #313131 !important;
}
.active
{
    --ion-color-base: #494949 !important;
    --ion-color-contrast: #ffffff !important;
}
ion-chip
{
    --ion-color-shade: #bf0a0a !important;

}
}

.smart-filter-section-columnlist
{
    ion-col
    {
        border-right: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        color: #565656;
  
    }

    .activeColumn
    {
        color: $primary !important;
    }
    .inactiveColumn
    {
        color: #565656 !important;
    }
}
/*Smart Filters End*/
/*Dialer Start*/
.phone-communication
{
   
    ion-icon
    {
      
       background: $primary;
 
    }
    .communication-value
    {
       color:$primary;
    }
}
/*Dialer End*/
/*Email Composer Start*/
.email-communication
{
   
    ion-icon
    {
      
        background: #848484;;
 
    }
    .communication-value
    {
       color:#848484;
    }
}
/*Email Composer End*/
/*ion-chip start*/
.class1{
    color : $primary !important;
}

/*ion-chip end*/
/*Offline Entry Start*/
.menu-list.ofline-entry-list
{
    ion-thumbnail {
        background:$primary;
        box-shadow:none !important;
    }
    h1 {
     
        color:$primary;
    }
}
/*Offline Entry End*/

/*Advance Filter Start*/
.advance-filter-main
{
    .segment-button-checked
    {
        background: $primary-light-3 !important;
        .segment-button-indicator {
            background-color:  $primary-light-3;
        }
        ion-label
        {
            color:$primary !important;
        }
        
    }

}
/*Advance Filter End*/
/* Location tracling Card Start*/
.location-tracking{
    .card-container > li .timeline-label h2 {
 
   color: $primary !important;
  
    }
}

/* Location tracling Card End*/
/* Order Entry Start*/
.order-entry-container{
    .order-entry{
        .order-entry-header{
            border: 1px solid $primary !important;
            background: #fef4f4 !important;
            .card-header{
                color: $primary !important;
            }
        }
    }
}
.order-entry-container .order-entry .cart-btn {
    background:$primary;
    color: #fff;
}
.order-entry-container .order-entry .card-body .quantity-badge {
    background: $primary-light-3;
    border: 1px solid $primary;
    color:$primary;
   
}
/* Order Entry End*/
/* Display count start*/
.display-count-container{
    .display-count {
        border: 1px solid #ddd;
        .count-name {
            background: $primary !important;
            h6{
                color: #fff;
            }
        }
        .count {
span {
    background: #ffe5e5 !important;
    border: 2px dashed $primary !important;
    color: $primary !important;  
}
        }
    }
}
/*Display count End*/
/* Smart Filter Start*/
.smart-filter-section{
    .inactive{
        color: #4d5154  !important;
        border: 1px solid #4d5154 ;
        .class2{
            color: #4d5154 ;
        }
    }
    .active{
        background: $primary !important ;
        color: #fff !important;
        .class1{
            color: #fff !important;
        }
    }
    }
    /* Smart Filter Start*/
    /*Information card start*/
    .information-card-container{
        .single-card{
            .card-header{
                border-bottom: 2px dashed #ffeded !important;
                .individual-name{
                        color: $primary !important;
                }
                .connection {
                    .contact-icon {
                        color: $primary !important;
                    }
                }
            }
            .card-body {        
            .single-count {
                
              
                .count-value{
                    span{
                        color: $primary !important;
                    }
                }
            }
        }
        }
    }
    /* Information card end*/
    /* New Summary card start*/
.summary-card-container{
    .single-summary-card{
        .tophead-card{
            background: $primary;
            .main-title{
                color: #fff;
            }
            p{
                color: #fff;
            }
        }
        .summary-box {
            background: #fff;
            box-shadow: -1px 2px 10px #847979;
            
           
            table tbody tr:nth-child(even) {
                background: #ffff;
            }
            table{
                tr.heading1 td{
                    color: #9e9999;
                }
                .heading2{
                    .rating-danger{
                        color: red;
                    }
                    .rating-green{
                        color: #2ccc32;
                    }
                    .rating-black{
                        color: #696767
                    }
                }
            }
        }
    }
}
/* New Summary card end*/
/* Drag Drop Container start*/
.drag-drop-container{
    .main {
        background: #9c9c9c;
    }
    .group1{
        background: #c3c3c3;
    }
    .group2{
        background: #9c9c9c;
    }
    .group3{
        background: #c3c3c3;
    }
    }
    /* Drag Drop Container End*/
/* Simple KPI Container Start*/
.simple-kpi-container{
    .each-kpi {
        background: $primary;
    }
    }
/* Simple KPI Container End*/
/* Group Table Start*/
.group-table-container{
    .total {
        background: #e2e1e1;
    }
    table tbody tr:nth-child(even) {
        background: #ffffff !important;
    }
}
/* Group Table  End*/
/* HML css start*/
.task-management-container {
    box-shadow: $global-box-shadow;

    .task-card {
        .card-title {
            background: $primary;
            .card-heading h3 {
                color: #fff;
            }    
            .total-count {
                &::after {
    border: 1px solid #dddddd69;
   }
                &::before {
    border: 1px solid #dddddd57;
            }    
                span {
                    color: #fff;
                }
            }
        }
        .card-body {
            background: $primary-light-6;
            .border-right{
                border-right: 1px dashed #ddd;
            }
            .urgent {
                p{
                    color: $primary;
                  
                }
               
            }
        }
    }
}
/*HML css end*/
/* KPI Slider  css start*/
.kpi-slider-container {
    border: 1px solid #ddd;
    box-shadow: $global-shadow2;
   
    .kpi-Slider {
        background: linear-gradient(to left bottom, $primary 0%, $primary-light-2 70%,$primary-light-2 90%);
        border-right: 3px solid $primary;
        border-bottom: 3px solid $primary;
        box-shadow: 2px 7px 10px rgb(191 10 10 / 23%);
        span {
            color: $primary-light-6;
        }
    }
}
 /* KPI Slider css end*/

/* Sub Select  css start*/
.my-custom-class {
    .alert-wrapper {
        background:#fff ;
        .alert-head.sc-ion-alert-md {
            h2 {
                color: $text-dark;
            }
        }
        .alert-checkbox-group.sc-ion-alert-md {
            .alert-checkbox-label.sc-ion-alert-md{
                color: $grey;
            }
        }
    }
}
/* Sub Select  css end*/ 
/* Developer Mode  css Start*/ 
.developer-mode-container {
    .editorial{
    border: 1px solid #ddd;
    .edit {
      color: #585353;
      background: #ddd;
      border: 1px dashed #a79a9a;
  }
  }
    .add {
      background: $primary;  
      color: #ffff;
      
  }
  }
  /* Developer Mode  css end*/ 
  /* Order Card  css Start*/ 
  .order-card-container {
    
    .single-order-card {
        .addto-card {
            background: $primary;
            color: #fff;
            border: 1px solid $primary;
        }

        .card-header {
            h5 {
                background: $primary;
                color: #fff;
            }
        }

        .card-body {
            border: 1px solid $primary;
            .desc {
                ion-input {
                
                    border-bottom: 1px solid #ddd;
                }
            }
            .count {
                background: #ddd;
                color: #443b3b;
            }

            .features {
                color:#5e5f61;
            }


            .card-footer {
                .total-sec {
                    color: #FFF;
                    -webkit-box-shadow: -1px 3px 10px #a5a7a8;
                    box-shadow: -1px 3px 10px #a5a7a8;
                    background: $primary;
                    &::before {
                        background: #750606;
                    }
                }

                .rate {
                    color: $primary;
                }
            }
        }
    }
}
/* Order Card  css end*/ 
/* Parent Child Order Css Start*/
.contract-container {
    background: #fff;
    -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.17);
    border-top: 3px solid $primary;
    
    .add-icon-btn {
        color: #ffffff;
        background: $primary;
    }
    .sub-header{
        
        span{
            color: $primary;

        }
    }
    ion-input{
        border: 1px solid #ddd;
    }
}
/*Parent Child Order Css End*/
/* sql-tran-light css start */
.sql-tran-light{
    ion-tab-button.tab-selected{
        border-bottom: 2px solid $primary;
    } 
    ion-tab-button.active{
        border-bottom: 1px solid #fff;
        background: $primary;
        ion-label , ion-icon{
            color: #fff;
  
        }
        ion-badge{
       background: #fff;
       color: $primary;
        }
    }
    .individual-card {
        border-left: 5px solid $primary;
        box-shadow: 1px 2px 10px #ddd;
        border-right: 1px solid $primary;
    }
    }
    /* sql-tran-light css End */
    .resp-view {
        ion-button.active{
            border-bottom: 2px solid $secondary;
        }
    }



      /*New Menu List component  CSS Start*/
    .new-menu-list {
        box-shadow:  0 3px 1px -2px rgb(221 221 221 / 66%), 0 2px 0px 0 rgb(221 221 221 / 66%), 1px 1px 4px 0 rgb(221 221 221 / 66%);

        ion-item {
            --border-color: transparent;
        }

        ion-icon {
            background:linear-gradient(to bottom, #ed3b3c, #a9222f) ;
        }

        .thumbnail-container {
            background:  linear-gradient(to bottom, #ed3b3c, #a9222f) ;
        }

        ion-thumbnail {
            background: #fff;
            border: 1px solid #fff;
            box-shadow: $light-primary-shadow;
        }

        h2 {
            color: $secondary-text;
        }

        .next-arrow {
            color: #FFF;
        }
        &::before
        {
        
          background:$primary;
        
        }
    }

    /* New Menu List  component  CSS End*/
      /*Aproval Tab Start*/
      .approval-card-container {
        border-left: 3px solid $primary !important;    
    }
     /*Aproval Tab End*/
     /* Flip KPI component  CSS Start*/
     .flip-kpi {
        .front {
          &:after {
              
          background: linear-gradient(
      135deg
      , #e1e1e1 25%, transparent 25%) -50px 0, linear-gradient(
      225deg
      , #e1e1e1 25%, transparent 25%) -50px 0, linear-gradient(
      315deg
      , #e1e1e1 25%, transparent 25%), linear-gradient(
      45deg
      , #e1e1e1 25%, transparent 25%);
          background-size: 100px 100px;
          background-color: rgb(255 137 140 / 43%);
          }
          h2 {
  
              color: #b72731;
    
          }
      }
  }

  
          /*Flip KPI component  CSS End*/
          .user-setting{
            ion-toolbar.ion-color-primary{
                --ion-color-base:  linear-gradient(to right, #BF0A0A 50%, #f2f8ff 10%, #f2f8ff 40%) !important;
            }
            .full-width {
                background: linear-gradient(to right, $primary 50%, #f2f8ff 10%, #f2f8ff 40%) !important;
            }
            .full-width::before{
                border: 43px solid #4e4e4e;
            }
            ion-title{
                color: #9e9e9e;
            }
            .user-form {
                background: #ebebeb;
                border-left: 13px solid $secondary !important;
                box-shadow: 1px 2px 10px #2c2828;
               
            }
            .user-form:before {
                background-image: radial-gradient(#d78306 15%, rgba(0, 0, 0, 0) 16%), radial-gradient(#f3f3f5 15%, rgba(0, 0, 0, 0) 16%) !important;
             }
             .user-form:after {
                background-image: radial-gradient(#a9222f 15%, rgba(0, 0, 0, 0) 16%), radial-gradient(#d78306 15%, rgba(0, 0, 0, 0) 16%) !important;
             
             }
            ion-select{
                border: 1px solid #ccc;
                background: #fff;
            }
            .lov-inp{
                background: #fff;
                border: 1px solid #ccc;
            }
            }
            .open-toggle {
                background:  $primary;
               
                .arr-div {
                   
                    background: $primary;
                   
                }
            }
            .close-toggle{

                .arr-div {
    
                    .arrow {
                        border: solid black ;
                    }
                   
                }
            }
            .action-import-cont{
                ion-icon:hover{
                    color: $primary !important;
                }
            }

            .groupBy_table{
                .top-headth{
                    background:  #797268 !important;
                    color: #fff;
                    border-collapse: collapse;
                    border: 1px solid #b3a694;
                }
                .top-headth1{
                    background: #90887c !important;
                    color: #fff;
                    border: 1px solid #bfb3a3;
                }
                .top-headth2 {
                    background: #bfb3a3 !important;
                    color: #ffffff;
                    border: 1px solid #94846d;
              }
               .bg-white{
    background: #fff !important;
    }
                }

            .apex-dropdown{
                .action-chips{
                    label.active{
                  
                      border: 1px dashed #ffffff;
                      color: #ffffff;
                      background: $secondary;
                    }
                    ion-icon{
                      color: #ffffff;
                    }
                  }
            }
            .Upload-buton{
                background: #d78306;
            }
            .treemenu{
                .bg-light {
                    background: #fffbee !important;
                }
            .close-icon{
                color: $primary;
                border: 1px solid $primary;
            }
        }
}