/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import "./app/variables";
@import "./app/button";
@import "./app/entry-form";
@import "./app/layout";
@import "./app/mixins";
@import "./app/table";
@import "./app/utilityClasses";

@import "~ng-pick-datetime/assets/style/picker.min.css";

@import '~swiper/swiper';
@import '~@ionic/angular/css/ionic-swiper';
//@import "~ionicons/dist/css/ionicons.css";

table td {
    padding: 6px 6px 6px 2px;
}
p{
	margin-bottom: 0 !important;
}
ion-fab{
	position: fixed;
}
.bar-horizontal, .frame-bar, .frame-doughnout, .frame-geochart, .pie-chart-div, .frame-scatterchart, .frame-three-d-funnel, .frame-treemap{

	rect{
		fill: none !important;
	}
}
text{
	fill: none !important;
}
p{
	margin-bottom: 0 !important;
}
ion-calendar {
	background-color: rgb(224 239 255 / 22%) !important;
	padding: 0px 20px !important;
	.my-cal {
		background-color: rgb(224, 18, 18) !important;
		p {
			color: white !important;
		}
	}
	.my-cal2 {
		background-color: rgb(18, 224, 97) !important;
		p {
			color: white !important;
		}
		
	}
	.week-title {
		li {
			font-weight: 600;
    			color: #4990e2;
		}
	}
	ion-toolbar{
		height: 40px !important;
	}
	// .days-btn{
	
	// 	height: 25px !important;
	// }
	// .days{
		
	// 	height: 28px !important;
	// }
}
.developer-popover {
	--width: 94% !important;
	.popover-content {
		left: 25px !important;
	}
}

.canvasjs-chart-credit{
	display:none;
}

.coustom{
	--color: #98a2ae !important;
}



 /* DOES NOT WORK - not specific enough */


/* Sub Select  css start*/
@media only screen and (max-width:576px) {
	.my-custom-class {
		.alert-wrapper {
			position: fixed;
			bottom: 0;
			--min-width:100%;
			border-radius: 0;
			.alert-head.sc-ion-alert-md {
				text-align: center;
			}
			.alert-button-group.sc-ion-alert-md {
				position: fixed;
				top: 5px;
				button:first-child{
					position: relative;
					left: -73%;
					&:before {
						position: relative;
						font-family: "Ionicons";
						 content: "\f2c0";
						font-size: 24px;
					}
					span {
						display:none;
					}
				}
				button:nth-child(2){
					position: relative;
					right: 0;
					&:before {
						position: relative;
						font-family: "Ionicons";
						content: "\f2bc";
						font-size: 24px;
					}
					span {
						display: none;;
					}
				}
			}
		}
	}
}
@media only screen and (min-width:400px) and (max-width:576px) {
	.my-custom-class {
		.alert-button-group.sc-ion-alert-md {
			button:first-child{
				left: -79% !important;	
			}
		}
	}	
 }

 

//  plsql calender start
 .plsql-container{
        ion-label {
            font-size: 18px !important;
        }
        table {
            border: 1px solid #ddd;
            tbody{
                td{
                    
                     width: 14.2857%;
                    padding:3px 0px !important;
                    span{
                        display: block;
                    }
                }
            }
        }
    .month {
        text-align: center;
    }
    .stat{
        float: right;
    }
    .prev-month{
        opacity: 0.3;
    }
    .date {
        font-size: 22px;
    }
    .task-primary {
        color: #2196F3;
    }
    .task-urgent{
        color: red;
    }
    .task-low{
        color: orange;
    }
    .booked-activity {
        background: #d22323;
        color: #fff;
        padding: 4px;
    }
    .task-not-so-imp{
        color: #968e8e;
    }
    .sunday{
        color: red
    }
    }
    table tbody tr:nth-child(even) {
        background: #ffffff ;
    }
     table thead th {
        background: #5e656d !important;
    }
   
    .bg-info{
        background-color: lightskyblue;
}


/* .apex-popover {
    width: 43% !important;
    top: 191.5px !important;
    left: 4% !important;
} */


// plsaql calender end

.transparent-modal{
	.modal-wrapper {
			--background:rgba(44, 39, 45, 0.657);
	}
}


.table-scroll {max-height: 450px;overflow-y: scroll;}

.preset-area{
	display: none;
}

@media only screen and (max-width:700px){

}
table {
	td {
		.icon-btn {text-align: center;margin: 0 !important;}
	}
}

