
   
      <div class="plsql-container">
        <ion-row>
          <ion-col size="1">
            <div class="month">
              <ion-icon ></ion-icon>
            </div>
          </ion-col>
          <ion-col size="1">
           
              <ion-icon name="ios-arrow-back" color="dark" style="float: left;font-size: 22px;cursor: pointer;"  id="previous" (click)="previous()"></ion-icon>

            
          </ion-col>
          <ion-col size="8">
            <div class="month">
              <p class="dark" #monthAndYear></p>
            </div>
          </ion-col>
          <ion-col size="1">
           
              <ion-icon name="ios-arrow-forward" color="dark" style="float: right;font-size: 22px;cursor: pointer;" id="next" (click)="next()"></ion-icon>

           
          </ion-col>
          <ion-col size="1">
            <div class="month">
              <ion-icon ></ion-icon>
            </div>
          </ion-col>
          
        </ion-row>


      <table>
          <thead>
          <tr>
              <th style="color:red">Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
          </tr>
          </thead>
          <tbody id="calendar-body">
          </tbody>
      </table>
   

    </div>
      <form class="form-inline">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-item>
                  <ion-label>Select Month</ion-label>
                <ion-select class="form-control col-sm-4"  [(ngModel)]="currentMonth1" (ionChange)="jump(currentMonth1,year)">
                    <ion-select-option value=0>Jan</ion-select-option>
                    <ion-select-option value=1>Feb</ion-select-option>
                    <ion-select-option value=2>Mar</ion-select-option>
                    <ion-select-option value=3>Apr</ion-select-option>
                    <ion-select-option value=4>May</ion-select-option>
                    <ion-select-option value=5>Jun</ion-select-option>
                    <ion-select-option value=6>Jul</ion-select-option>
                    <ion-select-option value=7>Aug</ion-select-option>
                    <ion-select-option value=8>Sep</ion-select-option>
                    <ion-select-option value=9>Oct</ion-select-option>
                    <ion-select-option value=10>Nov</ion-select-option>
                    <ion-select-option value=11>Dec</ion-select-option>
                </ion-select>
              </ion-item>
      
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-item>
                  <ion-label>Select Year</ion-label>
                <ion-select class="form-control col-sm-4"  [(ngModel)]="currentYear1" (ionChange)="jump(month,currentYear1)">
              
              <ion-select-option value=2019>2019</ion-select-option>
              <ion-select-option value=2020>2020</ion-select-option>
              <ion-select-option value=2021>2021</ion-select-option>
              <ion-select-option value=2022>2022</ion-select-option>
              <ion-select-option value=2023>2023</ion-select-option>
              <ion-select-option value=2024>2024</ion-select-option>
              <ion-select-option value=2025>2025</ion-select-option>
              <ion-select-option value=2026>2026</ion-select-option>
              <ion-select-option value=2027>2027</ion-select-option>
              <ion-select-option value=2028>2028</ion-select-option>
              <ion-select-option value=2029>2029</ion-select-option>
              <ion-select-option value=2030>2031</ion-select-option>
              <ion-select-option value=2030>2032</ion-select-option>
              <ion-select-option value=2030>2033</ion-select-option>
              <ion-select-option value=2030>2033</ion-select-option>
              <ion-select-option value=2030>2034</ion-select-option>
              <ion-select-option value=2030>2035</ion-select-option>
              <ion-select-option value=2030>2036</ion-select-option>
              <ion-select-option value=2030>2037</ion-select-option>
              <ion-select-option value=2030>2038</ion-select-option>
              <ion-select-option value=2030>2039</ion-select-option>
              <ion-select-option value=2030>2040</ion-select-option>
          </ion-select>
        </ion-item></div>
            </ion-col>
          </ion-row>
        </ion-grid>
          
       
        
    </form>
 
  