
  <div class="my-2" [style.height]="mapHeight">
 
    <div>
       <ion-toolbar >
         <ion-searchbar class="route-mapping-searchbar" no-padding [(ngModel)]="originInput" (ionChange)="UpdateSearchResults('origin')" (click)="UpdateSearchResults('origin')" placeholder="Enter an origin location"  (ionClear)="ClearAutocomplete('origin')" showCancelButton="never" ></ion-searchbar>
         <ion-searchbar class="route-mapping-searchbar" [(ngModel)]="destinationInput" (ionChange)="UpdateSearchResults('destination')" (click)="UpdateSearchResults('destination')" placeholder="Enter a destination location"  (ionClear)="ClearAutocomplete('destination')" showCancelButton="never" ></ion-searchbar>
       </ion-toolbar>
       <ion-list [hidden]="autocompleteItems.length <= 0" *ngIf="loadCount > 2">
         <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
           {{ item.description }}
         </ion-item>
       </ion-list>
       <ion-row>
         <ion-button style="width:100%" (click)="getRoute()">Get Direction</ion-button>
        </ion-row>
        <div *ngIf="travelTime">
          <h6 style="text-align: center">{{travelTime}}<span class="distance-in-km text-primary">({{distance}})</span></h6>
        </div>
     </div>
     <div #Map id="map1"></div>
   </div>
   <!-- <div class="center" *ngIf="loading">
      <div class="text-center" >
        <img src="../../../../assets/dot.gif" width="20%">
      </div>
      <div class="text-center" >
        <h2>getting direction..</h2>
      </div>
    </div> -->
  
 
 
 