.candlestrick-4{
    border: 1px solid #ccc;
    height: 220px !important;
}

.candlestrick-6{
    border: 1px solid #ccc;
    height: 320px !important;
}

.candlestrick-12{
    border: 1px solid #ccc;
    height: 420px !important;
}