.profile-top-sec{
/*
    background: url(img/road1.jpg)rgb(48, 51, 80) !important;
    background-size: 100% 100% !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.82);
*/
}
.dash-user-details {
    background: #00BCD4;
    /*background-image: linear-gradient(126deg, #FE8034, #EC4B5D);*/
    border-bottom: 3px solid #FE3F80;
    background-size: 100% 100%;
}

.App-header {
    border: none;
    background: #042f3f;
}

.dashboard-body {
    background-size: 100% 100%;
    /* background-position: 50% 0px; */
    background: #ebeff3;
}


/*
.dashboard-body:before{
    content:'';
    height: 100%;
    width: 100%;
    position: absolute;
    background: url('../img/pattern.png');
}
*/

.dash-user-details .item p {
    color: #fff;
    font-size: 16px;
}

.dash-user-details .item h2 {
    color: #fff;
}

.dash-entry-container {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 0 !important;
    border: none;
}

.add-entry-container h2 {
    color: #042f3f;
}

.img-wrap {
   padding: 5px;
    background-image: linear-gradient(126deg, #4b3e50, #4b3e50);
    background: #00BCD4;
    transform: rotate(45deg);
    width: 45px;
    height: 45px;
    margin: auto;
    margin-top: 10px;
} 

.item-grid-wrap {
   text-align: center;
    height: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.img-wrap img {
    transform: rotate(-45deg);
	height:32px;
	width:32px;
}

.mainDiv .badge {
    background-color: #FE3F80;
    color: #fff;
}

.add-entry-container img {
    width: 40px;
    height: 40px;
    margin: 5px 0px;
    float: initial;
}

.grid-wrapper {
      
    background-size: 100% 100%;
    padding: 0px;
    box-shadow: 8px 8px 10px #b2b2b2;
    height: 201px;
    overflow: hidden;
}

.App-footer {
    background: #042f3f;
    border: none;
    padding: 0px;
}

#nlActionButton .plus {
    background: #FE3F80 !important;
    color: #fff;
}

.App-header .button.icon-left:before {
    color: #fff;
}

.offline-badge {
    background-color: #FE3F80 !important;
}

.upload-btn-container {
/*    position: relative;*/
    float: initial;
    border-left: none;
    padding-right: 13px;
/*    background: #E0F7FA;*/
    padding: 0 8px;
}

/*
.upload-btn-container:before {
    position: absolute;
    width: 192px;
    height: 30px;
    content: '';
    background: #E0F7FA;
    transform: rotate(169deg);
    top: -30px;
    margin-top: 14px;
    left: -8px;
}
*/

.button.button-balanced.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #12bac1;
}

#nlDrawer .bottom {
    border-top: 1px solid #ffffff;
    background: #00BCD4;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #042f3f;
}

.ion-log-out {
    color: #fff;
}

a.item {
    color: #070c24;
    text-decoration: none;
}

.nlDrawer-side {
    background: #fff !important;
}

.app-type, .refresh-app-data, .exit-app {
    padding-left: 0 !important;
    padding: 15px 5px!important;
}

.app-type i,
.refresh-app-data i,
.exit-app i,
.ion-log-out {
    font-size: 26px !important;
}


.app-verson{
    background-color: white;
    padding: 5px;
    padding-left: 21px;
    /* text-align: center; */
    color: #fe3f80 !important;
    border: 1px solid #fe3f80;
    border-bottom: none;
}



/*
.app-type{
      background: url('../img/img_bg_pattern.png') rgba(0, 188, 212, 0.61);
    width: 90%;
    border: 1px solid rgb(0, 188, 212);
}
.refresh-app-data{
        background: url('../img/img_bg_pattern.png') rgba(195, 114, 220, 0.55);
    width: 80%;
    border: 1px solid rgb(195, 114, 220);
}
.exit-app{
       background:url('../img/img_bg_pattern.png') rgba(247, 208, 112, 0.56);
    border: 1px solid rgb(247, 208, 112);
    width: 70%;
}
*/

.nlDrawer-side .gravatar {
    top: 109px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    left: 95px;
    width: 60px;
    box-shadow: none;
    /* border: 2px solid #ddd; */
    border-radius: 50%;
    padding: 5px;
    background: #fff;
    box-shadow: 7px 10px 8px rgba(204, 204, 204, 0.66)
}

.depth.z1 {
    box-shadow: none !important;
}

.nlDrawer-side .username {
    padding-bottom: 0;
    padding-left: 0 !important;
    padding-top: 13px;
    position: absolute;
    top: 20px !important;
    width: 100%;
    z-index: 1110;
    text-align: center;
}



.profile-top-sec {
    /*height: 190px !important;*/
}
.menu-divs{
    float: left;margin-top: 11px;margin-left: 10px;
}
.app-type .app-type-div {
    box-shadow: 2px 5px 10px #eee;
    /* padding: 0 22px 22px 22px; */
    /* width: 45px; */
    height: 45px;
}
.refresh-app-data .ref-app-div {
    box-shadow: 2px 5px 10px #eee;
    /* padding: 0 22px 22px 22px; */
    /* width: 45px; */
    height: 45px;
}
.exit-app .exit-app-div {
   box-shadow: 2px 5px 10px #eee;
    /* padding: 0 22px 22px 22px; */
    /* width: 45px; */
    height: 45px;
}
.app-type-div span {
    margin-left: 16px;
}
.ref-app-div span {
    margin-left: 16px;
}
.exit-app-div span {
    margin-left: 16px;
}
.drop-menu {
      border: 1px solid #ddd;
    color: rgba(68, 68, 68, 0.69);
    border-radius: 10px;
    width: 92px;
}
.side-list {
    padding-top: 25px !important;
}
#nlActionButton.active .plus {
    background: #00BCD4 !important;
}
#nlActionButton .action-button.two {
    background: #FF9800;
}
.icon-wrap {
    padding: 0 7px;
    background: #FE3F80;
    width: 45px;
    height: 45px;
    /* border-radius: 50%; */
    /* left: 10px; */
    
    position: relative;
    color: #fff;
    box-shadow: 7px 3px 6px #b2b2b2;
    float: left;
}
.item-icon-left .icon {
    left: 6px !important;
    text-align: center;
}
.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated {
    border-color: transparent;
    background-color: transparent;
}
.bottom a {
    color: #fff;
}
.custom-badge {
    background-color: #fe3f80 !important;
    color: #fff;
    margin-top: -6px;
    float: right;
    /* border-radius: 0; */
    
    margin-left: -11px;
    padding: 1px 6px;
}

.popover-item{
    white-space: initial;
    font-size: 14px !important;
    border-bottom: 1px solid #ccc!important;
    padding: 8px;
}

@media only screen and (min-width:700px) and (max-width:800px){
   .upload-btn-container::before {
    position: absolute;
    width: 392px;
    height: 42px;
    content: '';
    background: #E0F7FA;
    transform: rotate(176deg);
    top: -29px;
    margin-top: 14px;
    left: -8px;
}
    .img-wrap {
    margin-left: 47%;
    }
   
}