.otp-container .forgot-pas-outer {
    background: #E0F7FA;
}
.otp-container .register-outer-container {
    padding: 20px 20px;
    background: #fff;
    border: 10px solid #00bcd4;
}
.otp-container .register-outer-container .button.button-energized {
    border-color: #fe3f80;
    background-color: #fe3f80;
    color: #273138;
    opacity: 1;
    /* border-bottom: 5px solid #c5b11f; */
     border-radius: 0; 
    color: #fff;
}
.otp-container .register-outer-container .item-input {
    padding: 0px!important;
}
.otp-container input{ 
 border: 1px solid rgba(0, 188, 212, 0.38);;
}
.otp-container  .register-outer-container .item {
     border:none; 
    margin-bottom: 10px;
} 