.report-analysis-icon {
    float: left;
    width: 66px;
    height: 66px;
    box-sizing: border-box;
    text-align: center;
    background: #00BCD4;
    border-radius: 50%;
    margin-top: 12px;
    box-shadow: 1px 3px 5px #b2b2b2;
    margin-left: 10px;
}

.report-analysis-inner-sec {
    border-bottom: 1px solid rgba(204, 204, 204, 0.42);
    box-shadow: 2px 3px 5px #eee;
}

.toggle-form-container-outer {
    background: rgba(224, 247, 250, 0.98);
    position: relative;
    /* height: 25px !important; */
    border: none;
    border-bottom: 1px solid rgb(0, 188, 212);
    border-radius: 3px;
    width: 100%;
    margin: auto;
    box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.btn-refresh {
    background-color: #FE3F80 !important;
    border-radius: 25px;
    width: 50% !important;
}

.positive,
a.positive {
       color: rgba(0, 188, 212, 0.51);
}

.assertive,
a.assertive {
        color: rgba(254, 63, 128, 0.5);
}

.report-analysis-icon-with-count {
    border: 3px solid #00bcd4;
    border-radius: 5px 20px 5px;
    transition: all 0.3s ease;
    float: left;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
.report-analysis-icon-with-count b {
    font-size: 12px;
    line-height: 2.2em;
}

.toggle-form-container-outer .item-input input {
    border: 1px solid rgba(0, 188, 212, 0.35);
    padding-left: 5px;
}

.toggle-form i {
    color: #ffffff;
    margin-top: 5px;
}

.toggle-form {
    background-color: #fe3f80;
    padding: 5px 13px;
    height: 33px;
    box-shadow: 3px 3px 3px #ccc;
    position: absolute;
    bottom: 6px;
    right: 1px;
}

.Career-details table thead {
    background: #00BCD4;
    color: #fff;
}

.game-summary table th,
td {
    border: 1px solid rgba(204, 204, 204, 0.55);
    color: #042f3f;
    font-size: 12px;
    padding: 4px !important;
}

.Career-details table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: none;
    border-right: 1px solid rgba(204, 204, 204, 0.55);
    vertical-align: top;
}

.up-down-btn {
    right: 5px;
    position: absolute;
    /*background-color: #FE3F80;*/
    background-color: rgba(254, 63, 128, 0.24);
    /*color: #fff*/
     color: #0e0e0e;
}
.up-down-btn:hover {
    /*background-color: #FE3F80;*/
    background-color: rgba(254, 63, 128, 0.24);
     color: #0e0e0e;
    /*color: #fff*/
}
.up-down-btn.activated {
    /*background-color: #FE3F80;*/
    background-color: rgba(254, 63, 128, 0.24);
     color: #0e0e0e;
    /*color: #fff*/
}
.Eventable tr:nth-child(odd) {
    background-color: #E0F7FA!important;
    /* border: 2px dotted #73b586 !important; */
}
.graph-type-selection {
   
    background-color: #00bcd4;
    box-shadow: none;
    /* border: 1px solid #f4db29; */
    width: 100%;
    min-height: 25px !important;
    color: rgb(255, 255, 255) !important;
        margin-top: 5px;
}
.graph-type-selection.active, .graph-type-selection.activated {
     background-color: #00bcd4;
    color: rgb(255, 255, 255) !important;
}
.refresh-ico-div{
    position: relative;
}

.report-analysis-heading {
    display: block;
    margin-left: 2%;
    float: inherit;
    /* width: 53%; */
}
.last-login-details {
    border: 1px solid #ddd;
    padding: 0px 5px;
    border-radius: 4px;
    width: 98%;
}
.btn-search-report:before{
    font-size: 28px !important;
}

.HTable-container .button-calm{
       line-height: 1 !important;
}

.Career-details p{
    margin: 3px;
}

.reportDrillDownPopupStyle{
    max-height:270px;
}