body
{
    font-family: 'Roboto', sans-serif;
}


/*image crop*/

img-crop {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}


/* line 7, ../../source/scss/ng-img-crop.scss */

img-crop canvas {
    display: block;
    /*    position: absolute;*/
    margin: 0 auto !important;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /*    left: 24%;*/
    /* mobile webkit */
}

.cropArea {
    background: #dcdcdc;
    overflow: hidden;
    width: 100%;
    height: 200px;
}


/*image crop*/

.item-stacked-label {
    background-color: rgba(189, 38, 38, 0.89);
}

.menu {
    background-color: #145E8C;
}

.bar-stable .button.button-clear {
    color: #145E8C;
}

.view-container {
    background-color: #5C94B7;
}

.input-group .form-control {
    border: 1px solid #ccc;
    padding: 5px;
}

.main-container {
    margin-top: 204px;
}

.footer-label {
    background: transparent;
}

.cityStyle {
    border: 1;
    border-color: #ddd;
}

.item {
    border-color: transparent;
    background: transparent;
}

.panel-footer {
    text-align: center;
    background: rgba(147, 206, 222, 1);
    background: -moz-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(117, 189, 209, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147, 206, 222, 1)), color-stop(0%, rgba(73, 165, 191, 1)), color-stop(41%, rgba(117, 189, 209, 1)), color-stop(100%, rgba(117, 189, 209, 1)));
    background: -webkit-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(117, 189, 209, 1) 100%);
    background: -o-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(117, 189, 209, 1) 100%);
    background: -ms-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(117, 189, 209, 1) 100%);
    background: linear-gradient(to right, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(117, 189, 209, 1) 100%);
    filter:  DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#75bdd1', GradientType=1);
}


/*custom css for register page*/

.form-control {
    border: 1px solid #ccc !important;
}

.register-outer-container {
    padding: 20px 20px;
    background: #fff;
    border: 1px solid #ccc;
}

.register-outer-container .btn-info {
    padding: 5px 0px !important;
}

.register-outer-container .bar-header {
    top: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    background: #337ab7;
    color: #fff;
}

.bar-header {
    background: -moz-linear-gradient(45deg, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(153, 218, 255, 1)), color-stop(100%, rgba(0, 128, 128, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    /* ie10+ */
    background: linear-gradient(45deg, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    /* w3c */
    filter: DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#99DAFF', GradientType=1);
}

.bar .title {
    color: #fff;
    font-weight: bold;
}

.register-outer-container input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #fff inset;
    -webkit-text-fill-color: #000;
}


/*forgot pas*/

.forgot-pas {
    margin: auto;
    width: 90%;
    margin-top: 1em;
}

.forgot-pas-outer {
    background: #f3f3f3;
}

.forgot-pas input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #fff inset;
    -webkit-text-fill-color: #000;
}

.forgot-pas .list {
    margin-bottom: 0px;
}

.forgot-pas label {
    font-size: 13px !important;
    color: #fb0b0b !important;
    margin-bottom: 7px;
}


/*forgot pas*/


/* dashboard css*/

.dashboard-screen {
    /*background: #f7f7f7; */
    background: url("../img/dashboard-bg.jpg");
    background-size: 100% 100%;
}

.slider {
    height: 55px;
}

.slider-slide {
    padding-top: 0px;
    color: #000;
    background-color: #1c5982;
    text-align: center;
    font-weight: 300;
    height: 55px;
}

#logo {
    margin: 30px 0px;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}

#list ol {
    margin-top: 30px;
}

#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.button.ng-hide {
    display: none;
}

.slider-pager {
    display: none;
}

.dashboard-head {
    background: #25A7AD;
    border: 1px solid #25A7AD;
}

.dashboard-head .button {
    color: #FFFAFA;
}

.dashboard-head .button:hover {
    color: #CDB2DD;
}

.dashboard-screen .button.button-calm {
    border-color: #125a8a;
    color: #fff;
    font-weight: 100;
    line-height: 1;
    font-size: 12px;
    padding: 0 6px;
    background: rgb(8, 68, 107);
    min-height: 37px;
}

.dashboard-screen .button.button-calm:hover {
    background: #00bcd4;
    border-color: #00bcd4;
}

.dashboard-screen .button.button-calm.active,
.dashboard-screen .button.button-calm.activated {
    background: #00bcd4;
    border-color: #00bcd4;
}

.game-btn .button.button-calm {
    border-radius: 4px 0px 0px 4px;
}

.game-btn .button.button-positive {
    border-radius: 0px 4px 4px 0px;
    border-color: rgb(8, 68, 107);
    color: #318ac2;
    font-weight: bold;
    line-height: 1;
    font-size: 12px;
    padding: 0 4px;
    min-height: 36px;
    min-width: 30px;
    margin-left: -6px;
    background: rgb(8, 68, 107);
}

.game-btn .button.button-positive:hover {
    background: #00bcd4;
    border-color: #00bcd4;
}

.game-btn .button.button-positive.active,
.game-btn .button.button-positive.activated {
    background: #00bcd4;
    border-color: #00bcd4;
}

.dashboard-screen .button.button-calm a {
    color: #fff;
}

.dashboard-screen .badge.badge-assertive {
    background-color: #d9b310;
    color: #fff;
}

.dashboard-screen .badge.badge-assertive a {
    color: #fff;
}

.btn-ico .button .icon:before,
.btn-ico.button.icon-right:before {
    line-height: 14px;
    font-size: 18px;
}

.profile-pic {
    border-radius: 50%;
    border: 2px solid #318ac2;
    height: 80px !important;
    margin: 0 auto;
    margin-top: 38px;
}

.user-details {
    color: #08446b;
    font-weight: bold;
    line-height: 1.4em;
    text-align: center;
    font-size: 13px;
    text-transform: capitalize;
}

.user-details .name {
    font-family: 'Abel', sans-serif;
}

.dashboard-footer {
    border-color: #000000;
    background-color: #000000;
    background-image: none;
    color: #ffffff;
}

.dashboard-footer .tab-item {
    font-size: 12px !important;
    position: relative;
}

.dashboard-footer .tab-item .icon {
    font-size: 22px;
    font-weight: bold;
    height: 25px;
}

.clr {
    clear: both;
}

.coin-count {
    background: rgba(0, 0, 0, 0.34);
    border: 1px solid rgba(0, 0, 0, 0.47);
    border-radius: 5px;
    padding: 1px 6px;
    color: #fff;
}

.coin-outer {
    margin-top: 4px;
}

.coinleft {
    float: left;
    width: 50%;
}

.coinright {
    float: right;
    width: 50%;
}

.user-details-more {
    background: rgba(49, 138, 194, 0.74);
    border: 1px solid #4e9fd2;
    border-radius: 3px;
}


/*
.user-details-more {
    margin-top: 6px;
}
*/

.user-detalis-right {
    background: rgba(0, 0, 0, 0.54);
    border: 1px solid rgba(47, 46, 45, 0.76);
    border-radius: 3px;
}

.user-detalis-right .button {
    min-height: 23px;
    font-size: 14px;
    line-height: 12px;
}

.user-detalis-right .button.button-energized.button-outline {
    border-color: rgba(217, 179, 18, 0.41);
    background: rgba(217, 179, 18, 0.62);
    color: rgba(255, 255, 255, 0.85);
}

.user-detalis-right .button-clickable {
    border-color: rgba(217, 179, 18, 0.41) !important;
    background: rgba(217, 179, 18, 0.62) !important;
    color: rgba(255, 255, 255, 0.85) !important;
}

.user-detalis-right .button-clickable:hover {
    background: #FFC107 !important;
    border-color: #FFC107 !important;
}

.follow-container .button {
    font-size: 10px;
    padding: 0 7px;
}

.user-label {
    color: #fff;
    font-size: 12px;
}

.user-details-more .button {
    border-color: #2371a7;
    background-color: rgba(8, 68, 107, 0.44);
    min-height: 28px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 24px;
    border-width: 1px;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 4px;
}

.user-details-more .button:hover,
.user-details-more .button.active,
.user-details-more .button.activated {
    border-color: #08446b;
    background-color: rgb(8, 68, 107);
}

.user-details-more .button.icon-left:before {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

.dashboard-footer .tab-item .badge {
    position: absolute;
    top: 0%;
    right: 10%;
    height: auto;
    font-size: 10px;
    line-height: 16px;
}


/* dashboard css*/


/*login css*/

.login-screen {
    background-size: 100% 100%;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #141E30, #243B55);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #141E30, #243B55);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.98);
    padding: 8px 0px 0px 0px;
    border: 1px solid #cfcfcf;
}

.login-container .card,
.login-container .list-inset {
    overflow: hidden;
    margin: 10px 10px;
    border-radius: 2px;
    background-color: rgba(207, 203, 203, 0.39);
}

.login-container .placeholder-icon {
    color: #1c2c41;
    font-size: 20px;
}

.login-validation {
    color: #B9A247;
    margin-left: 25px;
    text-align: left;
    font-size: 17.5px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.register .button.button-energized {
    border-color: #E68C08;
    background-color: #FF9800;
    color: #fff;
}

.register .button.button-energized:hover {
    border-color: #b76f04;
    background-color: #b76f04;
}

.register .button.button-energized.active,
.register .button.button-energized.activated {
    border-color: #b76f04;
    background-color: #b76f04;
}

.login-container .button {
    min-height: 39px;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: #1abc9c;
}

.login-container .button.disabled,
.login-container .button[disabled] {
    opacity: 1;
    background-color: #51d3b9 !important;
}

.login-container .button:hover {
    background-color: #172336;
}

.login-container .button.button-calm.button-clear {
    text-decoration: underline;
}

.google-login {
    background: rgba(0, 0, 0, 0.77);
}

.google-login .button-outline.button-outline {
    line-height: 40px;
    font-size: 16px;
    padding: 0 16px;
}

.google-login button.button-energized.button-outline {
    border-color: #ffc900;
    background: transparent;
    color: #ffc900;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px rgb(234, 234, 234) inset;
    -webkit-text-fill-color: #2e4355;
}

.login-container .item-input input,
.item-input textarea {
    color: #2e4355;
}

.login-container .button.icon-left:before,
.login-container .button.icon-right:before {
    font-size: 17px;
}


/*placeholder color css*/

.login-container::-webkit-input-placeholder {
    color: #2e4355 !important;
}

.login-container:-moz-placeholder {
    color: #2e4355 !important;
}

.login-container:-ms-input-placeholder {
    color: #2e4355 !important;
}

.login-container input::-webkit-input-placeholder {
    color: #2e4355 !important;
}

.login-container input:focus::-webkit-input-placeholder {
    color: #2e4355 !important;
}

.login-container::-webkit-input-placeholder {
    color: #2e4355 !important;
}


/*placeholder color css*/


/*login css*/


/* register page css*/

.register-outer-container .item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.register-outer-container .item-input {
    padding: 0px 10px !important;
}

.register-outer-container .item-select select {
    left: 0;
    padding: 0 48px 0 16px !important;
    width: 100%;
    direction: ltr;
    color: #B1ABAB;
}

.register-outer-container .item-radio .item-content {
    padding-right: 36px;
    padding: 3px 11px 0px 16px;
    color: #B1ABAB;
}

.register-outer-container .item-radio .radio-icon {
    font-size: 12px;
    padding: 8px;
}

.register-outer-container .item-radio {
    padding: 0;
    border: none !important;
}

.register-outer-container label {
    font-size: 13px;
    color: #B1ABAB;
}

.register-outer-container .input-label {
    color: #565353;
    font-size: 12px;
    font-weight: bold;
}

.register-outer-container .item-checkbox {
    border: none !important;
}

.register-outer-container .button.button-energized {
    border-color: #E68C08;
    background-color: #FF9800;
    color: #fff;
    opacity: 1;
}

.register-outer-container .button.button-energized:hover,
.register-outer-container .button.button-energized .active,
.register-outer-container .button.button-energized .activated {
    border-color: #b76f04;
    background-color: #b76f04;
}

.bar .title {
    text-align: center !important;
}


/* register page css*/


/*game screen*/

.game_screen_bg {
    background: url('../img/game-screen-bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.game-table {
    border-radius: 10px;
    height: 145px;
    width: 85%;
    background: url('../img/table.jpg');
    background-size: 100% 100%;
    border: 2px solid #e1e1e1;
    overflow: hidden;
    padding: 10px;
}

.game-tableB {
    border-radius: 10px;
    height: 260px;
    width: 95%;
    background: url('../img/table.jpg');
    background-size: 100% 100%;
    overflow: hidden;
    border: 3px solid #e1e1e1;
    padding: 10px;
    margin: auto;
    margin-top: 2%;
}

.game-table-container {
    height: 143px;
    width: 111%;
    overflow: auto;
    overflow-x: hidden;
}

.game-table-containerB {
    height: 227px;
    width: 111%;
    overflow: auto;
    overflow-x: hidden;
}

.player-dp {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 auto;
}

.left-player {
    margin-bottom: 9px;
}

.left-player-for-ten {
    margin-top: 22px;
}

.left-player-for-five {
    margin-top: 45px;
}

.right-player {
    margin-bottom: 9px;
}

.question-section {
    color: #fff;
    font-size: 14px;
    text-align: justify;
    float: left;
    width: 90%;
}

.question-sectionB {
    color: #fff;
    font-size: 17px;
    text-align: justify;
    float: left;
    width: 90%;
}

.question-sec-outer .button-icon .icon:before,
.question-sec-outer .button-icon.icon:before {
    font-size: 21px;
    color: #11d8d0;
    line-height: 7px;
    margin-top: 6px;
}

.question-sec-outer .button {
    line-height: 6px;
    min-height: 20px;
}

.speaker-sec {
    float: right;
    margin-right: 27px;
}

.speaker-sec .ion-stop:before {
    line-height: 0px !important;
    font-size: 20px !important;
    color: #fff !important;
}

.speaker-sec .ion-volume-high:before {
    line-height: 0px !important;
    font-size: 20px !important;
    color: #fff !important;
}

.speaker-sec .button {
    line-height: 0px !important;
    min-height: 0px;
}

.speaker-secB {
    float: right;
    margin-right: 50px;
}

.answer-section {
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.75);
    color: #fff; */
    font-size: 12px;
    color: #fff;
}

.answer-sectionB {
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.75);
    color: #fff; */
    font-size: 16px;
    color: #fff;
}

.answer-section .row {
    padding: 0px;
}

.answer-section .col {
    padding: 1px;
}

.option-style {
    color: #7de009;
}

.question-container .tabs {
    background: rgba(0, 0, 0, 0.57);
    border: none;
    height: auto;
    line-height: 15px;
}

.question-container .item-complex .item-content,
.question-container .item-radio .item-content {
    padding: 2px 0px 2px 21px;
    background-color: rgba(139, 195, 74, 0.63);
    color: #fff;
    font-weight: bold;
    border: 1px solid #aef55b;
    border-radius: 10px;
}

.question-container .item-radio input:checked+.radio-content .item-content {
    background: transparent;
    background: rgba(239, 71, 58, 0.44);
    border: 1px solid rgba(245, 122, 122, 0.7);
    color: #fff;
}

.question-container .item-radio .radio-icon {
    top: -7px;
    padding: 11px;
    font-size: 14px;
    color: #fff;
}

.right-question-pallet {
    max-width: 5%;
    overflow: hidden;
}

.right-question-pallet-inner {
    overflow: auto;
    overflow-x: hidden;
    height: 230px;
    width: 243%;
}

.right-question-pallet .button {
    padding: 0 0px;
    min-width: 17px;
    min-height: 21px;
    border-width: 1px;
    border-radius: 50%;
    font-size: 8px;
    line-height: 12px;
    margin-bottom: 26px;
    margin-right: 5px;
}

.game-screen-sec .row {
    padding: 0px;
}

.t-20-submit {
    line-height: 15px;
    font-size: 15px;
    min-height: 26px;
    margin-top: 2px !important;
    margin-bottom: 0px !important;
}

.gameTimer {
    position: fixed;
    top: 11px;
    left: 6px;
    background: rgba(0, 0, 0, 0.37);
    padding: 2px;
    border: 2px solid rgba(0, 0, 0, 0.56);
}

.game-timmer-atr {
    background: rgba(31, 29, 29, 0.64);
    color: #fff;
    padding: 3px;
    border-radius: 4px;
    font-size: 10px;
}

.coin-available {
    position: fixed;
    top: 6px;
    right: 26px;
}

.coin-img {
    float: left;
    width: 25px;
    height: 25px;
}

.coin-count-t20 {
    float: right;
    color: #fff;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 8px;
}


/*game screen*/


/*educational-details*/

.update-education-details {
    background: #fff;
    padding: 5px 0px;
    width: 95%;
    margin: auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.update-education-details h1 {
    font-size: 15px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #0b3c5d;
}

.update-education-details .item-select select {
    direction: ltr;
    left: 0px;
    width: 100%;
    height: 41px;
    padding: 0 1px 0 8px;
    max-width: 100%;
}

.update-education-details .item {
    height: 33px;
    border: 1px solid #ccc;
}

.item-select:after {
    display: none;
}

.update-education-details .button.button-block,
.update-education-details .button.button-full {
    margin-top: 0px;
    margin-bottom: 0px;
}

.update-grade-points {
    padding-right: 0px !important;
    font-size: 10px !important;
    text-align: center;
}

.update-grade-points-outer {
    padding: 1px !important;
}


/*educational-details*/


/*user profile*/

.user-profile-pic {
    border: 3px solid #7a8084;
    width: 100%;
    height: 120px;
}

.Update_profile {
    background: #ececec;
}

.Update_profile .input-label {
    color: #1875bf;
    font-size: 13px;
    font-weight: bold
}

.user-profile-detalis {
    background: #fff;
    border: 1px solid #ccc;
    padding: 0px 15px;
}

.user-profile-left {
    background: #f8f8f8;
    border: 1px solid #7a8084;
}

.user-profile-left .item-input input {
    height: 23px;
    text-transform: capitalize;
}

.user-profile-detalis .item-input input {
    height: 30px;
}

.user-profile-left .item-input {
    padding: 1px 0 0px 8px;
    font-size: 10px;
}


/*user profile*/


/* update profile screen*/

.profile-pic-editable {
    border-radius: 50%;
    width: 45px;
    border: 3px solid #FF9800;
    margin: auto;
}

.Update_profile-left-sec .register-outer-container {
    padding: 0px;
}

.Update_profile-left-sec .register-outer-container .item {
    margin-bottom: 5px;
    height: 25px;
}

.Update_profile-left-sec .button {
    padding: 0 8px;
    min-height: 31px;
    font-size: 11px;
    line-height: 22px;
    margin: auto;
}

.Update_profile-left-sec .list {
    margin-bottom: 5px;
}

.update-profile-table {
    border: 1px solid #ccc;
    border-bottom: 4px solid #00BCD4;
}

.update-profile-table thead {
    background: #4a4a4a;
    color: #fff;
    text-align: center;
}

.update-profile-table thead th {
    text-align: center;
    padding: 5px;
    color: #fff;
}

.update-profile-table td {
    text-align: left;
    padding: 5px;
    border-right: 1px solid #ccc
}


/*.update-profile-table tr:nth-child(even) {
    background-color: #ececec;
}*/

.update-profile-table-outer .register-outer-container .item {
    border: none;
    margin-bottom: 0px;
}

.update-profile-table .item-input input {
    border: 1px solid #fff;
}

.Update_profile-left-sec .register-outer-container .item-select select {
    padding: 0 20px 0 16px !important;
}

.update-profile-table-outer .register-outer-container .item-select select {
    left: 0;
    padding: 0 0px 0 2px !important;
    width: 100%;
    direction: ltr;
    color: #B1ABAB;
    font-size: 13px;
    background: transparent;
}

.city-sec .item {
    border: 1px solid #fff !important;
}

.add-institute .register-outer-container {
    padding: 5px;
    background: #ffffff;
    margin-top: 7px;
}

.add-institute-name .item-input input {
    border: 1px solid #ccc !important;
    height: 30px;
    padding-right: 3px;
    padding-left: 4px;
    margin-top: 4px;
}

.select-city {
    border: 1px solid #ccc !important;
    margin-top: 8px;
    height: 30px;
}

.add-institute h1 {
    font-size: 16px;
    text-align: center !important;
    width: 100%;
    margin-bottom: 0px;
    color: #0b3c5d;
}

.add-institute .button {
    padding: 0 3px;
    min-width: 52px;
    min-height: 13px;
    font-size: 12px;
    line-height: 29px;
    margin-top: 2px;
}

.add-institute .register-outer-container .item-input {
    padding: 0px 0px !important;
}

.add-institute .register-outer-container .item-input input {
    padding-right: 1px;
}


/*update profile screen*/


/*terms & conditions*/

.terms-dec {
    padding: 10px
}

.terms-dec p {
    color: #737373;
    text-align: justify;
}

.update-profile-table .item-input input {
    padding-right: 0px !important;
}


/*terms & conditions*/


/*Life Achievement*/

.life-achievement .bar-header {
    background: #0b3c5d;
    border: 1px solid #0b3c5d;
}

.life-achievement-heading .bar .button-bar {
    color: #01c7d0;
}

.action-achievment {
    color: #3086bf;
}

.achievment-bg {
    background: #f7f7f7;
}

.life-achievement .item-content,
.life-achievement .item-radio .item-content {
    background-color: transparent;
    padding: 6px 49px 6px 16px;
}

.achievment-list-inner {
    background: #fff;
    border: 1px solid #E6E9ED;
}

.achievement-dec {
    padding-top: 15px;
    color: #a0a6a7;
}

.achievment-list-inner a.button {
    color: #FF9800;
}

.life-achievement .button.button-calm {
    border-color: transparent;
    background-color: #0a9dc7;
    color: #fff;
}

.life-achievement .button.button-calm:hover {
    border-color: transparent;
    background-color: #ff9800;
    color: #fff;
}


/*Life Achievement*/


/*add Life Achievement*/

.add-achievement .item {
    border-color: #d5dce0;
    background-color: #eff0f1;
}


/* add Life Achievement*/


/* Promo code*/

.main-header {
    background: #0b3c5d;
    border: 1px solid #0b3c5d;
}

.promo_code_container {
    background: #f5f5f5;
}

.promo-tab-left {
    background: #e64759;
}

.promo-tab-right {
    background: #fff;
}

.promo-tab a.button {
    color: #fff;
    margin-top: 10px;
}

.promo-tab-right .button-full {
    margin-top: 0px;
    margin-bottom: 0px;
}

.promo-tab-right .button {
    min-height: 30px;
    line-height: 22px;
}

.promo-tab-right .button.button-dark.button-clear {
    color: #e64759;
    font-weight: bold;
    font-size: 25px;
}

.promo-tab-right p {
    text-align: center;
    font-weight: bold;
    color: #848282;
    line-height: 25px;
}

.second-tab {
    background: #9f85ff;
}

.second-tab-count .button.button-dark.button-clear {
    color: #9f85ff;
    font-weight: bold;
    font-size: 25px;
}

.promo_info {
    text-align: center;
}


/*refered USER Promo code*/

.main-header .button-clear.button-clear {
    color: #d9b310;
    margin-top: 7px;
}

.main-header .button {
    color: #fff;
}

.refered-user-list {
    width: 95%;
    margin: auto;
    margin-top: 4em;
}

.refered-user-list .item {
    background: #fff;
    margin: 5px 0px;
    border: 1px solid #eae7e7;
    border-right: 3px solid #318ac2;
}

.main-heading {
    color: #fff;
    font-size: 17px;
    margin-bottom: 0px;
    line-height: 42px;
}

.main-heading .button {
    color: #fff;
}

.refered-user-list .item h2 {
    color: #318ac2;
}

.refered-user-list .item h4 {
    color: #ea9b25;
}


/*refered USER Promo code*/


/* Promo code info*/

.promo_code_info {
    padding: 10px;
}

.promo_code_info h2 {
    font-size: 16px;
    color: #ea9b25;
}

.promo_code_info p {
    color: #908c8c;
    text-align: justify;
}


/* Promo code info*/


/*career*/

.Career-details {
    margin-top: 4em;
}

.Career-details table {
    border-collapse: collapse;
    width: 100%;
}

.Career-details th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    /*white-space: nowrap;*/
}

.Career-details th {
    color: #fff;
}


/*.Career-details tr:hover{background-color:#adf3f7;}*/

.Career-details table thead {
    background: #2f2d2d;
    color: #fff;
}

.Career-details table tr:nth-child(even) {
    background-color: rgba(199, 199, 199, 0.42);
}


/*career*/


/*coin*/

.coin-img {
    background-color: transparent;
    margin-top: 7px;
}

.coin-details .button.button-positive.button-outline {
    border-color: #d2d2d2;
    background: transparent;
    color: #8c8d8e;
    background-color: #efefef;
    font-size: 13px;
}

.coin-details .ion-social-usd:before {
    margin-right: 5px;
    font-size: 15px;
}

.coin-details .ion-social-usd:before {
    margin-right: 5px;
    font-size: 15px;
}

.coin-details .ion-ios-cart:before {
    margin-right: 5px;
    font-size: 15px;
}

.coin-details .ion-cube:before {
    margin-right: 5px;
    font-size: 15px;
}


/*coin*/


/*buy*/

.buy-container {
    background: #fff;
    padding: 15px;
    margin: auto;
    width: 85%;
    border: 1px solid #ece5e5;
}

.buy-container .item-input input {
    width: 100%;
    border: 1px solid #ececec !important;
}

.buy-container .input-label {
    color: #989595;
}


/*buy*/


/*T:20:20 Home Screen*/

.T-20-Home_container {
    background: url('../img/T-20-home.jpg');
    background-size: 100% 100%;
}

.T-20-Home {
    width: 60%;
    margin: 0 auto;
    background: rgba(11, 60, 93, 0.72);
    margin-top: 40px;
    border: 5px solid rgba(11, 60, 93, 0.8);
}

.T-20-Home h1 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: 16px;
    font-family: 'Bitter', serif;
}

.T-20-Home .button-block {
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Bitter', serif;
    font-size: 20px;
    line-height: 39px;
    min-height: 39px;
}

.play-btn {
    background-color: rgba(50, 139, 195, 0.59) !important;
    border: 1px solid rgba(50, 139, 195, 0.87) !important;
}

.play-btn:hover,
play-btn.active,
play-btn.activated {
    background-color: rgb(50, 139, 195) !important;
    border: 1px solid rgb(50, 139, 195) !important;
}

.create_game_btn {
    border-color: rgba(217, 179, 16, 0.87)!important;
    background-color: rgba(217, 179, 16, 0.64) !important;
}

.create_game_btn:hover,
.create_game_btn.active,
.create_game_btn.activated {
    border-color: rgb(217, 179, 16)!important;
    background-color: rgb(217, 179, 16) !important;
}

.T20_Result_Btn {
    border-color: rgba(0, 188, 212, 0.49)!important;
    background-color: rgba(0, 188, 212, 0.46) !important;
}

.T20_Result_Btn:hover,
.T20_Result_Btn.active,
.T20_Result_Btn.activated {
    border-color: #00BCD4!important;
    background-color: #00BCD4 !important;
}


/*T:20:20 Home Screen*/


/*.create_t-20_game_container {
    width: 100%;
    margin: auto;
    padding: 5px;
}

.create_t-20_game_container .list {
    width: 100%;
    margin: auto;
}

.create_t-20_game_container .item {
    border-color: #ccc;
}

.create_t-20_game_container .item-select select {
    background-color: transparent;
}

.create_t-20_detalis .item-checkbox .checkbox {
    left: 0px;
}

.create_t-20_detalis .item-input {
    padding: 4px 0 5px 4px;
    border: 1px solid #ccc;
}

.create_t-20_detalis .item.item-input input {
    padding-right: 0px;
    height: 20px;
}

.create_t-20_detalis .item-checkbox {
    padding-left: 40px;
}

.create_t-20_detalis .card,
.list-inset {
    margin: 0px;
}

.create_t-20_detalis-heading {
    background: #777;
    color: #fff;
    text-align: center;
    margin-bottom: 1em;
}

.create_t-20_detalis select[multiple],
select[size] {
    height: 30px;
    width: 100%;
}

.create_t-20_detalis .button {
    min-height: 29px;
    line-height: 27px;
    margin-left: 19%;
}

.subject-check .item {
    padding: 0px 0px 6px 41px;
}

.create_t-20_game_container .input-label {
    padding: 0px 10px 0px 0px;
}


*/


/*Create T:20:20 create Game Screen1*/

.create-game-slider .slider-slide {
    height: 37px !important;
    width: 100% !important;
}

.create-game-slider .slider {
    height: 37px !important;
}

.subject-outer {
    /*background: rgba(12, 65, 100, 0.58);*/
    margin-bottom: 10px;
}

.subject-list-outer {
    background: rgba(0, 0, 0, 0.63);
    margin-bottom: 10px;
}

.create_game_main {
    background: url(../img/T-20-home.jpg);
    background-size: 100% 100%;
}

.Create-game-header {
    background: rgba(11, 60, 93, 0.88);
    border: #062f4f;
}

.game-elements {
    color: #fff;
    padding-top: 10px;
    font-size: 11px;
}

.game-elements-details {
    color: #fff;
    font-weight: bold;
}

.create_game_main .bar .title {
    color: #ffffff;
}

.create_game_main .slider-slide {
    background-color: transparent;
    overflow: visible;
}

.create_game_main .button.button-calm {
    border-color: rgba(0, 188, 212, 0.39);
    background-color: rgba(0, 188, 212, 0.37);
    color: #ffffff;
}

.create_game_main .button.button-dark {
    border-color: rgba(244, 67, 54, 0.75);
    background-color: rgba(244, 67, 54, 0.66);
    color: #f6f6f7;
}

.create_game_main .button {
    padding: 0 11px;
    min-height: 31px;
    line-height: 22px;
    white-space: nowrap;
    margin-left: 10px;
    font-size: 11px;
}

.create_game_main .button.button-calm:hover {
    border-color: #00BCD4;
    background-color: #00BCD4;
    color: #fff;
}

.create_game_main .button.button-calm.on {
    border-color: #00BCD4;
    background-color: #00BCD4;
    color: #fff;
}

.create_game_main .button.button-dark:hover {
    border-color: rgb(224, 8, 18);
    background-color: rgb(224, 8, 18);
    color: #ffffff;
}

.create_game_main .button.button-dark.on {
    border-color: rgb(224, 8, 18);
    background-color: rgb(224, 8, 18);
    color: #ffffff;
}

.create_game_main .item {
    border-color: rgba(76, 76, 76, 0.69);
    background: rgba(25, 25, 25, 0.54);
    border-radius: 5px;
    margin-top: 7px;
    padding: 6px 0 5px 5px;
}

.create_game_main .item-input input {
    height: 20px;
    color: #fff;
    text-align: left;
    font-size: 15px;
    padding-right: 0px;
}

.game-element-heading {
    background: rgba(0, 0, 0, 0.69);
}

.game-subject-name {
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}

.create_game_main .button.button-assertive {
    border-color: rgba(217, 179, 16, 0.67);
    background-color: rgba(217, 179, 16, 0.49);
    color: #fff;
}

.create_game_main .button.button-assertive.on {
    border-color: #d9b310;
    background-color: #d9b310;
    color: #fff;
}

.next-reset-option .button {
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
}

.next-reset-option .button.button-positive {
    border-color: transparent;
    background-color: rgba(12, 62, 97, 0.78);
    color: #fff;
}

.next-reset-option .button.button-positive:hover {
    background-color: rgb(12, 62, 97);
}

.next-reset-option .button.button-balanced {
    border-color: transparent;
    background-color: rgba(0, 188, 212, 0.63);
    color: #fff;
}

.next-reset-option .button.button-balanced:hover {
    background-color: rgb(0, 188, 212);
}


/*Create T:20:20 create Game Screen1*/


/*Create T:20:20 create Game Screen2*/

.t-20-create2-container {
    background-color: #f5f5f5;
}

.t-20-create2-container .ion-skip-backward:before {
    content: "ïˆ¢";
    color: #fff;
    font-size: 24px;
    margin: 5px;
}

.t-20-create2-container .date-of-play {
    background: #68ae00;
    width: 95%;
    margin: auto;
    color: #fff;
    border: 3px solid #568e04;
}

.t-20-create2-container .play-time {
    background: #fc8213;
    width: 95%;
    margin: auto;
    color: #fff;
    border: 3px solid #d46d10;
}

.t-20-create2-container .play-icon {
    background: #fff;
    width: 50%;
    margin: auto;
    height: 100%;
    border-radius: 50%;
}

.t-20-create2-container .play-icon .ion-ios-calendar:before {
    font-size: 26px;
    margin: 23% 30%;
    color: #68ae00;
}

.t-20-create2-container .play-icon .ion-ios-clock:before {
    content: "ï?ƒ";
    font-size: 26px;
    margin: 23% 30%;
    color: #fc8213;
}

.t-20-create2-container .play-element {
    color: #518209;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
}

.t-20-create2-container .play-element2 {
    color: #b75a06;
}

.t-20-create2-container .range-container {
    width: 95%;
    background: #fff;
    border: 1px solid #ccc;
    margin: auto;
    margin-bottom: 10px;
}

.t-20-create2-container .toggle-container {
    width: 95%;
    background: #fff;
    margin: auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.t-20-create2-container .toggle-container strong {
    color: #949290;
}

.t-20-create2-container .toggle-container b {
    color: #FF9800;
}


/*Create T:20:20 create Game Screen2*/


/* select player*/

.Select-Players .item-checkbox {
    padding-left: 70px;
}

.Select-Players .item {
    padding: 8px;
    padding-left: 10px;
}

.Select-Players .item-checkbox .checkbox {
    position: absolute;
    top: 29%;
}

.Select-Player .item p {
    color: #00BCD4;
}


/* select player*/


/*T:20 active Game List*/

.ActiveGameListcontainer {
    background: url('../img/T-20-home.jpg');
    background-size: 100% 100%;
}

.ActiveGameListcontainer h1 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: 16px;
    font-family: 'Bitter', serif;
}

.ActiveGameListHome {
    width: 95%;
    margin: 0 auto;
    background: rgba(13, 76, 111, 0.61);
    margin-top: 10px !important;
    border: 3px solid rgba(18, 86, 122, 0.56);
}

.ActiveGameListHome .item {
    padding: 0px;
    padding-left: 72px;
    min-height: 45px;
}

.ActiveGameListHome .item.activated {
    border-color: transparent;
    background: transparent;
}

.active-game-name {
    color: #d9b310;
}

.ActiveGameListHome .item p {
    color: #fff;
}

.ActiveGameListHome .game-duration {
    color: #7adce8 !important;
}

.ActiveGameListHome .active-user-dp {
    top: 4px !important;
    max-width: 50px !important;
    max-height: 52px !important;
}

.ActiveGameListHome .button {
    min-height: 23px;
    line-height: 40px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.ActiveGameListHome .button.icon-left:before {
    line-height: 31px;
}


/*T:20 active Game List*/


/*Group Profile */

.group-dp {
    background: #04b7ce;
    padding: 15px;
}

.group-dp img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    margin: auto;
}

.group-name {
    background: #0b3c5d;
    padding: 5px 0px;
    color: #d9b310;
    font-size: 16px;
    text-align: center;
    font-family: 'Bitter', serif;
}

.group-name a {
    float: right;
    margin-right: 10px;
}

.group-status {
    background-color: #d6d6d6;
    box-shadow: none;
}

.add-participants {
    border: 2px solid #d9b310;
    box-shadow: none;
}

.add-participants .ion-person-add:before {
    color: #0b3c5d;
}

.g-admin {
    margin-top: 24.5px;
}

.group-name-inner {
    margin-left: 23px;
}


/*Group Profile */


/*Create Group */

.create-group-container .button {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.create-group-container .Group-name {
    border-bottom: 2px solid #09a2b5;
    width: 95%;
    margin: auto;
    padding: 0px;
}

.create-group-container .placeholder-icon {
    color: #cc3505;
    min-width: 23px !important;
}

.create-group-dp {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 20px;
}

.Group-dp-info {
    margin-top: 30px;
    color: #9e9c9c;
    font-size: 16px;
}

.create-group-container .button.button-assertive {
    line-height: 27px;
    min-height: 10px;
    min-width: 85px;
}

.create-group-container .button.button-calm {
    line-height: 27px;
    min-height: 10px;
    min-width: 85px;
}


/*Create Group */


/*Profile Details*/

.profile-image {
    background: #0b3c5d;
    width: 100%;
    border-bottom: 5px solid #e6b500;
}

.profile-image img {
    width: 250px;
    height: 200px;
    margin: auto;
    border: 3px solid #d9b310;
    margin-top: 5px;
}

.ProfileDetails-Container .profile-details {
    text-align: center;
    padding: 2px 0px;
}

.ProfileDetails-Container .profile-details h2 {
    color: #d9b310;
    font-size: 18px;
    margin-bottom: 1px;
}

.ProfileDetails-Container .profile-details p {
    color: #6cc8ff;
    font-size: 15px;
    margin: 0px;
}

.ProfileDetails-Container .profile-details-count {
    color: #d9b310;
    text-align: center;
}

.profile-details-table {
    text-align: left;
    width: 95%;
    margin: auto;
}

.profile-details-table th {
    color: #0b3c5d;
}

.profile-details-table td {
    color: #54a7d9 !important;
    border-bottom: none;
}


/*Profile Details*/


/*editGroupName*/

.edit-group .item {
    background: rgba(255, 255, 255, 0.91);
    border: 1px solid #e8e4e4;
}


/*editGroupName*/


/*Add Participant*/

.main-search {
    margin-top: 5px !important;
}

.Add-friend-container {
    margin-top: 3em;
    border-bottom: 1px dashed #d9b310;
}

.Add-friend-container h2 {
    color: #0b3c5d;
    font-size: 17px;
}

.Add-friend-container h4 {
    color: #d9b310;
    font-size: 14px;
}

.Add-friend-container .button.icon-left:before {
    font-size: 20px;
    line-height: 25px;
}

.Add-friend-container .button {
    min-height: 30px;
    font-size: 13px;
    line-height: 30px;
    margin-top: 20px;
    min-width: 70%;
}


/*Add Participant*/


/*Follw List*/

.FollowList-Container {
    margin-top: 5em;
    border-bottom: none;
}

.FollowList-main {
    border-bottom: 1px dashed #d9b310;
}


/*Follw List*/


/*notification*/

.notification-subheader {
    height: auto;
    background: #0b3c5d;
}

.notification-subheader .button.button-block {
    margin-top: 0px;
    margin-bottom: 0px;
}

.game-name {
    font-size: 13px;
}


/*select notification*/

.select-notification .T-20-Home .button-block {
    font-size: 12px;
}


/*select notification*/


/*Game Sent Notifiaction*/

.Game-Sent-Notifiaction {
    width: 100%;
    margin: auto;
    margin-top: 2em;
}

.Game-Sent-Notifiaction table {
    width: 100%;
    margin: auto;
}

.Game-Sent-Notifiaction table td,
th {
    border: none;
    text-align: center;
    padding: 7px 0px;
}

.Game-Sent-Notifiaction table th {
    color: #ffffff;
    font-size: 14px;
    background: #00BCD4;
}

.Game-Sent-Notifiaction table td {
    font-size: 13px;
}

.Game-Sent-Notifiaction table tr {
    border-bottom: 1px dashed #ccc;
}

.Game-Sent-Notifiaction .button-small {
    min-height: 17px;
    line-height: 17px;
}


/*Game Sent Notifiaction*/


/*Game Summary*/

.game-summary-container {
    background: #f3f3f3;
}

.game-summary {
    width: 90%;
    margin: auto;
    border: 1px solid #ccc;
    background: #fff;
    margin-top: 20px;
}

.game-summary table {
    width: 90%;
    margin: auto;
}

.game-summary table th,
td {
    border: 2px dotted #73b586;
}

.game-summary table th {
    color: #029eb1;
    font-size: 15px;
}


/*Game Summary*/


/*Player List*/

.PlayerList .button {
    color: red;
}


/*Player List*/


/*notification*/


/*Friends & Group Notification*/

.FriendAndGroup-subheader {
    height: 85px;
    background: #f3f3f3;
}


/*Friends & Group Notification*/


/*stranger*/

.stranger-subheader {
    height: 96px;
    background: #efefef;
}

.stranger-subheader .form-control {
    border: 1px solid #ccc !important;
    text-align: center;
    width: 35%;
    margin-right: 2px;
}

.stranger-subheader .ion-chevron-left:before {
    line-height: 10px !important;
    font-size: 13px !important;
}

.stranger-subheader .ion-chevron-right:before {
    line-height: 10px !important;
    font-size: 13px !important;
}

.stranger-subheader .button {
    line-height: 12px !important;
    min-height: 23px;
}

.paginator-bottom .ion-chevron-left:before {
    line-height: 13px !important;
    font-size: 13px !important;
}

.paginator-bottom .ion-chevron-right:before {
    line-height: 13px !important;
    font-size: 13px !important;
}

.paginator-bottom .button {
    line-height: 14px !important;
    line-height: 12px !important;
    min-height: 23px;
}

.button-right {
    float: right;
}


/*stranger*/


/*update profile pic*/

.UpdateProfilePicContainer-Outer {
    background: #f0f2f2;
}

.UpdateProfilePicContainer {
    width: 90%;
    margin: auto;
    background: #fff;
    margin-top: 1em;
}

.left-bar {
    float: left;
    width: 10%;
    background: #dce3e7;
}

.middle-bar {
    background: #dce3e7;
    height: 191px;
}

.UpdateProfilePicContainer .profile-icon .button {
    background: #53b7f9;
    width: 100%;
    color: #fff;
    border-radius: 0px;
}

.UpdateProfilePicContainer .next-icon .button {
    background: #434b51;
}

.right-content {
    width: 90%;
    float: right;
}

.right-content .my-pro-pic {
    background: #e7f2f9;
    color: #000;
    border-radius: 0px;
    font-size: 15px;
    margin-bottom: 15px;
}

.UpdateProfilePicContainer .image-upload-sec .button {
    font-size: 17px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px !important;
    min-height: 36px;
    line-height: 33px;
}

.UpdateProfilePicContainer .image-upload-sec .device-name {
    color: #808080;
    font-size: 14px;
    text-align: center;
}

.UpdateProfilePicContainer .divide {
    text-align: center;
    color: #adadad;
}


/*update profile pic*/

/*save group after game completion*/ 
.save-group-after-game-complete {
    width: 80%;
    margin: auto;
    background: #00BCD4;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

.save-group-after-game-complete h3 {
    color: #fff;
    line-height: 2em;
}

.save-group-after-game-complete .button {
    min-height: 35px;
    line-height: 30px;
}

.save-group-after-game-complete .button.button-positive.button-outline {
    border-color: #325e80;
    background: #32546f;
    color: #ffffff;
    margin-right: 10px;
}

.save-group-after-game-complete .button.button-positive.button-outline:hover {
    border-color: #526f86;
    background: #50718c;
}


/*save group after game completion*/


/*placeholder color css*/

#user-profile-update::-webkit-input-placeholder {
    color: #585757 !important;
}

#user-profile-update:-moz-placeholder {
    color: #585757 !important;
}

#user-profile-update:-ms-input-placeholder {
    color: red !important;
}

#user-profile-update input::-webkit-input-placeholder {
    color: #585757;
}

#user-profile-update input:focus::-webkit-input-placeholder {
    color: #585757;
}

#user-profile::-webkit-input-placeholder {
    color: #1875bf !important;
}

#user-profile:-moz-placeholder {
    color: #1875bf !important;
}

#user-profile:-ms-input-placeholder {
    color: red !important;
}

#user-profile input::-webkit-input-placeholder {
    color: #1875bf;
}

#user-profile input:focus::-webkit-input-placeholder {
    color: #1875bf;
}


/*placeholder color css*/

.sorting-by-city .col {
    padding: 1px;
}

.sorting-by-city .button {
    padding: 0 0px !important;
    color: #00BCD4;
}

.range input {
    background: url('../img/range1.png');
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}


/*save group after game completion*/

.save-group-after-game-complete {
    width: 80%;
    margin: auto;
    background: #00BCD4;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

.save-group-after-game-complete h3 {
    color: #fff;
    line-height: 2em;
}

.save-group-after-game-complete .button {
    min-height: 35px;
    line-height: 30px;
}

.save-group-after-game-complete .button.button-positive.button-outline {
    border-color: #325e80;
    background: #32546f;
    color: #ffffff;
    margin-right: 10px;
}

.save-group-after-game-complete .button.button-positive.button-outline:hover {
    border-color: #526f86;
    background: #50718c;
}


/*save group after game completion*/


/* player-profile-popup */

.player-profile-popup {
    height: 250px;
    width: 65%;
    margin: 0 auto;
    margin-top: 10px;
}

.player-Profile {
    width: 100%;
    text-align: center;
    background: #083f6b;
}

.player-Profile img {
    margin: auto;
    width: 85px;
    height: 85px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px #00181b;
    margin-bottom: 3px;
}

.player-Profile h2 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
    color: #efd607;
}

.player-Profile p {
    margin: 0 0 0px;
    color: #00BCD4;
    padding-bottom: 5px;
}

.player-profile-popup .scroll-content {
    margin: 0px;
}

.player-profile-popup table td,
th {
    text-align: left;
    font-size: 12px;
    border: none;
    padding: 5px;
    color: #363838;
}

.player-profile-popup .ion-close-round:before {
    content: "ï„©";
    font-size: 13px !important;
    color: #fff;
    line-height: 14px !important;
}

.close-pop .button {
    min-height: 0px;
    line-height: 0px;
}

.button-sent {
    background-color: #11c1f3;
    box-shadow: none;
    color: #fff;
}

.button-accept {
    background-color: #ffc900;
    box-shadow: none;
    color: #fff;
}


/* player-profile-popup */


/* Final Result */

.final-result {
    width: 100%;
}

.final-result table {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.final-result table td img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.final-result table td,
th {
    text-align: center !important;
}

.final-result table th {
    background: #00BCD4;
    color: #fff;
    font-size: 15px;
}

.final-result table td {
    border-bottom: 1px dashed #FFC107;
    color: #413f3f;
    font-size: 14px;
}


/* Final Result */


/*Leader Board*/

.LeaderBoardcontainer {
    background: #f3f3f3;
}

.LeaderBoardcontainer-inner {
    background: #fff;
    border: 1px solid #ccc;
    width: 95%;
    margin: auto;
    margin-top: 2em;
}

.LeaderBoardcontainer-inner table {
    width: 100%;
    margin: auto;
}

.LeaderBoardcontainer-inner table th {
    background: #00BCD4;
    color: #fff;
}

.LeaderBoardcontainer-inner table td {
    border-bottom: 1px dashed #FFC107;
}


/*Leader Board*/


/*Event Details*/

.event-details {
    margin-top: 1em;
}


/*Event Details*/

.UpdateProfile {
    background: #1abc9c;
    width: 100%;
    text-align: center;
}

.UpdateProfile img {
    width: 120px;
    margin-top: 10px;
}

.UpdateProfile-inner .button.button-positive {
    margin: auto;
}

.UpdateProfile-inner p {
    width: 100%;
    text-align: center;
    color: #FF9800;
}

.list-view .item-input {
    padding: 4px 15px 1px 16px !important;
}

.list-view .item-input input {
    width: 100%;
    border: 1px solid #ccc;
    padding-right: 5px;
}

.appkey-validation {
    text-align: left;
    margin-left: 10px;
    color: #20344c;
}

.month {
    padding: 10px 20px;
    width: 100%;
    background: #1abc9c;
}


/* Add media queries for smaller screens */

@media screen and (max-width:720px) {
    .weekdays li,
    .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li,
    .days li {
        width: 12.5%;
    }
    .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {
    .weekdays li,
    .days li {
        width: 12.2%;
    }
}


/*
  Git Repo: https://github.com/Russian60/flex-calendar
*/

* {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'helvetica neue';
    background-color: #0b3c5d;
    margin: 0;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 40px;
}


/*p {
    margin-top: 5px;
    margin-bottom: 25px;
    color: #000;
    font-weight: 300;
}*/

span.l {
    font-weight: 100;
}

span.r {
    font-weight: 500;
}

.wrapp {
    width: 100%;
    height: auto;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 3em;
}

p {
    text-align: center;
}

flex-calendar {}


/* Library  */

.flex-calendar .days .day.selected,
.flex-calendar .month {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal
}

.flex-calendar .days,
.flex-calendar .days .day.selected,
.flex-calendar .month,
.flex-calendar .week {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.flex-calendar {
    width: 100%;
    min-height: 50px;
    color: #FFF;
    font-weight: 200;
    border-bottom: 3px dotted #00bcd4;
}

.flex-calendar .month {
    position: relative;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #ffb835
}

.flex-calendar .month .arrow,
.flex-calendar .month .label {
    height: 60px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    line-height: 60px;
    font-size: 20px
}

.flex-calendar .month .arrow {
    width: 50px;
    box-sizing: border-box;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABqUlEQVR4Xt3b0U3EMBCE4XEFUAolHB0clUFHUAJ0cldBkKUgnRDh7PWsd9Z5Tpz8nyxFspOCJMe2bU8AXgG8lFIurMcurIE8x9nj3wE8AvgE8MxCkAf4Ff/jTEOQBjiIpyLIAtyJpyFIAjTGUxDkADrjhxGkAIzxQwgyAIPxZgQJAFJ8RbgCOJVS6muy6QgHiIyvQqEA0fGhAArxYQAq8SEASvHTAdTipwIoxk8DUI2fAqAc7w6gHu8KkCHeDSBLvAtApng6QLZ4KkDGeBpA1ngKQOb4YYDs8UMAK8SbAVaJNwGsFN8NsFq8FeADwEPTmvPxSXV/v25xNy9fD97v8PLuVeF9FiyD0A1QKVdCMAGshGAGWAVhCGAFhGGA7AgUgMwINICsCFSAjAh0gGwILgCZENwAsiC4AmRAcAdQR5gCoIwwDUAVYSqAIsJ0ADWEEAAlhDAAFYRQAAWEcIBoBAkAIsLX/rV48291MgAEhO747o0Rr82J23GNS+6meEkAw0wwx8sCdCAMxUsDNCAMx8sD/INAiU8B8AcCLT4NwA3CG4Az68/xOu43keZ+UGLOkN4AAAAASUVORK5CYII=) no-repeat;
    background-size: contain;
    background-origin: content-box;
    padding: 20px 5px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s
}

.flex-calendar .month .arrow:last-child {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.flex-calendar .month .arrow.visible {
    opacity: 1;
    visibility: visible;
    cursor: pointer
}

.flex-calendar .month .arrow.hidden {
    opacity: 0;
    visibility: hidden;
    cursor: default
}

.flex-calendar .days,
.flex-calendar .week {
    line-height: 25px;
    font-size: 16px;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-calendar .days {
    background-color: #FFF
}

.flex-calendar .week {
    background-color: #faac1c
}

.flex-calendar .days .day,
.flex-calendar .week .day {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    min-width: 14.285714286%;
    text-align: center
}

.flex-calendar .days .day {
    min-height: 60px;
    box-sizing: border-box;
    position: relative;
    line-height: 60px;
    border-top: 1px solid #FCFCFC;
    background-color: #fff;
    color: #8B8B8B;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: rgba(0, 188, 212, 0.08);
    border: 1px solid #fff;
}

.flex-calendar .days .day.out {
    background-color: #fCFCFC
}

.flex-calendar .days .day.disabled.today,
.flex-calendar .days .day.today {
    color: #FFB835;
    border: 1px solid
}

.flex-calendar .days .day.selected {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.flex-calendar .days .day.selected .number {
    width: 40px;
    height: 40px;
    background-color: #FFB835;
    border-radius: 100%;
    line-height: 40px;
    color: #FFF
}

.flex-calendar .days .day:not(.disabled):not(.out) {
    cursor: pointer
}

.flex-calendar .days .day.disabled {
    border: none
}

.flex-calendar .days .day.disabled .number {
    background-color: #EFEFEF;
    background-image: url(data:image/gif;base64,R0lGODlhBQAFAOMAAP/14////93uHt3uHt3uHt3uHv///////////wAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAFAAUAAAQL0ACAzpG0YnonNxEAOw==)
}

.flex-calendar .days .day.event:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #faac1c;
    position: absolute;
    bottom: 10px;
    margin-left: -3px
}

.flex-calendar {
    width: 100% !important;
}

.flex-calendar .month .arrow,
.flex-calendar .month .label {
    font-size: 14px !important;
    text-align: center;
}

.flex-calendar .month {
    background: #00bcd4;
    background-size: cover;
    background-size: 100% 100%;
}

.flex-calendar .week {
    background-color: rgba(254, 63, 128, 0.82);
}

.flex-calendar .days .day.selected .number {
    background-color: rgb(0, 188, 212);
}

.flex-calendar .days .day.event:before {
    width: 9px;
    height: 9px;
    background-color: #e42112;
}

.flex-calendar .days .day {
    min-height: 44px;
    line-height: 43px;
}

.flex-calendar .days .day.event:before {
    bottom: 4px;
}


/*Add New Entry*/

.Add-new-Entry-img-container {
    background: #1abc9c;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #07a989;
}

.Add-new-Entry-img-container img {
    width: 230px;
    height: 180px;
    margin: 10px 0px;
    border: 5px solid #07a989;
}

.add-new-entry-label {
    margin-left: 15px;
    color: #0c6bab;
    font-size: 14px;
}


/*Add New Entry*/


/*Project*/

.Project-subheader .item-input-inset {
    padding: 0px;
}

.Project-subheader .button-small {
    background: #1abc9c;
    line-height: 14px;
    min-height: 27px;
    border-radius: 0px;
    margin-left: 0px;
    color: #fff;
}

.Project-subheader .button-small .icon:before {
    font-size: 19px !important;
    line-height: 22px !important;
}

.Project-subheader .item-input-wrapper {
    border-radius: 0px;
}

.Project-subheader .row,
.Project-subheader .col {
    padding: 0px;
}

.Project-subheader .ion-close-round:before {
    font-size: 19px !important;
    line-height: 26px !important;
}

.project-table-container {
    width: 98%;
    margin: auto;
}

.project-table {
    width: 100%;
    margin-top: 10px;
}

.project-table th {
    background: #1abc9c;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

.project-table td {
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    color: #062d48;
    text-align: left;
}

.project-table td a {
    color: #1abc9c;
}


/*Project*/


/*Entry List*/

.entry-List-thumb {
    width: 60px !important;
    height: 55px !important;
}

.entry-List-main {
    min-height: 75px;
}

.modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0 !important;
}
/*Entry List*/