.textareaPopupStyle {
        height: 260px;
    width: 75%;
    margin: 0 auto;
    margin-top: 30%;
    border: 1px solid #6bd0ec;
    padding: 5px;
    background: #fff;
    /* outline: 5px solid hsl(0, 1%, 69%); */
    /* box-shadow: 0 0 0 10px hsl(0, 0%, 80%), 0 0 0 15px hsl(0, 0%, 90%); */
   
}

.textareaPopupStyle .App-header {
    border: none;
    background: #00bcd4;
}

.achivForm textarea {
    background: transparent !important;
        border:1px solid  #00bcd4;
    resize: none;
    

}

.achivForm .listStyle .item {
    background-color: #eff0f1;
    width: 90%;
    margin: auto;
    background: transparent;
    padding: 5px;
    border: none;
}
.ok-btn{
        min-height: 25px !important;
    margin: 0 !important;
}