<div class="plasto-summary-container" *ngFor="let d of summaryCartArr ;let s=index">

  <ion-row>
    <ion-col size="12" class="pb-0">
      <p class="text-center summary-head">{{d.frameName}}</p>
    </ion-col>

    <ng-container *ngFor="let p of d.cartArr ;let c=index">
      <ion-col size="4" class="pr-0 pt-0">
        <div class="product">
          <!-- <p>CPVC PIPES SDR-11 Class-1</p> -->
          {{p.parentKey}}
        </div>
      </ion-col>
      <ion-col size="8" class="pl-0 pt-0">
        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th *ngFor="let th of tHead; let i = index">{{th}}</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let tableData of p.parentRow ;let rowindex=index">
                <ng-container *ngFor="let itemGroup of tableData;">
                  <ng-container *ngFor="let input_item of itemGroup.Level5; let i = index">
                    <!-- <ng-container *ngIf="input_item.item_visible_flag =='T' || input_item.item_sub_type != 'ONLY_VIEW_PARENT'
                  || input_item.item_sub_type != 'ONLY_VIEW_COUNT' || input_item.item_type != 'DISPLAY_PHOTO'"> -->
                    <ng-container *ngIf="input_item.item_visible_flag =='T'">
                      <ng-container *ngIf=" input_item.item_sub_type != 'ONLY_VIEW_PARENT'">
                        <ng-container *ngIf=" input_item.item_sub_type != 'ONLY_VIEW_COUNT'">
                          <ng-container *ngIf=" input_item.item_type != 'DISPLAY_PHOTO'">
                            <td>

                              <div *ngIf=" input_item.item_sub_type == 'DELETE_BUTTON'">
                                <app-button [ngStyle]="input_item.display_setting_str" [button]="input_item"
                                  (click)="deleteItem(input_item,s,c,rowindex)">
                                </app-button>
                              </div>
                              <ng-container *ngIf=" input_item.item_type != 'DELETE_BUTTON'">
                                <ng-container [ngSwitch]="input_item.item_type">

                                

                                  <div *ngSwitchCase="'L'">
                                    <app-items [item]="input_item" [wscp]="wscp_send_input"
                                      [frame_type]="frame.apps_frame_type"
                                      (LHSOnChange)="itemValueChange($event,tableData,h,rowindex)">
                                    </app-items>
                                  </div>

                                  <div *ngSwitchCase="'D'">
                                    <app-date-input [ngStyle]="input_item.display_setting_str" [dateinput]="input_item"
                                      [frame_type]="frame.apps_frame_type"
                                      (LHSOnChange)="itemValueChange($event,tableData,h,rowindex)">
                                    </app-date-input>
                                  </div>


                                  <div *ngSwitchCase="'CB'">
                                    <app-check-box [checkBox]="input_item" [frame_type]="frame.apps_frame_type"
                                      (emitOnChange)="itemValueChange($event,tableData,h,rowindex)">
                                    </app-check-box>
                                  </div>

                                  <div *ngSwitchCase="'TEXT'">

                                    <app-para-text [itemInput]="input_item" [frame_type]="frame.apps_frame_type"
                                      (LHSOnChange)="itemValueChange($event,tableData,h,rowindex)"></app-para-text>

                                  </div>

                                  <div *ngSwitchCase="'N'" class="number-value">
                                    <app-number-input [frame_type]="frame.apps_frame_type" [numberinput]="input_item"
                                      (emitOnChange)="itemValueChange($event,tableData,h,rowindex)"></app-number-input>
                                  </div>

                                  <div *ngSwitchCase="'T'">
                                    <app-text-input [textinput]="input_item" [frame_type]="frame.apps_frame_type"
                                      (emitOnChange)="itemValueChange($event,tableData,h,rowindex)">
                                    </app-text-input>
                                  </div>



                                </ng-container>
                              </ng-container>

                              <!-- <app-para-text [itemInput]="input_item" [frame_type]="frame.apps_frame_type"
                (emitOnChange)="itemValueChange($event,rowindex)" ></app-para-text> -->
                            </td>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>

              </tr>
              <!-- <tr>
              <td>1/2 inches / 15 MM of 3 Meter</td>
              <td>11SD1115</td>
              <td>1000</td>
            </tr>
            <tr>
              <td>1/2 inches / 15 MM of 3 Meter</td>
              <td>11SD1115</td>
              <td>1000</td>
            </tr>
            <tr>
              <td>1/2 inches / 15 MM of 3 Meter</td>
              <td>11SD1115</td>
              <td>1000</td>
            </tr>
            <tr>
              <td>1/2 inches / 15 MM of 3 Meter</td>
              <td>11SD1115</td>
              <td>1000</td>
            </tr> -->
            </tbody>
          </table>
        </div>
      </ion-col>
    </ng-container>
  </ion-row>
</div>