<div class="smart-filter-section">
  <div class="smart-filter-section__header">
    <h5 class="m-0 d-inline-block">Order Amount</h5>
    <h6 class="m-0 d-inline-block float-right">Rs.1 To Rs.100</h6>
  </div>

  <ion-range min="-0" max="100" [(ngModel)]="range" id="dual-range"  dual-knobs pin color="primary">

  </ion-range>
  <ion-item>
    <ion-range min="1000" max="2000" step="100"  color="secondary"></ion-range>
  </ion-item>

  <ion-item>
    <ion-range min="1000" max="2000" step="100" snaps="true" ticks="false" color="secondary"></ion-range>
  </ion-item>

  <ion-item>
    <ion-range dualKnobs="true" min="21" max="72" step="3" snaps="true"></ion-range>
  </ion-item>

</div>
