
ion-input[disabled]
{
    background:grey;
    opacity:1 !important;
    color: #0f0d0d !important;
    opacity: 1;
    font-weight: 700;
    letter-spacing: 1px;
}

.native-input[disabled].sc-ion-input-md {
    background: red;
}
.native-input[disabled].sc-ion-input-md {
    opacity:1 !important;
}

.disableText{
  
    background: #dcdcdc;
    color: #0f0d0d !important;
    opacity: 1;
    font-weight: 700;
    letter-spacing: 1px;
}
/* #addon-table{
    pointer-events: none !important;
} */