<ng-container *ngIf="!scrollFlag">
  <ng-container *ngFor="let p of parentRows ;let h=index">
    <div class="contract-container">
      <ion-row class="row">
        <ng-container *ngFor="let itemGroup of p.cardRow">
          <ng-container *ngFor="let item of itemGroup.Level5">
            <ng-container *ngIf="item.item_sub_type == 'ONLY_VIEW_PARENT'">
              <ion-label class="contract-item label label-md">
                <span> {{item.prompt_name}} </span>: {{item.value}}
              </ion-label>
            </ng-container>
          </ng-container>
        </ng-container>
        <div class="add-icon-btn" (click)="showItemTab(p)">
          <ion-icon name="add" role="img" class="icon icon-md ion-md-add" aria-label="add" ng-reflect-name="add"
            *ngIf="!p.showTable" >
          </ion-icon>

          <ion-icon name="remove" role="img" class="icon icon-md ion-md-remove" aria-label="remove"
            ng-reflect-name="remove" *ngIf="p.showTable">
          </ion-icon>
        </div>
      </ion-row>

      <ion-grid class="sub-header grid">
        <ion-row class="row">
          <ng-container *ngFor="let itemGroup of p.cardRow">
            <ng-container *ngFor="let item of itemGroup.Level5">
              <ng-container *ngIf="item.item_visible_flag == 'T'">
                <ion-col class="col" col-4="" *ngIf="item.item_sub_type == 'ONLY_VIEW_COUNT'">
                  <ion-label class="label label-md">{{item.prompt_name}}
                  </ion-label>
                  <span>{{item.value}}</span>
                </ion-col>
              </ng-container>
            </ng-container>
          </ng-container>

          <!-- <ion-col class="col" col-4="">
              <ion-label class="label label-md">Executed Qty
              </ion-label>
              <span>0.0 </span>
            </ion-col>
    
            <ion-col class="col" col-4="">
              <ion-label class="label label-md">Balance </ion-label>
              <span>0.000/1.000 </span>
            </ion-col> -->
        </ion-row>
      </ion-grid>

      <div class="table-responsive" *ngIf="p.showTable">
        <table>
          <thead>
            <tr>
              <ng-container *ngFor="let h1 of thead">
                <th [ngStyle]="getParsedJson(h1.display_setting_str)">{{h1.prompt_name}}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let itemData of p.parentRow ;let rowindex=index">
              <ng-container *ngFor="let itemGroup of itemData;">
                <ng-container *ngFor="let input_item of itemGroup.Level5; let i = index">
                  <ng-container *ngIf="input_item.item_visible_flag == 'T'">
                    <td [ngStyle]="getParsedJson(input_item.display_setting_str)"
                      *ngIf="input_item.item_sub_type != 'ONLY_VIEW_COUNT' && input_item.item_sub_type != 'ONLY_VIEW_PARENT' && input_item.item_visible_flag == 'T'">


                      <ng-container [ngSwitch]="input_item.item_type">
                        <div *ngSwitchCase="'TEXT'">
                          {{input_item.value}}
                        </div>

                        <div *ngSwitchCase="'T'">
                          <app-text-input [textinput]="input_item" [frame_type]="frame.apps_frame_type"
                            (emitOnChange)="itemValueChange($event,rowindex)">
                          </app-text-input>
                        </div>

                        <div *ngSwitchCase="'L'">
                          <app-items [item]="input_item" [wscp]="wscp_send_input"
                            (emitPass)="itemClicked($event,rowindex)" (LHSOnChange)="itemValueChange($event,rowindex)">
                          </app-items>
                        </div>

                        <div *ngSwitchCase="'N'" class="number-value">

                          <ion-input type="number" [customMin]="input_item.from_value" [customMax]="input_item.to_value"
                            class="text-right" maxlength="{{input_item.item_size}}" id="{{input_item.item_name}}"
                            pattern="{{input_item.input_pattern}}" [(ngModel)]="input_item.value"
                            [readonly]="input_item.item_enable_flag && (input_item.item_enable_flag=='F')" [required]="input_item.data_required_flag && input_item.data_required_flag=='T' 
                          ||input_item.prompt_name[input_item.prompt_name.length -1] =='*'" #input_itemname="ngModel"
                            name="{{input_item.item_name}}" placeholder="{{input_item.prompt_name}}"
                            (ionChange)="input_item.isValid=input_itemname.valid; input_item.touched=true;"
                            (ionBlur)="input_item.touched=true;itemValueChange(input_item,rowindex,h, itemData)">
                          </ion-input>


                          <div class="error" *ngIf="input_itemname.hasError('maxlength')"> {{input_item.prompt_name}}
                            max
                            {{input_item.item_size}} digit</div>

                          <div class="error" *ngIf="input_itemname.hasError('customMin')"> {{input_item.prompt_name}}
                            should
                            not be less
                            {{input_item.from_value}}
                          </div>

                          <div class="error" *ngIf="input_itemname.hasError('customMax')"> {{input_item.prompt_name}}
                            should
                            not be above
                            {{input_item.to_value}}</div>

                          <div class="error" *ngIf="input_itemname.hasError('required') && input_item.touched"> Please
                            Enter
                            {{input_item.prompt_name}}
                          </div>

                          <div class="error" *ngIf="input_itemname.hasError('pattern')">Invalid Number or Invalid
                            Decimal Place</div>

                        </div>
                      </ng-container>
                    </td>
                  </ng-container>
                </ng-container>
              </ng-container>



              <!--  <td>10kg single bundle</td>
            <td>
              <ion-input class="form-control" type="number"></ion-input>
            </td>
            <td>
              <ion-input class="form-control" type="number" placeholder="Quantity"></ion-input>
            </td>
            <td>MT</td>
            <td>
              <ion-input class="form-control text-right" type="text" placeholder="Total"></ion-input>
            </td> -->
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    
  </ng-container>

  <div *ngIf="summaryRow.length > 0">
    <div>
      <h1>Order Details Summary</h1>
      </div>
    <table>
      <thead>
        <tr>
          <ng-container *ngFor="let h1 of summaryRow">
            <th [ngStyle]="getParsedJson(h1.display_setting_str)">{{h1.prompt_name}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>

        <tr>
          <ng-container *ngFor="let item of summaryRow">
            <td>{{item.value}}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    </div>

</ng-container>

<ng-container class="center" *ngIf="scrollFlag">
  <div class="text-center">
    <img src="../../../../assets/dot.gif" width="10%">
  </div>
</ng-container>