<div class="smart-filter-section">
  <div class="smart-filter-section__header">
    <h5 class="m-0 d-inline-block">Cities<sup>6</sup></h5>
    <ion-button class="float-right view-all-btn" color="primary" fill="clear" size="small">View All</ion-button>
  </div>
  <div class="clearfix"></div>
  <ion-segment scrollable>
    <ion-button color="light" size="small" (click)="onButtonGroupClick($event)">Nagpur</ion-button>
    <ion-button color="light" size="small" (click)="onButtonGroupClick($event)">Mumbai</ion-button>
    <ion-button color="light" size="small" (click)="onButtonGroupClick($event)">Delhi</ion-button>
    <ion-button color="light" size="small" (click)="onButtonGroupClick($event)">Bangalore</ion-button>
    <ion-button color="light" size="small" (click)="onButtonGroupClick($event)">Hyderabad</ion-button>
    <ion-button color="light" size="small" (click)="onButtonGroupClick($event)">Ahmedabad</ion-button>
  </ion-segment>
</div>