<div class="capture-img-container">
  <ion-label class="form-label">{{imageinput.prompt_name}}</ion-label>
  <div *ngIf="!imageinput.value  &&  imageinput.item_sub_type !='DS' &&  imageinput.item_sub_type !='CIRCLE_CAPTURE'">
    <img src="assets/imgs/default-thumbnail.jpg" class="img-input" [ngStyle]="getParsedJson(imageinput.display_setting_str)">
  </div>
  <div *ngIf="imageinput.value   &&  imageinput.item_sub_type !='DS' && imageinput.item_sub_type !='CIRCLE_CAPTURE' "
    class="capture-img-container" (click)="photoview()">
    <img *ngIf="platform.is('ios') || platform.is('android')" [src]="'data:image/jpeg;base64,'+imageinput.value" class="img-input" [ngStyle]="getParsedJson(imageinput.display_setting_str)">
    <img *ngIf="!platform.is('ios') && !platform.is('android')" [src]="'data:image/jpeg;base64,'+imageinput.value" class="img-input" [ngStyle]="getParsedJson(imageinput.display_setting_str)">
  </div>
  <!-- <div *ngIf="imageinput.value &&  imageinput.item_sub_type =='CIRCLE_CAPTURE'" class="capture-img-container1" (click)="handleButtonClick()">
    <img [src]="'data:image/jpeg;base64,'+imageinput.value" class="img-rounded">
  </div> -->
</div>



<!-- ROUNDED CAMERA -->
<div class="camscaner" *ngIf="imageinput.item_sub_type=='CIRCLE_CAPTURE'">
  <div *ngIf="platform.is('ios') || platform.is('android')" class="capture-img-container1">
    <div *ngIf="!imageinput.value">
      <img src="assets/imgs/cameraaaa.png" class="img-rounded" (click)="handleButtonClick()">

    </div>
    <div *ngIf="imageinput.value " class="capture-img-container1" (click)="handleButtonClick()">
      <img [src]="'data:image/jpeg;base64,'+imageinput.value" class="img-rounded">
    </div>
  </div>
  <div *ngIf="platformValue" class="capture-img-container1">
    <div *ngIf="!imageinput.value" class="choose-file-new">
      <img src="assets/imgs/cameraaaa.png" class="img-rounded img-ic-new">
      <input type="file" class="choose-file-ip-new" accept="image/png,image/jpg,image/jpeg"
          (change)="selectFile('grey', $event.target.files[0])" />
    </div>
    <div *ngIf="imageinput.value " class="choose-file-new">
      <img [src]="'data:image/jpeg;base64,'+imageinput.value" class="img-rounded img-ic-new">
      <input type="file" class="choose-file-ip-new" accept="image/png,image/jpg,image/jpeg"
          (change)="selectFile('grey', $event.target.files[0])" />
    </div>
  </div>
</div>







<!--SIGNATURE PAD-->
<div class="mb-2" *ngIf="imageinput.item_sub_type=='S'" style="display: flex;align-items: center;">
  <ion-grid class="p-0">
    <ion-row>
      <div class="img-capture-sec-container" style="display: inline-flex">
        <ion-col col-4 class="p-0">
          <div class="img-capture-sec">
            <span (click)="opensignaturePad()">
              <ion-icon name="md-create"></ion-icon>
            </span>
          </div>

          <div class="img-capture-sec trash-btn-sec">
            <span (click)="drawClear()">
              <ion-icon name="trash"></ion-icon>
            </span>
          </div>
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>
</div>
<!--END-->



<!--CAMERA-->
<div class="mb-2"
  *ngIf="imageinput.item_sub_type !='S'  &&  imageinput.item_sub_type !='DS' && imageinput.item_sub_type !='CIRCLE_CAPTURE'" style="display: flex;align-items: center;">
  <div class="img-capture-sec-container" style="display: inline-flex">
    <div class="img-capture-sec" *ngIf="platform.is('ios') || platform.is('android')">
      <span (click)="takeImage(imageinput.item_db_name,'CAMERA')">
        <ion-icon name="camera"></ion-icon>
      </span>
    </div>
    <div class="img-capture-sec"
      *ngIf="imageinput.item_sub_type !='ONLY_CAMERA'  && (platform.is('ios') || platform.is('android'))">
      <span (click)="takeImage(imageinput.item_db_name,'PHOTOLIBRARY')">
        <ion-icon name="images"></ion-icon>
      </span>
    </div>

    <div class="img-capture-sec trash-btn-sec">
      <span (click)="clearImage()">
        <ion-icon name="trash"></ion-icon>
      </span>
    </div>
    <div class="img-capture-sec" *ngIf="imageinput.item_sub_type !='ONLY_CAMERA'  && platformValue">
      <!-- <span (click)="takeImage(imageinput.item_db_name,'PHOTOLIBRARY')">
        <ion-icon name="images"></ion-icon>
      </span> -->
      <div class="choose-file">
        <span style="color: #F2C230;z-index:0;">.</span>
        <ion-icon name="images" class="img-ic"></ion-icon>
        <input type="file" class="choose-file-ip" accept="image/png,image/jpg,image/jpeg"
          (change)="selectFile('grey', $event.target.files[0])" />
      </div>
    </div>
  </div>
</div>
<!--CAMERA END-->

<!--Camscaner Start-->
<div class="camscaner" *ngIf="imageinput.item_sub_type=='DS'">
  <div class="capture-img-container">
    <div *ngIf="!imageinput.value">
      <img src="assets/imgs/default-thumbnail.jpg" class="img-input">
    </div>
    <div *ngIf="imageinput.value " class="capture-img-container" (click)="photoview()">
      <img [src]="'data:image/jpeg;base64,'+imageinput.value" class="img-input">
    </div>
  </div>
  <div class="mb-2" style="display: flex;align-items: center;">
    <div class="img-capture-sec-container" style="display: inline-flex">
      <div class="img-capture-sec ">
        <span (click)="scanDoc()">
          <ion-icon name="camera"></ion-icon>
        </span>
      </div>
      <div class="img-capture-sec">
        <span (click)="takeImage(imageinput.item_db_name,'PHOTOLIBRARY')">
          <ion-icon name="images"></ion-icon>
        </span>
      </div>
      <div class="img-capture-sec trash-btn-sec ">
        <span (click)="clearImage()">
          <ion-icon name="trash"></ion-icon>
        </span>
      </div>
    </div>
  </div>
</div>
<!--Camscaner End-->