<ion-row *ngIf="frame.apps_page_frame_name" class="align-center" >
  <ion-col col-12>
    <h1 class="frame-name position-relative">{{frame.apps_page_frame_name}}<span style="margin-left: 10px;" *ngIf="globalObjects.toggleDevloperMode">[{{frame.apps_page_frame_seqid}}]<ion-icon class="code-btn"  color="primary" name="information-circle-outline"  (click)="showDeveloperData()"></ion-icon></span></h1>

  </ion-col>
</ion-row>
<div id="chartdiv" class="frame-three-d-funnel" *ngIf="threeDFunnelFlag"></div>
<div *ngIf="!threeDFunnelFlag">
  <div id="chartdiv" class="frame-three-d-funnel-4" *ngIf="threeDFunnelValue==4"></div>
  <div id="chartdiv" class="frame-three-d-funnel-6" *ngIf="threeDFunnelValue==6"></div>
  <div id="chartdiv" class="frame-three-d-funnel-12" *ngIf="threeDFunnelValue==12"></div>
</div>