<ion-view cache-view="false" view-title="Setting">


    <ion-header-bar class="bar bar-header  App-header">
        <button ng-click="backNavigate()" class="button button-icon icon icon-left ion-ios-arrow-left back-btn"></button>
        <div class="h1 title">{{table_desc}}</div>
        <button ng-if="flagForEntryListButton=='V#'" class="button button-icon icon icon-right ion-ios-paper-outline" ng-click="entryList()"></button>
    </ion-header-bar>

    <style>
        .itemName {
            width: 60px;
            padding: 2px;
            max-width:  60px;
            min-width:  60px;
        }
        
        .rate {
            width: 15px;
            padding: 2px;
            max-width:  10px;
            min-width:  10px;
        }
        
        .qty {
            width: 15px;
            padding: 10px;
            max-width:  15px;
            min-width:  15px;
        }
        
        .um {
            width: 10px;
            padding: 2px;
            max-width:  10px;
            min-width:  10px;
        }
        
        .total {
            width: 15px;
            padding: 2px;
            max-width: 15px;
            min-width:  15px;
        }
    </style>

    <ion-content class="has-header" overflow-scroll="true">
        <form name="frm">
            <p>
                <ion-spinner icon="ios" class="dash-spin" ng-hide="rowsOfPopulateData"> </ion-spinner>
            </p>
            <div class="Career-details">
                <div class="responsive-table">
                    <table class="table" style="border: 1px solid black;">
                        <thead>
                            <tr>
                                <th class="borders" ng-repeat="data1 in fieldsTH" style="padding: 4px;">
                                    <b style="font-size: 15px;">{{data1}}</b>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="list in rowsOfPopulateData track by $index">
                                <td class="itemName"> <label>{{::list[8].value}}</label></td>
                                <td class="rate">
                                    <input type="tel" limit-to="{{::list[9].column_size}}" valid-number id="{{::list[9].column_name}}" name="{{::list[9].column_name}}{{$index}} "
                                        placeholder="{{::list[9].tool_tip}} " ng-model="list[9].value " ng-required="::list[9].nullable=='F' "
                                        ng-maxlength="::list[9].column_size" ng-change="autoCalculation(list[9].column_name,$parent.$index)"
                                        ng-min="::list[9].from_value " ng-max="::list[9].to_value ">
                                </td>
                                <td class="qty">
                                    <input type="tel" limit-to="{{::list[10].column_size}}" valid-number id="{{::list[10].column_name}}" name="{{::list[10].column_name}}{{$index}} "
                                        placeholder="{{::list[10].tool_tip}} " ng-model="list[10].value " ng-required="::list[10].nullable=='F' "
                                        ng-maxlength="::list[10].column_size" ng-change="autoCalculation(list[10].column_name,$parent.$index)"
                                        ng-min="::list[10].from_value " ng-max="::list[10].to_value ">
                                </td>

                                <td class="um"> <label>{{::list[11].value}}</label></td>
                                <td class="total">
                                    <input type="tel" limit-to="{{::list[12].column_size}}" valid-number id="{{::list[12].column_name}}" name="{{::list[12].column_name}}{{$index}} "
                                        placeholder="{{::list[12].tool_tip}} " ng-model="list[12].value " ng-required="::list[12].nullable=='F' "
                                        ng-maxlength="::list[12].column_size" ng-change="autoCalculation(list[12].column_name,$parent.$index)"
                                        ng-min="::list[12].from_value " ng-max="::list[12].to_value ">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row animated fadeInUp" ng-if="rowsOfPopulateData">
                    <div class="col">
                        <button class="button button-assertive button-block cancel-btn " ng-click="cancelAddUpdateEntry()" type="button">Cancel</button>
                    </div>
                    <div class="col">
                        <button class="button button-balanced button-block Save-btn " type="submit " value="Upload " name="upload " id="upload "
                            ng-click="addOrder(rowsOfPopulateData)">
                        Save
                        </button>
                    </div>
                    <div class="col" ng-if="orderPopulatedFlag=='PO'">
                        <button class="button button-balanced button-block Save-btn " type="submit " value="Upload " name="upload " id="upload "
                            ng-click="addPopulatedOrder(rowsOfPopulateData)">
                          Order
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>