<ion-view view-title="Entry Details">

    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="backNavigate()"></button>
        <div class="h1 title">Entry Details</div>
        <button class="button button-icon icon icon-right ion-ios-plus-outline" ng-click="addEntry()"></button>
    </ion-header-bar>
    <div class="wrapp" on-swipe-right="backNavigate()">
        <flex-calendar options="options" events="events"></flex-calendar>
    </div>
    <br />

</ion-view>