<!-- <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">View Image</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
    </ion-header-bar>
    <ion-content class="padding" scroll="false">

        <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false"
            scrollbar-y="false">
            <img ng-src="data:image/JPEG;base64,{{zoomImage}}">
        </ion-scroll>

    </ion-content>
</ion-modal-view> -->


<ion-modal-view class="image-modal" ng-dblclick="modal.hide()">
    <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false"
        scrollbar-y="false" overflow-scroll="false">
        <img ng-src="data:image/JPEG;base64,{{zoomImage}}">
    </ion-scroll>
</ion-modal-view>