<ion-view class="add-update-entry-container">
    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="backNavigate()"></button>
        <div class="h1 title">{{::table_desc}}</div>
        <button ng-if="flagForEntryListButton=='V#'" class="button button-icon icon icon-right ion-ios-paper-outline" ng-click=""></button>

    </ion-header-bar>
    <ion-content class="has-header">

        <div class="ProfileDetails-Container">
            <div class="profile-image">
                <div class="row" style="color: yellow;text-align: center">
                    <p>Please double tap to zoom Image</p>
                </div>
                <div ng-repeat="data in imageDetails">
                    <div class="row">
                        <div class="col">
                            <b>{{data.imageName}}</b>
                        </div>
                    </div>
                    <div class="row" ng-dblclick="openImage(data.image)">
                        <img ng-src="data:image/JPEG;base64,{{data.image}}" class="full-image" />
                    </div>
                </div>
            </div>
            <div class="profile-details"></div>
            <div class="clr"></div>
        </div>
    </ion-content>
</ion-view>