<!--offlineRefreshTab.html-->

<ion-view cache-view="false" view-title="Select Type">

    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="backNavigate()"></button>
        <div class="h1 title">Offline Refresh Data</div>
        <!--<button ng-click="openSetting()" class="button button-icon icon icon-right ion-ios-gear-outline"></button>-->
    </ion-header-bar>
    <ion-content class="has-header" on-swipe-right="backNavigate()">
        <!--Code to generate Dashbord in Tabs Mode-->
        <!--<div>
            <div class="list card" ng-repeat="item in offlineData" ng-hide="item.status=='F'">
                <div class="row">
                    <img ng-src="data:image/jpeg;base64,{{item.image}}">
                    <h2>{{ item.table_desc }}</h2>
                    <div class="upload-btn-container" ng-if="item.noOfEntry != '0'">
                        <button class="button button-clear dashboard-upload-btn button-balanced" ng-click="pageDetails(item.firstScreen,item.table_name,item.seqNo,item.prtlet_Id,item.table_desc,item.data_UPLOAD, item.updation_process, item.screen_orientation_view, item.access_contrl, item.default_populate_data)">
                            <i class="icon ion-android-sync"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>-->
        <!--Code to generate Dashbord in Grid Mode-->



        <div class="list card " ng-repeat="item in offlineData" ng-hide="item.status=='F'" style="background-color:#00BCD4" ng-click="pageDetails(item)">
            <a class="item item-item-thumbnail-left item-icon-right">
                <img ng-src="data:image/jpeg;base64,{{item.image}}">
                <h2 style="margin-left: 52px;margin-top: -30px;">{{ item.table_desc }}</h2>
                <i class="icon ion-android-sync"></i>
            </a>
        </div>


    </ion-content>
    <ion-footer-bar class="bar bar-footer  App-footer" ng-click="openBrowser()">
        <p style="color:white; margin-left:20%">Lighthouse Info Systems pvt. Ltd</p>
    </ion-footer-bar>
</ion-view>