<ion-view cache-view="false" view-title="Setting">


    <ion-header-bar class="bar bar-header  App-header">

        <div class="bar bar-header  App-header">
            <div class="row" style="padding:0px !important;">
                <div class="col col-10">
                    <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="backNavigate()"></button>
                    <div class="h1 title" style="width: 40%;"></div>
                </div>
                <div class="col col-10" style="max-width: 40%;" ng-if="flagforVerticleTable!=1 && flagForTypeChange!=5">
                    <button ng-model="tableView" ng-click="(tableView.clicked=!tableView.clicked);changeTableview(tableView.clicked)" ng-class="tableView.clicked ? 'button button-icon icon icon-right ion-arrow-right-b' : 'button button-icon icon icon-right ion-arrow-down-b'">
                    </button>
                </div>
                <div class="col col-40" ng-if="showTableFlag!=1">
                    <select class="button graph-type-selection" ng-model="selectedValues" ng-change="openPageByType(selectedValues)">
                        <option value="{{option.reportType}}" ng-repeat="option in ReportList">{{option.reportType}}
                        </option>
                    </select>
                </div>
                <div class="col col-10" style="margin-top:8px;">
                    <span ng-if="valueFormateIterator">
                        <a ng-repeat="item in valueFormateIterator">
                            <span class="title-data-value" style="    color: #fff;font-size: 15px;">({{item.value}})</span>
                        </a>
                    </span>
                </div>
                <div class="col col-10">
                    <button class="button button-icon icon ion-ios-search-strong button-small btn-search-report" style="color:white" ng-click="searchFlag==true?searchFlag=false : searchFlag=true"></button>
                    <!--<i class="icon ion-search"></i>-->
                </div>

                <div class="col col-10">
                    <button class="button button-icon icon ion-ios-list-outline button-small btn-search-report" style="color:white" ng-click="reportDetails()"></button>
                    <!--<i class="icon ion-search"></i>-->
                </div>

            </div>
        </div>
    </ion-header-bar>
    <div class="bar bar-subheader Project-subheader" ng-show="searchFlag">
        <div class="row">
            <div class="col">
                <div class="list">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="Search..." ng-model="searchEntity.search">
                        </label>
                        <button class="button button-small" ng-click="searchData(searchEntity.search)">
                            <i class="icon ion-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col col-10">
                <a class="button button-icon icon ion-close-round lov-close" ng-click="searchEntity.search='';searchFlag=false;loadData('clearData','showLoader');"></a>
            </div>
        </div>
    </div>


    <ion-content ng-class="searchFlag ? 'has-subheader' : 'has-header'" class="" overflow-scroll="true" ng-init="anchorS='bottom'">

        <div ng-if="valueFormatLength>0 && detailLabelData.length>1" style="margin-top:2%; margin-left:2%; margin-right:2%; text-align:left">
            <select class="button graph-type-selection" ng-model="valueFormatVal" ng-change="changeValueFormat(valueFormatVal);">
                <option value="{{item.code}}" ng-repeat="item in valueFormatArray">{{item.name}}
                </option>
            </select>


        </div>
        <div>
            <div class="row" ng-repeat="parm in filteredParam" ng-hide="parm.value == null || parm.value==false ">
                <div class="col col-40">
                    <b>{{parm.para_desc}}</b>
                </div>
                <div class="col col-10">: </div>
                <div class="col col-50">{{parm.value}}</div>
            </div>
        </div>

        <div>
            <h2 class="report-type-heading"> {{reportingType}}</h2>
        </div>


        <div class="row Career-details1" style="white-space: nowrap;" ng-if="flagForTableView==0 && flagForTypeChange==4 && flagforVerticleTable!=1">
            <div style="float:left;">
                <table>
                    <tr ng-repeat="item in tableheader" ng-if="$index < noOfColumns">
                        <td style="color:white;background:#00BCD4">{{item}}</td>
                    </tr>
                </table>
            </div>
            <div class="HTable-container" style="overflow-x:scroll;float:right;width:80%" id="HTable">
                <table>
                    <tr ng-repeat="data2 in horizontalTableData track by $index" ng-if="$index < noOfColumns">
                        <td ng-if="hashIndex[$parent.$index] !='NA'" ng-repeat="data3 in data2 track by $index" class="borders" ng-click="tableDesc($parent.$index,hashIndex[($parent.$parent.$index)])">
                            <a>{{data3}}</a>
                        </td>
                        <td ng-if="hashIndex[$parent.$index] =='NA'" ng-repeat="data3 in data2 track by $index" class="borders">{{data3}}</td>
                        <td style="border:none" ng-if="paginationFlag=='T' && $index==0" rowspan={{noOfColumns}}>
                            <button class="button button-small button-calm" ng-click="loadMoreTableData(searchFlag,searchEntity.search)">L</br>o</br>a</br>d</br>
                                </br>M</br>o</br>r</br>e</br>
                            </button>
                            <td>
                    </tr>

                    <!--class="button button-small button-calm"-->
                </table>
            </div>
        </div>
        <!--&nbsp;&nbsp;-->

        <!--<button class="button icon ion-chevron-up" style="margin-top: 50%;right: 5px;position: absolute;" ng-click="anchorScroll(anchorS);anchorS='bottom'"
            ng-show="anchorS=='top'"></button>
        <button class="button icon ion-chevron-down" style="margin-top: 50%;right: 5px;position: absolute;" ng-click="anchorScroll(anchorS);anchorS='top';"
            ng-show="anchorS=='bottom'"></button>-->


        <div class="Career-details" style="margin-top:2%; margin-left:2%; margin-right:2%; text-align:left" ng-if="flagForTableView==1 && flagForTypeChange==4 && flagforVerticleTable!=1">
            <div class="responsive-table" on-swipe-up="anchorSbottom()" on-swipe-down="anchorStop()">
                <div id="top">
                    <!--<button style="" ng-click="">Scroll to Top!</button>-->
                </div>
                <table class="table" style="border: 1px solid black;">
                    <thead ng-repeat="data in graphGabelDetail">
                        <tr>
                            <th class="borders" ng-repeat="data1 in data.series" ng-click="sortOrderby($index,data1)" ng-if="$index < noOfColumns">{{data1}}
                                <span class=" icon ion-arrow-up-c " ng-show="currentFilter == data1 && reverse"> </span>
                                <span class=" icon ion-arrow-down-c" ng-show="currentFilter == data1 && !reverse"> </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data2 in detailLabelData track by $index">
                            <td ng-repeat="data3 in data2 track by $index" class="borders" ng-if="$index < noOfColumns" ng-style="{'width':{{columnWidth[$parent.$index]}}+'px','max-width':{{columnWidth[$parent.$index]}}+'px','min-width':{{columnWidth[$parent.$index]}}+'px','text-align':{{columnAlignment[$parent.$index]}}}">
                                <a ng-if="hashIndex[$index] !='NA'" ng-click="tableDesc($parent.$parent.$parent.$index,hashIndex[$index])">{{data3}}</a>
                                <div ng-if="hashIndex[$index] =='NA'">{{data3}}</div>
                                <!--<p ng-if="data3 =='00'">NA</p>-->
                            </td>
                        </tr>
                        <tr ng-if="paginationFlag=='T'">
                            <td colspan={{noOfColumns}}>
                                <button class="button button-small button-calm" style="float:left" ng-click="loadMoreTableData(searchFlag,searchEntity.search)">Load More</button>
                                <td>
                        </tr>
                    </tbody>
                </table>
                <div id="bottom">
                    <!--<button style=""  ng-click="">Scroll to Top!</button>-->
                </div>
            </div>
        </div>


        <div class="Career-details" style="margin-top:2%; margin-left:2%; margin-right:2%; text-align:left" ng-if="flagForTypeChange==4  && flagforVerticleTable==1">
            <table class="Eventable">
                <tr ng-repeat="x in tableValue">
                    <td>
                        <b>{{ x.series }}</b>
                    </td>
                    <td>{{ x.value }}</td>
                </tr>
            </table>
        </div>


        <div class="Career-details" style="margin-top:2%; margin-left:2%; margin-right:2%; text-align:left" ng-if="flagForTypeChange==5">

            <div class="col col-50">
                <select class="button graph-type-selection" ng-model="selectedChart" ng-change="changeGraph(selectedChart)">
                    <option value="{{option.graphType}}" ng-repeat="option in graphTypeList">{{option.graphType}}
                    </option>
                </select>
            </div>

            <div class="Game-Sent-Notifiaction graph-container" ng-if="flagForPageChange == 1">
                <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" auto-legend on-double-tap="chartClick($event)"
                    chart-colors="colors" chart-series="series" chart="chart">
                </canvas>

            </div>
            <div class="Game-Sent-Notifiaction graph-container" ng-if="flagForPageChange == 2">
                <canvas id="pie" class="chart chart-pie" chart-data="data" on-double-tap="chartClick($event)" chart-labels="labels" chart-options="options"
                    chart-colors="colors">
                </canvas>

            </div>
            <div class="Game-Sent-Notifiaction graph-container" ng-if="flagForPageChange == 3">
                <canvas id="line" class="chart chart-line" on-double-tap="chartClick($event)" chart-data="data" chart-colors="colors" chart-labels="labels"
                    chart-series="series" chart-options="optionForLine" chart-dataset-override="datasetOverride">
                </canvas>
            </div>
        </div>


    </ion-content>

    <div ng-if="flagForTypeChange==4">
        <button class="button icon ion-chevron-up up-down-btn" ng-click="anchorScroll(anchorS);anchorS='bottom'" ng-show="flagForTableView==1 && anchorS=='top'"></button>
        <button class="button icon ion-chevron-down up-down-btn" ng-click="anchorScroll(anchorS);anchorS='top';" ng-show="flagForTableView==1 && anchorS=='bottom'"></button>
        <a class="button icon ion-chevron-left up-down-btn" ng-click="anchorScrollL('HTable');anchorS='bottom'" ng-show="flagForTableView==0 && anchorS=='top'"></a>
        <button class="button icon ion-chevron-right up-down-btn" ng-click="anchorScrollR('HTable');anchorS='top';" ng-show="flagForTableView==0 && anchorS=='bottom'"></button>
    </div>
</ion-view>