<ion-view cache-view="false" class="reportDrillDownPopupStyle">


    <ion-header-bar class="bar bar-header App-header">

        <div class="h1 title">Report Details</div>
        <button class="button button-icon icon icon-left ion-ios-close-empty back-btn" ng-click="reportDetailsModal.hide()"></button>

    </ion-header-bar>
    <ion-content class="has-header"  padding>
        <div class="Career-details">
            <ion-grid class="responsive">
                <div class="row" >
                    <table>
                        <tr ng-repeat="item in reportValues" ng-hide="item.entry_by_user=='F'" ng-if="item.value">
                            <td>{{item.para_desc}}</td>
                            <td>{{item.value}}</td>
                        </tr>
                    </table>
                </div>
                <div class="row" ng-if="reportValues.length==0">
                    <table>
                        <tr >
                            <th></th>
                            <td>
                                <label style="color: #adab55;">No Data Available</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </ion-grid>
        </div>
    </ion-content>
</ion-view>