<ion-view class="lov-container-main">
  <ion-header-bar class="bar bar-header  App-header">
    <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="signature_padModal.hide()"></button>
    <div class="h1 title">Signature Pad</div>
  </ion-header-bar>

  <ion-content scroll="true" class="has-header">
    <h1>
      Draw over image
    </h1>
    <div class="signature-pad-wrapper">
      <img src="img/Signature_Backgrond.png" width=400 height=200/>
      <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
    </div>
    <div class="row animated fadeInUp" ng-if="fields">
      <div class="col">
        <button class="button button-balanced button-block Save-btn" name="upload" id="save" ng-click="saveSignature()">Save</button>
      </div>
      <div class="col">
        <button class="button button-assertive button-block cancel-btn" type="button" id="clear">Clear</button>
      </div>
    </div>
  </ion-content>

</ion-view>