<ion-view cache-view="false" >

    <ion-header-bar class="bar bar-header  App-header">
        <button class="button button-icon icon icon-left ion-ios-arrow-left back-btn" ng-click="sqlDataModal.hide();"></button>
        <div class="h1 title"> SQL </div>
        <button class="button icon-left ion-ios-copy-outline button-calm" copy-to-clipboard text-to-copy="sqlData" >Copy to Clipboard</button>
    </ion-header-bar>
    <ion-content on-swipe-right="textAreaPopOverModal.hide();">
        <!--<button class="button icon-left ion-star button-calm" copy-to-clipboard text-to-copy="sqlData" >Copy to Clipboard</button>-->
        <!--        <div class="list listStyle">
                    <label class="item item-input">
                        <textarea ng-model="sqlData" class="textareaStyle"  ng-readonly="true" style="height: 600px" ng-if="sqlData"></textarea>
                    </label>           
                </div>-->

        <div class="sqlData">
            <pre>{{sqlData}}</pre> 
        </div>
    </ion-content>
    <style>
        .sqlData{
            padding: 20px;
            border: 1px solid #1d1d1d;
            margin: 5px;
            background: #f1f1f1;
        }   
    </style>
</ion-view>