<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-button slot="start" (click)="closePage()" fill="clear" icon-only start>
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </ion-button> -->
    <ion-button slot="start" (click)="closePage()" fill="clear" icon-only start>
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </ion-button>
    <ion-title>
      Execute Query
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-textarea autosize rows="8" cols="20" type="text" [(ngModel)]="query" placeholder="Enter Query"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-button (click)="executeQuery()">Execute {{queryOrPro}}</ion-button> &nbsp;&nbsp;
    <input type="checkbox" name="isActive" (click)="enablePro(!isActive)">
  </ion-item>
  <div class='topbar' style="overflow-x:auto;">
    <div *ngIf="status">
      <ion-item [style.--color]="colorVar" *ngFor="let objectStatus of statusArray">
        {{objectStatus}}
      </ion-item>
    </div>
    <table id="excelTable" *ngFor="let t of tableArr">
      <thead>
        <tr>
          <th *ngFor="let objectHead of t.head">
            {{objectHead}}
          </th>
        </tr>
      </thead>
      <tbody *ngIf="!loading">
        <tr *ngFor="let objectBody of t.body">
          <ng-container *ngFor="let obj of objectBody">
            <ng-container *ngIf="obj">
              <td (click)="openPopUP(obj)" *ngIf="obj && obj.substring(0,10) == 'data:image'"><img [src]="obj" height="60" width="60"></td>
              <td *ngIf="obj && obj.substring(0,10) != 'data:image'">{{obj}}</td>
            </ng-container>
            <td *ngIf="!obj">{{obj}}</td>
          </ng-container>
        </tr>
      </tbody>

    </table>
    <div style="text-align: center;" *ngIf="loading">
      <img src="../../assets/dot.gif" width="20%">
    </div>
  </div>
</ion-content>