<div class="group-table-container">
  <div class="table-responsive">
    <table class="group-table">
      <thead>
        <tr>
          <th>Country</th>
          <th>State</th>
          <th>City</th>
          <th>Item Class</th>
          <th>Product</th>
          <th>Qty</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="18" class="text-center">India</td>
          <td rowspan="7" class="text-center">MH</td>
          <td rowspan="3" class="text-center">Nagpur</td>
          <td rowspan="2" class="text-center">Others</td>
          <td>WRD App</td>
          <td>10</td>
        </tr>
        <tr>




          <td>MIS APPROVALS</td>
          <td>5</td>
        </tr>
        <tr>



          <td class="text-center">CRM</td>
          <td>CRM APP</td>
          <td>2</td>
        </tr>
        <tr>
          <td rowspan="4" class="text-center">Pune</td>
          <td rowspan="2" class="text-center">Utility</td>
          <td>DOC MGMT</td>
          <td>6</td>
        </tr>
        <tr>



          <td>EMAIL WAREHOUSE</td>
          <td>10</td>
        </tr>
        <tr>



          <td class="text-center">TAXCPC</td>
          <td>TAXCPC</td>
          <td>13</td>
        </tr>
        <tr>


          <td></td>
          <td class="total">Total</td>
          <td class="total">46</td>
        </tr>
        <tr>

          <td rowspan="4" class="text-center">UP</td>
          <td rowspan="4" class="text-center">Agra</td>
          <td rowspan="2" class="text-center">Others</td>
          <td>PMAN APP</td>
          <td>10</td>
        </tr>
        <tr>




          <td>MIS APPROVALS</td>
          <td>11</td>
        </tr>
        <tr>



          <td class="text-center">TAXCPC</td>
          <td>TAXCPC</td>
          <td>20</td>
        </tr>
        <tr>



          <td></td>
          <td class="total">Total</td>
          <td class="total">41</td>
        </tr>
        <tr>

          <td rowspan="3" class="text-center">UK</td>
          <td rowspan="3" class="text-center">Nanital</td>
          <td rowspan="2" class="text-center">Utility</td>
          <td>DOC MGMT</td>
          <td>10</td>
        </tr>
        <tr>




          <td>HR PORTAL</td>
          <td>5</td>
        </tr>
        <tr>



          <td></td>
          <td class="total">Total</td>
          <td class="total">15</td>
        </tr>
        <tr>

          <td rowspan="4" class="text-center">RJ</td>
          <td rowspan="4" class="text-center">Jaipur</td>
          <td rowspan="2" class="text-center">Others</td>
          <td>WRD App</td>
          <td>4</td>
        </tr>
        <tr>




          <td>MIS APPROVALS</td>
          <td>5</td>
        </tr>
        <tr>



          <td class="text-center">CRM</td>
          <td>CRM App</td>
          <td>8</td>
        </tr>
        <tr>



          <td></td>
          <td class="total">Total</td>
          <td class="total">17</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>